@import 'foundation/borders';
@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/typography';
@import 'foundation/utilities';

.Header {
  @include text-style-title;
  min-height: rem(56px);
  padding: 0 spacing();
  background: color(white);
  border-bottom: border();
  display: flex;
  align-items: center;
}

.dark {
  background: color(slate, dark);
  border-bottom: none;
}

.transparent {
  background: transparent;
  border-bottom: none;
}

.Icon {
  margin-right: spacing(tight);
}

.Content {
  flex: 1 1 auto;
}

.LeftButton {
  margin-right: spacing(tight);
  display: block;

  @media (min-width: 700px) {
    display: none;
  }
}
