.Header {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 2em;
  padding: 0 2rem;
  height: var(--header-height);
  background: white;
  border-bottom: 1px solid #eaeaea;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 0.75em;
  font-weight: 500;
  color: inherit;

  p {
    margin: 0;
  }
}

.Nav {
  display: flex;
  font-weight: 400;

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0.75em;
    color: inherit;
  }

  li[aria-current="page"] a {
    box-shadow: inset 0 -3px currentColor;
  }
}

.SearchWrapper {
  margin-left: auto;
  width: 16em;
  align-self: center;
  transition: width 0.25s ease;
  &:focus-within {
    width: 30em;
  }
}

.Content {
  margin: 3em auto;
  display: flex;
  max-width: 72em;
}

.MainContent {
  flex: 1;
  display: flex;
  justify-content: center;
}

.MainContentInner {
  max-width: 40em;
}

.Sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  width: 32em;
  display: flex;

  &.left {
    border-right: 1px solid #eaeaea;
  }
  &.right {
    border-left: 1px solid #eaeaea;
  }
}
