.ColorPickerTextFieldSize {
  width: calc(
    var(--pc-color-picker-size) + var(--pc-color-picker-dragger-size) +
      var(--p-space-2) - var(--pc-color-picker-square-preview-size) -
      (2 * var(--p-border-width-1))
  );
  margin-left: var(--p-space-2);
}

.fullWidth {
  width: 100%;
}
