.Section {
  margin-bottom: var(--p-space-800);

  & .Row {
    margin-bottom: var(--p-space-400);
  }

  & .Row:last-child {
    margin-bottom: 0;
  }
}

.Row {
  margin-bottom: var(--p-space-800);
}
