@import '../../styles/common';

$arrow-size: rem(14px);
$visible-portion-of-arrow: rem(5px);
$content-max-height: rem(295px);
$content-max-width: rem(400px);

.Popover {
  max-width: calc(100vw - #{2 * spacing()});
  margin: $visible-portion-of-arrow spacing(tight) spacing();
  box-shadow: var(--p-popover-shadow, shadow(deep));
  border-radius: var(--p-border-radius-wide, border-radius());
  will-change: left, top;
}

.PopoverOverlay {
  will-change: opacity;
  opacity: 0;
  transition: opacity duration() easing(in);
}

.PopoverOverlay-entering {
  opacity: 1;
}

.PopoverOverlay-open {
  opacity: 1;
}

.PopoverOverlay-exiting {
  opacity: 0;
  transition-timing-function: easing(out);
}

.measuring:not(.PopoverOverlay-exiting) {
  opacity: 0;
}

.fullWidth {
  margin: 0;
  margin-top: $visible-portion-of-arrow;

  .Content {
    max-width: none;
  }
}

.positionedAbove {
  margin: spacing() spacing(tight) $visible-portion-of-arrow;

  &.fullWidth {
    margin: 0 0 $visible-portion-of-arrow;
  }
}

.Wrapper {
  position: relative;
  overflow: hidden;
  background-color: var(--p-surface, color('white'));
  border-radius: var(--p-border-radius-wide, border-radius());
  outline: 1px solid transparent;
}

.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: border-radius();
  max-width: $content-max-width;
  max-height: $content-max-height;

  &:focus {
    outline: none;
  }
}

.Content-fullHeight {
  max-height: none;
}

.Content-fluidContent {
  max-height: none;
  max-width: none;
}

.Pane {
  flex: 1 1 0%;
  max-width: 100%;

  + .Pane {
    border-top: border();
  }
}

.Pane-fixed {
  overflow: visible;
  flex: 0 0 auto;
}

.Section {
  padding: spacing();

  + .Section {
    border-top: border();
  }
}

.FocusTracker {
  @include visually-hidden;
}
