@import '../../styles/common';
// stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
$navigation-elements-height: 36px;
$title-height: var(--p-font-line-height-5);
$stacking-order: (
  title: 10,
  breadcrumbs: 20,
);

html,
body {
  min-height: 100%;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  height: 100%;
}

.Page {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include page-layout;

  // Ensure bottom margins of any children are contained
  &::after {
    content: '';
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    display: table;
  }
}

.fullWidth {
  max-width: none;
}

.narrowWidth {
  max-width: $layout-width-primary-max;
}

.Content {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include page-content-layout;
}

.divider {
  border-top: var(--p-border-divider);
  padding-top: var(--p-space-8);
}
