@import '../../styles/common';

$height: rem(28px);
$icon-size: rem(16px);

.Tag {
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  min-height: $height;
  padding: 0 spacing(tight);
  background-color: var(--p-surface-neutral);
  border-radius: var(--p-border-radius-base);
  color: var(--p-text);

  &.disabled {
    @include recolor-icon(var(--p-icon-disabled));
    transition: none;
    background: var(--p-surface-neutral-disabled);
    color: var(--p-text-disabled);
  }

  &.removable {
    padding-right: 0;
  }

  &.clickable {
    @include unstyled-button;
    cursor: pointer;
    padding: 0 spacing(tight);
    background-color: var(--p-surface-neutral);

    &:hover {
      background: var(--p-surface-neutral-hovered);
    }

    @include focus-ring;
    // stylelint-disable selector-max-specificity
    // stylelint-disable selector-max-class

    &:focus:not(:active) {
      @include focus-ring($style: 'focused');
    }

    &:active {
      background: var(--p-surface-neutral-pressed);
    }

    &:disabled {
      background: var(--p-surface-neutral-disabled);
      cursor: default;
      pointer-events: none;
    }
  }

  @include high-contrast-outline;
}

.TagText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.Button {
  @include recolor-icon(var(--p-icon));
  @include unstyled-button;
  display: block;
  height: $height;
  width: $height;
  margin-left: spacing(extra-tight);
  border-radius: 0 border-radius() border-radius() 0;

  &:hover {
    background: var(--p-surface-neutral-hovered);
    @include high-contrast-outline;
  }

  &:focus {
    background-color: transparent;
  }

  @include focus-ring;

  &:focus:not(:active) {
    @include focus-ring($style: 'focused');
  }

  &:active {
    background: var(--p-surface-neutral-pressed);
  }

  &:disabled {
    @include recolor-icon(var(--p-icon-disabled));
    cursor: default;
    pointer-events: none;
  }
}
