.my-class {
  box-shadow: var(--p-shadow-transparent);

  transition-duration: var(--p-duration-0);
  margin: var(--p-space-0);
  gap: var(--p-space-0);

  padding: var(--p-space-1) var(--p-space-0);
}
