.GuidelinesIndexPage {
  position: relative;
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 18rem;
    left: 0;
    background: #ddd
      url(https://miro.medium.com/max/2800/1*EO-MYRZSvAa196DdvgzWCw.png)
      no-repeat no-repeat center center;
    background-size: cover;
    z-index: -1;
    border-radius: 16px;
  }
}

.Categories {
  margin: 28rem 3rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 32px;
  box-shadow: 0 100px 100px rgba(0, 0, 0, 0.025);
  background: rgba(255, 255, 255, 1);
}

.Category {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  padding: 2rem 0 2rem 2rem;
  border-right: var(--border);

  &:last-child {
    border-right: none;
  }

  h2 {
    position: relative;
    margin-bottom: 1rem;
    font-size: var(--font-size-700);
    letter-spacing: var(--letter-spacing-100);
  }

  p {
    position: relative;
    margin-top: 0.35rem;
    margin-bottom: 1rem;
    line-height: 1.35;
    font-weight: 435;
  }

  ul {
    font-size: var(--font-size-300);
  }

  a {
    display: inline-block;
    color: var(--text-strong);
    padding: 0.025rem 0;
  }
}
