@import 'foundation/borders';
@import 'foundation/border-radius';
@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/typography';

$InputWrapper-icon-size: 1rem;

.focused .InputWrapper {
  border-color: color(action);
}

.InputWrapper {
  @include text-style-input;
  position: relative;
  line-height: 1.2;
  border: border(dark);
  border-radius: border-radius();
}

.InputWrapper::after {
  position: absolute;
  top: 50%;
  right: spacing(tight);
  content: '';
  display: block;
  height: $InputWrapper-icon-size;
  width: $InputWrapper-icon-size;
  background-color: color(slate, lighter);
  pointer-events: none;
  transform: translateY(-50%);
}

.Input {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0.45rem (1.5 * spacing(tight) + $InputWrapper-icon-size) 0.5rem spacing(tight);
}

.Input:focus {
  outline: none;
}

.LabelWrapper {
  margin-bottom: 0.3rem;
}
