@import '../../../../styles/common';

$breakpoint: 768px;
$button-spacing: rem(12px);

.SecondaryAction {
  // stylelint-disable declaration-no-important
  a,
  button {
    @include focus-ring($border-width: rem(1px));
    background: transparent !important;
    box-shadow: none !important;
    border-radius: var(--p-border-radius-base) !important;
    padding-left: $button-spacing;
    padding-right: $button-spacing;
    // stylelint-disable-next-line selector-max-specificity
    &:hover {
      background: var(--p-background-hovered) !important;
    }
    // stylelint-disable-next-line selector-max-specificity
    &:active {
      background: var(--p-background-pressed) !important;
    }

    @include breakpoint-after($breakpoint) {
      border: none !important;
      @include focus-ring($border-width: rem(0));
    }
  }
}
