@import '../../../../../../styles/common';

.Title {
  @include text-breakword;
}

.SubTitle {
  margin-top: rem($spacing-tight);
}

.hasThumbnail {
  display: grid;
  grid-gap: rem($spacing-base);
  grid-template-columns: auto 1fr;

  .TitleAndSubtitleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.TitleWithMetadataWrapper {
  .Title {
    display: inline;
    margin-right: rem($spacing-tight);

    // stylelint-disable-next-line selector-max-combinators
    > * {
      display: inline;
    }
  }

  .TitleMetadata {
    margin-top: rem($spacing-tight);
    display: inline-block;
  }
}
