@import '../../styles/common';

$item-min-size: rem(220px);

.FormLayout {
  margin-left: -1 * spacing(loose);
}

.Title {
  margin-bottom: -1 * spacing(tight);
  padding: spacing() spacing(loose) 0;
}

.Items {
  display: flex;
  flex-wrap: wrap;
}

.HelpText {
  @include text-emphasis-subdued;
  padding: spacing(tight) spacing(loose) 0;
}

.Item {
  margin-left: spacing(loose);
  flex: 1 1 $item-min-size;
  max-width: calc(100% - #{spacing(loose)});

  &:not(.First) {
    margin-top: spacing();
  }

  .grouped & {
    min-width: $item-min-size;
  }

  .condensed & {
    flex-basis: (0.5 * $item-min-size);
    min-width: (0.5 * $item-min-size);
  }
}
