.Button {
  --gap: var(--p-space-050);
  all: unset;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: var(--gap);
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  --bg: transparent;
  --bg_hover: var(--bg);
  --bg_active: var(--bg);
  --bg_pressed: var(--bg_active);
  --bg_disabled: var(--p-color-bg-fill-disabled);
  --color: inherit;
  --color_hover: var(--color);
  --color_active: var(--color);
  --color_pressed: var(--color_active);
  --color_disabled: var(--p-color-text-disabled);
  --box-shadow: transparent;
  --box-shadow_hover: var(--box-shadow);
  --box-shadow_active: var(--box-shadow);
  --box-shadow_pressed: var(--box-shadow_active);
  --box-shadow_disabled: var(--box-shadow);
  border: none;
  border-radius: var(--p-border-radius-200);
  background: var(--bg);
  color: var(--color);
  fill: currentColor;
  box-shadow: var(--box-shadow);
  font-size: var(--p-font-size-325);
  font-weight: var(--p-font-weight-medium);
  line-height: var(--p-font-line-height-500);

  @media (--p-breakpoints-md-up) {
    font-size: var(--p-font-size-300);
    line-height: var(--p-font-line-height-400);
  }
}

.Button:hover {
  background: var(--bg_hover);
  color: var(--color_hover);
  box-shadow: var(--box-shadow_hover);
}

.Button:active {
  background: var(--bg_active);
  color: var(--color_active);
  box-shadow: var(--box-shadow_active);
}

.Button:focus-visible {
  background: var(--bg_hover);
  color: var(--color_hover);
  outline: var(--p-border-width-050) solid var(--p-color-border-focus);
  outline-offset: var(--p-space-025);
}

.Button:disabled,
.Button[disabled],
.disabled {
  background: var(--bg_disabled);
  color: var(--color_disabled);
  box-shadow: none;
  cursor: not-allowed;
  user-select: none;
  pointer-events: none;
}

.pressed,
.pressed:hover,
.pressed:active,
.pressed:focus-visible {
  background: var(--bg_pressed);
  color: var(--color_pressed);
  box-shadow: var(--box-shadow_pressed);
}

// VARIANTS
.variantPrimary {
  // stylelint-disable  -- custom properties
  --bg-gradient: linear-gradient(180deg, #30303000 63.53%, #ffffff3d 100%);
  --box-shadow: 0 -1px 0 1px #000000cc inset, 0 0 0 1px #303030 inset, 0 0.5px 0 1.5px #ffffff40 inset;
  --box-shadow_active: 0 3px 0 0 #000000 inset;
  // stylelint-enable
  --bg: var(--bg-gradient), var(--p-color-bg-fill-brand);
  --bg_hover: var(--bg-gradient), var(--p-color-bg-fill-brand-hover);
  --bg_active: var(--bg-gradient), var(--p-color-bg-fill-brand-active);
  --bg_disabled: var(--p-color-bg-fill-brand-disabled);
  --color: var(--p-color-text-brand-on-bg-fill);
  --color_disabled: var(--p-color-text-brand-on-bg-fill-disabled);
}

.variantSecondary {
  // stylelint-disable  -- custom properties
  --bg-gradient: linear-gradient(180deg, #0000000d 0%, #ffffff00 35%);
  --box-shadow: 0 -1px 0 1px #0000000d inset, 0 0 0 1px #00000026 inset, 0 0.5px 0 1.5px #ffffff inset;
  --box-shadow_active: -1px 0 1px 0 #1a1a1a1f inset, 1px 0 1px 0 #1a1a1a1f inset, 0 2px 1px 0 #1a1a1a33 inset;
  // stylelint-enable
  --bg: var(--bg-gradient), var(--p-color-bg-fill);
  --bg_hover: var(--bg-gradient), var(--p-color-bg-fill-hover);
  --bg_active: var(--bg-gradient), var(--p-color-bg-fill-active);
  --bg_pressed: var(--p-color-bg-fill-selected);
  --color: var(--p-color-text);
}

.variantTertiary {
  --bg_hover: var(--p-color-bg-fill-transparent-hover);
  --bg_active: var(--p-color-bg-fill-transparent-active);
  --color: var(--p-color-text);
}

.variantPlain {
  --color: var(--p-color-text-link);
}

.variantPlain,
.variantMonochromePlain {
  --bg_disabled: transparent;
  margin-inline: calc(-1 * var(--padding-inline));
  font-weight: var(--p-font-weight-regular);
}

.variantPlain:hover,
.variantMonochromePlain:hover,
.variantPlain:active,
.variantMonochromePlain:active {
  text-decoration: underline;
}

// TONES
.toneSuccess:is(.variantSecondary, .variantTertiary, .variantPlain) {
  --color: var(--p-color-text-success);
  --color_hover: var(--color);
}

.toneCritical:is(.variantSecondary, .variantTertiary, .variantPlain) {
  --color: var(--p-color-text-critical);
  --color_hover: var(--color);
}

.toneSuccess:is(.variantPrimary) {
  // stylelint-disable  -- custom properties
  --bg-gradient: linear-gradient(180deg, #8e3a3a00 63.53%, #ffffff3d 100%);
  --box-shadow: 0 -1px 0 1px #0c5132cc inset, 0 0 0 1px #136f45cc inset, 0 0.5px 0 1.5px #ffffff40 inset;
  // stylelint-enable
  --bg: var(--bg-gradient), var(--p-color-bg-fill-success);
  --bg_hover: var(--bg-gradient), var(--p-color-bg-fill-success-hover);
  --bg_active: var(--bg-gradient), var(--p-color-bg-fill-success-active);
}

.toneCritical:is(.variantPrimary) {
  // stylelint-disable  -- custom properties
  --bg-gradient: linear-gradient(180deg, #e61d0100 63.53%, #ffffff66 100%);
  --box-shadow: 0 -1px 0 1px #8e1f0bcc inset, 0 0 0 1px #b5260bcc inset, 0 0.5px 0 1.5px #ffffff59 inset;
  // stylelint-enable
  --bg: var(--bg-gradient), var(--p-color-bg-fill-critical);
  --bg_hover: var(--bg-gradient), var(--p-color-bg-fill-critical-hover);
  --bg_active: var(--bg-gradient), var(--p-color-bg-fill-critical-active);
}

// SIZES
.sizeMicro {
  --padding-block: var(--p-space-100);
  --padding-inline: var(--p-space-200);
  height: var(--p-height-600);
  min-width: var(--p-width-600);
}

.sizeSlim,
.sizeMedium {
  --padding-block: var(--p-space-150);
  --padding-inline: var(--p-space-300);
  height: var(--p-height-700);
  min-width: var(--p-width-700);
}

.sizeLarge {
  --padding-block: var(--p-space-150);
  --padding-inline: var(--p-space-300);
  height: var(--p-height-800);
  min-width: var(--p-height-800);
  // Should we keep font info here?
  font-size: var(--p-font-size-325);
  line-height: var(--p-font-line-height-500);
}

// TEXT ALIGNMENT
.textAlignCenter {
  justify-content: center;
  text-align: center;
}

.textAlignStart,
.textAlignLeft {
  justify-content: start;
  text-align: start;
}

.textAlignEnd,
.textAlignRight {
  justify-content: end;
  text-align: end;
}

// WIDTH
.fullWidth {
  width: 100%;
}

// ICON
.iconOnly {
  --padding-inline: var(--p-space-100);
}

.iconOnly:is(.sizeLarge) {
  --padding-inline: var(--p-space-150);
}

.iconOnly:is(.sizeMicro) {
  --padding-inline: var(--p-space-050);
}

.iconWithText {
  padding-left: calc(var(--padding-inline) * 0.5);
}

// DISCLOSURE
.disclosure {
  padding-right: calc(var(--padding-inline) * 0.5);
}

.disclosure:is(.textAlignStart, .textAlignLeft) {
  justify-content: space-between;
}

// LOADING
.loading {
  color: transparent;
}

// INTERACTION
.pressable:active:not(.variantTertiary, .variantPlain, .variantMonochromePlain)
  > * {
  transform: translate3d(0, 1px, 0);
}

// UTILITIES
.hidden {
  visibility: hidden;
}

// SPINNER
.Spinner {
  position: absolute;
  top: calc(var(--padding-block) / 2 + 50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.Spinner svg {
  fill: var(--color_disabled);
}

// BUTTON GROUP
/* stylelint-disable -- selector-max-combinators */
[data-buttongroup-variant='segmented'] > *:not(:first-child) .Button {
  margin-left: calc(-1 * var(--p-space-025));
}

[data-buttongroup-variant='segmented'] > *:not(:first-child) .Button {
  border-top-left-radius: var(--p-border-radius-0);
  border-bottom-left-radius: var(--p-border-radius-0);
}

[data-buttongroup-variant='segmented'] > *:not(:last-child) .Button {
  border-top-right-radius: var(--p-border-radius-0);
  border-bottom-right-radius: var(--p-border-radius-0);
}
/* stylelint-enable -- selector-max-combinators */
