/* stylelint-disable polaris/conventions/polaris/custom-property-allowed-list -- allow custom component properties */

.Button {
  all: unset;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: var(--pc-button-gap);
  padding-block: var(--pc-button-padding-block);
  padding-inline: var(--pc-button-padding-inline);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  --pc-button-gap: var(--p-space-050);
  --pc-button-bg: transparent;
  --pc-button-bg_hover: var(--pc-button-bg);
  --pc-button-bg_active: var(--pc-button-bg);
  --pc-button-bg_pressed: var(--pc-button-bg_active);
  --pc-button-bg_disabled: var(--p-color-bg-fill-disabled);
  --pc-button-color: inherit;
  --pc-button-color_hover: var(--pc-button-color);
  --pc-button-color_active: var(--pc-button-color);
  --pc-button-color_pressed: var(--pc-button-color_active);
  --pc-button-color_disabled: var(--p-color-text-disabled);
  --pc-button-box-shadow: transparent;
  --pc-button-box-shadow_hover: var(--pc-button-box-shadow);
  --pc-button-box-shadow_active: var(--pc-button-box-shadow);
  --pc-button-box-shadow_pressed: var(--pc-button-box-shadow_active);
  --pc-button-box-shadow_disabled: var(--pc-button-box-shadow);
  --pc-button-icon-fill: currentColor;
  --pc-button-icon-fill_disabled: var(--pc-button-color_disabled);
  border: none;
  border-radius: var(--p-border-radius-200);
  background: var(--pc-button-bg);
  color: var(--pc-button-color);
  box-shadow: var(--pc-button-box-shadow);
  fill: var(--pc-button-icon-fill);

  font-size: var(--p-font-size-325);
  font-weight: var(--p-font-weight-medium);
  line-height: var(--p-font-line-height-500);

  @media (--p-breakpoints-md-up) {
    font-size: var(--p-font-size-300);
    line-height: var(--p-font-line-height-400);
  }
}

.Button:hover {
  background: var(--pc-button-bg_hover);
  color: var(--pc-button-color_hover);
  box-shadow: var(--pc-button-box-shadow_hover);
}

.Button:active,
.Button[aria-expanded='true'] {
  background: var(--pc-button-bg_active);
  color: var(--pc-button-color_active);
  box-shadow: var(--pc-button-box-shadow_active);
}

.Button:focus-visible {
  background: var(--pc-button-bg_hover);
  color: var(--pc-button-color_hover);
  outline: var(--p-border-width-050) solid var(--p-color-border-focus);
  outline-offset: var(--p-space-025);
}

.Button:disabled,
.Button[disabled],
.disabled {
  background: var(--pc-button-bg_disabled);
  color: var(--pc-button-color_disabled);
  fill: var(--pc-button-icon-fill_disabled);
  box-shadow: none;
  cursor: not-allowed;
  user-select: none;
  pointer-events: none;
}

.pressed,
.pressed:hover,
.pressed:active,
.pressed:focus-visible {
  background: var(--pc-button-bg_pressed);
  color: var(--pc-button-color_pressed);
  box-shadow: var(--pc-button-box-shadow_pressed);
}

// VARIANTS
.variantPrimary {
  // stylelint-disable  -- custom button tokens
  --pc-button-bg-gradient: linear-gradient(180deg, rgba(48, 48, 48, 0) 63.53%, rgba(255, 255, 255, 0.15) 100%);
  --pc-button-box-shadow: 0px -1px 0px 1px rgba(0, 0, 0, 0.8) inset,
    0px 0px 0px 1px rgba(48, 48, 48, 1) inset,
    0px 0.5px 0px 1.5px rgba(255, 255, 255, 0.25) inset;
  --pc-button-box-shadow_active: 0 3px 0 0 rgb(0, 0, 0) inset;
  // stylelint-enable
  --pc-button-bg: var(--pc-button-bg-gradient), var(--p-color-bg-fill-brand);
  --pc-button-bg_hover: var(--pc-button-bg-gradient),
    var(--p-color-bg-fill-brand-hover);
  --pc-button-bg_active: var(--pc-button-bg-gradient),
    var(--p-color-bg-fill-brand-active);
  --pc-button-bg_disabled: var(--p-color-bg-fill-brand-disabled);
  --pc-button-color: var(--p-color-text-brand-on-bg-fill);
  --pc-button-color_disabled: var(--p-color-text-brand-on-bg-fill-disabled);
}

.variantSecondary {
  // stylelint-disable  -- custom button tokens
  --pc-button-box-shadow: 0 -1px 0 1px rgba(0, 0, 0, 0.051) inset,
    0 0 0 1px rgba(0, 0, 0, 0.149) inset, 0 0.5px 0 1.5px rgb(255, 255, 255) inset;
  --pc-button-box-shadow_active: -1px 0 1px 0 #1a1a1a1f inset,
    1px 0 1px 0 rgba(26, 26, 26, 0.122) inset, 0 2px 1px 0 rgba(26, 26, 26, 0.2) inset;
  // stylelint-enable
  --pc-button-bg: var(--p-color-bg-fill);
  --pc-button-bg_hover: var(--p-color-bg-fill-hover);
  --pc-button-bg_active: var(--p-color-bg-fill-active);
  --pc-button-bg_pressed: var(--p-color-bg-fill-selected);
  --pc-button-color: var(--p-color-text);
  --pc-button-icon-fill: var(--p-color-icon);
  --pc-button-icon-fill_disabled: var(--p-color-icon-disabled);
}

.variantTertiary {
  --pc-button-bg_hover: var(--p-color-bg-fill-transparent-hover);
  --pc-button-bg_active: var(--p-color-bg-fill-transparent-active);
  --pc-button-bg_pressed: var(--p-color-bg-fill-selected);
  --pc-button-color: var(--p-color-text);
}

.variantPlain {
  --pc-button-color: var(--p-color-text-link);
}

.variantPlain,
.variantMonochromePlain {
  --pc-button-bg_disabled: transparent;
  margin-inline: calc(-1 * var(--pc-button-padding-inline));
  font-weight: var(--p-font-weight-regular);
}

.variantPlain:hover,
.variantMonochromePlain:hover,
.variantPlain:active,
.variantMonochromePlain:active {
  text-decoration: underline;
}

// TONES
.toneSuccess:is(.variantSecondary, .variantTertiary, .variantPlain) {
  --pc-button-color: var(--p-color-text-success);
  --pc-button-color_hover: var(--pc-button-color);
  --pc-button-icon-fill: var(--pc-button-color);
}

.toneCritical:is(.variantSecondary, .variantTertiary, .variantPlain) {
  --pc-button-color: var(--p-color-text-critical);
  --pc-button-color_hover: var(--pc-button-color);
  --pc-button-icon-fill: var(--pc-button-color);
}

.toneSuccess:is(.variantPrimary) {
  // stylelint-disable  -- custom button tokens
  --pc-button-box-shadow: 0 -1px 0 1px rgba(12, 81, 50, 0.8) inset,
    0 0 0 1px rgba(19, 111, 69, 0.8) inset, 0 0.5px 0 1.5px rgba(255, 255, 255, 0.251) inset;
  // stylelint-enable
  --pc-button-bg: var(--p-color-bg-fill-success);
  --pc-button-bg_hover: var(--p-color-bg-fill-success-hover);
  --pc-button-bg_active: var(--p-color-bg-fill-success-active);
}

.toneCritical:is(.variantPrimary) {
  // stylelint-disable  -- custom button tokens
  --pc-button-box-shadow: 0 -1px 0 1px rgba(142, 31, 11, 0.8) inset,
    0 0 0 1px rgba(181, 38, 11, 0.8) inset, 0 0.5px 0 1.5px rgba(255, 255, 255, 0.349) inset;
  // stylelint-enable
  --pc-button-bg: var(--p-color-bg-fill-critical);
  --pc-button-bg_hover: var(--p-color-bg-fill-critical-hover);
  --pc-button-bg_active: var(--p-color-bg-fill-critical-active);
}

// SIZES
.sizeMicro {
  --pc-button-padding-block: var(--p-space-100);
  --pc-button-padding-inline: var(--p-space-200);
  height: var(--p-height-700);
  min-width: var(--p-width-700);

  @media (--p-breakpoints-md-up) {
    height: var(--p-height-600);
    min-width: var(--p-width-600);
  }
}

.sizeSlim,
.sizeMedium {
  --pc-button-padding-block: var(--p-space-150);
  --pc-button-padding-inline: var(--p-space-300);
  height: var(--p-height-800);
  min-width: var(--p-width-800);

  @media (--p-breakpoints-md-up) {
    height: var(--p-height-700);
    min-width: var(--p-width-700);
  }
}

.sizeLarge {
  --pc-button-padding-block: var(--p-space-150);
  --pc-button-padding-inline: var(--p-space-300);;
  font-size: var(--p-font-size-325);
  line-height: var(--p-font-line-height-500);
  height: var(--p-height-900);
  min-width: var(--p-height-900);

  @media (--p-breakpoints-md-up) {
    height: var(--p-height-800);
    min-width: var(--p-width-800);
  }
}

// TEXT ALIGNMENT
.textAlignCenter {
  justify-content: center;
  text-align: center;
}

.textAlignStart,
.textAlignLeft {
  justify-content: start;
  text-align: start;
}

.textAlignEnd,
.textAlignRight {
  justify-content: end;
  text-align: end;
}

// WIDTH
.fullWidth {
  width: 100%;
}

// ICON
.iconOnly {
  --pc-button-padding-inline: var(--p-space-100);
}

.iconOnly:is(.sizeLarge) {
  --pc-button-padding-inline: var(--p-space-150);
}

.iconOnly:is(.sizeMicro) {
  --pc-button-padding-inline: var(--p-space-050);
}

.iconWithText {
  padding-left: calc(var(--pc-button-padding-inline) * 0.5);
}

// DISCLOSURE
.disclosure {
  padding-right: calc(var(--pc-button-padding-inline) * 0.5);
}

.disclosure:is(.textAlignStart, .textAlignLeft) {
  justify-content: space-between;
}

// LOADING
.loading {
  color: transparent;
}

// INTERACTION
.pressable:active:not(.variantTertiary, .variantPlain, .variantMonochromePlain)
  > * {
  transform: translate3d(0, 1px, 0);
}

// UTILITIES
.hidden {
  visibility: hidden;
}

// SPINNER
.Spinner {
  position: absolute;
  top: calc(var(--pc-button-padding-block) / 2 + 50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.Spinner svg {
  fill: var(--pc-button-color_disabled);
}

// BUTTON GROUP
/* stylelint-disable -- selector-max-combinators */
[data-buttongroup-variant='segmented'] > *:not(:first-child) .Button {
  margin-left: calc(-1 * var(--p-space-025));
}

[data-buttongroup-variant='segmented'] > *:not(:first-child) .Button {
  border-top-left-radius: var(--p-border-radius-0);
  border-bottom-left-radius: var(--p-border-radius-0);
}

[data-buttongroup-variant='segmented'] > *:not(:last-child) .Button {
  border-top-right-radius: var(--p-border-radius-0);
  border-bottom-right-radius: var(--p-border-radius-0);
}
/* stylelint-enable -- selector-max-combinators */
