/* stylelint-disable */

.border {
  border: border();
  border: border(base);
  border: border('base');
  border: border(dark);
  border: border('dark');
  border-bottom: border(transparent);
  border: border('transparent');
  border: border(divider);
  border-left: border('divider');
}
