/* stylelint-disable */

@use 'global-styles/legacy-polaris-v8';

.border {
  border: legacy-polaris-v8.border();
  border: legacy-polaris-v8.border(base);
  border: legacy-polaris-v8.border('base');
  border: legacy-polaris-v8.border(dark);
  border: legacy-polaris-v8.border('dark');
  border-bottom: legacy-polaris-v8.border(transparent);
  border: legacy-polaris-v8.border('transparent');
  border: legacy-polaris-v8.border(divider);
  border-left: legacy-polaris-v8.border('divider');
}
