$key-base-dimension: 20px;

.KeyboardKey {
  height: $key-base-dimension;
  display: inline-flex;
  justify-content: center;
  margin: 0 var(--p-space-05) var(--p-space-05);
  padding: 0 var(--p-space-1);
  background: var(--p-color-bg-subdued);
  border-radius: var(--p-border-radius-1);
  color: var(--p-color-text);
  font-size: var(--p-font-size-75);
  font-weight: var(--p-font-weight-medium);
  font-family: var(--p-font-family-sans);
  text-align: center;
  min-width: $key-base-dimension;
  user-select: none;
  line-height: $key-base-dimension;
  // TODO need 450 font weight token
}

.small {
  // background: var(--p-color-bg-app-selected);
  // border-radius: var(--p-border-radius-05);
  // box-shadow: none;
  // line-height: unset;
  // padding: 0 var(--p-space-1);
  // font-size: var(--p-font-size-75);
  // height: var(--p-space-5);
  // min-width: var(--p-space-5);
}
