@import 'foundation/breakpoints';
@import 'foundation/layout';
@import 'foundation/spacing';
@import 'foundation/borders';

.PageActions {
  max-width: layout-max-width();
  margin: 0 auto;
  padding: spacing(loose);
  border-top: border();

  @include page-content-when-not-fully-condensed {
    padding: spacing(loose) 0;
  }
}
