@import '../../../../styles/common';

$individual-action-padding-x: (1.5 * spacing(tight));
$action-menu-rollup-computed-width: rem(40px);

.Header {
  @include page-header-layout;
  position: relative;
}

.separator {
  padding-bottom: spacing();
  border-bottom: border();

  &.newDesignLanguage {
    padding-bottom: spacing();
    border-bottom: border();
  }
}

.titleHidden {
  @include visually-hidden;
}

///
/// Navigation

.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing(extra-tight);

  // stylelint-disable-next-line selector-max-class
  .hasActionMenu.mobileView & {
    padding-right: $action-menu-rollup-computed-width;
  }

  @include print-hidden;
}

.BreadcrumbWrapper {
  flex: 0 1 auto;
  max-width: 100%;

  &.newDesignLanguage {
    margin-right: spacing();
  }
}

.PaginationWrapper {
  flex: 0 0 auto;
  margin-left: auto;
  line-height: 1;
}

.AdditionalNavigationWrapper {
  flex: 1 0 auto;
  margin: 0 spacing(tight);
  display: flex;
  justify-content: flex-end;

  @include page-content-when-not-fully-condensed {
    margin: 0 spacing(extra-loose);
  }
}

///
/// Main content

.MainContent {
  .Header:not(.mobileView) & {
    display: flex;
    align-items: center;
  }
}

.TitleActionMenuWrapper {
  flex: 1 1 auto;

  .Header:not(.mobileView) & {
    padding-right: spacing(loose);
  }

  // stylelint-disable-next-line selector-max-class, selector-max-specificity
  .hasActionMenu.mobileView:not(.hasNavigation) & {
    padding-right: $action-menu-rollup-computed-width;
  }
}

.PrimaryActionWrapper {
  flex: 0 0 auto;
  .mobileView & {
    margin-top: spacing();
  }

  @include print-hidden;
}

.ActionMenuWrapper {
  margin-top: spacing(tight);

  // stylelint-disable-next-line selector-max-class
  .mobileView & {
    position: absolute;
    top: spacing(loose) + (control-height() / 4);
    right: spacing(loose);
    margin-top: 0;

    @include page-content-when-not-fully-condensed {
      right: -(spacing(tight));
    }
  }

  // stylelint-disable-next-line selector-max-class
  .mobileView.hasNavigation & {
    top: control-height() / 2;
  }

  @include print-hidden;

  &.newDesignLanguage {
    margin-top: 0;
  }
}

.Row {
  display: flex;
  justify-content: space-between;

  + .Row {
    margin-top: spacing();

    // stylelint-disable-next-line selector-max-combinators, selector-max-class
    .mobileView & {
      margin-top: spacing(tight);
    }
  }
}

.LeftAlign {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.RightAlign {
  display: flex;
  align-content: flex-end;
  align-items: center;
  margin-left: spacing(tight);
}
