@import '../../../../styles/common';

$mobile-layout: 468px;
$desktop-layout: 1080px;
$individual-action-padding-x: (1.5 * spacing(tight));
$action-menu-rollup-computed-width: rem(40px);

.Header {
  @include page-header-layout;
  position: relative;
}

.separator {
  padding-bottom: spacing();
  border-bottom: var(--p-override-none, border());
}

.titleHidden {
  @include visually-hidden;
}

.TitleWrapper {
  .newDesignLanguage & {
    grid-area: title;
    align-self: center;
  }
}

///
/// Navigation

.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: spacing(extra-tight);

  // stylelint-disable-next-line selector-max-class
  .hasActionMenu.mobileView & {
    padding-right: $action-menu-rollup-computed-width;
  }

  @include print-hidden;
}

.BreadcrumbWrapper {
  grid-area: breadcrumbs;

  @include print-hidden;
}

.PaginationWrapper {
  flex: 0 0 auto;
  margin-left: auto;
  line-height: 1;

  .newDesignLanguage & {
    display: flex;
    justify-content: flex-end;
    margin-left: spacing(extra-tight);
    // stylelint-disable-next-line selector-max-combinators
    button {
      border: 1px solid var(--p-border-neutral-subdued);
      box-shadow: none;
      // stylelint-disable-next-line selector-max-combinators, selector-max-specificity
      &:hover,
      &:active,
      &:focus {
        border: 1px solid var(--p-border-neutral-subdued);
      }
    }
  }

  @include print-hidden;
}

.AdditionalNavigationWrapper {
  flex: 1 0 auto;
  margin: 0 spacing(tight);
  display: flex;
  justify-content: flex-end;

  @include page-content-when-not-fully-condensed {
    margin: 0 spacing(extra-loose);
  }

  .newDesignLanguage & {
    margin-right: 0;
  }

  @include print-hidden;
}

///
/// Main content

.MainContent {
  .Header:not(.mobileView) & {
    display: flex;
    align-items: center;
  }
}

.TitleActionMenuWrapper {
  flex: 1 1 auto;

  .Header:not(.mobileView) & {
    padding-right: spacing(loose);
  }

  // stylelint-disable-next-line selector-max-class, selector-max-specificity
  .hasActionMenu.mobileView:not(.hasNavigation) & {
    padding-right: $action-menu-rollup-computed-width;
  }
}

.PrimaryActionWrapper {
  flex: 0 0 auto;
  .mobileView & {
    margin-top: spacing();
  }

  .newDesignLanguage & {
    margin-left: spacing(extra-tight);
    margin-top: 0;
  }

  @include print-hidden;
}

.ActionMenuWrapper {
  margin-top: spacing(tight);

  // stylelint-disable-next-line selector-max-class
  .mobileView & {
    position: absolute;
    top: spacing(loose) + (control-height() / 4);
    right: spacing(loose);
    margin-top: 0;

    @include page-content-when-not-fully-condensed {
      right: -(spacing(tight));
    }
  }

  // stylelint-disable-next-line selector-max-class
  .mobileView.hasNavigation & {
    top: control-height() / 2;
  }

  @include print-hidden;

  &.newDesignLanguage {
    margin-top: 0;
  }
}

.Row {
  display: flex;
  justify-content: space-between;

  + .Row {
    margin-top: spacing();
    // stylelint-disable-next-line selector-max-combinators, selector-max-class
    .newDesignLanguage & {
      margin-top: spacing(extra-tight);
    }

    // stylelint-disable-next-line selector-max-combinators, selector-max-class
    .mobileView & {
      margin-top: spacing(tight);
    }
  }
}

.LeftAlign {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.RightAlign {
  display: flex;
  align-content: flex-end;
  align-items: center;
  margin-left: spacing(tight);
}

.RowCondensed {
  display: grid;
  gap: spacing(tight) spacing();
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'breadcrumbs actions'
    'title title';

  @include breakpoint-after($mobile-layout) {
    grid-template-rows: auto;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: 'breadcrumbs title actions';
  }

  .RightAlign {
    grid-area: actions;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.AdditionalMetaData {
  .newDesignLanguage & {
    @include breakpoint-after($mobile-layout) {
      margin-left: spacing(loose) * 2 + spacing(tight) + spacing(extra-tight);
    }
  }
  // stylelint-disable-next-line selector-max-class
  .noBreadcrumbs.newDesignLanguage & {
    margin-left: 0;
  }

  @include when-printing {
    // stylelint-disable-next-line declaration-no-important
    margin-left: 0 !important;
  }
}

.Actions {
  width: 100%;
  min-width: 0;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  text-align: right;
}

.newDesignLanguage.longTitle {
  // stylelint-disable-next-line selector-max-class
  .AdditionalMetaData {
    margin-left: 0;
    @include breakpoint-after($desktop-layout) {
      margin-left: spacing(loose) * 2 + spacing(tight) + spacing(extra-tight);
    }
  }
  // stylelint-disable-next-line selector-max-class
  .RowCondensed {
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'breadcrumbs actions'
      'title title';

    @include breakpoint-after($desktop-layout) {
      grid-template-rows: auto;
      grid-template-columns: auto minmax(0, 1fr) 1fr;
      grid-template-areas: 'breadcrumbs title actions';
    }
  }
}
