.LeftNavWithTOCLayout {
  --gap: 7rem;
  --nav-width: 12rem;
  --toc-width: 12rem;
  margin-top: var(--header-margin);
  display: flex;
  gap: var(--gap);
}

.Nav {
  min-width: var(--nav-width);
  max-width: var(--nav-width);
  align-self: flex-start;
}

.Post {
  position: relative;
  flex: 1;
  .LeftNavWithTOCLayout.showTOC & {
    max-width: calc(
      100% - var(--nav-width) - var(--gap) - var(--gap) - var(--toc-width)
    );
  }
}

.TOC {
  position: absolute;
  font-size: var(--font-size-100);
  width: var(--toc-width);
  right: calc((var(--toc-width) + 5rem) * -1);
  height: 100%;
  top: 0;

  > ul {
    position: sticky;
    top: 2rem;
  }

  > ul > li:not(:first-child) {
    margin-top: 0.5rem;
  }

  a {
    color: inherit;
    display: block;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: var(--toc-width);

    &:hover {
      color: var(--text-strong);
    }
  }

  &.isNested {
    ul ul {
      a {
        position: relative;
        padding-left: 0.66rem;
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          min-width: 4px;
          max-width: 4px;
          min-height: 4px;
          max-height: 4px;
          border-radius: var(--border-radius-round);
          background: var(--text);
        }
      }
    }
  }
}
