/* stylelint-disable */

.border {
  /* Migrate */
  border: border-width() solid var(--p-border-subdued);
  border: border-width(base) solid var(--p-border-subdued);
  border: border-width(thick) solid var(--p-border-subdued);
  border: border-width(thicker) solid var(--p-border-subdued);
  border-width: border-width('thicker');

  /* Ignore */
  border-width: calc(-1 * border-width());
  border-width: calc($var * border-width());
  border-width: rem(1px) rem(10px - border-width());
}
