/* stylelint-disable */
@use 'global-styles/legacy-polaris-v8';

.border {
  /* Migrate */
  border: legacy-polaris-v8.border-width() solid var(--p-border-subdued);
  border: legacy-polaris-v8.border-width(base) solid var(--p-border-subdued);
  border: legacy-polaris-v8.border-width(thick) solid var(--p-border-subdued);
  border: legacy-polaris-v8.border-width(thicker) solid var(--p-border-subdued);
  border-width: legacy-polaris-v8.border-width('thicker');

  /* Ignore */
  border-width: calc(-1 * legacy-polaris-v8.border-width());
  border-width: calc($var * legacy-polaris-v8.border-width());
  border-width: legacy-polaris-v8.rem(1px)
    legacy-polaris-v8.rem(10px - legacy-polaris-v8.border-width());
}
