@import '../../../../styles/common';

.Section {
  flex: 0 0 auto;
  padding: spacing(loose);

  &:not(:last-of-type) {
    border-bottom: border('divider');
  }

  &.subdued {
    background: var(--p-surface-subdued);
  }

  &.flush {
    padding: 0;
  }
}
