@import '../../../../styles/common';

.Section {
  flex: 0 0 auto;
  padding: spacing(loose);

  &:not(:last-of-type) {
    border-bottom: border();
  }

  &.subdued {
    background: color('sky', 'light');
    &:last-child {
      @include breakpoint-after(layout-width(page-with-nav)) {
        border-radius: 0 0 border-radius(large) border-radius(large);
      }
    }
  }

  &.flush {
    padding: 0;
  }
}
