@import '../../styles/common';

.PageActions {
  margin: 0 auto;
  padding: spacing(loose);
  border-top: border('divider');

  @include page-content-when-not-fully-condensed {
    padding: spacing(loose) 0;
  }
}
