.SearchField {
  flex-grow: 1;
  padding: var(--p-space-100) 0;
  outline: none;
  border: none;
  font-size: var(--p-font-size-400);
  line-height: var(--p-font-line-height-600);

  @media (--p-breakpoints-md-up) {
    font-size: var(--p-font-size-325);
    line-height: var(--p-font-line-height-500);
  }
}
