// reduces the radii of the circle to half the size of the smallest side
$border-radius: 999px;

.FooterHelp {
  display: flex;
  justify-content: center;
  margin: spacing(loose);

  @include page-content-when-fully-condensed {
    margin: spacing(loose) 0;
    width: 100%;
  }
}

.Content {
  display: inline-flex;
  align-items: center;
  padding: spacing() spacing(loose) spacing() spacing();
  border: border();
  border-radius: $border-radius;

  @include page-content-when-fully-condensed {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

.Icon {
  margin-right: spacing(tight);
  background: color(white);
  padding: spacing(tight);
  border-radius: 50%;

  svg {
    fill: color(teal);
    color: color(white);
  }

}

.Text {
  @include text-style-input;
}
