@import '../../styles/common';

// reduces the radii of the circle to half the size of the smallest side
$border-radius: 999px;

.FooterHelp {
  display: flex;
  justify-content: center;
  margin: rem($spacing-loose) 0;
  width: 100%;

  @include page-content-when-not-fully-condensed {
    margin: rem($spacing-loose);
    width: auto;
  }
}

.Content {
  display: inline-flex;
  align-items: center;
  padding: rem($spacing-base) rem($spacing-loose) rem($spacing-base) rem($spacing-base);
  border-top: border();
  border-bottom: border();
  width: 100%;
  justify-content: center;

  @include page-content-when-not-fully-condensed {
    width: auto;
    border: border();
    border-radius: $border-radius;
  }
}

.Icon {
  margin-right: rem($spacing-tight);
}

.Text {
  @include text-style-input;
}
