.AppStateEditor {
  min-height: 20vh;

  .Columns {
    display: flex;

    .ColumnHeader {
      padding: 0.5rem;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      background: transparent;
      border: none;
      color: #999;

      &:focus {
        outline: none;
        color: white;
      }
    }
  }

  .Column {
    border-right: 1px solid var(--border-color);
    flex: 1;
    &:last-child {
      border-right: none;
    }
  }

  .Row {
    border-top: 1px solid var(--border-color);
  }
}

.Tabs {
  display: flex;
  background: black;
  border-bottom: 1px solid var(--border-color);
  padding: 0 0.5rem;

  button {
    background: transparent;
    padding: 0.5rem 0.75rem;
    border-radius: 4px 4px 0 0;

    &[aria-selected="true"] {
      background: var(--border-color);
    }
  }
}
