@import '../../styles/common';

$feature-width: rem(350px);

.SettingAction {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -1 * spacing();
  margin-left: -1 * spacing();
}

.Setting,
.Action {
  flex: 0 0 auto;
  margin-top: spacing();
  margin-left: spacing();
  max-width: calc(100% - #{spacing()});
  min-width: 0;
}

.Setting {
  flex: 1 0 $feature-width;
}
