@define-mixin text-style-input {
  font-size: var(--p-font-size-325);
  font-weight: var(--p-font-weight-regular);
  line-height: var(--p-font-line-height-500);
  border: none;
  letter-spacing: initial;
}
