/// Sets the background-image and box-shadow for single or multiple given
/// interaction states.
///
/// @param {argList} $interaction-states... - Accepts single or multiple
/// interactions states.
@mixin state($interaction-states...) {
  $backgrounds: ();

  @each $state in $interaction-states {
    $colors: color(state, $state);
    $backgrounds: append(
      $backgrounds,
      linear-gradient($colors, $colors),
      comma
    );

    @if $state == 'focused' {
      box-shadow: inset 2px 0 0 var(--p-focused);
    }

    @if $state == 'focused-destructive' {
      box-shadow: inset 2px 0 0 var(--p-focused);
    }
  }
  background-image: $backgrounds;
}

@mixin list-selected-indicator {
  content: '';
  background-color: var(--p-interactive);
  position: absolute;
  top: 0;
  left: calc(-1 * var(--p-space-2));
  height: 100%;
  display: block;
  width: border-width(thicker);
  border-top-right-radius: var(--p-border-radius-2);
  border-bottom-right-radius: var(--p-border-radius-2);
}
