$actions-vertical-spacing: rem($spacing-tight);

/// @deprecated Copy into consuming project
@mixin page-padding-not-fully-condensed {
  padding: 0 rem($spacing-loose);
}

/// @deprecated Copy into consuming project
@mixin page-padding-not-partially-condensed {
  padding: 0 rem($spacing-extra-loose);
}

/// @deprecated Copy into consuming project
@mixin page-layout {
  margin: 0 auto;
  padding: 0;
  max-width: $page-max-width;

  @include page-content-when-not-fully-condensed {
    @include page-padding-not-fully-condensed;
  }

  @include page-content-when-not-partially-condensed {
    @include page-padding-not-partially-condensed;
  }
}

/// @deprecated Copy into consuming project
@mixin page-content-layout {
  margin: rem($spacing-loose) 0;

  @include page-content-when-not-partially-condensed {
    margin-top: rem($spacing-loose);
  }
}

/// @deprecated Copy into consuming project
@mixin page-title-layout {
  @include layout-flex-fix;
  @include text-breakword;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: -1 * rem($spacing-tight);
  margin-left: -1 * rem($spacing-tight);

  > * {
    margin-top: rem($spacing-tight);
    margin-left: rem($spacing-tight);
  }
}

/// @deprecated Copy into consuming project
@mixin page-header-layout {
  padding: rem($spacing-loose) rem($spacing-loose) 0;

  @include page-content-when-not-fully-condensed {
    padding-left: 0;
    padding-right: 0;
  }

  @include page-content-when-not-partially-condensed {
    padding-top: rem($spacing-extra-loose);
  }
}

/// @deprecated Copy into consuming project
@mixin page-header-has-navigation {
  padding-top: rem(32px);
}

/// @deprecated Copy into consuming project
@mixin page-header-without-navigation {
  margin-top: unset;
}

/// @deprecated Copy into consuming project
@mixin page-header-has-secondary-actions {
  padding-top: rem(24px);
}

/// @deprecated Copy into consuming project
@mixin page-actions-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2 * $actions-vertical-spacing;

  @include page-content-when-not-fully-condensed {
    margin-top: $actions-vertical-spacing;
  }
}
