$typography-condensed: em(640px);

@mixin when-typography-not-condensed {
  @include breakpoint-after($typography-condensed) {
    @content;
  }
}

@mixin when-typography-condensed {
  @include breakpoint-before($typography-condensed) {
    @content;
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-caption {
  font-size: font-size(caption);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(caption);
  line-height: line-height(caption);

  @include when-typography-not-condensed {
    font-size: font-size(caption, large-screen);
    line-height: line-height(caption, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-heading {
  font-size: font-size(heading);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(heading);
  line-height: line-height(heading);

  @include when-typography-not-condensed {
    font-size: font-size(heading, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-subheading {
  font-size: font-size(subheading);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(subheading);
  line-height: line-height(subheading);

  text-transform: uppercase;

  @include when-typography-not-condensed {
    font-size: font-size(subheading, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-input {
  font-size: font-size(input);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(input);
  line-height: line-height(input);

  text-transform: initial;
  letter-spacing: initial;

  @include when-typography-not-condensed {
    font-size: font-size(input, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-body {
  font-size: font-size(body);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(body);
  line-height: line-height(body);

  text-transform: initial;
  letter-spacing: initial;

  @include when-typography-not-condensed {
    font-size: font-size(body, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-button {
  font-size: font-size(button);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(button);
  line-height: line-height(button);

  text-transform: initial;
  letter-spacing: initial;

  @include when-typography-not-condensed {
    font-size: font-size(button, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-button-large {
  font-size: font-size(button-large);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(button-large);
  line-height: line-height(button-large);

  text-transform: initial;
  letter-spacing: initial;

  @include when-typography-not-condensed {
    font-size: font-size(button-large, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-display-x-large {
  font-size: font-size(display-x-large);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(display-x-large);
  line-height: line-height(display-x-large);

  @include when-typography-not-condensed {
    font-size: font-size(display-x-large, large-screen);
    line-height: line-height(display-x-large, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-display-large {
  font-size: font-size(display-large);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(display-large);
  line-height: line-height(display-large);

  @include when-typography-not-condensed {
    font-size: font-size(display-large, large-screen);
    line-height: line-height(display-large, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-display-medium {
  font-size: font-size(display-medium);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(display-medium);
  line-height: line-height(display-medium);

  @include when-typography-not-condensed {
    font-size: font-size(display-medium, large-screen);
    line-height: line-height(display-medium, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-style-display-small {
  font-size: font-size(display-small);
  // stylelint-disable-next-line font-weight-notation
  font-weight: font-weight(display-small);
  line-height: line-height(display-small);

  @include when-typography-not-condensed {
    font-size: font-size(display-small, large-screen);
    line-height: line-height(display-small, large-screen);
  }
}

/// @deprecated Copy into consuming project
@mixin text-emphasis-placeholder() {
  color: $color-ink-lightest;
}

/// @deprecated Copy into consuming project
@mixin text-emphasis-subdued {
  color: $color-ink-lighter;
}

/// @deprecated Copy into consuming project
@mixin text-emphasis-strong {
  font-weight: 600;
}

/// @deprecated Copy into consuming project
@mixin text-emphasis-normal {
  font-weight: 400;
  color: $color-ink;
}

/// @deprecated Copy into consuming project
@mixin text-breakword {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

/// @deprecated Copy into consuming project
@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/// @deprecated Copy into consuming project
@mixin print-hidden {
  @media print {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}
