@function icon-size() {
  @return rem(20px);
}

@mixin recolor-icon($fill-color, $secondary-color: null, $filter-color: null) {
  svg {
    fill: $fill-color;
  }

  @if $filter-color != null {
    img {
      filter: $filter-color;
    }
  }

  @if $secondary-color != null {
    color: $secondary-color;
  }
}
