@mixin unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin plain-list {
  @warn '[DEPRECATION] The `plain-list` mixin has been replaced with `unstyled-list`. Please update your app to use the new mixin.';

  @include unstyled-list;
}
