[data-lock-scrolling] {
  overflow-y: scroll;
  margin: 0;

  // stylelint-disable selector-max-attribute
  &[data-lock-scrolling-hidden] {
    overflow-y: hidden;
  }

  [data-lock-scrolling-wrapper] {
    overflow: hidden;
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    height: 100%;
  }
}
