@import '../../../../styles/common';

.Footer {
  display: flex;
  align-self: flex-end;
  align-items: center;
  width: 100%;
  min-height: spacing() * 4;
  padding: spacing();
  border-top: var(--p-thin-border-subdued, border());
}

.FooterContent {
  width: 100%;
}
