/* stylelint-disable */

.border {
  /* Migrate */
  border: var(--p-border-width-1) solid var(--p-border-subdued);
  border: var(--p-border-width-1) solid var(--p-border-subdued);
  border: var(--p-border-width-2) solid var(--p-border-subdued);
  border: var(--p-border-width-3) solid var(--p-border-subdued);
  border-width: var(--p-border-width-3);

  /* Ignore */
  border-width: calc(-1 * border-width());
  border-width: calc($var * border-width());
  border-width: rem(1px) rem(10px - border-width());
}
