.border {
  border-radius: var(--p-border-radius-base);
  border-radius: var(--p-border-radius-large);
  border-radius: var(--p-border-radius-half);
  border: var(--p-border-base);
  border: var(--p-border-dark);
  border: var(--p-border-transparent);
  border: var(--p-border-divider);
  border: var(--p-border-divider-on-dark);
}
