@import '../../../../styles/common';

.SectionGroup {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: var(--p-border-width-1) solid var(--p-color-border-subdued);
}

.noDivider {
  border-bottom: none;
}
