.text {
  font-size: var(--p-font-size-750);
  font-size: var(--p-font-size-750);
  font-size: var(--p-font-size-600);
  font-size: var(--p-font-size-500);
  font-size: var(--p-font-size-350);
  font-size: var(--p-font-size-325);
  font-size: var(--p-font-size-300);
  font-size: var(--p-font-size-350);
  font-size: var(--p-font-size-325);
  font-size: var(--p-font-size-300);
  font-size: var(--p-font-size-275);
  letter-spacing: var(--p-font-letter-spacing-denser);
  letter-spacing: var(--p-font-letter-spacing-denser);
  letter-spacing: var(--p-font-letter-spacing-dense);
  letter-spacing: var(--p-font-letter-spacing-dense);
  letter-spacing: var(--p-font-letter-spacing-normal);
  letter-spacing: var(--p-font-letter-spacing-normal);
  letter-spacing: var(--p-font-letter-spacing-normal);
  letter-spacing: var(--p-font-letter-spacing-normal);
  letter-spacing: var(--p-font-letter-spacing-normal);
  letter-spacing: var(--p-font-letter-spacing-normal);
  letter-spacing: var(--p-font-letter-spacing-normal);
  line-height: var(--p-font-line-height-1000);
  line-height: var(--p-font-line-height-1000);
  line-height: var(--p-font-line-height-800);
  line-height: var(--p-font-line-height-600);
  line-height: var(--p-font-line-height-500);
  line-height: var(--p-font-line-height-500);
  line-height: var(--p-font-line-height-400);
  line-height: var(--p-font-line-height-500);
  line-height: var(--p-font-line-height-500);
  line-height: var(--p-font-line-height-400);
  line-height: var(--p-font-line-height-300);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-weight: var(--p-font-weight-bold);
  font-weight: var(--p-font-weight-bold);
  font-weight: var(--p-font-weight-bold);
  font-weight: var(--p-font-weight-semibold);
  font-weight: var(--p-font-weight-semibold);
  font-weight: var(--p-font-weight-semibold);
  font-weight: var(--p-font-weight-semibold);
  font-weight: var(--p-font-weight-regular);
  font-weight: var(--p-font-weight-regular);
  font-weight: var(--p-font-weight-regular);
  font-weight: var(--p-font-weight-regular);
}
