# The public Sass API will be gradually deprecated
#
# These people should be aware of any changes made to it
# to prevent any new helpers from sneaking in.
/src/styles/foundation @BPScott
/src/styles/shared @BPScott
