# Default
* @Shopify/polaris-team

# React, TypeScript, JavaScript
*.tsx @Shopify/polaris-eng
*.ts @Shopify/polaris-eng
*.js @Shopify/polaris-eng

# Config files
*.yml @Shopify/polaris-eng
*.json @Shopify/polaris-eng

# Documentation
*.mdx @Shopify/polaris-team
*.md @Shopify/polaris-team

/polaris.shopify.com/content/design @Shopify/polaris-ux
/polaris.shopify.com/content/foundations @Shopify/polaris-ux
/polaris.shopify.com/content/patterns @Shopify/polaris-ux

