@import '../../styles/common';
$horizontal-padding: spacing(tight);
$vertical-padding: calc(#{spacing(extra-tight)} - #{rem(2px)});

$pip-size: spacing(tight);
$pip-spacing: calc(#{$pip-size} / 2);

.Badge {
  --p-component-badge-pip-color: var(--p-icon);
  display: inline-flex;
  align-items: center;
  padding: $vertical-padding $horizontal-padding;
  background-color: var(--p-surface-neutral);
  border-radius: spacing(loose);
  font-size: font-size(caption);
  line-height: line-height(caption, large-screen);
  color: var(--p-text);
  font-weight: 400;

  @media print {
    border: solid rem(0.1px) var(--p-border);
  }
}

.sizeSmall {
  font-size: font-size(caption, large-screen);
}

.statusSuccess {
  --p-component-badge-pip-color: var(--p-icon-success);
  background-color: var(--p-surface-success);
  color: var(--p-text);
}

.statusInfo {
  --p-component-badge-pip-color: var(--p-icon-highlight);
  background-color: var(--p-surface-highlight);
  color: var(--p-text);
}

.statusAttention {
  --p-component-badge-pip-color: var(--p-text-warning);
  background-color: var(--p-surface-warning);
  color: var(--p-text);
}

.statusWarning {
  --p-component-badge-pip-color: var(--p-icon-warning);
  background-color: var(--p-surface-warning);
  color: var(--p-text);
}

.statusCritical {
  --p-component-badge-pip-color: var(--p-icon-critical);
  background-color: var(--p-surface-critical);
  color: var(--p-text);
}

.statusNew {
  background-color: var(--p-surface-neutral);
  color: var(--p-text);
  font-weight: 500;
  border: none;
}

.Pip {
  color: var(--p-component-badge-pip-color);
  height: $pip-size;
  width: $pip-size;
  margin-right: $pip-spacing;
  margin-left: calc(#{$vertical-padding} - #{$pip-spacing});
  border: border-width(thick) solid currentColor;
  border-radius: 50%;
  flex-shrink: 0;
}

.progressIncomplete .Pip {
  background: transparent;
}

.progressPartiallyComplete .Pip {
  background: linear-gradient(
    to top,
    currentColor,
    currentColor 50%,
    transparent 50%,
    transparent
  );

  // Background colors may be stripped when printing, but box-shadow is not.
  // We don't want to use box-shadow as the screen style as it gives a very
  // slight halo effect
  @media print {
    background: none;
    // 100px is an arbitrarily large number so that you can't see the curvature
    // of the box shadow. y-offset is 2px larger than the spread to make it look
    // like it is half-way down the pip (which is 4px tall)
    box-shadow: 0 -102px 0 -100px currentColor inset;
  }
}

.progressComplete .Pip {
  background: currentColor;

  // Background colors may be stripped when printing, but box-shadow is not.
  // We don't want to use box-shadow as the screen style as it gives a very
  // slight halo effect
  @media print {
    background: none;
    // 100px is an arbitrarily large number so that you can't see the curvature
    // of the box shadow.
    box-shadow: 0 0 0 100px currentColor inset;
  }
}

.withinFilter {
  border-radius: var(--p-border-radius-base);
}
