.Badge {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: 400;
  color: quilt-color(ink);
  border-radius: quilt-border-radius();
  background-color: quilt-color(sky, shade: dark);
  padding: quilt-spacing(extra-tight) quilt-spacing(tight);
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
}

.statusSubdued {
  background-color: quilt-color(sky);
}

.statusSuccess {
  background-color: quilt-color(green, value: light);
}

.statusInfo {
  background-color: quilt-color(blue, value: lighter);
}

.statusAttention {
  background-color: quilt-color(yellow, value: light);
}

.statusWarning {
  background-color: quilt-color(orange, value: light);
}

.statusCritical {
  background-color: quilt-color(red, value: light);
}
