.border {
  /* === Migrate === */
  border: var(--p-border-base);
  border: var(--p-border-base);
  border: var(--p-border-dark);
  border: var(--p-border-transparent);
  border: var(--p-border-divider);
  /* === Ignore === */
  /* === Comment === */
}
