{
  "env": {
    "commonjs": {
      "presets": [
        ["shopify/web", {"modules": "commonjs"}],
        "./config/babel/css-modules-transforms-preset"
      ]
    },
    "es": {
      "presets": [
        ["shopify/web", {"modules": false}],
        "./config/babel/css-modules-transforms-preset"
      ]
    }
  }
}
