{
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/react",
    "plugin:@shopify/jest",
    "plugin:@shopify/node",
    "plugin:@shopify/polaris",
    "plugin:@shopify/prettier"
  ],
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "func-style": "off",
    "no-process-env": "off",
    "no-warning-comments": "off",
    "no-negated-condition": "off",
    "no-console": "error",
    "consistent-return": "off",
    "match-default-export-name": "off",
    "jsx-use-translation-function": "off",
    "lines-around-comment": [
      "error",
      {
        "beforeBlockComment": false,
        "allowBlockStart": false
      }
    ],
    "babel/no-unused-expressions": "off",
    "import/named": "off",
    "import/no-default-export": ["error"],
    "react/button-has-type": "off",
    "react/no-array-index-key": "off",
    "react/no-unsafe": ["error", {"checkAliases": true}],
    "@shopify/jsx-no-complex-expressions": "off",
    "@shopify/jsx-prefer-fragment-wrappers": "off",
    "@shopify/no-ancestor-directory-import": "error",
    "@shopify/react-prefer-private-members": "off",
    "@typescript-eslint/array-type": ["error", {"defaultOption": "array"}],
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ],
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/role-supports-aria-props": "off",
    "jsx-a11y/mouse-events-have-key-events": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "off"
  },
  "overrides": [
    {
      "files": ["src/**/*.{ts,tsx}"],
      "extends": ["plugin:@shopify/typescript-type-checking"],
      "parserOptions": {
        "project": "./tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/prefer-readonly": "off",
        "@typescript-eslint/no-unnecessary-condition": "off",
        "@typescript-eslint/unbound-method": "off"
      }
    },
    {
      "files": ["**/*.test.{ts,tsx}"],
      "rules": {
        "jest/no-truthy-falsy": "off",
        "@shopify/no-ancestor-directory-import": "off"
      }
    },
    {
      "files": ["examples/**/*.js"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "react/prop-types": "off",
        "@shopify/jsx-no-hardcoded-content": "off"
      }
    },
    {
      "files": ["playground/Playground.tsx"],
      "rules": {
        "react/prefer-stateless-function": "off",
        "@shopify/jsx-no-hardcoded-content": "off",
        "@shopify/react-initialize-state": "off"
      }
    }
  ]
}
