node_modules
.loom
/polaris-react/build
/polaris-react/build-internal
/polaris.shopify.com/.next
/stylelint-polaris/data


# These folders should pass linting, remove these lines and fix the errors
/polaris.shopify.com
