*.log
node_modules
/build
/build-intermediate
/build-esnext
/docs
/esnext
/types
/index.*
/styles.css
/styles.scss
/styles
/sandbox
.DS_Store
*.scss.d.ts
/playground/.cache
/playground/assets/*
/src/styles/polaris-tokens
/shrink-ray-build/.cache
/shrink-ray-build/build
/tophat/.cache
/tophat/assets
