.StatusBadge {
  font-size: var(--p-font-size-75);
  letter-spacing: 0;
  font-weight: var(--p-font-weight-medium);
  padding: var(--p-space-05) var(--p-space-2);
  color: var(--p-color-text-subdued);
  border-radius: var(--p-border-radius-2);
}

.toneSuccess {
  background-color: var(--p-color-bg-success);
  color: var(--p-color-text-success);
}

.toneInfo {
  background-color: var(--p-color-bg-info);
  color: var(--p-color-text-info);
}

.toneAttention {
  background-color: var(--p-color-bg-caution);
  color: var(--p-color-text-caution);
}

.toneWarning {
  background-color: var(--p-color-bg-warning);
  color: var(--p-color-text-warning-experimental);
}

.toneCritical {
  background-color: var(--p-color-bg-critical);
  color: var(--p-color-text-critical);
}

.toneNew {
  background-color: var(--p-color-bg-transparent-subdued-experimental);
}
