.StatusBadge {
  font-size: var(--font-size-100);
  letter-spacing: 0;
  font-weight: var(--font-weight-400);
  border-radius: var(--border-radius-round);
  padding: 0.05rem 0.25rem;
  color: var(--text);

  &[data-value='Alpha'] {
    background: var(--surface-attention);
  }

  &[data-value='Warning'],
  &[data-value='Deprecated'],
  &[data-value='Legacy'] {
    background: var(--surface-warning);
  }

  &[data-value='Beta'],
  &[data-value='Information'],
  &[data-value='New'] {
    background: var(--surface-information);
  }
}
