@import '../../styles/common';

.Grid {
  display: grid;
  gap: var(--p-space-4);
  grid-template-columns: repeat(var(--pc-grid-columns-small), minmax(0, 1fr));

  @media #{$p-breakpoints-sm-up} {
    grid-template-columns: repeat(
      var(--pc-grid-columns-medium),
      minmax(0, 1fr)
    );
  }

  @media #{$p-breakpoints-md-up} {
    grid-template-columns: repeat(var(--pc-grid-columns-large), minmax(0, 1fr));
  }
}

.Column {
  min-width: 0;
}

@for $i from 1 through 2 {
  .grid-#{$i}-column {
    grid-column-end: span #{$i};
  }
}

@for $i from 1 through 4 {
  @media #{$p-breakpoints-sm-up} {
    .grid-#{$i}-column-md {
      grid-column-end: span #{$i};
    }
  }
}

@for $i from 1 through 12 {
  @media #{$p-breakpoints-md-up} {
    .grid-#{$i}-column-lg {
      grid-column-end: span #{$i};
    }
  }
}
