@import '../../styles/common';

.DescriptionList {
  margin: 0;
  padding: 0;
  word-break: break-word;

  @media #{$p-breakpoints-sm-up} {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    display: flex;
    flex-wrap: wrap;
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    align-items: flex-start;
  }
}

.Term {
  font-weight: var(--p-font-weight-semibold);
  padding: var(--p-space-4) 0 var(--p-space-2);

  .spacingTight & {
    padding: var(--p-space-2) 0 var(--p-space-1);
  }

  @media #{$p-breakpoints-sm-up} {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    flex: 0 1 25%;
    padding: var(--p-space-4) var(--p-space-4) var(--p-space-4) 0;

    .spacingTight & {
      padding: var(--p-space-2) var(--p-space-2) var(--p-space-2) 0;
    }

    // stylelint-disable-next-line selector-max-class, selector-max-combinators
    .Description + & + .Description {
      border-top: var(--p-border-divider);
    }
  }
}

.Description {
  margin-left: 0;
  padding: 0 0 var(--p-space-4);

  .spacingTight & {
    padding: 0 0 var(--p-space-2);
  }

  + .Term {
    border-top: var(--p-border-divider);
  }

  @media #{$p-breakpoints-sm-up} {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    flex: 1 1 51%;
    padding: var(--p-space-4) 0;

    .spacingTight & {
      padding: var(--p-space-2) 0;
    }

    // stylelint-disable-next-line selector-max-class, selector-max-combinators
    + .Term + .Description {
      border-top: var(--p-border-divider);
    }
  }
}
