@import '../../styles/common';

.Columns {
  --pc-columns-xs: 6;
  --pc-columns-sm: var(--pc-columns-xs);
  --pc-columns-md: var(--pc-columns-sm);
  --pc-columns-lg: var(--pc-columns-md);
  --pc-columns-xl: var(--pc-columns-lg);
  --pc-columns-space-xs: var(--p-space-4);
  --pc-columns-space-sm: var(--pc-columns-space-xs);
  --pc-columns-space-md: var(--pc-columns-space-sm);
  --pc-columns-space-lg: var(--pc-columns-space-md);
  --pc-columns-space-xl: var(--pc-columns-space-lg);
  display: grid;
  gap: var(--pc-columns-space-xs);
  grid-template-columns: var(--pc-columns-xs);

  @media #{$p-breakpoints-sm-up} {
    gap: var(--pc-columns-space-sm);
    grid-template-columns: var(--pc-columns-sm);
  }

  @media #{$p-breakpoints-md-up} {
    gap: var(--pc-columns-space-md);
    grid-template-columns: var(--pc-columns-md);
  }

  @media #{$p-breakpoints-lg-up} {
    gap: var(--pc-columns-space-lg);
    grid-template-columns: var(--pc-columns-lg);
  }

  @media #{$p-breakpoints-xl-up} {
    gap: var(--pc-columns-space-xl);
    grid-template-columns: var(--pc-columns-xl);
  }
}
