@import '../../styles/fonts.scss';

.ComponentsPage {
  h1 {
    @include heading-1;
    margin-bottom: 2.5rem;
  }

  h2 {
    @include heading-2;
  }
}

.Filters {
  position: relative;
  margin-bottom: 1rem;

  .TextField {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  a {
    margin: 0 0 3px 0;
  }
}

.Category {
  margin-bottom: 3.5rem;
}

.CategoryName {
  margin-bottom: 1rem;
  @include heading-2;
}
