.font {
  font-size: var(--p-font-size-600);
  font-size: var(--p-font-size-600);
  font-size: var(--p-font-size-600);
  font-size: var(--p-text-heading-xl-font-size);
  font-size: var(--p-text-heading-xl-font-size);
  letter-spacing: var(--p-font-letter-spacing-dense);
  letter-spacing: var(--p-font-letter-spacing-dense);
  letter-spacing: var(--p-text-heading-xl-font-letter-spacing);
  letter-spacing: var(--p-text-heading-xl-font-letter-spacing);
  line-height: var(--p-font-line-height-800);
  line-height: var(--p-font-line-height-800);
  line-height: var(--p-text-heading-xl-font-line-height);
  line-height: var(--p-text-heading-xl-font-line-height);
  font-family: var(--p-text-heading-xl-font-family);
  font-family: var(--p-text-heading-xl-font-family);
  font-weight: var(--p-text-heading-xl-font-weight);
  font-weight: var(--p-text-heading-xl-font-weight);
}
