.font {
  font-size: var(--p-font-size-600);
  font-size: var(--p-font-size-600);
  font-size: var(--p-font-size-600);
  font-size: var(--p-font-size-600);
  letter-spacing: var(--p-font-letter-spacing-dense);
  letter-spacing: var(--p-font-letter-spacing-dense);
  line-height: var(--p-font-line-height-800);
  line-height: var(--p-font-line-height-800);
}
