@import '../../styles/common';

$min-height: control-height();
$vertical-padding: ($min-height - line-height(body) - rem(2px)) / 2;
$slim-min-height: rem(30px);
$slim-vertical-padding: ($slim-min-height - line-height(body) - rem(2px)) / 2;
$large-min-height: rem(44px);
$large-vertical-padding: ($large-min-height - line-height(body) - rem(2px)) / 2;
$spinner-size: rem(20px);
// darken(color(sky, dark), 4%)
$pressed-border-color: rgb(184, 195, 205);
// darken(color(sky), 2%)
$pressed-hover-background: rgb(217, 222, 228);
// darken(color(sky), 4%)
$pressed-active-background: rgb(211, 217, 223);
// darken(color('indigo'), 10%)
$primary-pressed-lightest: rgb(63, 78, 174);
// darken(color('indigo'), 12%)
$primary-pressed-light: rgb(60, 75, 167);
// darken(color('indigo', 'dark'), 15%)
$primary-pressed-dark: rgb(16, 23, 60);
// darken(color('indigo', 'dark'), 20%)
$primary-pressed-darkest: rgb(11, 15, 39);
// darken(color('red'), 10%)
$destructive-pressed-lightest: rgb(176, 43, 19);
// darken(color('red'), 12%)
$destructive-pressed-light: rgb(167, 41, 18);
// darken(color('red', 'dark'), 15%)
$destructive-pressed-dark: rgb(117, 4, 10);
// darken(color('red', 'dark'), 20%)
$destructive-pressed-darkest: rgb(93, 3, 8);
$partial-button-filled-pressed-box-shadow: inset 0 0 0 0 transparent,
  inset 0 1px 1px 0 rgba(22, 29, 37, 0.05), inset 0 0 3px 0;

@mixin pressed-box-shadow($color: transparent) {
  box-shadow: 0 0 0 1px $color,
    inset 0 1px 1px 0 rgba(color('ink', 'lighter'), 0.1),
    inset 0 1px 4px 0 rgba(color('ink', 'lighter'), 0.1);
}

@mixin button-filled-pressed(
  $color-lightest,
  $color-light,
  $color-dark,
  $color-darkest
) {
  background: linear-gradient(to bottom, $color-lightest, $color-lightest);
  border-color: $color-dark;
  box-shadow: $partial-button-filled-pressed-box-shadow $color-dark;

  &:focus,
  &:hover {
    transition-duration: duration(fast);
    background: linear-gradient(to bottom, $color-light, $color-light);
    border-color: $color-dark;
    box-shadow: $partial-button-filled-pressed-box-shadow $color-dark;
  }

  &:active {
    background: linear-gradient(to bottom, $color-lightest, $color-lightest);
    border-color: $color-dark;
    box-shadow: $partial-button-filled-pressed-box-shadow $color-darkest;
  }
}

$stacking-order: (
  segment: 10,
  focused: 20,
);

.Button {
  @include button-base;

  &.disabled {
    @include base-button-disabled;
  }

  &.connectedDisclosure {
    z-index: z-index(segment, $stacking-order);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::after {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:focus {
      z-index: z-index(focused, $stacking-order);
    }
  }
}

// stylelint-disable selector-max-combinators, selector-max-compound-selectors, selector-max-specificity
[data-buttongroup-segmented='true'] {
  .Button,
  .Button::after {
    border-radius: 0;
  }
  > :first-child .Button,
  > :first-child .Button::after {
    border-top-left-radius: var(--p-border-radius-base, border-radius());
    border-bottom-left-radius: var(--p-border-radius-base, border-radius());
  }
  > :last-child .Button,
  > :last-child .Button::after {
    border-top-right-radius: var(--p-border-radius-base, border-radius());
    border-bottom-right-radius: var(--p-border-radius-base, border-radius());
  }
}

[data-buttongroup-connected-top] {
  > :first-child .Button,
  > :first-child .Button::after {
    border-top-left-radius: 0;
  }

  > :last-child .Button,
  > :last-child .Button::after {
    border-top-right-radius: 0;
  }
}

[data-buttongroup-full-width] {
  .Button {
    @include button-full-width;
  }
}
// stylelint-enable selector-max-combinators, selector-max-compound-selectors, selector-max-specificity
.Content {
  @include text-style-button;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  min-height: 1px;
}

.textAlignLeft {
  justify-content: flex-start;
  text-align: left;
}

.textAlignCenter {
  justify-content: center;
  text-align: center;
}

.textAlignRight {
  justify-content: flex-end;
  text-align: right;
}

.Icon {
  transition: color duration() easing();

  &:first-child {
    // This compensates for the typical icon used in buttons being
    // inset within its bounding box.
    margin-left: -(spacing(extra-tight));
  }

  &:last-child {
    // This compensates for the disclosure icon, which is substantially
    // inset within the viewbox (and makes it look like there is too much
    // spacing on the right of the button)
    margin-right: -(spacing(tight));
    margin-left: spacing(extra-tight);
  }

  + *:not(.Icon) {
    margin-left: spacing(extra-tight);
  }
}

.Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -($spinner-size / 2);
  margin-left: -($spinner-size / 2);
}

.primary {
  --p-button-color: var(--p-action-primary);
  --p-button-text: var(--p-text-on-primary);
  --p-button-color-hover: var(--p-action-primary-hovered);
  --p-button-color-active: var(--p-action-primary-pressed);
  --p-button-color-depressed: var(--p-action-primary-depressed);
  @include button-filled(color('indigo'), color('indigo', 'dark'));
  @include recolor-icon(color('white'));

  &.newDesignLanguage {
    @include recolor-icon(var(--p-icon-on-primary));
  }

  &.disabled {
    @include button-filled-disabled(color('indigo'));
  }

  &.pressed {
    @include button-filled-pressed(
      $primary-pressed-lightest,
      $primary-pressed-light,
      $primary-pressed-dark,
      $primary-pressed-darkest
    );
  }
}

.destructive {
  --p-button-color: var(--p-action-critical);
  --p-button-text: var(--p-text-on-critical);
  --p-button-color-hover: var(--p-action-critical-hovered);
  --p-button-color-active: var(--p-action-critical-pressed);
  --p-button-color-depressed: var(--p-action-critical-depressed);
  @include button-filled(color('red'), color('red', 'dark'));
  @include recolor-icon(color('white'));

  &.disabled {
    @include button-filled-disabled(color('red'));
  }

  &.pressed {
    @include button-filled-pressed(
      $destructive-pressed-lightest,
      $destructive-pressed-light,
      $destructive-pressed-dark,
      $destructive-pressed-darkest
    );
  }

  &.newDesignLanguage {
    @include recolor-icon(var(--p-icon-on-critical));
  }
}

.outline {
  @include button-outline(color('ink', 'lighter'));

  &.disabled {
    @include button-outline-disabled(color('ink', 'lighter'));
  }
}

.destructive.outline {
  @include button-outline(color('red'));

  // stylelint-disable-next-line selector-max-class
  &.pressed {
    @include button-outline(
      color('red', 'dark'),
      rgba(color('red', 'dark'), 0.03)
    );
    @include recolor-icon(color('red', 'darker'));
  }
}

.disabled {
  cursor: default;
  pointer-events: none;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.loading,
.newDesignLanguage.loading {
  position: relative;
  transition: border-color duration() easing();

  // stylelint-disable-next-line selector-max-class
  &,
  &:hover,
  &.disabled {
    color: transparent;
  }
}

.pressed {
  background: color(sky);
  border-color: $pressed-border-color;
  @include pressed-box-shadow;

  &:hover {
    transition-duration: duration(fast);
    background: $pressed-hover-background;
    border-color: $pressed-border-color;
    @include pressed-box-shadow;
  }

  &:focus {
    border-color: color('indigo');
    @include pressed-box-shadow(color('indigo'));
  }

  &:active {
    background: $pressed-active-background;
    border-color: $pressed-border-color;
    @include pressed-box-shadow;
  }

  @media (-ms-high-contrast: active) {
    color: ms-high-contrast-color('button-text');
    background: ms-high-contrast-color('button-text-background');
  }
}

// The way the designs work, we need to do lots of reaching down to
// target the content in pseudo-selectors, so we need higher specificity
// in this case.
// stylelint-disable selector-max-specificity

.plain {
  @include recolor-icon(color('blue'));
  margin: (-1 * $vertical-padding) rem(-8px);
  padding-left: spacing(tight);
  padding-right: spacing(tight);
  background: transparent;
  border: 0;
  box-shadow: none;
  color: color('blue');

  &.pressed,
  &:hover,
  &:focus,
  &:active {
    @include recolor-icon(color('blue', 'dark'));
    background: transparent;
    border: 0;
    box-shadow: none;
    color: color('blue', 'dark');
    text-decoration: underline;
  }

  &.pressed,
  &:focus {
    @include high-contrast-button-outline(none);
  }

  &:focus > .Content {
    @include high-contrast-button-outline;
  }

  // stylelint-disable-next-line selector-max-class
  &.pressed > .Content {
    @include plain-button-backdrop(rgba(color('ink', 'lighter'), 0.1));
  }

  // stylelint-disable-next-line selector-max-class
  &.pressed:hover:not(.iconOnly) > .Content,
  &.pressed:active:not(.iconOnly) > .Content,
  &:focus:not(.iconOnly) > .Content {
    @include plain-button-backdrop;
  }

  &.fullWidth {
    margin-left: 0;
    margin-right: 0;
  }

  &.destructive {
    @include recolor-icon(color('red', 'dark'));
    color: var(--p-action-critical, color('red', 'dark'));
    &:focus,
    &:active {
      color: var(--p-action-critical-pressed, color('red', 'darker'));
    }
  }

  &.disabled {
    background: none;
  }

  &.sizeSlim {
    margin-top: (-1 * $slim-vertical-padding);
    margin-bottom: (-1 * $slim-vertical-padding);
  }

  &.sizeLarge {
    margin: (-1 * $large-vertical-padding) (-1 * spacing(loose));
  }
  &.iconOnly {
    @include recolor-icon(color('ink', 'lighter'));
    margin: -0.5 * ($min-height - icon-size());

    &:focus,
    &:active {
      @include recolor-icon(color('ink', 'lighter'));
      background: plain-button-background();
    }

    &:hover,
    &:active {
      @include recolor-icon(color('ink'));
    }

    // stylelint-disable-next-line selector-max-class
    > .Content::after {
      display: none;
    }

    // stylelint-disable-next-line selector-max-class
    &.disabled {
      @include recolor-icon(color('sky', 'dark'));
    }
  }

  .Icon {
    margin-left: 0;
    margin-right: 0;
  }

  // stylelint-disable selector-max-class
  &.newDesignLanguage {
    // redeclaring these styles here for specificity
    @include recolor-icon(var(--p-interactive));
    background: transparent;
    border: 0;
    box-shadow: none;
    color: var(--p-interactive);

    &::after {
      content: none;
    }

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      border: 0;
      box-shadow: none;
    }

    > .Content {
      font-weight: 400;
      @include focus-ring;
    }

    &:hover {
      @include recolor-icon(var(--p-interactive-hovered));
      color: var(--p-interactive-hovered);
      text-decoration: underline;
    }

    &:focus {
      @include recolor-icon(var(--p-interactive));
      color: var(--p-interactive);
      @include no-focus-ring;
      text-decoration: underline;
    }

    &:active {
      @include recolor-icon(var(--p-interactive-pressed));
      color: var(--p-interactive-pressed);
    }

    &:focus:not(:active) {
      > .Content {
        @include focus-ring($style: 'focused');
      }
    }

    &.pressed {
      background: none;
      @include recolor-icon(var(--p-interactive-pressed));
      color: var(--p-interactive-pressed);
    }

    &:focus:not(.iconOnly) > .Content {
      background: none;
    }

    &:active:not(.iconOnly) > .Content {
      @include plain-button-backdrop(var(--p-action-secondary));
    }

    &.pressed:not(.iconOnly) > .Content {
      @include plain-button-backdrop(var(--p-action-secondary));
    }

    &.destructive {
      @include recolor-icon(var(--p-interactive-critical));
      color: var(--p-interactive-critical);

      &:hover {
        color: var(--p-interactive-critical-hovered);
      }

      &:active {
        color: var(--p-interactive-critical-pressed);
      }

      &.pressed {
        color: var(--p-interactive-critical-pressed);
        background: transparent;
      }

      &.disabled {
        color: var(--p-interactive-critical-disabled);
      }
    }

    &.disabled {
      color: var(--p-text-disabled);
      background: none;
    }

    &.iconOnly {
      @include recolor-icon(var(--p-icon));

      &:hover {
        @include recolor-icon(var(--p-icon-hovered));
      }

      &:focus {
        @include recolor-icon(var(--p-icon));
      }

      &:active {
        @include recolor-icon(var(--p-icon-pressed));
      }

      &.disabled {
        @include recolor-icon(var(--p-icon-disabled));
      }
    }

    &.destructive.iconOnly {
      @include recolor-icon(var(--p-action-critical));

      &:hover {
        @include recolor-icon(var(--p-action-critical-hovered));
      }

      &:focus {
        @include recolor-icon(var(--p-action-critical));
      }

      &:active {
        @include recolor-icon(var(--p-action-critical-pressed));
      }

      &.disabled {
        @include recolor-icon(var(--p-action-critical-disabled));
      }
    }
  }
  // stylelint-enable selector-max-class
}

// stylelint-enable selector-max-specificity

.sizeSlim {
  min-height: $slim-min-height;
  padding: $slim-vertical-padding spacing(base-tight);

  &.newDesignLanguage {
    // Local override for slim button height.
    $slim-min-height: rem(28px);
    min-height: $slim-min-height;
  }
}

.sizeLarge {
  min-height: $large-min-height;
  min-width: $large-min-height;
  padding: $large-vertical-padding rem(24px);

  .Content {
    @include text-style-button-large;
  }
}

.fullWidth {
  @include button-full-width;
}

.iconOnly {
  padding-left: spacing(tight);
  padding-right: spacing(tight);

  &.sizeLarge {
    padding-left: spacing(base-tight);
    padding-right: spacing(base-tight);
  }

  .Icon:first-child {
    margin-left: 0;
  }

  .Icon:last-child {
    margin-right: rem(-4px);
  }
  // stylelint-disable selector-max-class, selector-max-combinators, selector-max-specificity
  .Icon + .Icon:last-child {
    margin-left: 0;
  }
  // stylelint-enable selector-max-class, selector-max-combinators, selector-max-specificity

  .Icon:only-child {
    margin-right: 0;
  }
}

// stylelint-disable selector-max-specificity
.monochrome {
  &.outline,
  &.plain {
    @include recolor-icon(currentColor);
    color: currentColor;

    &:hover,
    &:focus,
    &:active {
      @include recolor-icon(currentColor);
      color: currentColor;
    }

    // stylelint-disable selector-max-class
    &.disabled {
      color: currentColor;
      @include recolor-icon(currentColor);
      opacity: 0.4;
    }

    &.iconOnly {
      @include recolor-icon(currentColor);

      &:focus,
      &:active {
        @include recolor-icon(currentColor);
      }

      &.disabled {
        @include recolor-icon(currentColor);
      }
    }
    // stylelint-enable selector-max-class
  }

  &.plain {
    // stylelint-disable-next-line selector-max-class
    &.newDesignLanguage {
      color: currentColor;
    }

    // stylelint-disable selector-max-class, max-nesting-depth
    .Text {
      text-decoration: underline;
    }
    // stylelint-enable selector-max-class, max-nesting-depth
  }

  &.outline {
    position: relative;
    border-color: currentColor;

    &::before {
      content: '';
      transition: opacity duration() easing();
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      opacity: 0;
      z-index: 0;
    }

    // stylelint-disable-next-line selector-max-class
    &.pressed {
      background: transparent;
      box-shadow: none;

      // stylelint-disable selector-max-class
      &::before {
        opacity: 0.05;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: currentColor;
      &::before {
        opacity: 0.07;
      }
    }

    &:focus {
      box-shadow: 0 0 0 1px currentColor;
    }

    &.newDesignLanguage {
      @include focus-ring($border-width: border-width('base'));
      box-shadow: 0 0 0 border-width('base') currentColor;

      &:focus {
        @include focus-ring($style: 'focused');
      }

      &:active::after {
        box-shadow: none;
      }

      &:hover,
      &:active {
        // stylelint-disable-next-line max-nesting-depth
        &::before {
          opacity: 0.05;
        }
      }

      &.pressed {
        color: currentColor;

        // stylelint-disable-next-line max-nesting-depth
        &::before {
          opacity: 0.2;
        }
      }
    }
    // stylelint-enable selector-max-class
  }
}
// stylelint-enable selector-max-specificity

.DisclosureIcon {
  transition-property: transform;
  transition-duration: duration(slow);
  transition-timing-function: easing(out);
}

.DisclosureIconFacingUp {
  transform: rotate(-180deg);
}

.ConnectedDisclosureWrapper {
  display: flex;
  align-items: center;
}

.ConnectedDisclosure {
  z-index: z-index(segment, $stacking-order);
  margin-left: -(border-width());
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  // Because the outline border color has a 40% opacity, the left border appears darker than the rest of the borders because they are layered over one another. Reducing the opacity to zero for the connected disclosure when not focused gives us the expected border color.
  &.outline:not(:focus) {
    border-left-color: rgba(color('ink', 'lighter'), 0);
  }

  &:focus,
  &:active {
    z-index: z-index(focused, $stacking-order);
  }

  &.newDesignLanguage {
    margin-left: rem(1px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &::after {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
