.Button {
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  cursor: pointer;
  padding: quilt-spacing(tight) quilt-spacing();
  border-radius: quilt-border-radius();
  margin: 0;
  user-select: none;
  background: quilt-color(white);
  border: 1px solid #d3dbe2;
  color: quilt-color(action);

  &:hover,
  &:focus {
    background-color: #f5f6f7;
    outline: none;
  }
}

.primary {
  background-color: quilt-color(action);
  border-color: quilt-color(action);
  color: quilt-color(white);

  &:hover,
  &:focus {
    background-color: #0069a6;
    border-color: #0069a6;
  }
}

.destructive {
  background-color: #ff5d5d;
  border-color: #ff5d5d;
  color: quilt-color(white);

  &:hover,
  &:focus {
    background-color: #d83e3e;
    border-color: #d83e3e;
  }
}

.disabled {
  cursor: default;
  pointer-events: none;
  background-color: #fafbfc;
  color: #c3cfd8;
}

.slim {
  font-size: 0.875rem;
  padding: 0.4rem 0.625rem;
}

.fullWidth {
  display: block;
  width: 100%;
}

.link {
  border: none;
  margin: calc(-1 * quilt-spacing(tight)) calc(-1 * quilt-spacing());
  background: transparent;
  font-size: inherit;

  &:hover,
  &:focus {
    background: transparent;
    border: none;
    outline: none;
  }
}
