@import '../../styles/common';

.Heading {
  font-size: var(--p-font-size-7);
  font-weight: var(--p-font-weight-semibold);
  line-height: var(--p-line-height-4);

  @include when-typography-not-condensed {
    font-size: 18px;
    line-height: var(--p-line-height-3);
  }
  margin: 0;

  @media print {
    font-size: var(--p-font-size-3);
    line-height: var(--p-line-height-1);
  }
}
