.ComponentThumbnail {
  filter: brightness(97%);
  border-radius: var(--border-radius-600);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
}

.Image {
  width: 100%;
  height: auto;
}
