@import 'foundation/spacing';
@import 'foundation/easing';
@import 'foundation/duration';

.FadeContainer {
  position: relative;
}

.FadeBetween {
  width: 100%;
  opacity: 1;
  will-change: opacity;
  transition: opacity duration() easing();

  &.enteringStart {
    opacity: 0;
  }

  &.entering {
    opacity: 1;
  }

  &.leavingStart {
    position: absolute;
    transform: translateY(-100%);
  }

  &.leaving {
    opacity: 0;
    position: absolute;
    transform: translateY(-100%);
  }

  &.hidden {
    display: none;
  }
}

