@import '../../../../styles/common';

$fileupload-padding: var(--p-space-4);
$slim-min-height: 30px;
$slim-vertical-padding: ($slim-min-height - line-height(body) - 2px) / 2;

.FileUpload {
  padding: $fileupload-padding;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.large {
  padding: var(--p-space-8);
}

.small {
  padding: var(--p-space-3);
}

.FileUpload img {
  vertical-align: bottom;
}

.Action {
  @include focus-ring;
  display: inline-flex;
  flex: 0 0 auto;
  border: none;
  border-radius: var(--p-border-radius-base);
  padding: rem(4px) rem(6px);
  margin: 0;
  text-decoration: none;
  background: var(--p-surface-selected-pressed);
  color: var(--p-interactive);
  font-size: rem(12px);
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  appearance: none;

  &:hover {
    color: var(--p-interactive-hovered);
  }

  &.disabled {
    @include base-button-disabled;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.ActionTitle {
  color: var(--p-interactive);
  text-decoration: none;

  &:not(.ActionTitle-disabled) {
    cursor: pointer;

    &:hover,
    &:active {
      color: var(--p-interactive-pressed);
      text-decoration: underline;
    }
  }
}

.ActionTitle-focused {
  text-decoration: underline;
}

.ActionTitle-disabled {
  color: var(--p-interactive-disabled);
}
