@import '../../../../styles/common';

$fileupload-padding: rem(15px);
$slim-min-height: rem(30px);
$slim-vertical-padding: ($slim-min-height - line-height(body) - rem(2px)) / 2;

.FileUpload {
  padding: $fileupload-padding;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.large {
  padding: rem(32px);
}

.small {
  padding: 1.25rem;
}

.FileUpload img {
  vertical-align: bottom;
}

.Button {
  @include button-base;
  @include focus-ring;

  &.disabled {
    @include base-button-disabled;
    cursor: not-allowed;
    box-shadow: none;
  }

  &.focused {
    outline: 0;
    box-shadow: none;

    @include focus-ring($style: 'focused');
    @include high-contrast-button-outline;
  }

  .sizeSlim {
    min-height: $slim-min-height;
    padding: $slim-vertical-padding spacing(base-tight);
  }
}

.ActionTitle {
  color: var(--p-interactive);
  text-decoration: none;

  &:not(.ActionTitle-disabled) {
    cursor: pointer;

    // stylelint-disable-next-line selector-max-specificity
    &:hover,
    &:active {
      color: var(--p-interactive-pressed);
      text-decoration: underline;
    }
  }
}

.ActionTitle-focused {
  text-decoration: underline;
}

.ActionTitle-disabled {
  color: var(--p-interactive-disabled);
}
