@import '../../../../styles/common';

$item-min-height: 40px;

.ListItem {
  padding: 0;
  margin: 0;
}

.Loading {
  padding: var(--p-space-2) var(--p-space-4);
  display: grid;
  place-items: center;
}
