@import 'foundation/spacing';

$Item-min-size: 14 * spacing();

.Form {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1 * spacing();
  margin-top: -1 * spacing();
}

.condensed .Item {
  flex-basis: (0.5 * $Item-min-size);
  min-width: (0.5 * $Item-min-size);
}

.Item {
  flex: 1 1 $Item-min-size;
  margin-left: spacing();
  margin-top: spacing();
  min-width: $Item-min-size;
  max-width: 100%;
}
