@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$breakpointNav: $breakpointTablet;

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1.5rem;
  height: var(--header-height);
  user-select: none;
  z-index: 10;
}

.NavAndContent {
  display: flex;
  overflow-wrap: anywhere;
}

.PageContent {
  display: flex;
  flex-direction: column;
  flex: 1;

  > * {
    width: 100%;
  }
}

.Nav {
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: 18rem;
  max-width: 18rem;
  background: var(--surface-subdued);
  padding: 2rem;
  border-right: var(--border);
  user-select: none;
  @include custom-scrollbars;
  overscroll-behavior: contain;
  overflow: auto;

  @media screen and (max-width: $breakpointNav) {
    padding-top: 4.75rem;
  }

  .newSection {
    margin-top: 1.5rem;
  }

  .NavItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .NavItemToggle {
      width: 20px;
      height: 20px;
      background: url(/images/nav-item-toggle.svg) no-repeat center center;
      opacity: 0.25;
      transition: all 0.125s ease;

      &:hover {
        opacity: 1;
      }

      &[aria-expanded='true'] {
        transform: rotate(90deg);
        opacity: 1;
      }
    }
  }

  > ul > li {
    // First level links
    > span a {
      font-weight: var(--font-weight-400);
      font-size: var(--font-size-600);
      color: var(--text-strong);
      padding: 0.15rem 0;
    }

    > ul {
      position: relative;
      padding-left: 1rem;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0.5rem;
        bottom: 1.4rem;
        background: var(--text-subdued);
        width: 1px;
      }

      > li {
        &:first-child {
          padding-top: 0.1rem;
        }
        &:last-child {
          padding-bottom: 1rem;
        }
        // Second level links
        > span a {
          font-size: var(--font-size-300);
          color: var(--text);
          padding: 0.25rem 0;
          line-height: 1.3;
        }

        > ul > li {
          &:last-child {
            padding-bottom: 1rem;
          }
          // Third level links
          > span a {
            font-size: var(--font-size-200);
            color: var(--text);
            padding: 0.1rem 0 0.1rem 0.75rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: $breakpointNav) {
    display: none;

    &.isVisible {
      display: block;
      position: fixed;
      top: 0;
      z-index: 11;
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.33);
      height: 100vh;
      border-radius: 0;
    }
  }
}

.NavToggle {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 1rem;
  background-color: transparent;

  svg {
    transform: scale(0.8);

    @include dark-mode {
      filter: invert(1);
    }
  }

  @media screen and (min-width: $breakpointNav) {
    display: none;
  }

  @media screen and (max-width: $breakpointMobile) {
    margin-right: auto;
  }
}

.CloseButton {
  display: none;

  @media screen and (max-width: $breakpointNav) {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: var(--border-radius-round);

    svg {
      transform: scale(0.5);
    }
  }

  @include dark-mode {
    filter: invert(1);
  }
}

.Logo {
  display: flex;
  align-items: center;
  color: inherit;
  gap: 0.5rem;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-200);
  color: var(--text);
  margin-right: auto;
  margin-bottom: 4.66rem;

  img {
    filter: invert(1);
    opacity: 0.9;
    @include dark-mode {
      filter: none;
      opacity: 1;
    }
  }

  p {
    margin: 0;
  }

  span {
    transform: translate3d(0, -1px, 0);
  }

  @media screen and (max-width: $breakpointMobile) {
    display: none;
  }
}

.SkipToContentLink {
  top: 2px;
  right: 2px;
  left: 2px;
  height: calc(var(--header-height) - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-500);
  background-color: var(--surface);
  color: var(--text-strong);
  font-weight: var(--font-weight-500);
  z-index: 1;
  position: absolute;
  transform: translateY(-115%);

  &:focus {
    transform: translateY(0%);
  }
}

.DarkModeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: var(--border-radius-round);
}

.LightModeIcon {
  animation: slide-up 0.3s;
}

.DarkModeIcon {
  animation: slide-down 0.3s;
}
