@import '../../styles/common';

$height: 28px;
$icon-size: 16px;

.Tag {
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  min-height: $height;
  padding: 0 var(--p-space-2);
  background-color: var(--p-surface-neutral);
  border-radius: var(--p-border-radius-1);
  color: var(--p-text);

  &.disabled {
    @include recolor-icon(var(--p-icon-disabled));
    transition: none;
    background: var(--p-surface-neutral-disabled);
    color: var(--p-text-disabled);
  }

  &.clickable {
    @include unstyled-button;
    cursor: pointer;
    padding: 0 var(--p-space-2);
    background-color: var(--p-surface-neutral);
    outline: var(--p-border-width-1) solid transparent;

    &:hover {
      background: var(--p-surface-neutral-hovered);
    }

    @include focus-ring;
    // stylelint-disable selector-max-specificity

    &:focus:not(:active) {
      @include focus-ring($style: 'focused');
    }

    &:active {
      background: var(--p-surface-neutral-pressed);
    }

    &:disabled {
      background: var(--p-surface-neutral-disabled);
      cursor: default;
      pointer-events: none;
      color: var(--p-text-disabled);
    }
  }

  &.removable {
    padding-right: 0;
  }

  &.linkable {
    padding: 0;
  }
}

.TagText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.Button {
  @include recolor-icon(var(--p-icon));
  @include unstyled-button;
  display: block;
  flex-shrink: 0;
  height: $height;
  width: $height;
  margin-left: var(--p-space-1);
  border-radius: 0 var(--p-border-radius-base) var(--p-border-radius-base) 0;

  &:hover {
    background: var(--p-surface-neutral-hovered);
    outline: var(--p-border-width-1) solid transparent;
  }

  @include focus-ring;

  &:focus:not(:active) {
    @include focus-ring($style: 'focused');
  }

  &:active {
    background: var(--p-surface-neutral-pressed);
  }

  &:disabled {
    @include recolor-icon(var(--p-icon-disabled));
    cursor: default;
    pointer-events: none;
  }

  &.segmented {
    margin-left: calc(-1 * var(--p-space-1));

    &::after {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.Link {
  display: inline-grid;
  color: var(--p-text);
  outline: none;
  border-radius: var(--p-border-radius-base);
  text-decoration: none;
  padding: var(--p-space-1) var(--p-space-2);

  .LinkText {
    @include truncate;
  }

  @include focus-ring;

  &:focus:not(:active) {
    @include focus-ring($style: 'focused');
    text-decoration: underline;
  }

  &:hover {
    background: var(--p-surface-neutral-hovered);
    text-decoration: underline;
  }

  &.segmented {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::after {
      margin-right: var(--p-space-1);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
