@import '../../../../styles/common';

.TextOption {
  margin: spacing(extra-tight) spacing(tight) 0;
  flex: 1;
  border-radius: var(--p-border-radius-base);
  padding: spacing(tight) spacing(tight);
  cursor: pointer;
  display: flex;
  @include focus-ring;

  &.allowMultiple {
    margin: spacing(extra-tight) spacing(tight) 0;
    padding: spacing(extra-tight) spacing(tight);
  }

  &.isAction {
    padding: 0;
    margin-top: 0;
  }

  &:hover {
    background-color: var(--p-surface-hovered);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: var(--p-surface-pressed);
  }

  &.disabled {
    background-color: var(--p-surface-disabled);
    color: var(--p-text-disabled);
    cursor: default;
  }

  &.selected {
    background-color: var(--p-surface-selected);
  }

  &.selected::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1 * spacing(extra-tight);
    height: 100%;
    width: var(--p-border-radius-base);
    background-color: var(--p-interactive);
    border-top-right-radius: var(--p-border-radius-base);
    border-bottom-right-radius: var(--p-border-radius-base);
    transform: translateX(-100%);
  }
}

[data-focused] .TextOption {
  outline: none;
  background-color: var(--p-surface-selected);
}

[data-focused]:not(:focus) .TextOption {
  @include focus-ring($style: 'focused');
}

.Content {
  flex: 1 1 auto;
  display: flex;
}
