@import '../../styles/common';

$dropzone-padding: rem(15px);
$dropzone-border-style: dashed;
$dropzone-min-height-large: rem(100px);
$dropzone-min-height-medium: rem(100px);
$dropzone-min-height-small: rem(50px);

$dropzone-stacking-order: (
  outline: 29,
  overlay: 30,
);

@mixin reset-after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transform: scale(1);
  border: border-width() $dropzone-border-style transparent;
}

@mixin set-border-radius {
  border-radius: calc(
    var(--p-border-radius-base) + #{border-width()} + #{rem(1px)}
  );
}

.DropZone {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--p-surface);
  border-radius: var(--p-border-radius-base);

  &::after {
    content: '';
    position: absolute;
    z-index: z-index(outline, $dropzone-stacking-order);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: border-width() $dropzone-border-style transparent;
    border-radius: var(--p-border-radius-base);
    pointer-events: none;
  }

  &:not(.focused) {
    // stylelint-disable-next-line selector-max-specificity
    &::after {
      @include reset-after;
    }
  }

  &:hover {
    @include high-contrast-outline;
  }
}

.hasOutline {
  padding: border-width();

  &::after {
    border-color: var(--p-border);
  }

  &:not(.isDisabled) {
    &:hover {
      cursor: pointer;
      background-color: var(--p-surface-selected-hovered);

      // stylelint-disable-next-line selector-max-specificity
      &::after {
        border-color: var(--p-interactive-hovered);
      }
    }
  }

  // stylelint-disable-next-line selector-max-specificity
  &:not(.focused) {
    // stylelint-disable-next-line selector-max-specificity
    &::after {
      @include reset-after;
      @include set-border-radius;
      border-color: var(--p-border);
    }
  }
}

.isDragging {
  &:not(.isDisabled) {
    background-color: var(--p-surface-hovered);
  }
}

.isDisabled {
  cursor: not-allowed;

  &::after {
    border-color: var(--p-border-disabled);
  }
}

.sizeLarge {
  min-height: $dropzone-min-height-large;
}

.sizeMedium {
  min-height: $dropzone-min-height-medium;
  align-items: center;
}

.sizeSmall {
  padding: 0;
  align-items: center;
  min-height: $dropzone-min-height-small;
}

.measuring {
  visibility: hidden;
  min-height: 0;
}

.Container {
  @include focus-ring($border-width: border-width());
  flex: 1;
}

.Overlay {
  @include set-border-radius;
  position: absolute;
  z-index: z-index(overlay, $dropzone-stacking-order);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $dropzone-padding;
  border: border-width() $dropzone-border-style var(--p-interactive);
  text-align: center;
  color: var(--p-interactive);
  background-color: var(--p-surface-selected);
  pointer-events: none;

  .hasError & {
    border-color: var(--p-border-critical);
    color: var(--p-text-critical);
    background-color: var(--p-surface-critical-subdued);
  }

  .sizeSmall & {
    padding: 0;
  }
}

.focused {
  &:not(.isDisabled) {
    // stylelint-disable-next-line selector-max-specificity, selector-max-class
    .Container {
      @include focus-ring($style: 'focused');
    }
  }
}
