.basic {
  color: var(--p-color-text);
  color: var(--p-color-text-interactive);
  background: var(--p-color-bg);
  background: var(--p-color-bg-interactive);
  background-color: var(--p-color-bg);
  border: var(--p-border-width-1) solid var(--p-color-border);
  border: var(--p-border-width-1) solid var(--p-color-border-interactive);
  border-color: var(--p-color-border);
  outline: var(--p-border-width-1) solid var(--p-color-border);
  outline: var(--p-border-width-1) solid var(--p-color-border-interactive);
  outline-color: var(--p-color-border);
  fill: var(--p-color-icon);
  fill: var(--p-color-icon-interactive);
  box-shadow: inset 0 0 var(--p-border-width-1) var(--p-color-border);
}
