@import 'foundation/utilities';

$TagContainer-spacing: rem(4px);

.TagContainer {
  margin-left: -1 * $TagContainer-spacing;
  margin-top: -1 * $TagContainer-spacing;

  > * {
    margin-left: $TagContainer-spacing;
    margin-top: $TagContainer-spacing;
  }
}
