@use 'global-styles/legacy-polaris-v8';

@mixin basic($color: var(--p-text)) {
  color: $color;
}

@function basic($color: var(--p-text)) {
  @return $color;
}

.basic {
  @include basic(var(--p-text));
  color: basic(var(--p-text));

  @include legacy-polaris-v8.basic(var(--p-text));
  color: legacy-polaris-v8.basic(var(--p-text));
}

@mixin with-fallback-var($color: var(--p-text, var(--p-text))) {
  color: $color;
}

.with-fallback-var {
  @include with-fallback-var(var(--p-text, var(--p-text)));

  @include legacy-polaris-v8.with-fallback-var(var(--p-text, var(--p-text)));
}

@mixin with-fallback-value($color: var(--p-text, #000)) {
  color: $color;
}

.with-fallback-value {
  @include with-fallback-value(var(--p-text, #000));

  @include legacy-polaris-v8.with-fallback-value(var(--p-text, #000));
}
