.basic {
  color: var(--p-color-text);
  color: #000;
}

.with-fallback-var {
  color: var(--p-color-text, var(--p-color-text));
  color: var(--p-color-text, #000);
  color: #000;
}

.with-fallback-value {
  color: var(--p-color-text, #000);
  color: #000;
}
