.shadow {
  box-shadow: var(--p-shadow-inset-lg);
  box-shadow: var(--p-shadow-inset-md);
  box-shadow: var(--p-shadow-inset-sm);
  box-shadow: var(--p-shadow-none);
  box-shadow: var(--p-shadow-xs);
  box-shadow: var(--p-shadow-sm);
  box-shadow: var(--p-shadow-md);
  box-shadow: var(--p-shadow-lg);
  box-shadow: var(--p-shadow-xl);
  box-shadow: var(--p-shadow-2xl);
  box-shadow: var(--p-shadow-bevel-experimental);
  box-shadow: var(--p-shadow-card-sm-experimental);
  box-shadow: var(--p-shadow-card-md-experimental);
  box-shadow: var(--p-shadow-card-lg-experimental);
  box-shadow: var(--p-shadow-button-experimental);
  box-shadow: var(--p-shadow-button-hover-experimental);
  box-shadow: var(--p-shadow-button-disabled-experimental);
  box-shadow: var(--p-shadow-button-primary-strong-experimental);
  box-shadow: var(--p-shadow-button-primary-strong-inset-experimental);
  box-shadow: var(--p-shadow-button-primary-strong-hover-experimental);
  box-shadow: var(--p-shadow-border-inset-experimental);
}
