.shadow {
  box-shadow: var(--p-shadow-inset-200);
  box-shadow: var(--p-shadow-inset-200);
  box-shadow: var(--p-shadow-inset-100);
  box-shadow: var(--p-shadow-0);
  box-shadow: var(--p-shadow-100);
  box-shadow: var(--p-shadow-200);
  box-shadow: var(--p-shadow-300);
  box-shadow: var(--p-shadow-400);
  box-shadow: var(--p-shadow-500);
  box-shadow: var(--p-shadow-600);
  box-shadow: var(--p-shadow-bevel-100);
  box-shadow: var(--p-shadow-100);
  box-shadow: var(--p-shadow-200);
  box-shadow: var(--p-shadow-300);
  box-shadow: var(--p-shadow-button);
  box-shadow: var(--p-shadow-button-hover);
  box-shadow: inset 0 0 0 1px rgba(227, 227, 227, 1);
  box-shadow: var(--p-shadow-button-primary);
  box-shadow: var(--p-shadow-button-primary-inset);
  box-shadow: var(--p-shadow-button-primary-hover);
  box-shadow: var(--p-shadow-border-inset);
}
