@import '../src/styles/common';

.ContextControl {
  display: flex;
  align-items: center;
  padding: 0 var(--p-space-3);
  height: $top-bar-height;
}

.ShopName {
  margin-left: var(--p-space-2);
  font-weight: var(--p-font-weight-semibold);
  font-size: var(--p-font-size-100);
  color: var(--p-color-text);

  #{$se23} & {
    color: var(--p-color-text-inverse);
  }
}

#{$se23} {
  [class*='Navigation'] {
    /* stylelint-disable-next-line selector-max-combinators -- se23 */
    .ShopName {
      color: var(--p-color-text-inverse);
    }
  }
}
