@import '../src/styles/common';

$nav-collapsed: 769px;

.ContextControl {
  display: flex;
  align-items: center;
  padding: 0 var(--p-space-3);
  height: $top-bar-height;
}

.ShopName {
  margin-left: var(--p-space-2);
  font-weight: var(--p-font-weight-semibold);
  font-size: var(--p-font-size-100);
  color: var(--p-text);

  @media only screen and (min-width: $nav-collapsed) {
    color: var(--p-text);
  }
}
