.ContextControl {
  display: flex;
  align-items: center;
  padding: 0 var(--p-space-300);
  height: var(--pg-top-bar-height);
}

.ShopName {
  margin-left: var(--p-space-200);
  font-weight: var(--p-font-weight-semibold);
  font-size: var(--p-font-size-350);
  color: var(--p-color-text-inverse);
}

[class*='Navigation'] {
  .ShopName {
    color: var(--p-color-text-inverse);
  }
}
