.ContextControl {
  display: flex;
  align-items: center;
  padding: 0 var(--p-space-300);
  /* stylelint-disable-next-line -- polaris custom global property */
  height: var(--pg-top-bar-height);
}

.ShopName {
  margin-left: var(--p-space-200);
  font-weight: var(--p-font-weight-semibold);
  font-size: var(--p-font-size-350);
  color: var(--p-color-text-inverse);
}

[class*='Navigation'] {
  .ShopName {
    color: var(--p-color-text-inverse);
  }
}

/* Playground */

.LeftContent {
  /* stylelint-disable-next-line polaris/motion/declaration-property-unit-disallowed-list -- shush */
  animation: slideLeft 150ms;
}

.RightContent {
  /* stylelint-disable-next-line polaris/motion/declaration-property-unit-disallowed-list -- shush frig */
  animation: slideRight 150ms;
}

/* stylelint-disable-next-line polaris/motion/at-rule-disallowed-list -- shutup */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(60%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* stylelint-disable-next-line polaris/motion/at-rule-disallowed-list -- shutup */
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-60%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
