@import '../../styles/common';

.Link {
  appearance: none;
  display: inline;
  text-align: inherit;
  padding: 0;
  background: none;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  color: var(--p-color-text-link);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--p-color-text-link-hover);
    text-decoration: underline;
  }

  &:focus,
  &:focus-visible {
    outline: var(--p-color-border-focus) auto var(--p-border-width-050);
    outline-offset: var(--p-space-050);
    border-radius: var(--p-border-radius-150);
  }

  &:active {
    position: relative;
    color: var(--p-color-text-link-active);
  }

  @media print {
    text-decoration-color: var(--p-color-border-tertiary);
  }
}

.monochrome {
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

.removeUnderline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
