@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.Heading {
  align-items: center;
}

.TabGroup {
  isolation: isolate;
  margin-left: -1rem;
  margin-right: -1rem;
}

.InfoLine {
  color: var(--text-subdued);
  .InfoLineLink {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: var(--text-link);
    }
  }
}
.Panel {
  position: relative;
  padding: 1rem;
  background-color: var(--p-surface-subdued);
  // Tuck it up underneath the tabs so it makes the tab buttons appear connected
  // to the panel by hiding a part of the border
  margin-top: -1px;
  border: var(--p-border-divider);
  border-radius: var(--border-radius-400);

  .TabGroup[data-selected='0'] & {
    // The first tab butts up against the edge of the panel, so remove the
    // border radius there when that tab is selected
    border-top-left-radius: 0;
  }

  .VariantDescription {
    font-size: var(--font-size-400);
  }
}

.UsefulHeading {
  font-size: var(--font-size-700);
}

.UsageTable {
  td:first-child {
    width: 0;
    white-space: nowrap;
  }
}

.ExamplesList {
  --surface-pressed: rgba(250, 250, 250, 1);
  --border-subdued: rgba(201, 204, 207, 1);
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  button {
    z-index: 5;
    padding: 0.5rem 1rem;
    text-align: left;
    display: flex;
    align-items: flex-start;
    background: transparent;
    border: 1px solid transparent;
    border-bottom: 0;
    border-radius: var(--border-radius-400);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-500);
    line-height: 1.33;
    color: var(--p-text-disabled);

    &[aria-selected='true'] {
      color: var(--text-strong);
      background-color: var(--surface-pressed);
      border: var(--p-border-divider);
      border-bottom: 0;
    }
    &:hover {
      background-color: rgba(241, 241, 241, 1);
    }

    &:focus,
    &:focus-visible {
      box-shadow: none;
      border: var(--p-border-divider);
      border-bottom: 0;
    }
  }
}

.MerchantGoal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  .ImageWrapper {
    display: block;
    border: 1px solid var(--p-border-subdued);
    position: relative;
    flex: auto;
    overflow: hidden;
    aspect-ratio: 361.9/180.9;
    width: 100%;
    border-radius: 0.25rem;
    background: var(--p-surface-depressed);
    > img {
      width: 100%;
      object-fit: fill;
    }
  }
  ol {
    margin: 0px;
    list-style: none;
    counter-reset: item;
    padding-left: 32px;
    position: relative;
    li {
      counter-increment: item;
    }
    li:before {
      width: 24px;
      height: 24px;
      position: absolute;
      left: -2px;
      content: counter(item);
      font-weight: 700;
      color: rgba(153, 35, 247, 1);
      vertical-align: bottom;
      text-align: center;
      display: block;
      border-radius: 100%;
    }
  }
  @media screen and (max-width: $breakpointTablet) {
    flex-direction: column;
    .ImageWrapper {
      min-width: 100%;
    }
  }
}
.UsageGuidelinesGrid {
  display: grid;
  column-gap: var(--p-space-4);
  row-gap: var(--p-space-8);

  --txt-column-width: 35%;
  /*
   * Rules of the grid:
   * The second (img) column should never be bigger than 30rem.
   * The first (text) column should never shrink below 35% of the container.
   * The first (text) column should grow to fill the remaining space (1fr).
   * The second (img) column should never shrink below */
  grid-template-columns:
    minmax(
      // Give this column a minimum width (thin container)
      var(--txt-column-width),
      // Grow to fill the remaining space when possible (wide container)
      1fr
    )
    minmax(
      min(
        // Minimum size of 20rem to keep it legible
        20rem,
        // Except when the container is too thin: let it shrinnk so the text
        // column can still take up its desired minimum width
        calc(100% - var(--txt-column-width))
      ),
      // Maximum width (wide container) - avoids gigantic images
      30rem
    );

  .UsageGuidelinesRow {
    display: contents;
  }

  .ImageWrapper {
    aspect-ratio: 485/315;
    position: relative;
    background: var(--p-surface-depressed);
    display: block;
    overflow: hidden;
    > img {
      object-fit: cover;
    }
  }
}

.UsefulToKnow {
  .ImageWrapper {
    border-radius: var(--border-radius-400);
    border: 1px solid #c9cccf;
  }
}

.Accordion {
  padding: 1rem 2rem;
  border: 1px solid black;
}

.Checkbox {
  appearance: auto;
}
