@use 'global-styles/legacy-polaris-v8';
@use 'global-styles/common';

.CloseButton {
  @include legacy-polaris-v8.unstyled-button;

  height: legacy-polaris-v8.control-height();
  height: legacy-polaris-v8.top-bar-height();

  @media screen and (min-width: common.$breakpoint-tablet-min) {
    height: 1px;
  }
}
