@import '../../../../styles/common';

.Details {
  max-width: 160px;
  margin-right: 0;
  // stylelint-disable-next-line polaris/space/declaration-property-unit-disallowed-list -- set padding
  padding: 0 var(--p-space-2) 0 10px;

  > p {
    font-size: var(--p-font-size-75);
    line-height: var(--p-font-line-height-1);
  }

  @media #{$p-breakpoints-md-down} {
    display: none;
  }
}

.Message > p {
  color: var(--p-color-text-inverse-subdued);
  font-size: var(--p-font-size-70-experimental);
  line-height: var(--p-font-line-height-075-experimental);
}
