.Details {
  max-width: 160px;
  margin-right: 0;
  padding-right: var(--p-space-200);

  > p {
    font-size: var(--p-font-size-300);
    line-height: var(--p-font-line-height-400);
  }

  @media (--p-breakpoints-md-down) {
    display: none;
  }
}

.Message > p {
  color: var(--p-color-text-inverse-secondary);
  font-size: var(--p-font-size-275);
  line-height: var(--p-font-line-height-300);
}
