@import '../../../../styles/common';

.Cell {
  @include responsive-props('grid-cell', 'row', 'grid-row');
  @include responsive-props('grid-cell', 'column', 'grid-column');
  // Remap custom properties as mobile first fallbacks for grid-row and grid-column
  min-width: 0;
}

@for $i from 1 through 6 {
  .Cell-#{$i}-column-xs {
    grid-column-end: span #{$i};
  }
}

@media #{$p-breakpoints-sm-up} {
  @for $i from 1 through 6 {
    .Cell-#{$i}-column-sm {
      grid-column-end: span #{$i};
    }
  }
}

@media #{$p-breakpoints-md-up} {
  @for $i from 1 through 6 {
    .Cell-#{$i}-column-md {
      grid-column-end: span #{$i};
    }
  }
}

@media #{$p-breakpoints-lg-up} {
  @for $i from 1 through 12 {
    .Cell-#{$i}-column-lg {
      grid-column-end: span #{$i};
    }
  }
}

@media #{$p-breakpoints-xl-up} {
  @for $i from 1 through 12 {
    .Cell-#{$i}-column-xl {
      grid-column-end: span #{$i};
    }
  }
}
