.font {
  font-size: var(--p-font-size-275);
  // Migrated in step4
  font-size: var(--p-font-size-300);
  font-size: var(--p-font-size-325);
  font-size: var(--p-font-size-350);
  // Migrated in step4
  font-size: var(--p-font-size-400);
  font-size: var(--p-font-size-500);
  font-size: var(--p-font-size-600);
  font-size: var(--p-font-size-750);
  font-size: var(--p-font-size-900);
  font-size: var(--p-font-size-1000);
  line-height: var(--p-font-line-height-300);
  line-height: var(--p-font-line-height-400);
  line-height: var(--p-font-line-height-500);
  line-height: var(--p-font-line-height-600);
  line-height: var(--p-font-line-height-700);
  line-height: var(--p-font-line-height-800);
  line-height: var(--p-font-line-height-1000);
  line-height: var(--p-font-line-height-1200);
}
