@import '../../styles/common';

$item-min-height: rem(16px);
$item-min-width: rem(50px);
$item-vertical-padding: $item-min-height / 2;
$underline-height: border-width(thicker);
$focus-state-box-shadow-color: rgba(0, 0, 0, 0.8);

.Tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Wrapper {
  border-bottom: border();

  &.newDesignLanguage {
    padding: 0 spacing(tight);
  }
}

.fitted {
  flex-wrap: nowrap;

  .TabContainer {
    flex: 1 1 100%;
  }

  .Tab {
    padding: 0;
  }

  .Title {
    width: 100%;
    padding: spacing(tight) spacing();
  }
}

.fillSpace {
  .TabContainer {
    flex: 1 1 auto;
  }
}

.TabContainer {
  display: flex;
  margin: 0;
  padding: 0;
}

.Tab {
  @include unstyled-link;
  @include unstyled-button;
  @include text-style-body;
  @include text-emphasis-subdued;
  color: var(--p-text, color('ink', 'lighter'));
  position: relative;
  justify-content: center;
  width: 100%;
  min-width: 100%; // IE11 fix for overflowing flex items from parent container
  margin-top: 1px;
  margin-bottom: -1px;
  padding: 0 spacing();
  outline: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;

    .Title {
      @include text-emphasis-normal;
      background-color: var(--p-surface-hovered, transparent);
      border-bottom: var(--p-override-none, $underline-height) solid
        color('sky');
    }
  }

  &:active {
    .Title {
      background-color: var(--p-surface-pressed, transparent);
    }
  }

  &:focus {
    box-shadow: var(
      --p-override-none,
      inset 0 0 2px 0 $focus-state-box-shadow-color,
      0 0 2px 0 $focus-state-box-shadow-color
    );

    .Title {
      @include text-emphasis-normal;
      border-bottom: var(--p-override-none, $underline-height) solid
        color('indigo', 'light');
    }

    &:not(:active) {
      // stylelint-disable-next-line  selector-max-specificity
      .Title {
        @include focus-ring($style: 'focused');
      }
    }
  }

  &.Tab-selected {
    // stylelint-disable-next-line selector-max-class
    .Title {
      border-bottom: var(--p-override-none, $underline-height) solid
        color('indigo');

      @media (-ms-high-contrast: active) {
        outline: 1px solid;
      }
    }
  }
}

.Tab-selected {
  @include text-emphasis-normal;
}

.Title {
  @include focus-ring;
  border-radius: var(--p-border-radius-base, 0);
  display: block;
  padding: spacing() 0 (spacing() - border-width(thicker)) 0;
  border-bottom: var(--p-override-none, $underline-height) solid transparent;
  min-width: $item-min-width;
}

.Panel {
  display: block;

  &:focus {
    outline: none;
  }
}

.Panel-hidden {
  display: none;
}

.List {
  list-style: none;
  margin: 0;
  padding: spacing(tight) 0;

  &.newDesignLanguage {
    padding: spacing(tight);
  }
}

.Item {
  @include unstyled-link;
  @include unstyled-button;
  display: block;
  width: 100%;
  min-height: $item-min-height;
  padding: $item-vertical-padding spacing();
  text-align: left;
  cursor: pointer;

  &::-moz-focus-inner {
    border: none;
  }
}

.Item:not(.newDesignLanguage) {
  &:active {
    background-image: linear-gradient(
      rgba(179, 188, 245, 0.1),
      rgba(179, 188, 245, 0.1)
    );
    // stylelint-disable-next-line selector-max-specificity
    &:hover {
      background-image: linear-gradient(
          rgba(179, 188, 245, 0.1),
          rgba(179, 188, 245, 0.1)
        ),
        linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));

      // stylelint-disable-next-line selector-max-specificity
      &:focus {
        box-shadow: inset 0.2rem 0 0 color('indigo');
        background-image: linear-gradient(
            rgba(179, 188, 245, 0.1),
            rgba(179, 188, 245, 0.1)
          ),
          linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3)),
          linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));
      }
    }
  }

  &:hover {
    background-image: linear-gradient(
      rgba(223, 227, 232, 0.3),
      rgba(223, 227, 232, 0.3)
    );

    // stylelint-disable-next-line selector-max-specificity
    &:focus {
      box-shadow: inset 0.2rem 0 0 color('indigo');
      background-image: linear-gradient(
          rgba(223, 227, 232, 0.3),
          rgba(223, 227, 232, 0.3)
        ),
        linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));
    }
  }

  &:focus {
    box-shadow: inset 0.2rem 0 0 color('indigo');
    background-image: linear-gradient(
      rgba(223, 227, 232, 0.3),
      rgba(223, 227, 232, 0.3)
    );
  }
}

.Item.newDesignLanguage {
  border-radius: var(--p-border-radius-base);
  &:hover {
    background-color: var(--p-surface-hovered);
  }
  &:active {
    background-color: var(--p-surface-pressed);
  }

  @include focus-ring;

  // stylelint-disable-next-line selector-max-specificity
  &:focus:not(:active) {
    @include focus-ring($style: 'focused');
  }
}

.DisclosureTab {
  display: none;
}

.DisclosureTab-visible {
  display: flex;
}

.DisclosureActivator {
  @include recolor-icon(var(--p-icon-subdued, color('ink', 'lighter')));
  position: relative;
  display: block;
  justify-content: center;
  height: 100%;
  margin: 1px 1px -1px 0;
  padding: 0 spacing();

  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;

  &:hover {
    .Title {
      @include recolor-icon(var(--p-icon, color('ink', 'lighter')));
      background-color: var(--p-surface-hovered, transparent);
      border-bottom: var(--p-override-none, $underline-height) solid
        color('sky');
    }
  }

  &:focus {
    box-shadow: var(
      --p-override-none,
      inset 0 0 2px 0 $focus-state-box-shadow-color,
      0 0 2px 0 $focus-state-box-shadow-color
    );

    .Title {
      border-bottom: var(--p-override-none, $underline-height) solid
        color('indigo', 'light');
    }
  }

  &:active {
    .Title {
      background-color: var(--p-surface-pressed, transparent);
    }
  }
}

.TabMeasurer {
  display: flex;
  visibility: hidden;
  height: 0;
}

// stylelint-disable selector-max-class, selector-max-combinators, selector-max-specificity
.newDesignLanguage {
  .Title {
    padding: spacing(tight) spacing();

    &::before {
      content: '';
      position: absolute;
      bottom: -1 * spacing(tight);
      left: 0;
      right: 0;
      height: $underline-height;
      border-top-left-radius: var(--p-border-radius-base);
      border-top-right-radius: var(--p-border-radius-base);
    }
  }

  .Tab {
    padding: spacing(tight) spacing(extra-tight);
  }

  .DisclosureActivator {
    margin: 1px 0 -1px;
    padding: spacing(tight) spacing(tight) spacing(tight) 0;
  }

  .Tab-selected {
    .Title {
      background-color: var(--p-surface-primary-selected);
      color: var(--p-action-primary);

      &::before {
        background: var(--p-action-primary);
      }

      @media (-ms-high-contrast: active) {
        // stylelint-disable-next-line max-nesting-depth
        &::before {
          display: none;
        }
      }
    }
  }
}
// stylelint-enable selector-max-class, selector-max-combinators, selector-max-specificity
