@import '../../../../styles/common';

$expanded-height: rem(32px);
$expanded-width: rem(32px);
$condensed-height: rem(44px);
$condensed-width: rem(50px);

.TableCellContentContainer {
  display: flex;
  align-items: center;
}

.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded {
  width: $expanded-width;
  height: $expanded-height;
  padding-left: spacing();
}

.condensed {
  --spacing-extra-loose: var(--p-space-3) + var(--p-space-1);
  min-width: $condensed-width;
  min-height: $condensed-height;
  margin-right: calc(-1 * var(--spacing-extra-loose));
}
