$someElement: (
  someKey: 1000;,
);

.scenario-1 {
  z-index: z-index(content) + 1;
  background-color: var(--p-background);
}

.scenario-2 {
  z-index: z-index(overlay) + 1;
  background-color: var(--p-background);
}

.scenario-3 {
  z-index: z-index(content);
  background-color: var(--p-background);
}

.scenario-4 {
  z-index: z-index(overlay);
  background-color: var(--p-background);
}

.scenario-5 {
  z-index: z-index(someKey, $someElement);
  background-color: var(--p-background);
}

.scenario-6 {
  z-index: calc(z-index(overlay) + z-index(content));
}

.scenario-7 {
  z-index: calc(#{z-index(dev-ui, $fixed-element-stacking-order)} + 1);
}
