.ThumbnailPreview {
  aspect-ratio: 16/9;
  border-radius: var(--border-radius-600);
  overflow: hidden;
  background: var(--p-color-bg-surface-secondary-hover);
  position: relative;
  border: 1px solid var(--p-color-border);
}
