$stacking-order: (
  content: 10,
  search: 20,
);

$search-max-width: 580px;

// TODO: Replace `$large-width` breakpoints with
// `page-content-when-not-partially-condensed`
// Once the frame is rendering our React routes
$large-width: calc(
  #{$layout-width-primary-max} + #{$layout-width-secondary-max} +
    var(--p-space-2)
);
