@use '/styles/mixins.scss' as *;

.Longform {
  h1,
  h2,
  h3,
  p,
  ul,
  pre,
  img,
  iframe {
    margin-bottom: 1.25rem;
  }

  h1 {
    @include heading-1;
  }

  h2 {
    @include heading-2;
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  h3 {
    @include heading-3;
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  h4 {
    @include heading-4;
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
    margin-bottom: 0.5rem;
  }

  ul {
    padding-left: 1rem;
    li {
      list-style-type: disc;
    }
  }

  ol {
    padding-left: 1.35rem;
    li {
      list-style-type: auto;
    }
  }

  p {
    strong,
    b {
      font-weight: 600;
    }
  }

  img,
  iframe {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: calc(var(--unit-radius) * 4);
    overflow: hidden;
  }

  table {
    font-size: var(--font-size-small);
    width: 100%;

    td,
    th {
      padding: 0.5rem 0.75rem;
      border-bottom: 1px solid var(--color-border);
      // TODO: Add white-space: pre; but it requires
      // removing longform content from tables
    }
    tbody tr {
      &:last-child {
        td,
        th {
          border-bottom: none;
        }
      }
    }
    th {
      font-weight: var(--font-weight-heavy);
    }
  }

  a {
    color: var(--color-link);
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: var(--font-weight-body-links);
  }

  a[href^='/design'] {
    background: orange;
  }

  a[href^='/content'] {
    background: pink;
  }

  a[href^='/foundations'] {
    background: mediumturquoise;
  }

  a[href^='/components'] {
    background: yellow;
  }

  a[href^='/patterns'] {
    background: aqua;
  }
}
