@use '/styles/mixins.scss' as *;

.Longform {
  h1,
  h2,
  h3,
  p,
  ul,
  pre {
    margin-bottom: 1rem;
  }

  h1 {
    @include heading-1;
  }

  h2 {
    &:not(:first-child) {
      margin-top: 2.5rem;
    }
    @include heading-2;
  }

  h3 {
    &:not(:first-child) {
      margin-top: 2rem;
      @include heading-3;
    }
  }

  h4 {
    &:not(:first-child) {
      margin-top: 1.5rem;
    }
    @include heading-4;
    margin-bottom: 0.5rem;
  }

  ul {
    padding-left: 1rem;
    li {
      list-style-type: disc;
    }
  }

  ol {
    padding-left: 1.35rem;
    li {
      list-style-type: auto;
    }
  }

  p {
    strong,
    b {
      font-weight: 600;
    }
  }

  table {
    font-size: 0.875rem;
    td,
    th {
      padding: 0.4rem 0.75rem;
      border-bottom: 1px solid var(--color-border);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
    th {
      font-weight: var(--font-weight-heavy);
    }
  }

  a {
    color: var(--color-link);
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: var(--font-weight-body-links);
  }

  a[href^='/design'] {
    background: orange;
  }

  a[href^='/content'] {
    background: pink;
  }

  a[href^='/foundations'] {
    background: mediumturquoise;
  }

  a[href^='/components'] {
    background: yellow;
  }

  a[href^='/patterns'] {
    background: aqua;
  }
}
