@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/typography';

$SectionHeader-horizontalSpacing: spacing();
$Badge-size: 2rem;

.Feed {
  > .Section + .Section {
    margin-top: spacing(loose);
  }
}

.Badge {
  height: $Badge-size;
  width: $Badge-size;
  border-radius: 50%;
  background: color(sky, darker);
  box-shadow: 0 0 0 3px color(sky);
}

.topicUpdates {
  background: color(orange, light);
}

.topicAdvice {
  background: color(red, light);
}

.topicInsights {
  background: color(purple, light);
}

.topicBlog {
  background: color(teal);
}

.topicAccount {
  background: color(orange, light);
}

.topicSales {
  background: color(teal);
}

.topicEngagement {
  background: color(purple, light);
}

.topicGrowth {
  background: color(yellow);
}

.topicSocial {
  background: color(red, light);
}

.Section {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    border-left: 3px solid rgba(color(black), 0.04);
    height: calc(100% - 6px);
    left: calc(#{$SectionHeader-horizontalSpacing + ($Badge-size / 2)} - 1px);
    top: 3px;
    z-index: 5;
  }
}

.SectionHeader,
.SectionContent {
  position: relative;
  z-index: 10;
}

.SectionHeader {
  display: flex;
  align-items: center;
  padding: 0 $SectionHeader-horizontalSpacing 0.75rem;
}

.SectionBadge {
  margin-right: spacing(tight);
}

.Marker {
  @include text-emphasis-subdued;
  position: relative;
  margin-top: spacing(loose);
  margin-left: calc(#{$SectionHeader-horizontalSpacing + ($Badge-size / 2)} + 1px);
  padding-left: ($Badge-size / 2) + spacing(tight);

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
    background: color(sky, darker);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 3px color(sky);
  }
}
