@import '../../styles/common';

$action-text-spacing: 24px;
$primary-action-button-height: 36px;
$primary-action-button-width: 100px;
$skeleton-display-text-max-width: 120px;

.Page {
  @include page-layout;
}

.fullWidth {
  max-width: none;
}

.narrowWidth {
  max-width: layout-width(primary, max);
}

.Content {
  @include page-content-layout;
}

.Header {
  @include page-header-layout;
  @include skeleton-page-header-layout;
}

.BreadcrumbAction {
  padding-top: var(--p-space-4);
  padding-bottom: var(--p-space-4);
  margin-top: calc(-1 * var(--p-space-1));
  margin-bottom: calc(-1 * var(--p-space-1));
}

.TitleAndPrimaryAction {
  display: flex;

  @include page-content-when-partially-condensed {
    display: block;
  }
}

.TitleWrapper {
  flex: 1 1 0%;
}

.Title {
  @include text-emphasis-strong;
  font-size: 24px;
  line-height: 28px;

  @include when-typography-not-condensed {
    font-size: 20px;
  }
}

.SkeletonTitle {
  @include skeleton-content;
  max-width: $skeleton-display-text-max-width;
  height: 28px;
}

.PrimaryAction {
  align-self: stretch;

  > * {
    height: $primary-action-button-height;
    min-width: $primary-action-button-width;
  }

  @include page-content-when-layout-stacked {
    margin-top: var(--p-space-4);
    margin-bottom: calc(-1 * var(--p-space-2));
  }

  @include page-content-when-not-fully-condensed {
    margin-top: $actions-vertical-spacing;
    margin-bottom: calc(-1 * var(--p-space-2));
  }

  @include page-content-when-not-partially-condensed {
    margin-top: 0;
  }

  @include page-content-when-layout-not-stacked {
    margin-top: 0;
  }
}

.Actions {
  @include skeleton-page-secondary-actions-layout;
}

.Action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: control-slim-height();
  padding-right: $action-text-spacing;
  margin-top: calc(-1 * var(--p-space-1));
  margin-bottom: calc(-1 * var(--p-space-1));
  padding-top: var(--p-space-4);

  &:first-child {
    padding-right: 0;
  }

  @include page-content-when-partially-condensed {
    &:not(:last-child) {
      display: none;
    }
  }
}
