$stacking-order: (
  content: 10,
  search: 20,
);

$search-max-width: rem(694px);

// TODO: Replace `$large-width` breakpoints with
// `page-content-when-not-partially-condensed`
// Once the frame is rendering our React routes
$large-width: layout-width(primary, max) + layout-width(secondary, max) +
  spacing(tight);
