@import './styles/variables';
$icon-size: rem(20px);
$shop-details-width: layout-width(nav) + rem(60px);

.TopBar {
  position: relative;
  display: flex;
  height: top-bar-height();
  background-color: var(--top-bar-background);
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid transparent;
  }
}

.ShopDetails {
  display: none;

  @include breakpoint-after(nav-min-window-corrected()) {
    position: relative;
    z-index: z-index(shop-details, $stacking-order);
    display: flex;
    align-items: center;
    height: 100%;
    min-width: layout-width(nav);
    max-width: $shop-details-width;
    padding: 0 spacing(tight) 0 spacing();
  }
}

.ShopDetails-HasShopSwitcher {
  @include breakpoint-after(nav-min-window-corrected()) {
    padding-left: spacing(tight);
  }
}

.Logo,
.LogoLink {
  display: block;
}

.NavigationIcon {
  @include unstyled-button;
  position: relative;
  align-self: center;
  margin-left: spacing(tight) + rem(2px);
  padding: spacing(tight);
  border-radius: border-radius();
  &.focused {
    background-color: rgba(color('white'), 0.16);
  }
  &.focused:active {
    background-color: rgba(color('black'), 0.28);
  }
  &:hover {
    background-color: rgba(color('white'), 0.08);
  } // This increases hit point size.
  &::after {
    content: '';
    position: absolute;
    top: spacing(tight) * -1;
    left: spacing(tight) * -1;
    width: calc(100% + #{spacing(loose)});
    height: calc(100% + #{spacing(loose)});
  }
  @include breakpoint-after(nav-min-window-corrected()) {
    display: none;
  }
  @include breakpoint-before(layout-width(page-with-nav), false) {
    margin-right: spacing(tight);
  }
}

.Contents {
  z-index: z-index(content, $stacking-order);
  position: relative;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.SearchWrapper {
  @include page-layout;
  width: 100%;
  margin: 0;
  max-width: none;
}

.SearchField {
  width: 100%;
  padding-left: calc((100vw - #{layout-width(nav)} - #{$page-max-width}) / 2);

  @include breakpoint-before(layout-width(page-with-nav), false) {
    padding-left: 0;
  }
}

.SecondaryMenu {
  @include breakpoint-before(layout-width(page-with-nav), false) {
    display: none;
  }
}
