@import '../../styles/common';

.Item {
  // stylelint-disable-next-line -- Polaris component custom properties
  --pc-form-layout-item-min-size: 220px;
  flex: 1 1 auto;

  &.grouped {
    // stylelint-disable-next-line -- Polaris component custom properties
    min-width: var(--pc-form-layout-item-min-size);

    @media (--p-breakpoints-xs-only) {
      min-width: 100%;
    }
  }

  &.condensed {
    // stylelint-disable-next-line -- Polaris component custom properties
    flex-basis: (0.5 * var(--pc-form-layout-item-min-size));
    // stylelint-disable-next-line -- Polaris component custom properties
    min-width: (0.5 * var(--pc-form-layout-item-min-size));
  }
}
