@use '/styles/mixins.scss' as *;

.Page {
  .Breadcrumbs {
    margin-bottom: 2rem;
    display: flex;
    gap: 0.33rem;
    font-size: 0.9rem;

    a {
      &:not(:last-child):after {
        content: '->';
        margin-left: 0.4rem;
      }
    }
  }

  h1 {
    color: var(--color-text-strong);
    font-size: 2.75rem;
    margin-bottom: 3.33rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.05rem;
  }
}

.PageLayout {
  display: flex;
  gap: 4rem;

  main {
    flex: 1;
  }

  aside {
    position: sticky;
    top: 2rem;
    align-self: flex-start;
    padding-left: 2rem;
    min-width: 16rem;
    max-width: 16rem;
    border-left: 1px solid var(--color-border);
  }
}

.ExampleDescription {
  margin-top: 1rem;
}

.ExampleContainer {
  position: relative;
  margin-bottom: 3rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ExampleIframe {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  color: var(--color-text);
  height: 500px;
  // transition: background-color 0.1s 0.1s linear;

  &.isDark {
    background: black;
  }

  iframe {
    animation: fade-in 0.3s 0.15s ease-out both;
    flex: 1;
  }

  .Code {
    padding-top: 3rem;
    flex: 1;
  }
}

.ExampleTabs {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: auto;
  width: max-content;
  background: #ededed;
  color: black;
  z-index: 1;
  border-radius: 8px;
  font-size: 0.8rem;

  button {
    padding: 0.25rem 0.65rem;

    &:first-child {
      padding-left: 0.85rem;
    }

    &:last-child {
      padding-right: 0.85rem;
    }
  }
}
