.Page {
  .Breadcrumbs {
    margin-bottom: 2rem;
    display: flex;
    gap: 0.75rem;
  }

  h1 {
    color: var(--color-text-strong);
    font-size: 2.75rem;
    margin-bottom: 4rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -0.05rem;
  }
}

.PageLayout {
  display: flex;
  gap: 4rem;

  main {
    flex: 1;
  }

  aside {
    position: sticky;
    top: 2rem;
    align-self: flex-start;
    padding-left: 2rem;
    min-width: 16rem;
    max-width: 16rem;
    border-left: 1px solid var(--color-border);
  }
}
