@import '../../styles/common';

.Choice {
  display: inline-flex;
  justify-content: flex-start;
  padding: var(--p-space-1) 0;
  cursor: pointer;
}

.labelHidden {
  padding: 0;

  > .Label {
    @include visually-hidden;
  }

  .Control {
    margin-top: 0;
    margin-right: 0;
  }
}

.disabled {
  cursor: default;

  > .Label {
    color: var(--p-text-disabled);

    &:hover {
      cursor: default;
    }

    @media (-ms-high-contrast: active) {
      color: grayText;
    }
  }
}

.Control {
  @include when-typography-condensed {
    --p-choice-size: 20px;
  }
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
  width: var(--p-choice-size);
  height: var(--p-choice-size);
  margin-right: var(--p-space-2);

  > * {
    width: 100%;
  }
}

.Label {
  @include text-style-body;

  -webkit-tap-highlight-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.Descriptions {
  @include when-typography-condensed {
    --p-choice-size: 20px;
  }
  padding-left: calc(var(--p-space-2) + var(--p-choice-size));
}

.HelpText {
  font-size: var(--p-font-size-3);
  font-weight: var(--p-font-weight-regular);
  line-height: var(--p-line-height-2);

  text-transform: initial;
  letter-spacing: initial;

  @include text-emphasis-subdued;
  margin-bottom: var(--p-space-1);
}

.ControlMoreSpacing {
  margin-right: var(--p-space-4);

  @include when-typography-not-condensed {
    margin-right: var(--p-space-2);
  }
}

.DescriptionsMoreSpacing {
  padding-left: calc(var(--p-space-4) + var(--p-choice-size));

  @include when-typography-not-condensed {
    padding-left: calc(var(--p-space-2) + var(--p-choice-size));
  }
}
