@import '../../styles/common';

.Wrapper {
  display: block;
  padding: var(--p-space-3) 0;
  cursor: pointer;
}

.Choice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.labelHidden {
  padding: 0;

  > .Label {
    @include visually-hidden;
  }

  .Control {
    margin-top: 0;
    margin-right: 0;
  }
}

.disabled {
  cursor: default;

  color: var(--p-text-disabled);

  &:hover {
    cursor: default;
  }

  @media (-ms-high-contrast: active) {
    color: grayText;
  }
}

.Control {
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
  width: var(--p-choice-size);
  height: var(--p-choice-size);
  margin-right: var(--p-space-2);

  > * {
    width: 100%;
  }
}

.Label {
  font-size: var(--p-font-size-5);
  font-weight: var(--p-font-weight-medium);
  line-height: var(--p-line-height-3);

  @include when-typography-not-condensed {
    font-size: var(--p-font-size-3);
  }
  -webkit-tap-highlight-color: transparent;
}

.Descriptions {
  padding-left: calc(var(--p-space-2) + var(--p-choice-size));
}

.HelpText {
  @include text-style-body;
  @include text-emphasis-subdued;
}
