@import '../../styles/common';

.Choice {
  display: flex;
  justify-content: flex-start;
  padding: var(--p-space-1) 0;
  cursor: pointer;

  @media #{$p-breakpoints-sm-up} {
    display: inline-flex;
  }
}

.labelHidden {
  padding: 0;

  > .Label {
    @include visually-hidden;
  }

  .Control {
    margin-top: 0;
    margin-right: 0;
  }
}

.disabled {
  cursor: default;

  > .Label {
    color: var(--p-text-disabled);

    &:hover {
      cursor: default;
    }

    @media (-ms-high-contrast: active) {
      color: grayText;
    }
  }
}

.Control {
  // stylelint-disable-next-line -- Polaris component custom properties
  --pc-choice-size: 20px;

  @media #{$p-breakpoints-md-down} {
    // stylelint-disable-next-line -- Polaris component custom properties
    --pc-choice-size: 22px;
  }
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
  width: var(--pc-choice-size);
  height: var(--pc-choice-size);
  margin-right: var(--p-space-2);

  > * {
    width: 100%;
  }
}

.Label {
  -webkit-tap-highlight-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.Descriptions {
  // stylelint-disable-next-line -- Polaris component custom properties
  --pc-choice-size: 20px;

  @media #{$p-breakpoints-md-down} {
    // stylelint-disable-next-line -- Polaris component custom properties
    --pc-choice-size: 22px;
  }
  padding-left: calc(var(--p-space-2) + var(--pc-choice-size));
}

.HelpText {
  margin-bottom: var(--p-space-1);
}
