@import '../../styles/common';

.SortIcon {
  height: var(--p-space-5);
  width: var(--p-space-5);
}
.Icon {
  position: relative;
  pointer-events: none;
  svg {
    fill: var(--p-icon-subdued);
  }
}
.Up {
  top: -3.5px;
}
.Down {
  top: -16.5px;
}
.Active {
  svg {
    fill: var(--p-icon);
  }
}
