@import '../../styles/common';

$feature-width: 350px;

.SettingAction {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: calc(-1 * var(--p-space-4));
  margin-left: calc(-1 * var(--p-space-4));
}

.Setting,
.Action {
  flex: 0 0 auto;
  margin-top: var(--p-space-4);
  margin-left: var(--p-space-4);
  max-width: calc(100% - var(--p-space-4));
  min-width: 0;
}

.Setting {
  flex: 1 0 $feature-width;
}

.Action {
  #{$se23} & {
    @media #{$p-breakpoints-md-up} {
      margin-top: var(--p-space-6);
    }
  }
}
