// stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
$feature-width: 350px;

.SettingAction {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: flex;
  flex-wrap: wrap;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  align-items: center;
  margin-top: calc(-1 * var(--p-space-4));
  margin-left: calc(-1 * var(--p-space-4));
}

.Setting,
.Action {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  flex: 0 0 auto;
  margin-top: var(--p-space-4);
  margin-left: var(--p-space-4);
  max-width: calc(100% - var(--p-space-4));
  min-width: 0;
}

.Setting {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  flex: 1 0 $feature-width;
}
