@font-face {
  font-family: "ShopifySans";
  src: url("/fonts/ShopifySans--light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("/fonts/ShopifySans--regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("/fonts/ShopifySans--medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("/fonts/ShopifySans--bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("/fonts/ShopifySans--extrabold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "ShopifySans";
  src: url("/fonts/ShopifySans--black.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@mixin heading {
  color: var(--text-strong);
}

@mixin heading-1 {
  color: var(--text-strong);
  font-size: var(--font-size-1000);
  font-weight: var(--font-weight-800);
  letter-spacing: var(--letter-spacing-400);
  line-height: 1.25;
}

@mixin heading-2 {
  color: var(--text-strong);
  font-size: var(--font-size-700);
  font-weight: var(--font-weight-600);
  letter-spacing: var(--letter-spacing-100);
  line-height: 1.25;
}

@mixin heading-3 {
  color: var(--text-strong);
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-500);
  line-height: 1.25;
}

@mixin heading-4 {
  color: var(--text-strong);
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-600);
}
