@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --header-height: 66px;
  --narrow-content-width: 720px;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  appearance: none;
  outline: none;
}

*:focus-visible {
  box-shadow: 0 0 0 2px black;
}

body {
  font-family: inter, ShopifySans, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
}

a {
  color: #2c6ecb;
}

h1,
h2,
h3,
h4,
p {
  margin: 0.25rem 0;
}

h1 {
  font-size: 4em;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.0125em;
}

h3 {
  font-size: 1.33em;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Legacy CSS from old site (used in markdown files)
.usage-list {
  margin: 1.25rem 0;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .usage-list-part {
    flex: 1;
    background: #fafafa;
    padding: 1px 1.25rem 1px;
    border-radius: 2px;

    h4 {
      margin-bottom: 0;
    }

    p {
      margin-top: 0.5em;
    }
  }

  .usage-list-part:first-child {
    border-left: 3px solid #00a47c;
  }

  .usage-list-part:last-child {
    border-left: 3px solid #fc5749;
  }
}

.twoColumnsItem img {
  display: none;
}
