@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;450;500;550;600;700&display=swap");

:root {
  --header-height: 80px;
  --nav-width: 18rem;
  --narrow-content-width: 720px;
  --focus-outline: 0 0 0 2px black;

  --text: #353535;
  --text-strong: #111;
  --text-subdued: #666666;
  --text-link: #2c6ecb;
  --text-token: #6e006e;

  --surface: #ffffff;
  --surface-subdued: #fafafa;
  --surface-token: #fdf0fd;
  --primary: #008060;

  --font-size-100: 0.8rem;
  --font-size-200: 0.9rem;
  --font-size-300: 0.95rem;
  --font-size-400: 1rem;
  // --font-size-500: 1.1rem;
  --font-size-600: 1.15rem;
  --font-size-700: 1.35rem;
  --font-size-800: 1.8rem;
  --font-size-900: 3.25rem;
  --font-size-1000: 7rem;

  --font-weight-400: 400;
  --font-weight-500: 550;
  --font-weight-600: 650;
  --font-weight-700: 700;

  --letter-spacing-100: -0.03em;
  --letter-spacing-200: -0.02em;
  --letter-spacing-300: -0.01em;
  --letter-spacing-400: 0;

  --border-radius-100: 0;
  --border-radius-200: 2px;
  --border-radius-300: 4px;
  --border-radius-400: 6px;
  --border-radius-500: 8px;
  --border-radius-600: 10px;
  --border-radius-700: 12px;
  --border-radius-800: 14px;
  --border-radius-round: 1000px;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  appearance: none;
  outline: none;
}

*:focus-visible {
  box-shadow: var(--focus-outline);
}

html {
  font-size: 16px;
}

body {
  font-family: inter, ShopifySans, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  color: var(--text);
}

a {
  color: var(--text-link);
}

h1,
h2,
h3,
h4,
p {
  margin: 0.33rem 0;
}

h1,
h2,
h3,
h4 {
  color: var(--text-strong);
}

h1 {
  font-size: var(--font-size-900);
  font-weight: var(--font-weight-500);
  line-height: 1.15;
  letter-spacing: var(--letter-spacing-100);
}

h2 {
  font-size: var(--font-size-800);
  font-weight: var(--font-weight-400);
  line-height: 1.2;
  letter-spacing: var(--letter-spacing-300);
}

h3 {
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-600);
  line-height: 1.2;
}

h4 {
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-500);
  line-height: 1.2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Legacy CSS from old site (used in markdown files)
.usage-list {
  margin: 1.25rem 0;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .usage-list-part {
    flex: 1;
    background: #fafafa;
    padding: 1px 1.25rem;
    border-radius: var(--border-radius-300);

    h4 {
      margin-bottom: 0;
    }

    p {
      margin-top: 0.5rem;
    }

    img {
      width: auto;
      max-width: 300px;
    }
  }

  .usage-list-part:first-child {
    background-color: #f1f9f7;
    border-left: 3px solid #00a47c;
  }

  .usage-list-part:last-child {
    background-color: #fbf4f8;
    border-left: 3px solid #fc5749;
  }
}

.twoColumnsItem img {
  display: none;
}

.NextPage {
  margin-top: 2rem;
  a {
    font-size: var(--font-size-700);
  }
}
