@mixin dark-mode {
  :global(.dark-mode) & {
    @content;
  }
}

@mixin custom-scrollbars {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--text-subdued);
    border-radius: var(--border-radius-200);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--text-strong);
  }
}
