.ColorPreview {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;

  p {
    margin: 0;
    font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
      Menlo, Consolas, monospace;
    font-size: 14px;
  }
}
