@import '../../styles/common';

.InlineStack {
  @include responsive-props('inline-stack', 'gap', 'gap');
  @include responsive-props('inline-stack', 'flex-direction', 'flex-direction');
  display: flex;
  // stylelint-disable-next-line -- Necessary for layout components
  flex-wrap: var(--pc-inline-stack-wrap);
  // stylelint-disable-next-line -- Necessary for layout components
  align-items: var(--pc-inline-stack-block-align);
  // stylelint-disable-next-line -- Necessary for layout components
  justify-content: var(--pc-inline-stack-align);
}
