.values {
  box-shadow: 0 0 0 0 transparent;
  box-shadow: var(--p-text, 0 0 0 0 transparent);
  box-shadow: 0 0 0 0 transparent;
  box-shadow: inset 16px 8px hotpink, 0 0 0 0 transparent;
  padding: var(--p-space-1) 0;
}

.tokens {
  border-radius: var(--p-border-radius-1);
  border-radius: var(--p-text, var(--p-border-radius-1));
  border-radius: var(--p-border-radius-1, var(--p-text));
}
