@import '../../styles/common';

$vertical-motion-offset: -5px;

.HoverCard {
  opacity: 0;
  position: relative;
  display: flex;
  max-width: max-content;
  min-width: max-content;
  background: var(--p-color-bg-surface);
  will-change: opacity, left, top, height;
  margin: var(--p-space-100) var(--p-space-200) var(--p-space-400);
  box-shadow: var(--p-shadow-500);
  border-radius: var(--p-border-radius-300);
  transition: opacity var(--p-motion-duration-100) var(--p-motion-ease);

  @include shadow-bevel(
    $boxShadow: var(--p-shadow-md),
    $borderRadius: var(--p-border-radius-300),
    $zIndex: 2
  );

  &.snapToParent {
    margin: 0;
  }
}

.HoverCardOverlay {
  opacity: 0;
}

.HoverCardOverlay-entering {
  opacity: 1;
}

.HoverCardOverlay-open {
  opacity: 1;
  transform: none;

  transition: top var(--p-motion-duration-100) cubic-bezier(0.25, 0, 0.75, 1.35),
    opacity var(--p-motion-duration-100) ease-in-out,
    width var(--p-motion-duration-100) ease-in-out,
    height var(--p-motion-duration-100) ease-in-out;
}

.measuring:not(.HoverCardOverlay-exiting) {
  opacity: 0;
}

.measured:not(.HoverCardOverlay-open) {
  opacity: 1;
  transition: opacity var(--p-motion-duration-100) var(--p-motion-ease)
    var(--p-motion-duration-300);
}

.positionedAbove {
  margin: var(--p-space-400) var(--p-space-200);
}

.ActivatorWrapper {
  display: block;
  width: fit-content;

  &.snapToParent {
    width: 100%;
  }
}

.Content {
  opacity: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: opacity var(--p-motion-duration-100) ease-in-out;
}
