@import '../../styles/common';

$vertical-motion-offset: -5px;

.HoverCard {
  // stylelint-disable-next-line polaris/conventions/polaris/custom-property-allowed-list -- HoverCard CSS Custom Variables
  --pc-hovercard-min-width: max-content;
  opacity: 0;
  position: relative;
  display: flex;
  max-width: max-content;
  // stylelint-disable-next-line polaris/conventions/polaris/custom-property-allowed-list -- HoverCard CSS Custom Variables
  min-width: var(--pc-hovercard-min-width);
  background: var(--p-color-bg-surface);
  will-change: opacity, left, top, width, height;
  margin: var(--p-space-100) var(--p-space-200) var(--p-space-400);
  box-shadow: var(--p-shadow-500);
  border-radius: var(--p-border-radius-300);
  transition: opacity var(--p-motion-duration-100) var(--p-motion-ease);

  @include shadow-bevel(
    $boxShadow: var(--p-shadow-md),
    $borderRadius: var(--p-border-radius-300),
    $zIndex: 2
  );

  &.snapToParent {
    margin: 0;
  }
}

.HoverCardOverlay {
  opacity: 0;
}

.HoverCardOverlay-entering {
  opacity: 1;
}

.HoverCardOverlay-open {
  opacity: 1;
  transform: none;

  transition: top var(--p-motion-duration-100) cubic-bezier(0.25, 0, 0.75, 1.35),
    opacity var(--p-motion-duration-100) ease-in-out,
    width var(--p-motion-duration-100) ease-in-out,
    height var(--p-motion-duration-100) ease-in-out;
}

.measuring:not(.HoverCardOverlay-exiting) {
  opacity: 0;
}

.measured:not(.HoverCardOverlay-open) {
  opacity: 1;
  transition: opacity var(--p-motion-duration-100) var(--p-motion-ease)
    var(--p-motion-duration-300);
}

.positionedAbove {
  margin: var(--p-space-400) var(--p-space-200) var(--p-space-100);
}

.ActivatorWrapper {
  display: block;
  width: fit-content;

  &.snapToParent {
    width: 100%;
  }
}

.ContentContainer {
  position: relative;
  display: flex;
  overflow: hidden;
  background: var(--p-color-bg-surface);
  border-radius: var(--p-space-300);

  /* Prevent Scrollable's box shadows overflowing the rounded corners of this
   * element on Safari prior to tech preview version 156.
   * See: https://bugs.webkit.org/show_bug.cgi?id=68196 */
  isolation: isolate;
}

.Content {
  opacity: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: opacity var(--p-motion-duration-100) ease-in-out;
  word-wrap: break-word;
}
