@import '../../styles/common';

.HoverCard {
  // stylelint-disable-next-line polaris/conventions/polaris/custom-property-allowed-list -- HoverCard CSS Properties; PositionedOverlay takes child min-width into account when determining available space, horizontal positioning, and width
  --pc-hover-card-min-width: initial;
  opacity: 0;
  position: relative;
  display: flex;
  // stylelint-disable-next-line polaris/conventions/polaris/custom-property-allowed-list -- HoverCard CSS Properties
  min-width: var(--pc-hover-card-min-width);
  background: var(--p-color-bg-surface);
  margin: var(--p-space-100) var(--p-space-200) var(--p-space-400);
  box-shadow: var(--p-shadow-500);
  border-radius: var(--p-border-radius-300);
  transition: opacity var(--p-motion-duration-100) var(--p-motion-ease);

  @include shadow-bevel(
    $boxShadow: var(--p-shadow-md),
    $borderRadius: var(--p-border-radius-300),
    $zIndex: 2
  );

  &.snapToParent {
    margin: 0;
  }
}

.HoverCardOverlay {
  will-change: opacity, left, right, top;
  opacity: 0;
  // Need to initialize top here in order to animate when it changes in the PositionedOverlay style declaration
  top: 0;
  bottom: 0;
  transition: top var(--p-motion-duration-100) cubic-bezier(0.25, 0, 0.75, 1.35),
    bottom var(--p-motion-duration-100) cubic-bezier(0.25, 0, 0.75, 1.35);
}

.HoverCardOverlay-entering {
  opacity: 1;
}

.HoverCardOverlay-active {
  opacity: 1;
  // stylelint-disable-next-line polaris/conventions/polaris/custom-property-allowed-list -- Need to set top here in order to animate when it changes in the PositionedOverlay style declaration
  top: var(--pc-positioned-overlay-top);
  // stylelint-disable-next-line polaris/conventions/polaris/custom-property-allowed-list -- Need to set bottom here in order to animate when it changes in the PositionedOverlay style declaration
  bottom: var(--pc-positioned-overlay-bottom);
}

.measuring {
  opacity: 0;
}

.measured {
  opacity: 1;
  transition: opacity var(--p-motion-duration-100) var(--p-motion-ease-in-out)
    var(--p-motion-duration-300);
}

.positionedAbove {
  margin: var(--p-space-400) var(--p-space-200) var(--p-space-100);
}

.ActivatorWrapper {
  width: fit-content;

  &.snapToParent {
    width: 100%;
  }
}

.ContentContainer {
  position: relative;

  overflow: hidden;
  background: var(--p-color-bg-surface);
  border-radius: var(--p-space-300);

  /* Prevent Scrollable's box shadows overflowing the rounded corners of this
   * element on Safari prior to tech preview version 156.
   * See: https://bugs.webkit.org/show_bug.cgi?id=68196 */
  isolation: isolate;
}

.Content {
  opacity: 1;
  width: 100%;
}
