@import '../../styles/common';

$vertical-motion-offset: -5px;

.HoverCard {
  background: var(--p-color-bg-surface);
  max-width: calc(100vw - var(--p-space-800));
  margin: var(--p-space-100) var(--p-space-200) var(--p-space-400);
  box-shadow: var(--p-shadow-500);
  border-radius: var(--p-border-radius-300);
  will-change: left, right, top;
  @include shadow-bevel(
    $boxShadow: var(--p-shadow-md),
    $borderRadius: var(--p-border-radius-300),
    $zIndex: 2
  );

  &.snapToParent {
    margin: 0;
  }
}

.HoverCardOverlay {
  top: 0;
  width: auto;
  opacity: 0;
  transform: translateY($vertical-motion-offset);
  /* stylelint-disable-next-line polaris/conventions/polaris/custom-property-allowed-list -- need custom bezier curve for hovercard animations */
  transition: opacity var(--p-motion-duration-100) ease-in-out,
    top var(--p-motion-duration-100) cubic-bezier(0.25, 0, 0.75, 1.35),
    width var(--p-duration-400) cubic-bezier(0.25, 0, 0.75, 1.35);
}

.HoverCardOverlay-entering {
  opacity: 1;
  transform: translateY(0);
}

.HoverCardOverlay-open {
  opacity: 1;
  transform: none;
}

.measuring:not(.HoverCardOverlay-exiting) {
  opacity: 0;
  transform: translateY($vertical-motion-offset);
}

.positionedAbove {
  margin: var(--p-space-400) var(--p-space-200);
}

.ActivatorWrapper {
  display: block;
  width: fit-content;

  &.snapToParent {
    width: 100%;
  }

  &:hover {
    .HoverCardOverlay {
      opacity: 1;
    }

    .HoverCardOverlay-entering {
      opacity: 1;
      transform: translateY(0);
    }

    .HoverCardOverlay-open {
      opacity: 1;
      transform: none;
    }
  }
}

.ContentContainer {
  position: relative;
  overflow: hidden;
  background: var(--p-color-bg);
  border-radius: var(--p-space-300);

  /* Prevent Scrollable's box shadows overflowing the rounded corners of this
   * element on Safari prior to tech preview version 156.
   * See: https://bugs.webkit.org/show_bug.cgi?id=68196 */
  isolation: isolate;
}

.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--p-border-radius-100);
  transition: all var(--p-motion-duration-100) cubic-bezier(0.25, 0, 0.75, 1.35);
}
