.CodeExample {
  border-radius: var(--border-radius-400);
  overflow: hidden;
  box-shadow: var(--card-shadow);
  line-height: 1.4;
}

.TitleBar {
  padding: 0.5rem 0.75em;
  background: var(--surface-subdued);
  margin: 1px 1px 0 0.5px;
  border-radius: var(--border-radius-400) var(--border-radius-400)
    var(--border-radius-300) var(--border-radius-300);

  .Title {
    font-size: var(--font-size-50);
    font-weight: var(--font-weight-500);
  }
}

.CopyButtonWrapper {
  height: 0;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}

.CopyButton {
  position: absolute;
  padding: 0.5rem;
  background: transparent;
  display: flex;
  align-items: center;
  opacity: 0.5;
  border-radius: var(--border-radius-200);

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    box-shadow: none;
    opacity: 1;
  }
}

.Code {
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  white-space: pre;
  padding: 0.66rem 0.66rem;
  font-size: 13px;
  color: var(--text-strong);
  overflow: auto;
}

.LineNumber {
  display: none;
  opacity: 0.5;
  margin-right: 0.5rem;
  user-select: none;
}
