.CodeExample {
  margin: 1.5rem 0;
  background: linear-gradient(45deg, #080619, #0b0334);
  color: white;
  border-radius: var(--border-radius-600);
}

.Title {
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: var(--font-size-200);
  font-weight: var(--font-weight-500);
  border-radius: var(--border-radius-600) var(--border-radius-600) 0 0;
  padding: 0.5em;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.05);
}

.Code {
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  white-space: pre;
  padding: 1rem;
  font-size: var(--font-size-200);
}

.LineNumber {
  opacity: 0.25;
  margin-right: 1rem;
  user-select: none;
}

.Line {
}
