@import "../../styles/mixins.scss";

.CodeExample {
  border-radius: var(--border-radius-400);
  max-width: calc(100vw - 1.5rem);
  cursor: text;

  @include dark-mode {
    box-shadow: var(--card-shadow);
  }

  &.minimalist {
    box-shadow: 0 0 0 1px var(--border-color-light);

    .CopyButton svg {
      filter: brightness(-500%);

      @include dark-mode {
        filter: brightness(500);
      }
    }
  }

  &:not(.minimalist) {
    background: #202021;
    color: #e7e7e7;
  }
}

.CopyButtonWrapper {
  height: 0;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}

.CopyButton {
  position: absolute;
  padding: 0.5rem;
  background: transparent;
  opacity: 0.2;
  border-radius: var(--border-radius-200);
  transition: opacity 0.1s linear;

  .CodeExample:hover & {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &:focus-visible {
    box-shadow: none;
    opacity: 1;
  }
}

.Code {
  font-family: var(--font-family-mono);
  white-space: pre;
  padding: 0.5rem 0.66rem;
  font-size: 14px;
  line-height: 1.6;
  overflow: auto;
}

.CodeExample.minimalist .Code {
  font-size: var(--font-size-50);
  line-height: 1.45;
}

.LineNumber {
  display: none;
  opacity: 0.5;
  margin-right: 0.5rem;
  user-select: none;
}
