@import '../../../../styles/common';

$close-button-width: calc(var(--p-space-12) + var(--p-space-1));

.Section {
  flex: 0 0 auto;

  &:not(:last-of-type) {
    border-bottom: var(--p-border-width-1) solid var(--p-color-border-subdued);
  }
}

.titleHidden {
  padding-right: $close-button-width;

  #{$se23} & {
    /* Add a space to account for the button's absolute position offset */
    padding-right: calc($close-button-width + var(--p-space-1));
  }
}
