.SelectContainer {
  position: relative;
  display: inline-block;
  width: 100%;

  select {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: var(--surface-subdued);
    color: var(--text);
    border-radius: var(--border-radius-500);
    font-size: var(--font-size-400);
    box-shadow: 0 0 0 1px var(--border-color);

    &:focus-visible {
      box-shadow: var(--focus-outline);
    }
  }
}

.SelectIcon {
  pointer-events: none;
  position: absolute;
  top: calc(50% + 2px);
  right: 1rem;
  transform: translateY(-50%);
  z-index: 1;

  svg {
    height: 1.2rem;
    width: 1.2rem;
    fill: var(--border-inset-color);
  }
}

.Buttons {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.Button {
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-400);
  font-size: var(--font-size-100);
  background-color: var(--surface-subdued);
  color: var(--text);
  min-width: 40px;
  box-shadow: var(--card-shadow);
}

.Button:not(.ButtonSelected) {
  background: transparent;
  box-shadow: none;
}

.ExampleFrame {
  margin-bottom: 2rem;
  background: #fafafa;
  border-radius: var(--border-radius-400);
  overflow: hidden;
  box-shadow: var(--card-shadow);
}

.SandboxButton {
  float: right;
}
