@import "../../styles/mixins.scss";

.Tooltip {
  pointer-events: none;
  max-width: 300px;
  z-index: 2;
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 0.1));

  .Content {
    overflow: hidden;
    border-radius: var(--border-radius-800);
    background: var(--surface);
    text-align: center;
    font-size: 14px;
    padding: 0.5rem 0.5rem;
    line-height: 1.4;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    background: var(--surface);
    transform: rotate(45deg);
    z-index: 0;
  }

  @include dark-mode {
    filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 0.25));
  }

  .Content,
  &::after {
    @include dark-mode {
      background: var(--surface-subdued);
    }
  }
}
