.easing-simple-string-arg {
  transition-timing-function: easing('anticipate');
  transition-timing-function: easing('base');
  transition-timing-function: easing('excite');
  transition-timing-function: easing('in');
  transition-timing-function: easing('out');
  transition-timing-function: easing('overshoot');
}

.easing-simple-non-string-arg {
  transition-timing-function: easing();
  transition-timing-function: easing(anticipate);
  transition-timing-function: easing(base);
  transition-timing-function: easing(excite);
  transition-timing-function: easing(in);
  transition-timing-function: easing(out);
  transition-timing-function: easing(overshoot);
}

.easing-shorthand-string-arg {
  transition: opacity 300ms easing('anticipate');
  transition: opacity 300ms easing('base');
  transition: opacity 300ms easing('excite');
  transition: opacity 300ms easing('in');
  transition: opacity 300ms easing('out');
  transition: opacity 300ms easing('overshoot');
}

.easing-shorthand-non-string-arg {
  transition: opacity 300ms easing();
  transition: opacity 300ms easing(anticipate);
  transition: opacity 300ms easing(base);
  transition: opacity 300ms easing(excite);
  transition: opacity 300ms easing(in);
  transition: opacity 300ms easing(out);
  transition: opacity 300ms easing(overshoot);
}

.easing-multiple-string-arg {
  transition: opacity 300ms easing('anticipate'),
    left 300ms easing('anticipate');
  transition: opacity 300ms easing('base'), left 300ms easing('base');
  transition: opacity 300ms easing('excite'), left 300ms easing('excite');
  transition: opacity 300ms easing('in'), left 300ms easing('in');
  transition: opacity 300ms easing('out'), left 300ms easing('out');
  transition: opacity 300ms easing('overshoot'), left 300ms easing('overshoot');
}

.easing-multiple-non-string-arg {
  transition: opacity 300ms easing(), left 300ms easing();
  transition: opacity 300ms easing(anticipate), left 300ms easing(anticipate);
  transition: opacity 300ms easing(base), left 300ms easing(base);
  transition: opacity 300ms easing(excite), left 300ms easing(excite);
  transition: opacity 300ms easing(in), left 300ms easing(in);
  transition: opacity 300ms easing(out), left 300ms easing(out);
  transition: opacity 300ms easing(overshoot), left 300ms easing(overshoot);
}

$easingFunc: 'ease-in';

.edges {
  // Unknown values are flagged
  transition-timing-function: easing(foobar);
  // Can only handle hard coded values
  transition-timing-function: easing($easingFunc);
  // Value replacement with legacy easing function value
  transition: opacity 300ms easing(base), left 300ms easing(overshoot);
}
