@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$video-filter: hue-rotate(130deg) brightness(75%) contrast(1.2) saturate(1.2)
  invert(1);

.HomePage {
  padding-bottom: var(--header-margin);
}

.Hero {
  padding: 6rem 0;
  background: url(/images/home-hero.png);
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: center right;

  @media screen and (max-width: $breakpointDesktopLarge) {
    padding: 2rem 0 4rem;
  }

  h1 {
    margin-bottom: 1rem;
    color: var(--text-strong);
    font-size: var(--font-size-1900);
    letter-spacing: var(--letter-spacing-1000);
    font-weight: var(--font-weight-600);
    line-height: 1.1;

    span {
      display: block;
    }

    @media screen and (max-width: $breakpointTablet) {
      font-size: var(--font-size-1500);
    }
  }

  p {
    font-size: var(--font-size-800);
    max-width: 26rem;
    color: var(--text-strong);
    letter-spacing: var(--letter-spacing-300);
  }
}

.Blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;

  @media screen and (max-width: $breakpointDesktop) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $breakpointTablet) {
    grid-template-columns: 1fr;
  }
}

.Block {
  position: relative;
  display: flex;

  h3 {
    @include heading-2;
  }

  .Image {
    display: none;
  }

  h3 {
    margin-bottom: 0.75rem;
  }

  p {
    margin-bottom: 0.9rem;
  }

  @media screen and (max-width: $breakpointTablet) {
    flex-direction: column-reverse;

    .Text {
      max-width: 100%;
    }

    .Image {
      margin: 0 -1.25rem;
    }
  }
}

.Links {
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0rem 0;
    color: var(--text);

    &[data-icon='github'] svg {
      color: var(--text-strong);
    }

    &[data-icon='browse'] svg {
      color: var(--text-strong);
    }
  }

  svg {
    width: 0.85rem;
    height: auto;
    opacity: 0.85;
  }
}

.PolarisForVSCode {
  position: relative;

  .Image {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    margin: 0 35px;
    border-radius: 8px;
    overflow: hidden;

    @media screen and (max-width: $breakpointTablet) {
      margin: 0 0 1rem;
    }
  }

  video {
    width: 100%;
    height: auto;
    filter: $video-filter;
  }
}
