.TabList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  button {
    padding: 0.2rem 0.66rem;
    border-radius: 8px;
    background: var(--color-surface-subdued);
    font-size: 0.9rem;
    transition: 0.1s linear;
    transition-property: color, background-color, border-color;
    border: none; // When rendered inside Editor

    &:hover {
      background: var(--color-border);
    }

    &:focus-visible {
      // TODO
      outline: none;
    }

    &[aria-selected='true'] {
      background: var(--color-text-strong);
      border-color: var(--color-text-strong);
      color: var(--color-surface);
    }
  }

  &.boxed {
    border: 1px solid var(--color-border);
    background: var(--color-surface-subdued);
    padding: 1rem 1.5rem;
    border-radius: 12px 12px 0 0;
  }
}

.TabPanels {
  &.boxed {
    .Panel {
      padding: 1.5rem 1.5rem;
      border: 1px solid var(--color-border);
      border-top: none;
      border-radius: 0 0 12px 12px;
      background: var(--color-surface-subdued);
    }
  }
}
