@import "../../styles/variables.scss";

.Header {
  border-bottom: var(--border);
}

.HeaderInner {
  display: flex;
  gap: 3em;
  height: var(--header-height);

  > nav {
    display: flex;

    ul {
      display: flex;
      align-items: center;
      font-size: var(--font-size-100);
      font-weight: 500;
      margin-right: auto;

      li {
        a {
          color: inherit;
          padding: 0.85rem 1rem;

          &:focus-within {
            position: relative;
            z-index: 1;
            border-radius: var(--border-radius-800);
          }

          &:hover {
            color: var(--text-strong);
          }

          &[aria-current="page"] {
            background: rgba(0, 0, 0, 0.05);
            border-radius: var(--border-radius-800);
          }
        }

        &:first-child a {
          border-left: none;
        }
      }
    }

    @media screen and (max-width: $smallBreakpoint) {
      display: none;
    }
  }

  @media screen and (max-width: $smallBreakpoint) {
    gap: 0.5rem;
    padding: 0 0.5rem;
  }
}

.Logo {
  display: flex;
  align-items: center;
  color: var(--text-inherit);
  gap: 0.7rem;
  font-weight: 500;
  font-size: var(--font-size-100);

  p {
    margin: 0;
  }

  span {
    transform: translate3d(0, -1px, 0);
  }

  @media screen and (max-width: $smallBreakpoint) {
    display: none;
  }
}

.SearchWrapper {
  display: flex;
  align-items: center;
  width: 18.25rem; // Align with TOC on guidelines pages

  .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    border-radius: 100%;
  }
}

.HamburgerButton {
  visibility: hidden;
  display: none;

  @media screen and (max-width: $smallBreakpoint) {
    visibility: visible;
    display: flex;
    align-items: center;
  }
}

.SideMenu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  background: var(--surface);
  height: 100%;
  width: calc(100vw - 4rem);
  top: 0;
  left: 0;
  max-width: 22.5rem;
  min-width: 15rem;
  z-index: 2;
  transform: translateX(-22.5rem);

  &.show {
    transform: translateX(0);
    transition: transform var(--duration-200) var(--ease-in-out);

    .CloseButton {
      position: absolute;
      display: flex;
      top: 1rem;
      right: calc(-24px - 1rem); // 24px is the width of the Close Icon
      background-color: transparent;

      svg {
        width: 24px;
        fill: var(--surface);
      }
    }
  }

  .Logo {
    display: flex;
    width: 100%;
    padding: 0.85rem 1rem;
    height: var(--header-height);
    border-bottom: var(--border);
  }

  nav {
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      font-size: var(--font-size-100);
      font-weight: 500;

      li {
        display: flex;
        width: 100%;

        a {
          width: 100%;
          color: inherit;
          padding: 0.85rem 1rem;

          &:focus-within {
            position: relative;
            z-index: 1;
            border-radius: var(--border-radius-800);
          }

          &:hover {
            color: var(--text-strong);
          }

          &[aria-current="page"] {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }

  @media screen and (max-width: $smallBreakpoint) {
    display: flex;
  }
}

.Backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop);
  opacity: 0;
  animation-name: FadeIn;
  animation-duration: var(--duration-200);
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
