@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  border-right: 1px solid var(--border-color-light);

  @include dark-mode {
    background: rgba(28, 28, 28, 0.9);
  }
}

.HeaderInner {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100vh;

  .Nav {
    display: flex;

    ul {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-100);
      font-weight: var(--font-weight-500);

      li {
        a {
          color: inherit;
          white-space: pre;
          display: block;
          padding: 1px; // Ensures a continous hover area, but still puts a visual gap between hovered/current items

          span {
            display: block;
            padding: 0.75rem 0.8rem;
          }

          &:focus-within {
            position: relative;
            z-index: 1;
            border-radius: var(--border-radius-800);
          }

          &:hover {
            color: var(--text-strong);
          }

          &[aria-current='page'],
          &:hover {
            span {
              background: var(--surface-subdued);
              border-radius: var(--border-radius-800);
              color: var(--text-strong);
            }
          }
        }

        &:first-child a {
          border-left: none;
        }
      }
    }

    @media screen and (max-width: $breakpointTablet) {
      display: none;
    }
  }

  @media screen and (max-width: $breakpointTablet) {
    gap: 0.5rem;
    justify-content: space-between;
  }
}

.Logo {
  display: flex;
  align-items: center;
  color: inherit;
  gap: 0.7rem;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-100);

  p {
    margin: 0;
  }

  span {
    transform: translate3d(0, -1px, 0);
  }

  @media screen and (max-width: $breakpointTablet) {
    display: none;
  }
}

.SkipToContentLink {
  top: 2px;
  right: 2px;
  left: 2px;
  height: calc(var(--header-height) - 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-500);
  background-color: var(--surface);
  color: var(--text-strong);
  font-weight: var(--font-weight-500);
  z-index: 1;
  position: absolute;
  transform: translateY(-115%);

  &:focus {
    transform: translateY(0%);
  }
}

.DarkModeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.5rem 0 0.5rem auto;
  border-radius: var(--border-radius-round);
  margin-right: -1rem;

  @media screen and (max-width: $breakpointTablet) {
    margin-right: 1rem;
  }
}

.LightModeIcon {
  animation: slide-up 0.3s;
}

.DarkModeIcon {
  animation: slide-down 0.3s;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1 linear;
    transform: translateY(0%);
  }
}

.MobileNavContainer {
  visibility: hidden;
  display: none;

  svg {
    fill: var(--text-strong);
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: $breakpointTablet) {
    visibility: visible;
    display: flex;
    align-items: center;
  }
}
