$activator-variables: (
  focus-background-color: rgba(color('white'), 0.16),
  hover-background-color: rgba(color('white'), 0.08),
  active-background-color: rgba(color('black'), 0.28),
);

@function shop-switcher($variable) {
  @return map-get($activator-variables, $variable);
}

.Activator {
  width: 100%;
  height: rem(40px);
  @include unstyled-button;
  color: var(--top-bar-color);
  display: flex;
  align-items: center;
  padding: spacing(extra-tight) spacing(tight);
  border-radius: border-radius();

  &:focus {
    background-color: shop-switcher(focus-background-color);
  }

  &:hover {
    background-color: shop-switcher(hover-background-color);
  }

  &:active,
  &[aria-expanded='true'] {
    background-color: shop-switcher(active-background-color);
    outline: none;
    transition: none;
  }
}

.Icon {
  width: rem(20px);
}

.ShopName {
  margin: 0 spacing(extra-tight) 0 rem(12px);
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}
