@use '../../../../styles/mixins.scss' as *;

.Navigation {
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: 20rem;
  max-width: 20rem;
  padding: 2rem;
  overflow: auto;
  border-right: 1px solid var(--color-border);
  @include custom-scrollbars;

  > ul > li > span > a {
    font-size: 1.1rem;
  }

  ul ul {
    margin-top: 0.15rem;
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
    font-weight: var(--font-weight-heavy);

    a {
      padding: 0.1rem 0;
    }

    ul {
      padding-left: 0.75rem;
    }
  }

  li {
    &.hasSeparatorInNav {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid var(--color-border);
    }
  }
}

.Logo {
  display: flex;
  align-items: center;
  background: url(/images/shopify-logo.svg) no-repeat;
  padding-left: 34px;
  margin-bottom: 2.5rem;
  background-size: auto 28px;
  height: 28px;
  font-size: 1.15rem;
  color: var(--color-text-strong);
}

.NavItem {
  display: flex;
  justify-content: space-between;

  &.isCurrent {
    color: var(--color-text-strong);
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex: 1;

    &:hover {
      color: var(--color-text-strong);
    }
  }
}
