:root {
  --border: #CACED3;
  --border-subdued: #DDE0E4;
  --border-strong: #ABB1BA;
  --border-strong-hover: #87909B;
  --bg: #fff;
  --bg-subdued: #F9FAFB;
  --bg-hover: #F1F2F4;
  --bg-active: #EBECEF;
}

.Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  color: var(--p-text);
  border: var(--p-border-width-1) solid var(--border-strong);
  border-bottom-color: var(--border-strong-hover);
  padding-left: var(--p-space-3);
  padding-right: var(--p-space-3);
  border-radius: var(--p-border-radius-1);
  min-height: 36px;
  min-width: 36px;
  font-weight: var(--p-font-weight-medium);
  // animation flashing when I set "all" - targeted each attribute for now
  transition: background-color var(--p-duration-100) var(--p-ease-out),
              border var(--p-duration-100) var(--p-ease-out),
              box-shadow var(--p-duration-100) var(--p-ease-out),
              padding var(--p-duration-100) var(--p-ease-out);

  svg {
    fill: var(--p-icon);
  }

  &:hover {
    background: var(--bg-hover);
    // trying different colors
    // background: var(--bg-subdued);
    border-color: var(--border);
    border-bottom-color: var(--border);


  }

  &:active {
    background: var(--bg-active);
    // trying different colors
    // background: var(--bg-hover);
    border-color: transparent;
    box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.12),
    inset 1px 0px 1px rgba(0, 0, 0, 0.12), inset 0px 2px 1px rgba(0, 0, 0, 0.2);
    // this is just a hack for now
    padding-top: 3px;


    &::after {
      border: none;
      box-shadow: none;
    }
  }

  &.disabled {
    color: var(--p-text-disabled);
    background: var(--p-background-subdued);
    border-color: var(--p-border-disabled);
  }
}

.hasIcon {
  padding-left: var(--p-space-2);
  padding-right: var(--p-space-2);
}

.sizeSmall {
  min-height: var(--p-font-line-height-4);
  padding-left: var(--p-space-2);
  padding-right: var(--p-space-2);
}

.sizeLarge {
  min-height: 44px;
  padding-left: var(--p-space-4);
  padding-right: var(--p-space-4);
  font-size: var(--p-font-size-100);
  font-weight: var(--p-font-weight-medium);
  text-transform: initial;
  letter-spacing: initial;
}

.toneCritical {
  color: var(--p-text-critical);

  svg {
    fill: var(--p-icon-critical);
  }
}

.variantPrimary {
  background: var(--p-action-primary);
  color: var(--p-text-on-primary);
  border-width: 0;
  border-color: transparent;
  box-shadow: var(--p-shadow-sm);

  svg {
    fill: var(--p-icon-on-primary);
  }

  &:hover {
    background: var(--p-action-primary-hovered);
  }

  &:active {
    background: var(--p-action-primary-depressed);
  }

  &.disabled {
    color: var(--p-text-on-primary);
    background: rgba(0, 128, 96, 0.5);
    border-color: rgba(31, 33, 36, 0.2);
  }

  &.toneCritical {
    background: var(--p-action-critical);
    color: var(--p-text-on-critical);
    border-width: 0;
    border-color: transparent;
    box-shadow: var(--p-shadow-sm);

    svg {
      fill: var(--p-icon-on-critical);
    }
  }
}

.variantTransparent {
  background: transparent;
  color: var(--p-text);
  border-width: 0;
  border-color: transparent;
  box-shadow: none;

  &:hover {
    background: var(--p-background-hovered);
  }

  &:active {
    background: var(--p-background-selected);
    box-shadow: none;
  }

  &.toneCritical {
    color: var(--p-text-critical);

    svg {
      fill: var(--p-icon-critical);
    }
  }
}


