:root {
  --border: #CACED3;
  --border-subdued: #DDE0E4;
  --border-strong: #ABB1BA;
  --border-strong-hover: #87909B;
  --bg: #fff;
  --bg-subdued: #F9FAFB;
  --bg-hover: #F1F2F4;
  --bg-active: #EBECEF;
  --bg-primary: #007A5C;
  --bg-primary-hover: #125443;
  --bg-primary-active: #0C3B2F;
  --bg-critical: #C5280C;
  --bg-critical-hover: #9F200A;
  --bg-critical-active: #731807;

  --text-on-color: #fff;
}

.Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  color: var(--p-text);
  border: var(--p-border-width-1) solid var(--border-strong);
  border-bottom-color: var(--border-strong-hover);
  border-radius: var(--p-border-radius-1);
  min-height: 36px;
  min-width: 36px;
  font-weight: var(--p-font-weight-medium);
  // animation flashing when I set "all" - targeted each attribute for now
  transition: background-color var(--p-duration-100) var(--p-ease-out),
              border var(--p-duration-100) var(--p-ease-out),
              box-shadow var(--p-duration-100) var(--p-ease-out),
              padding var(--p-duration-100) var(--p-ease-out);

  svg {
    fill: var(--p-icon);
  }

  &:hover {
    background: var(--bg-hover);
    // trying different colors
    // background: var(--bg-subdued);
    border-color: var(--border);
    border-bottom-color: var(--border);


  }

  &:active {
    background: var(--bg-active);
    // trying different colors
    // background: var(--bg-hover);
    border-color: transparent;
    box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.12),
    inset 1px 0px 1px rgba(0, 0, 0, 0.12), inset 0px 2px 1px rgba(0, 0, 0, 0.2);
    // this is just a hack for now
    padding-top: 3px;


    &::after {
      border: none;
      box-shadow: none;
    }
  }

  &.disabled {
    color: var(--p-text-disabled);
    background: var(--p-background-subdued);
    border-color: var(--p-border-disabled);
  }
}

.sizeSmall {
  min-height: var(--p-font-line-height-4);
  min-width: 30px;
}

.sizeLarge {
  min-height: 44px;
  font-size: var(--p-font-size-100);
  font-weight: var(--p-font-weight-medium);
  text-transform: initial;
  letter-spacing: initial;
}

.toneCritical {
  color: var(--p-text-critical);

  svg {
    fill: var(--p-icon-critical);
  }

  &.disabled {
    color:  rgba(197, 40, 12, 0.5);
  }
}

.variantPrimary {
  background: var(--bg-primary);
  color: var(--p-text-on-primary);
  border-width: 0;
  border-color: transparent;
  box-shadow: var(--p-shadow-sm);

  svg {
    fill: var(--p-icon-on-primary);
  }

  &:hover {
    background: var(--bg-primary-hover);
  }

  &:active {
    background: var(--bg-primary-active);
    // slightly darker inset shadow for primary
    box-shadow: inset -1px 0px 1px rgba(0, 0, 0, 0.2),
    inset 1px 0px 1px rgba(0, 0, 0, 0.2), inset 0px 2px 1px rgba(0, 0, 0, 0.6);
  }

  &.disabled {
    color: var(--text-on-color);
    background: rgba(0, 128, 96, 0.5);
    border-color: rgba(31, 33, 36, 0.2);
  }

  &.toneCritical {
    background: var(--bg-critical);
    color: var(--text-on-color);
    border-width: 0;
    border-color: transparent;

    &:hover {
      background: var(--bg-critical-hover);
    }

    &:active {
      background: var(--bg-critical-active);
    }

    svg {
      fill: var(--p-icon-on-critical);
    }

    &:hover {
      background: var(--p-action-critical-hovered);
    }

    &:active {
      background: var(--p-action-critical-depressed);
    }

    &.disabled {
      background-color: rgba(197, 40, 12, 0.5);
    }
  }
}

.variantTransparent {
  background: transparent;
  color: var(--p-text);
  border-color: transparent;
  border-width: 0px;
  box-shadow: none;

  &:hover {
    background: var(--bg-hover);
  }

  &:active {
    background: var(--bg-active);
    // box-shadow: none;
  }

  &.toneCritical {
    color: var(--p-text-critical);

    svg {
      fill: var(--p-icon-critical);
    }

      &.disabled {
    color:  rgba(197, 40, 12, 0.5);
  }
  }
}


