.RangeSlider {
  // stylelint-disable -- Polaris component custom properties
  --pc-range-slider-input: 10;
  --pc-range-slider-output: 20;
  --pc-range-slider-track-height: 4px;
  --pc-range-slider-thumb-size: 16px;
  --pc-track-dashed-border-radius: var(--p-border-radius-100);
  // stylelint-enable
}
