.IconGallery {
}

.Filter {
  padding: 3em;
}

.SectionHeading {
  padding: 0 3rem;
  font-size: 0.9em;
  b {
    font-weight: 500;
  }
}

.IconGrid {
  display: grid;
  margin-top: 20px;
  margin-bottom: 3em;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  flex: 1;
  gap: 2px;
}

.Icon {
  button {
    appearance: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    cursor: pointer;
    background: #fff;
    padding-top: 5px;
    aspect-ratio: 5 / 4;
    background: #fafafa;
    border-radius: 2px;
    transition: background-color 0.05s linear;

    &:hover {
      background: #ededed;
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  animation: overlay-in 0.15s linear both;
}

.Dialog {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.DialogContent {
  position: relative;
  background: white;
  border-radius: 4px;
  width: 100%;
  padding: 2em;
  max-width: 40em;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.125);
  animation: dialog-in 0.25s cubic-bezier(0.34, 1.56, 0.64, 1) both;
}

.Preview {
  display: flex;
  justify-content: center;
  padding: 8em 0 2em;
}

.IconMeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4em;
  p {
    max-width: 60%;
    text-align: center;
  }
}

.CloseDialog {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: url(./CancelSmallMinor.svg) no-repeat center center;
  background-size: 26px auto;
  opacity: 0.5;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

@keyframes overlay-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
