@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.Banner {
  margin-top: var(--header-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    @include heading-1;
  }

  p {
    max-width: 48rem;
    font-size: var(--font-size-500);
    margin-top: 1rem;
    color: var(--text-strong);
  }
}

.TokensNav {
  display: flex;
  justify-content: center;
  margin: 2rem 0 4rem;

  ul {
    display: flex;
    justify-content: center;
    box-shadow: 0 25px 75px rgb(0 0 0 / 5%);
    border-radius: 32px;
    padding: 0 1rem;
    background: var(--surface);

    @include dark-mode {
      box-shadow: none;
      border: 1px solid var(--border-color-light);
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: center;
    padding: .75rem 1.5rem;
    color: var(--text-strong);
    font-weight: var(--font-weight-500);
    border-right: 1px solid var(--border-color-light);
    white-space: pre;
  }

  svg {
    width: 1rem;
    display: none;
  }

  li:last-child a {
    border-right: none;
  }
}
