@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';

.ComponentGrid {
  display: grid;
  // https://evanminto.com/blog/intrinsically-responsive-css-grid-minmax-min/
  grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
  gap: 0.75rem;
}

.Component {
  display: flex;

  a {
    position: relative;
    display: flex;
    flex-direction: column;
    color: inherit;
    border-radius: var(--border-radius-600);
    box-shadow: var(--card-shadow);
    overflow: hidden;
    width: 100%;

    &:hover {
      box-shadow: var(--card-shadow-hover);
    }

    &:focus-visible {
      box-shadow: var(--focus-outline);
    }
  }

  @media (hover: hover) {
    &[data-is-current-result='true'] a {
      background: var(--search-highlight-color);
    }
  }

  .ComponentDescription {
    padding: 1.25rem;
  }

  h4 {
    @include heading-4;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  p {
    font-size: var(--font-size-100);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.Preview {
  filter: brightness(0.92) contrast(1.15);

  @include dark-mode {
    opacity: 0.8;
    transition: opacity 0.05s linear;

    .Component:hover & {
      opacity: 1;
    }
  }
}
