@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.ComponentGrid {
  display: grid;
  // https://evanminto.com/blog/intrinsically-responsive-css-grid-minmax-min/
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  gap: 2rem 0.75rem;
}

.Component {
  display: flex;

  a {
    position: relative;
    display: flex;
    flex-direction: column;
    color: inherit;
    box-shadow: var(--card-shadow);
  }

  &.isHighlighted a {
    box-shadow: var(--focus-outline);
  }

  .ComponentDescription {
    padding: 1rem 1rem 0 0;
  }

  h4 {
    margin-bottom: 0.25rem;
    @include heading-3;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.Preview {
  filter: brightness(0.91) contrast(1.15);
  border-radius: var(--border-radius-400);
  overflow: hidden;

  @include dark-mode {
    opacity: 0.8;
    transition: opacity 0.05s linear;

    .Component:hover & {
      opacity: 1;
    }
  }
}
