@import '../../styles/common';

$control-size: rem(16px);

.ChoiceList {
  margin: 0;
  padding: 0;
  border: none;
}

.titleHidden > .Title {
  @include visually-hidden;
}

.Choices {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ChoiceChildren {
  margin-bottom: rem($spacing-tight);
  padding-left: rem($spacing-tight) + $control-size;
}

.ChoiceError {
  margin-top: rem($spacing-extra-tight);
  margin-bottom: rem($spacing-tight);
}

.Title {
  @include text-style-body;
  display: block;
  margin: 0 0 rem($spacing-extra-tight);
  padding: 0;
}
