@import '../../styles/common';

$control-size: rem(16px);

.ChoiceList {
  margin: 0;
  padding: 0;
  border: none;
}

.titleHidden > .Title {
  @include visually-hidden;
}

.Choices {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ChoiceChildren {
  margin-bottom: spacing(tight);
  padding-left: calc(
    #{spacing(tight)} + var(--p-choice-size, #{$control-size})
  );
}

.ChoiceError {
  margin-top: spacing(extra-tight);
  margin-bottom: spacing(tight);
}

.Title {
  @include text-style-body;
  display: block;
  margin: 0 0 spacing(extra-tight);
  padding: 0;
}
