$control-size: rem(16px);

.ChoiceList {
  margin: 0;
  padding: 0;
  border: none;
}

.titleHidden > .Title {
  @include visually-hidden;
}

.Choices {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ChoiceChildren {
  padding-left: spacing(tight) + $control-size;
}

.Title {
  @include text-style-body;
  display: block;
  margin: 0 0 spacing(extra-tight);
  padding: 0;
}

.Error {
  display: flex;
  margin-bottom: spacing(extra-tight);
  color: color('red', 'dark');
}

.ErrorIcon {
  @include recolor-icon(color('red'));
  margin: 0 spacing(extra-tight) 0 -2px;
}
