.Container {
  border-bottom: var(--p-border-width-025) solid var(--p-color-border);
  border-top-left-radius: var(--p-border-radius-200);
  border-top-right-radius: var(--p-border-radius-200);
  background: var(--p-color-bg-surface);
}

@media (--p-breakpoints-sm-down) {
  .Container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: unset;
  }
}
