.InlinePill {
  display: inline-block;
  padding: 0px 5px;
  background: #f2f7fe;
  border: 0.5px solid #103262;
  border-radius: 3px;
  color: #103262;
  vertical-align: bottom;
  font-size: var(--font-size-100);
}
