@use 'global-styles/legacy-polaris-v8';

.duration-simple-string-arg {
  transition-duration: var(--p-duration-0);
  transition-duration: var(--p-duration-100);
  transition-duration: var(--p-duration-200);
  transition-duration: var(--p-duration-300);
  transition-duration: var(--p-duration-400);
  transition-duration: var(--p-duration-500);
}

.duration-simple-non-string-arg {
  transition-duration: var(--p-duration-200);
  transition-duration: var(--p-duration-0);
  transition-duration: var(--p-duration-100);
  transition-duration: var(--p-duration-200);
  transition-duration: var(--p-duration-300);
  transition-duration: var(--p-duration-400);
  transition-duration: var(--p-duration-500);
}

.duration-compound-string-arg {
  transition: opacity var(--p-duration-0) linear;
  transition: opacity var(--p-duration-100) linear;
  transition: opacity var(--p-duration-200) linear;
  transition: opacity var(--p-duration-300) linear;
  transition: opacity var(--p-duration-400) linear;
  transition: opacity var(--p-duration-500) linear;
}

.duration-compound-non-string-arg {
  transition: opacity var(--p-duration-200) linear;
  transition: opacity var(--p-duration-0) linear;
  transition: opacity var(--p-duration-100) linear;
  transition: opacity var(--p-duration-200) linear;
  transition: opacity var(--p-duration-300) linear;
  transition: opacity var(--p-duration-400) linear;
  transition: opacity var(--p-duration-500) linear;
}

.duration-multiple-string-arg {
  transition: opacity var(--p-duration-0) linear,
    left var(--p-duration-0) linear;
  transition: opacity var(--p-duration-100) linear,
    left var(--p-duration-100) linear;
  transition: opacity var(--p-duration-200) linear,
    left var(--p-duration-200) linear;
  transition: opacity var(--p-duration-300) linear,
    left var(--p-duration-300) linear;
  transition: opacity var(--p-duration-400) linear,
    left var(--p-duration-400) linear;
  transition: opacity var(--p-duration-500) linear,
    left var(--p-duration-500) linear;
}

.duration-multiple-non-string-arg {
  transition: opacity var(--p-duration-200) linear,
    left var(--p-duration-200) linear;
  transition: opacity var(--p-duration-0) linear,
    left var(--p-duration-0) linear;
  transition: opacity var(--p-duration-100) linear,
    left var(--p-duration-100) linear;
  transition: opacity var(--p-duration-200) linear,
    left var(--p-duration-200) linear;
  transition: opacity var(--p-duration-300) linear,
    left var(--p-duration-300) linear;
  transition: opacity var(--p-duration-400) linear,
    left var(--p-duration-400) linear;
  transition: opacity var(--p-duration-500) linear,
    left var(--p-duration-500) linear;
}

.duration-edges {
  // sass calculation
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Numeric operator detected.
  // transition: (var(--p-duration-200) - 33ms) fill linear 33ms;
  transition: (legacy-polaris-v8.duration() - 33ms) fill linear 33ms;
  // Duration + Delay
  transition: opacity var(--p-duration-400) linear var(--p-duration-100);
  // Duration + Delay after easing func
  transition: opacity linear var(--p-duration-400) var(--p-duration-100);
  // foobar isn't a valid duration key
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unknown duration key 'foobar'.
  transition-duration: legacy-polaris-v8.duration(foobar);
}
