@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/breakpoints';
@import 'foundation/utilities';
@import 'foundation/z-index';

.Frame {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100vh;
}

.Sidebar {
  position: absolute;
  z-index: z-index(sidebar);
  top: 0;
  left: 0;
  transform: translateX(-100%);
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
  height: 100%;
  will-change: transform;

  @media (min-width: 700px) {
    position: relative;
    transform: none;
    transition: none;
  }
}

.isTransitioning {
  transition: transform 0.2s ease;
}

.isShowing {
  transform: none;
}

.SidebarOverlay {
  position: absolute;
  z-index: z-index(sidebar) - 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(color(black), 0.25);
  transition: opacity 0.2s ease;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;

  @media (min-width: 700px) {
    display: none;
  }
}

.isCovering {
  pointer-events: all;
  opacity: 1;
}

.Content {
  @include layout-flex-fix;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: stretch;
}

.Header {
  flex: 0 0 auto;
}

.Main {
  @include layout-flex-fix;
  position: relative;
  z-index: z-index(content);
  flex: 1 1 0%;
}
