$error-icon-adjustment: rem(2px);

.InlineError {
  display: flex;
  color: color('red', 'dark');
  fill: color('red', 'dark');
}

.Icon {
  fill: currentColor;
  margin-left: -1 * $error-icon-adjustment;
  margin-right: spacing(extra-tight) + $error-icon-adjustment;
}
