@import '../../styles/common';

.InlineError {
  --error-icon-adjustment: var(--space-05);
  display: flex;
  color: var(--p-text-critical);
  fill: var(--p-icon-critical);
}

.Icon {
  fill: currentColor;
  margin-left: calc(-1 * var(--error-icon-adjustment));
  margin-right: calc(var(--space-1) + var(--error-icon-adjustment));
}
