@import '../../../../styles/common';

.ActivatorWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--p-space-2);

  [class*='TextField-Input'] {
    min-width: 5em;
  }
}

.SearchField {
  display: none;

  @media #{$p-breakpoints-md-up} {
    &.PeekQueryField {
      display: block;

      // stylelint-disable-next-line selector-max-class -- So deep
      &.Hidden {
        display: none;
      }
    }
  }
}

.FilterButton {
  &.HiddenFilters {
    // stylelint-disable-next-line selector-max-class -- So deep
    &.HiddenQuery {
      display: none;
    }
    @media #{$p-breakpoints-md-up} {
      // stylelint-disable-next-line selector-max-class -- So deep
      &.PeekQueryField {
        display: none;
      }
    }
  }
}

.SearchIcon {
  &.Hidden {
    display: none;
  }

  @media #{$p-breakpoints-md-up} {
    &.PeekQueryField {
      display: none;
    }
  }
}

.FilterIcon {
  &.Hidden {
    display: none;
  }
}
