@import '../../styles/common';

@mixin action-hide {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@mixin action-unhide {
  clip: auto;
  overflow: visible;
}

.ResourceItem {
  --pc-resource-item-min-height: 44px;
  --pc-resource-item-disclosure-width: 48px;
  // Offset equals handle width + handle margin-left + handle margin-right
  --pc-resource-item-offset: 40px;
  --pc-resource-item-clickable-stacking-order: 1;
  --pc-resource-item-content-stacking-order: 2;
  position: relative;
  outline: none;
  cursor: pointer;

  &:not(.persistActions) {
    .Actions {
      right: var(--p-space-4);
    }
  }

  &:hover {
    background-color: var(--p-surface-hovered);

    &:not(.persistActions) {
      // stylelint-disable-next-line selector-max-specificity
      .Actions {
        // stylelint-disable-next-line selector-max-specificity, selector-max-combinators, max-nesting-depth
        > * {
          @include action-unhide;
        }

        // stylelint-disable-next-line max-nesting-depth
        @media #{$p-breakpoints-lg-down} {
          display: none;
        }
      }
    }
  }

  &:active {
    background-color: var(--p-surface-pressed);
  }
}

.ItemWrapper {
  overflow: hidden;
  max-width: 100%;
}

// stylelint-disable-next-line selector-max-class
.focusedInner,
.focusedInner.focused,
.focusedInner.focused.selected {
  box-shadow: none;
}

.Link,
.Button {
  position: absolute;
  z-index: var(--pc-resource-item-clickable-stacking-order);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.Button {
  padding: 0;
  border: none;
}

.selectable {
  width: calc(100% + var(--pc-resource-item-offset));
  transform: translateX(calc(-1 * var(--pc-resource-item-offset)));
  transition: transform var(--p-ease) var(--p-duration-200);
  margin-right: calc(-1 * var(--pc-resource-item-offset));

  &.selectMode {
    transform: translateX(0);
  }

  @media #{$p-breakpoints-sm-up} {
    width: 100%;
    transform: translateX(0);
    margin-right: 0;
  }
}

// Item actions
.Actions {
  > * {
    @include action-hide;
  }

  .focused & {
    // stylelint-disable-next-line selector-max-combinators
    > * {
      @include action-unhide;
    }
  }

  @media #{$p-breakpoints-lg-down} {
    display: none;
  }
}

.persistActions {
  .Actions {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-basis: auto;
    align-items: center;
    margin-top: 0;
    margin-left: var(--p-space-4);
    pointer-events: initial;
    height: 100%;

    @media #{$p-breakpoints-lg-down} {
      display: none;
    }
  }
}

.Disclosure {
  position: relative;
  top: calc(-1 * var(--p-space-3));
  right: calc(-1 * var(--p-space-4));
  display: none;
  width: var(--pc-resource-item-disclosure-width);
  min-height: var(--pc-resource-item-min-height);
  pointer-events: initial;

  .selectMode & {
    display: none;
  }

  @media #{$p-breakpoints-lg-down} {
    display: flex;
    flex: 0 0 var(--pc-resource-item-disclosure-width);
    justify-content: center;
    align-items: center;
  }
}

.selected {
  background-color: var(--p-surface-selected);

  &:hover {
    background-color: var(--p-surface-selected-hovered);
  }

  &:active {
    background-color: var(--p-surface-selected-pressed);
  }
}

.ListItem {
  position: relative;
  @include focus-ring($border-width: -1px);

  .ListItem + & {
    border-top: var(--p-border-divider);
  }

  &::after {
    border-radius: var(--p-border-radius-05);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--p-border-radius-2);
    border-bottom-right-radius: var(--p-border-radius-2);

    .ItemWrapper {
      border-bottom-left-radius: var(--p-border-radius-2);
      border-bottom-right-radius: var(--p-border-radius-2);
    }
  }

  // stylelint-disable-next-line selector-max-specificity
  &:last-of-type.focused::after {
    border-bottom-left-radius: var(--p-border-radius-2);
    border-bottom-right-radius: var(--p-border-radius-2);
  }

  &.focused {
    @include focus-ring($style: 'focused');
    z-index: var(--pc-resource-item-clickable-stacking-order);
  }

  // stylelint-disable-next-line selector-max-specificity, selector-max-combinators
  * + ul > &:first-of-type.focused::after {
    top: 1px;
  }
}
