@import 'foundation/colors';
@import 'foundation/spacing';
@import 'shared/accessibility';
@import 'shared/icons';
@import 'shared/typography';

.hidden > .LabelWrapper {
  @include visually-hidden;
}

.LabelWrapper {
  margin-bottom: spacing(extra-tight);
}

.HelpText {
  @include text-style-body;
  @include text-emphasis-subdued;
  margin-top: spacing(extra-tight);
}

.Error {
  display: flex;
  margin-top: spacing(extra-tight);
  color: color(red, dark);
}

.ErrorIcon {
  @include recolor-icon(color(red));
  margin: 0 spacing(extra-tight) 0 -2px;
}
