@import '../../styles/common';

$small-size: rem(20px);
$large-size: rem(44px);

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@mixin spinnerSize($size) {
  height: $size;
  width: $size;
}

@mixin animationColor($color) {
  svg {
    animation: loading duration(slowest) linear infinite;
    fill: $color;
  }
}

.Spinner {
  color: transparent;
}

.sizeSmall svg {
  @include spinnerSize($small-size);
}

.sizeLarge svg {
  @include spinnerSize($large-size);
}

.colorWhite {
  @include animationColor(var(--p-border-highlight, color('white')));
}

.colorTeal,
.colorHighlight {
  @include animationColor(var(--p-border-highlight, color('teal')));
}

.colorInkLightest {
  @include animationColor(var(--p-border-highlight, color('ink', 'lightest')));
}
