@import 'foundation/colors';
@import 'foundation/utilities';
@import 'foundation/duration';

$stroke-width: 2px;

@keyframes spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes show-status {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide-ring {
  0% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }

  100% {
    opacity: 0;
    transform: scale(0) rotate(0);
  }
}

.Spinner {
  position: relative;
  display: inline-block;
  animation: spinner-rotate duration(slowest) linear infinite;

  > svg {
    position: static;
    display: inline-block;
    vertical-align: middle;
  }
}

.spinnerStopped {
  animation: none;
}

.spinnerFailed {
  .Failed {
    animation: show-status duration() linear;
    animation-fill-mode: forwards;
    transform-origin: center;
  }

  .Ring {
    animation: hide-ring duration() linear;
    animation-fill-mode: forwards;
    transform-origin: center;
  }
}

.spinnerSuccess {
  .Successful {
    animation: show-status duration() linear;
    animation-fill-mode: forwards;
    transform-origin: center;
  }

  .Ring {
    animation: hide-ring duration() linear;
    animation-fill-mode: forwards;
    transform-origin: center;
  }
}

.Ring {
  fill: none;
  stroke: color(teal);
  stroke-dasharray: 100%;
  stroke-linecap: round;
  stroke-width: $stroke-width;
}

.Failed {
  fill: none;
  opacity: 0;
  transform: scale(0);
  stroke: color(red, dark);
  stroke-width: $stroke-width;
}

.Successful {
  fill: none;
  opacity: 0;
  transform: scale(0);
  stroke: color(green);
  stroke-width: $stroke-width;
}

.sizeSmall {
  height: rem(24px);
  width: rem(24px);
}

.sizeMedium {
  height: rem(40px);
  width: rem(40px);
}

.sizeLarge {
  height: rem(60px);
  width: rem(60px);
}
