@use 'global-styles/legacy-polaris-v8';

.my-class {
  // Standard replacement
  padding: spacing();
  padding: spacing(loose);
  // With multiple values
  padding: spacing() spacing();
  padding: spacing() 0 spacing() 0;
  // With interpolation
  padding: calc(50% - #{spacing()});
  // With negative interpolation
  padding: -#{spacing()};
  // With other functions
  padding: calc(#{rem(16px)} + #{spacing()});
}
