.font {
  font-size: var(--p-font-size-750);
  font-size: var(--p-font-size-750);
  font-size: var(--p-font-size-750);
  letter-spacing: var(--p-font-letter-spacing-denser);
  line-height: var(--p-font-line-height-1000);
}
