@import '../../../../styles/common';
@import '../../variables';

.SearchDismissOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: z-index(nav-backdrop, $fixed-element-stacking-order);
  height: 100%;
}

.visible {
  background-color: transparent;
  animation: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
