.Code {
  background-color: var(--p-surface-subdued);
  border-radius: var(--p-border-radius-base);
  border: var(--p-border-base);
  font-family: var(--p-font-family-mono);
  font-size: 0.9em;
  padding: 0 var(--p-space-1);
}
