@import "../../styles/fonts.scss";

.IconsPage {
  padding-top: var(--header-margin);

  h1 {
    @include heading-1;
    margin-bottom: 1rem;
  }
}

.Filter {
  .TextField {
    margin-top: 1.5rem;
  }
}

.SectionHeading {
  font-size: var(--font-size-300);
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--text-strong);

  b {
    font-weight: var(--font-weight-500);
  }
}

.SelectedIcon {
  .IconName {
    @include heading-2;

    span {
      color: var(--text-subdued);
    }
  }

  .ActionButtons {
    margin-top: 1rem;
  }

  .IconDescription {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .Keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    font-size: var(--font-size-100);
    color: var(--text-subdued);
  }

  h3 {
    margin: 2rem 0 0.5rem;
    @include heading-3;
  }
}

.SplitLayout {
  display: flex;
  gap: 3rem;

  .IconGrids {
    flex: 1;
  }

  .Sidebar {
    align-self: flex-start;
    position: sticky;
    top: 2rem;
    width: 20%;
  }
}

.ProposeChangeLink {
  margin-top: 1rem;
  display: inline-block;
  color: var(--text-subdued);
  font-size: var(--font-size-100);
}
