@import '../../../../styles/common';

.ActionsLayout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 0;
  max-width: 100%;

  > * {
    flex: 0 0 auto;
  }

  &.newDesignLanguage {
    justify-content: flex-end;
  }
}
