.Wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #333;
  margin-bottom: 1.5rem;
  gap: 3rem;
}

.Wrapper .Title {
  margin: 0;
}

.Nav {
  display: flex;
  justify-content: flex-end;
  gap: 3px;

  a {
    padding: 0.5em 0.7em;
    font-size: 1em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.2em;
    transition: all 0.1s ease;

    svg {
      max-width: 16px;
      min-width: 16px;
    }

    &:hover {
      background: #333;
    }
  }

  li[aria-current="page"] a {
    background: white;
    color: #aaa;
  }
}
