@import 'foundation/colors';
@import 'foundation/typography';

.Label {
  @include text-style-body;
  color: currentColor;
  display: block;
}

.LabelWrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
