@import '../../styles/common';

.List {
  padding-left: spacing(loose);
  margin-top: 0;
  margin-bottom: 0;
  list-style: disc outside none;

  + .List {
    margin-top: spacing();
  }
}

.typeNumber {
  padding-left: spacing(extra-loose);
  list-style: decimal outside none;
}

.Item {
  margin-bottom: spacing(tight);

  &:last-child {
    margin-bottom: 0;
  }

  .List:first-child {
    margin-top: spacing(tight);
  }
}
