.SelectContainer {
  position: relative;
  display: inline-block;
  width: 100%;

  select {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: var(--surface-subdued);
    color: var(--text);
    border-radius: var(--border-radius-500);
    font-size: var(--font-size-400);
    box-shadow: 0 0 0 1px var(--border-color);

    &:focus-visible {
      box-shadow: var(--focus-outline);
    }
  }
}

.SelectIcon {
  pointer-events: none;
  position: absolute;
  top: calc(50% + 2px);
  right: 1rem;
  transform: translateY(-50%);
  z-index: 1;

  svg {
    height: 1.2rem;
    width: 1.2rem;
    fill: var(--border-inset-color);
  }
}

.labelHidden {
  // Need to make sure we override any existing styles.
  // stylelint-disable declaration-no-important
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  // stylelint-enable declaration-no-important
}
