@import '../../styles/common';

.Bleed {
  margin-block-start: calc(-1 * var(--pc-bleed-margin-block-start));
  margin-block-end: calc(-1 * var(--pc-bleed-margin-block-end));
  margin-inline-start: calc(-1 * var(--pc-bleed-margin-inline-start));
  margin-inline-end: calc(-1 * var(--pc-bleed-margin-inline-end));
}
