.ScrollContainer {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ScrollContainer::-webkit-scrollbar {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: none;
}
