@import 'foundation/borders';
@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/typography';

$border-bottom-height: rem(3px);

.Tablist {
  display: flex;
  border-bottom: border();
}

.fitted {
  .Tab {
    flex: 1 1 auto;
    padding: 0;
  }

  .Title {
    width: 100%;
    padding: spacing(tight) spacing();
  }
}

.fillSpace {
  .Tab {
    flex: 1 1 auto;
  }
}

.selected {
  @include text-emphasis-normal;
}

.Tab {
  @include text-style-body;
  @include text-emphasis-subdued;
  position: relative;
  justify-content: center;
  margin: 0;
  padding: 0 spacing();
  background-color: transparent;
  border: none;
  appearance: none;
  outline: none;
  color: inherit;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    .Title {
      @include text-emphasis-normal;
      border-bottom: $border-bottom-height solid color(sky);
    }
  }

  &:hover {
    .Title {
      @include text-emphasis-normal;
      border-bottom: $border-bottom-height solid color(sky);
    }
  }

  &.selected {
    .Title {
      border-bottom: $border-bottom-height solid color(indigo);
    }
  }
}

.Title {
  padding: spacing(tight) 0;
  border-bottom: $border-bottom-height solid transparent;

  .Tab:not(.selected) &:focus,
  .Tab:not(.selected) &:hover {
    @include text-emphasis-normal;
    border-bottom: $border-bottom-height solid color(sky);
  }
}

.Panel {
  display: block;
}

.List {
  padding: 0 spacing(tight);
  text-align: left;
  list-style: none;
  min-width: rem(100px);
  cursor: pointer;
}

.ItemWrapper {
  cursor: pointer;

  &:hover {
    .Item {
      @include text-emphasis-subdued;
      color: color(action);
    }
  }
}

.Item {
  @include text-style-body;
  width: 100%;
  margin: 0;
  padding: 0;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  line-height: rem(28px);
  cursor: pointer;
  text-align: left;

  &:hover,
  &:focus {
    @include text-emphasis-subdued;
    color: color(action);
  }
}

.DisclosureActivator {
  position: relative;
  justify-content: center;
  height: 100%;
  padding: 0 spacing();
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
}

.DisclosureTab {
  display: none;
}

.visible {
  display: block;
}

.TabMeasurer {
  display: flex;
  visibility: hidden;
  height: 0;
}
