@import 'foundation/borders';
@import 'foundation/breakpoints';
@import 'foundation/spacing';
@import 'foundation/utilities';

$layout-secondary-basis: 15rem;
$layout-primary-basis: 30rem;

.Layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: -1 * spacing();
  margin-left: -1 * spacing();
}

.Section {
  @include layout-flex-fix;
  flex: 2 1 $layout-primary-basis;
  margin-top: spacing();
  margin-left: spacing();
}

.secondary {
  flex: 1 0 $layout-secondary-basis;
}

.Item {
  flex: 1 1 100%;
}

.AnnotatedSection {
  flex: 1 1 100%;
  margin-top: spacing();
  margin-left: spacing();

  + .AnnotatedSection {
    @include breakpoint-after(breakpoint('medium')) {
      padding-top: spacing();
      border-top: border();
    }
  }
}

.AnnotationWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1 * spacing();
  margin-left: -1 * spacing();
}

.AnnotationContent {
  flex: 2 1 $layout-primary-basis;
  margin-top: spacing();
  margin-left: spacing();
}

.Annotation {
  flex: 1 0 $layout-secondary-basis;
  margin-top: spacing();
  margin-left: spacing();

  > * + * {
    margin-top: spacing();
  }
}
