@import '../../styles/common';

.IndexTable {
  --pc-index-table-translate-offset: 35px;
  --pc-index-table-table-header-offset: 52px;
  --pc-index-table-cell: 1;
  --pc-index-table-sticky-cell: 31;
  --pc-index-table-scroll-bar: 35;
  --pc-index-table-bulk-actions: 36;
  --pc-index-table-loading-panel: 37;
  position: relative;
  overflow: hidden;
  border-radius: inherit;
}

.LoadingContainer-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.LoadingContainer-enter-active {
  opacity: 1;
  transition: opacity var(--p-duration-100) var(--p-ease-out),
    transform var(--p-duration-100) var(--p-ease-out);
  transform: translateY(0);
}

.LoadingContainer-exit {
  opacity: 1;
  transform: translateY(0);
}

.LoadingContainer-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity var(--p-duration-100) var(--p-ease-in),
    transform var(--p-duration-100) var(--p-ease-in);
}

$loading-panel-height: 53px;

.LoadingPanel {
  position: absolute;
  z-index: var(--pc-index-table-loading-panel);
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--p-surface);
  padding: var(--p-space-2) var(--p-space-4);
  box-shadow: var(--p-shadow-base);

  .LoadingPanelRow {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: var(--p-surface-highlight-subdued);
    padding: var(--p-space-2);
    padding-bottom: var(--p-space-1);
    border-radius: var(--p-border-radius-1);
  }
}

.LoadingPanelText {
  margin-left: var(--p-space-3);
  color: var(--p-text);
}

.Table {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
}

.Table-scrolling {
  // stylelint-disable-next-line selector-max-class, selector-max-combinators
  .TableCell-first,
  .TableCell-first + .TableCell,
  .TableHeading-first,
  .TableHeading-second {
    visibility: visible;
    background-color: var(--p-surface);
  }

  .TableCell-first,
  .TableHeading-first {
    filter: drop-shadow(1px 0 0 var(--p-divider));
  }

  // stylelint-disable-next-line selector-max-class, selector-max-combinators
  .TableCell-first + .TableCell,
  .TableHeading-second {
    @media #{$p-breakpoints-sm-up} {
      filter: drop-shadow(1px 0 0 var(--p-divider));
    }
  }

  &.Table-unselectable {
    // stylelint-disable-next-line selector-max-class, selector-max-specificity
    .TableHeading-second,
    .TableCell:first-child {
      visibility: visible;
      filter: drop-shadow(1px 0 0 var(--p-divider));
    }
  }
}

.TableRow {
  background-color: var(--p-surface);
  cursor: pointer;
  filter: drop-shadow(0 -1px 0 var(--p-divider));

  &.TableRow-unclickable {
    cursor: auto;
  }

  &.statusSuccess {
    // stylelint-disable-next-line selector-max-combinators, selector-max-class, selector-max-specificity
    &,
    .TableCell-first,
    .TableCell-first + .TableCell {
      background-color: var(--p-surface-primary-selected);
    }
  }

  &.statusSubdued {
    // stylelint-disable-next-line selector-max-combinators, selector-max-class, selector-max-specificity
    &,
    .TableCell-first,
    .TableCell-first + .TableCell {
      background-color: var(--p-surface-subdued);
    }
  }

  &.TableRow-hovered {
    // stylelint-disable-next-line selector-max-class, selector-max-combinators, selector-max-specificity
    &,
    .TableCell-first,
    .TableCell-first + .TableCell {
      background-color: var(--p-surface-hovered);
    }
  }

  &.TableRow-selected {
    // stylelint-disable-next-line selector-max-class, selector-max-combinators, selector-max-specificity
    &,
    .TableHeading-first,
    .TableHeading-second,
    .TableCell-first,
    .TableCell-first + .TableCell {
      background-color: var(--p-surface-selected);
    }
  }

  // stylelint-disable-next-line selector-max-class
  &.TableRow-hovered.TableRow-selected {
    // stylelint-disable-next-line selector-max-class, selector-max-combinators, selector-max-specificity
    &,
    .TableCell-first,
    .TableCell-first + .TableCell {
      background-color: var(--p-surface-selected-hovered);
    }
  }
}

.TableRow-subdued {
  color: var(--p-text-subdued);
}

.TableRow-disabled {
  cursor: default;
  color: var(--p-text-subdued);
}

.TableHeading {
  padding: var(--p-space-2) var(--p-space-4);
  text-align: left;
  font-weight: var(--p-font-weight-medium);
  color: var(--p-text-subdued);
  font-size: var(--p-font-size-1);
  white-space: nowrap;
  border: 0;
}

.TableHeading-sortable {
  background: var(--p-surface-subdued);
}

.TableHeading-flush {
  padding: 0;
}

.TableHeading-first {
  --pc-index-table-checkbox-offset-left: 16px;
  --pc-index-table-checkbox-offset-right: 18px;
  position: sticky;
  left: 0;
  padding-left: var(--pc-index-table-checkbox-offset-left);
  padding-right: var(--pc-index-table-checkbox-offset-right);
  width: var(--p-space-5);
}

.TableHeadingSortButton {
  background: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--p-font-weight-medium);
  color: var(--p-text-subdued);
  font-size: var(--p-font-size-1);

  &:hover,
  &:focus {
    .TableHeadingSortIcon {
      opacity: 1;
    }
  }
}

.TableHeadingSortIcon {
  order: 1;
  opacity: 0;
  transition: var(--p-ease) var(--p-duration-150) opacity;
}

.TableHeadingSortIcon-visible {
  opacity: 1;
}

.ColumnHeaderCheckboxWrapper {
  display: flex;
}

.FirstStickyHeaderElement {
  margin-left: calc(-1 * var(--p-space-05));
  padding-right: var(--p-space-05);
}

.TableHeading-second {
  &:not(.TableHeading-unselectable) {
    padding-left: 0;

    @media #{$p-breakpoints-sm-up} {
      position: sticky;
      z-index: auto;
      left: 0;
    }
  }

  &.TableHeading-unselectable {
    position: sticky;
    z-index: auto;
    left: 0;
  }
}

.TableCell {
  z-index: var(--pc-index-table-cell);
  text-align: left;
  padding: var(--p-space-2) var(--p-space-4);
  white-space: nowrap;
}

.TableCell-flush {
  padding: 0;
}

.TableCell-first {
  position: sticky;
  left: 0;
  z-index: var(--pc-index-table-sticky-cell);
  padding: var(--p-space-2) 0;
  vertical-align: middle;
}

.TableCell-first + .TableCell {
  left: var(--pc-checkbox-offset);
  padding-left: 0;

  @media #{$p-breakpoints-sm-up} {
    position: sticky;
    z-index: var(--pc-index-table-sticky-cell);
  }
}

.Table-unselectable {
  .TableCell:first-child {
    left: 0;
    background-color: var(--p-surface);
    position: sticky;
    z-index: var(--pc-index-table-sticky-cell);
  }

  .statusSuccess {
    // stylelint-disable-next-line selector-max-combinators, selector-max-class, selector-max-specificity
    .TableCell:first-child {
      background-color: var(--p-surface-primary-selected);
    }
  }

  .statusSubdued {
    // stylelint-disable-next-line selector-max-combinators, selector-max-class, selector-max-specificity
    .TableCell:first-child {
      background-color: var(--p-surface-subdued);
    }
  }

  .TableRow-hovered {
    // stylelint-disable-next-line selector-max-combinators, selector-max-class, selector-max-specificity
    .TableCell:first-child {
      background-color: var(--p-surface-hovered);
    }
  }
}

.Table-sticky-scrolling {
  .TableCell:last-child,
  .TableHeading-last {
    @media #{$p-breakpoints-sm-up} {
      filter: drop-shadow(-1px 0 0 var(--p-divider));
    }
  }
}

.Table-sticky-last {
  .TableCell:last-child {
    @media #{$p-breakpoints-sm-up} {
      position: sticky;
      right: 0;
      background-color: var(--p-surface);
      z-index: var(--pc-index-table-sticky-cell);
    }
  }

  .TableHeading-last {
    @media #{$p-breakpoints-sm-up} {
      position: sticky;
      right: 0;
      background-color: var(--p-surface);
      z-index: auto;
    }
  }

  // stylelint-disable selector-max-class, selector-max-combinators, selector-max-specificity
  .statusSuccess {
    .TableCell:last-child {
      background-color: var(--p-surface-primary-selected);
    }
  }

  .statusSubdued {
    .TableCell:last-child {
      background-color: var(--p-surface-subdued);
    }
  }

  .TableRow-hovered {
    .TableCell:last-child {
      background-color: var(--p-surface-hovered);
    }
  }

  .TableRow-selected {
    .TableCell:last-child {
      background-color: var(--p-surface-selected);
    }
  }
}

.StickyTable {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: var(--pc-index-table-loading-panel);
}

.StickyTableHeader {
  position: absolute;
  display: flex;
  width: 100%;

  &:not(.StickyTableHeader-isSticky) {
    top: -1000px;
    left: -1000px;
  }
}

.StickyTableColumnHeader {
  flex: 0 0 auto;
}

.StickyTableColumnHeader-isScrolling {
  box-shadow: 1px 1px 0 0 var(--p-border-divider),
    1px 0 1px 1px rgba(63, 63, 68, 0.05), 1px 0 3px 0 rgba(63, 63, 68, 0.15);
}

.StickyTableHeadings {
  overflow: hidden;
  flex: 1 1 auto;
  display: flex;
}

.StickyTableHeading-second {
  padding-left: 0;

  @media #{$p-breakpoints-sm-up} {
    display: none;
  }

  &.unselectable {
    display: none;
  }
}

.StickyTableHeading-second-scrolling {
  padding: 0 var(--p-space-025) 0 var(--p-space-4);
  display: none;

  @media #{$p-breakpoints-sm-up} {
    display: block;
  }
}

.StickyTableHeader-isSticky {
  visibility: visible;
  background-color: var(--p-surface);
  box-shadow: var(--p-shadow-base);
}

.IndexTable:hover {
  .ScrollLeft {
    display: block;
  }

  .ScrollRight {
    display: block;
  }
}

.IndexTable .ScrollRight-onboarding {
  display: block;
}

.BulkActionsWrapper {
  visibility: visible;
  position: relative;
  z-index: var(--pc-index-table-bulk-actions);
  top: 0;
  left: 0;
  right: 0;
  padding: var(--p-space-2);
  background: var(--p-surface);
}

$scroll-bar-size: var(--p-space-2);

.ScrollBarContainer {
  position: sticky;
  z-index: var(--pc-index-table-scroll-bar);
  bottom: 0;
  padding: var(--p-space-05);
  background-color: var(--p-surface);
  border-bottom-right-radius: var(--p-border-radius-2);
  border-bottom-left-radius: var(--p-border-radius-2);
}

.scrollBarContainerCondensed {
  visibility: hidden;
  pointer-events: none;
}

.scrollBarContainerHidden {
  display: none;
}

.ScrollBar {
  overflow-x: scroll;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ScrollBar::-webkit-scrollbar-track {
  border-radius: var(--p-border-radius-1);
  background-color: transparent;
}

.ScrollBar::-webkit-scrollbar {
  appearance: none;
  height: $scroll-bar-size;
  width: $scroll-bar-size;
  background-color: transparent;
}

.ScrollBar::-webkit-scrollbar-thumb {
  border-radius: var(--p-border-radius-1);
  background-color: var(--p-border-neutral-subdued);
  transition: background-color var(--p-duration-100) var(--p-ease-out);
}

.ScrollBar:hover::-webkit-scrollbar-thumb {
  background-color: var(--p-border-depressed);
}

.disableTextSelection {
  user-select: none;
}

.selectMode {
  transform: translateY(calc(-1 * var(--pc-index-table-table-header-offset)));
  margin-bottom: calc(-1 * var(--pc-index-table-table-header-offset));
}

.EmptySearchResultWrapper {
  padding: var(--p-space-4);
}

.condensedRow {
  width: calc(100% + var(--pc-index-table-translate-offset));
  transform: translateX(calc(-1 * var(--pc-index-table-translate-offset)));
  transition: transform var(--p-ease) var(--p-duration-200);
  display: flex;
  border-top: var(--p-border-divider);
  filter: none;
  align-items: center;
}

[data-selectmode='true'] {
  .condensedRow {
    transform: none;
  }
}

.CondensedList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.HeaderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 56px;
  padding: var(--p-space-2) var(--p-space-4);
  background-color: var(--p-surface);

  &.unselectable {
    min-height: auto;
    padding: 0;
  }
}

.StickyTable-condensed {
  visibility: visible;
}

.StickyTableHeader-condensed {
  padding: var(--p-space-4) var(--p-space-4) var(--p-space-2);
}

.ScrollBarContent {
  height: 1px;
  width: var(--pc-index-table-scroll-bar-content-width);
}
