.easing-simple-string-arg {
  opacity: 1;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: legacy-polaris-v8.easing('anticipate');
  transition-timing-function: var(--p-ease);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: legacy-polaris-v8.easing('excite');
  transition-timing-function: var(--p-ease-in);
  transition-timing-function: var(--p-ease-out);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: legacy-polaris-v8.easing('overshoot');
}

.easing-simple-non-string-arg {
  opacity: 1;
  transition-timing-function: var(--p-ease);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: legacy-polaris-v8.easing(anticipate);
  transition-timing-function: var(--p-ease);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: legacy-polaris-v8.easing(excite);
  transition-timing-function: var(--p-ease-in);
  transition-timing-function: var(--p-ease-out);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: legacy-polaris-v8.easing(overshoot);
}

.easing-simple-builtins {
  opacity: 1;
  transition-timing-function: var(--p-linear);
  // See: https://w3c.github.io/csswg-drafts/css-easing/#typedef-linear-easing-function
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'linear'. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: linear(1);
  transition-timing-function: var(--p-ease);
  transition-timing-function: var(--p-ease-in);
  transition-timing-function: var(--p-ease-out);
  transition-timing-function: var(--p-ease-in-out);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'cubic-bezier'. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  // See:https://w3c.github.io/csswg-drafts/css-easing/#typedef-step-easing-function
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'step-start'. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: step-start;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'step-end'. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: step-end;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'steps'. See https://polaris.shopify.com/tokens/motion for possible values.
  transition-timing-function: steps(1, jump-end);
}

$easingFunc: 'ease-in';
$foo: 'ease';

.edges {
  // Unknown values are flagged
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'foobar'.
  transition-timing-function: legacy-polaris-v8.easing(foobar);
  // Can only handle hard coded values
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function '$easingFunc'.
  transition-timing-function: legacy-polaris-v8.easing($easingFunc);
  // can't process variables
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Cannot statically analyse SASS variable $foo.
  transition-timing-function: $foo;
}
