.duration-compound-string-arg {
  opacity: 1;
  transition: opacity var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-100) var(--p-linear);
  transition: opacity var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-300) var(--p-linear);
  transition: opacity var(--p-duration-400) var(--p-linear);
  transition: opacity var(--p-duration-500) var(--p-linear);
}

.duration-compound-non-string-arg {
  opacity: 1;
  transition: opacity var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-100) var(--p-linear);
  transition: opacity var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-300) var(--p-linear);
  transition: opacity var(--p-duration-400) var(--p-linear);
  transition: opacity var(--p-duration-500) var(--p-linear);
}

.duration-compound-constant {
  opacity: 1;
  transition: opacity var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-50) var(--p-linear);
  transition: opacity var(--p-duration-50) var(--p-linear);
  transition: opacity var(--p-duration-100) var(--p-linear);
  transition: opacity var(--p-duration-100) var(--p-linear);
  transition: opacity var(--p-duration-150) var(--p-linear);
  transition: opacity var(--p-duration-150) var(--p-linear);
  transition: opacity var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-250) var(--p-linear);
  transition: opacity var(--p-duration-250) var(--p-linear);
  transition: opacity var(--p-duration-300) var(--p-linear);
  transition: opacity var(--p-duration-300) var(--p-linear);
  transition: opacity var(--p-duration-350) var(--p-linear);
  transition: opacity var(--p-duration-350) var(--p-linear);
  transition: opacity var(--p-duration-400) var(--p-linear);
  transition: opacity var(--p-duration-400) var(--p-linear);
  transition: opacity var(--p-duration-450) var(--p-linear);
  transition: opacity var(--p-duration-450) var(--p-linear);
  transition: opacity var(--p-duration-500) var(--p-linear);
  transition: opacity var(--p-duration-500) var(--p-linear);
  transition: opacity var(--p-duration-5000) var(--p-linear);
}

.duration-multiple-string-arg {
  opacity: 1;
  transition: opacity var(--p-duration-0) var(--p-linear),
    left var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-100) var(--p-linear),
    left var(--p-duration-100) var(--p-linear);
  transition: opacity var(--p-duration-200) var(--p-linear),
    left var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-300) var(--p-linear),
    left var(--p-duration-300) var(--p-linear);
  transition: opacity var(--p-duration-400) var(--p-linear),
    left var(--p-duration-400) var(--p-linear);
  transition: opacity var(--p-duration-500) var(--p-linear),
    left var(--p-duration-500) var(--p-linear);
}

.duration-multiple-non-string-arg {
  opacity: 1;
  transition: opacity var(--p-duration-200) var(--p-linear),
    left var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-0) var(--p-linear),
    left var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-100) var(--p-linear),
    left var(--p-duration-100) var(--p-linear);
  transition: opacity var(--p-duration-200) var(--p-linear),
    left var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-300) var(--p-linear),
    left var(--p-duration-300) var(--p-linear);
  transition: opacity var(--p-duration-400) var(--p-linear),
    left var(--p-duration-400) var(--p-linear);
  transition: opacity var(--p-duration-500) var(--p-linear),
    left var(--p-duration-500) var(--p-linear);
}

.duration-multiple-constant {
  opacity: 1;
  transition: opacity var(--p-duration-0) var(--p-linear),
    left var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-0) var(--p-linear),
    left var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-0) var(--p-linear),
    left var(--p-duration-0) var(--p-linear);
  transition: opacity var(--p-duration-50) var(--p-linear),
    left var(--p-duration-50) var(--p-linear);
  transition: opacity var(--p-duration-50) var(--p-linear),
    left var(--p-duration-50) var(--p-linear);
  transition: opacity var(--p-duration-100) var(--p-linear),
    left var(--p-duration-100) var(--p-linear);
  transition: opacity var(--p-duration-100) var(--p-linear),
    left var(--p-duration-100) var(--p-linear);
  transition: opacity var(--p-duration-150) var(--p-linear),
    left var(--p-duration-150) var(--p-linear);
  transition: opacity var(--p-duration-150) var(--p-linear),
    left var(--p-duration-150) var(--p-linear);
  transition: opacity var(--p-duration-200) var(--p-linear),
    left var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-200) var(--p-linear),
    left var(--p-duration-200) var(--p-linear);
  transition: opacity var(--p-duration-250) var(--p-linear),
    left var(--p-duration-250) var(--p-linear);
  transition: opacity var(--p-duration-250) var(--p-linear),
    left var(--p-duration-250) var(--p-linear);
  transition: opacity var(--p-duration-300) var(--p-linear),
    left var(--p-duration-300) var(--p-linear);
  transition: opacity var(--p-duration-300) var(--p-linear),
    left var(--p-duration-300) var(--p-linear);
  transition: opacity var(--p-duration-350) var(--p-linear),
    left var(--p-duration-350) var(--p-linear);
  transition: opacity var(--p-duration-350) var(--p-linear),
    left var(--p-duration-350) var(--p-linear);
  transition: opacity var(--p-duration-400) var(--p-linear),
    left var(--p-duration-400) var(--p-linear);
  transition: opacity var(--p-duration-400) var(--p-linear),
    left var(--p-duration-400) var(--p-linear);
  transition: opacity var(--p-duration-450) var(--p-linear),
    left var(--p-duration-450) var(--p-linear);
  transition: opacity var(--p-duration-450) var(--p-linear),
    left var(--p-duration-450) var(--p-linear);
  transition: opacity var(--p-duration-500) var(--p-linear),
    left var(--p-duration-500) var(--p-linear);
  transition: opacity var(--p-duration-500) var(--p-linear),
    left var(--p-duration-500) var(--p-linear);
  transition: opacity var(--p-duration-5000) var(--p-linear),
    left var(--p-duration-5000) var(--p-linear);
}

.easing-shorthand-string-arg {
  opacity: 1;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing("anticipate");
  transition: opacity 300ms legacy-polaris-v8.easing('anticipate');
  transition: opacity var(--p-duration-300) var(--p-ease);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing("excite");
  transition: opacity 300ms legacy-polaris-v8.easing('excite');
  transition: opacity var(--p-duration-300) var(--p-ease-in);
  transition: opacity var(--p-duration-300) var(--p-ease-out);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing("overshoot");
  transition: opacity 300ms legacy-polaris-v8.easing('overshoot');
}

.easing-shorthand-non-string-arg {
  opacity: 1;
  transition: opacity var(--p-duration-300) var(--p-ease);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing(anticipate);
  transition: opacity 300ms legacy-polaris-v8.easing(anticipate);
  transition: opacity var(--p-duration-300) var(--p-ease);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing(excite);
  transition: opacity 300ms legacy-polaris-v8.easing(excite);
  transition: opacity var(--p-duration-300) var(--p-ease-in);
  transition: opacity var(--p-duration-300) var(--p-ease-out);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing(overshoot);
  transition: opacity 300ms legacy-polaris-v8.easing(overshoot);
}

.easing-shorthand-builtins {
  opacity: 1;
  transition: opacity var(--p-duration-300) var(--p-linear);
  // See: https://w3c.github.io/csswg-drafts/css-easing/#typedef-linear-easing-function
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'linear'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) linear(1);
  transition: opacity 300ms linear(1);
  transition: opacity var(--p-duration-300) var(--p-ease);
  transition: opacity var(--p-duration-300) var(--p-ease-in);
  transition: opacity var(--p-duration-300) var(--p-ease-out);
  transition: opacity var(--p-duration-300) var(--p-ease-in-out);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'cubic-bezier'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) cubic-bezier(0, 0, 1, 1);
  transition: opacity 300ms cubic-bezier(0, 0, 1, 1);
  // See:https://w3c.github.io/csswg-drafts/css-easing/#typedef-step-easing-function
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'step-start'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) step-start;
  transition: opacity 300ms step-start;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'step-end'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) step-end;
  transition: opacity 300ms step-end;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'steps'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) steps(1, jump-end);
  transition: opacity 300ms steps(1, jump-end);
}

.easing-multiple-string-arg {
  opacity: 1;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing("anticipate"), left var(--p-duration-300) legacy-polaris-v8.easing("anticipate");
  transition: opacity 300ms legacy-polaris-v8.easing('anticipate'),
    left 300ms legacy-polaris-v8.easing('anticipate');
  transition: opacity var(--p-duration-300) var(--p-ease),
    left var(--p-duration-300) var(--p-ease);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing("excite"), left var(--p-duration-300) legacy-polaris-v8.easing("excite");
  transition: opacity 300ms legacy-polaris-v8.easing('excite'),
    left 300ms legacy-polaris-v8.easing('excite');
  transition: opacity var(--p-duration-300) var(--p-ease-in),
    left var(--p-duration-300) var(--p-ease-in);
  transition: opacity var(--p-duration-300) var(--p-ease-out),
    left var(--p-duration-300) var(--p-ease-out);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing("overshoot"), left var(--p-duration-300) legacy-polaris-v8.easing("overshoot");
  transition: opacity 300ms legacy-polaris-v8.easing('overshoot'),
    left 300ms legacy-polaris-v8.easing('overshoot');
}

.easing-multiple-non-string-arg {
  opacity: 1;
  transition: opacity var(--p-duration-300) var(--p-ease),
    left var(--p-duration-300) var(--p-ease);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing(anticipate), left var(--p-duration-300) legacy-polaris-v8.easing(anticipate);
  transition: opacity 300ms legacy-polaris-v8.easing(anticipate),
    left 300ms legacy-polaris-v8.easing(anticipate);
  transition: opacity var(--p-duration-300) var(--p-ease),
    left var(--p-duration-300) var(--p-ease);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing(excite), left var(--p-duration-300) legacy-polaris-v8.easing(excite);
  transition: opacity 300ms legacy-polaris-v8.easing(excite),
    left 300ms legacy-polaris-v8.easing(excite);
  transition: opacity var(--p-duration-300) var(--p-ease-in),
    left var(--p-duration-300) var(--p-ease-in);
  transition: opacity var(--p-duration-300) var(--p-ease-out),
    left var(--p-duration-300) var(--p-ease-out);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) legacy-polaris-v8.easing(overshoot), left var(--p-duration-300) legacy-polaris-v8.easing(overshoot);
  transition: opacity 300ms legacy-polaris-v8.easing(overshoot),
    left 300ms legacy-polaris-v8.easing(overshoot);
}

.easing-multiple-builtins {
  opacity: 1;
  transition: opacity var(--p-duration-300) var(--p-linear),
    left var(--p-duration-300) var(--p-linear);
  // See: https://w3c.github.io/csswg-drafts/css-easing/#typedef-linear-easing-function
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'linear'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) linear(1), left var(--p-duration-300) linear(1);
  transition: opacity 300ms linear(1), left 300ms linear(1);
  transition: opacity var(--p-duration-300) var(--p-ease),
    left var(--p-duration-300) var(--p-ease);
  transition: opacity var(--p-duration-300) var(--p-ease-in),
    left var(--p-duration-300) var(--p-ease-in);
  transition: opacity var(--p-duration-300) var(--p-ease-out),
    left var(--p-duration-300) var(--p-ease-out);
  transition: opacity var(--p-duration-300) var(--p-ease-in-out),
    left var(--p-duration-300) var(--p-ease-in-out);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'cubic-bezier'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) cubic-bezier(0, 0, 1, 1), left var(--p-duration-300) cubic-bezier(0, 0, 1, 1);
  transition: opacity 300ms cubic-bezier(0, 0, 1, 1),
    left 300ms cubic-bezier(0, 0, 1, 1);
  // See:https://w3c.github.io/csswg-drafts/css-easing/#typedef-step-easing-function
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'step-start'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) step-start, left var(--p-duration-300) step-start;
  transition: opacity 300ms step-start, left 300ms step-start;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'step-end'. See https://polaris.shopify.com/tokens/motion for possible values.
  // warning: Unexpected easing function 'step-start'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) step-end, left var(--p-duration-300) step-start;
  transition: opacity 300ms step-end, left 300ms step-start;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Unexpected easing function 'steps'. See https://polaris.shopify.com/tokens/motion for possible values.
  // transition: opacity var(--p-duration-300) steps(1, jump-end), left var(--p-duration-300) steps(1, jump-end);
  transition: opacity 300ms steps(1, jump-end), left 300ms steps(1, jump-end);
}

$foo: 'ease';

.edges {
  // sass calculation
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Numeric operator detected.
  // warning: No matching duration token for '33ms'.
  // transition: (legacy-polaris-v8.duration() - 33ms) fill var(--p-linear) 33ms;
  transition: (legacy-polaris-v8.duration() - 33ms) fill linear 33ms;
  // Duration comes after easing func
  transition: opacity var(--p-linear) var(--p-duration-500);
  // Duration + Delay
  transition: opacity var(--p-duration-400) var(--p-linear)
    var(--p-duration-100);
  // Duration + Delay after easing func
  transition: opacity var(--p-linear) var(--p-duration-400)
    var(--p-duration-100);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // warning: Cannot statically analyse SASS variable $foo.
  // transition: opacity $foo var(--p-duration-500);
  transition: opacity $foo 0.5s;
  // already uses polaris tokens
  transition: var(--p-duration-500) var(--p-linear);
  // partially uses polaris tokens
  transition: var(--p-duration-500) var(--p-linear);
  // Without an easing function
  transition: fill var(--p-duration-300);
}
