.duration-simple-string-arg {
  opacity: 1;
  transition-duration: legacy-polaris-v8.duration('none');
  transition-duration: legacy-polaris-v8.duration('fast');
  transition-duration: legacy-polaris-v8.duration('base');
  transition-duration: legacy-polaris-v8.duration('slow');
  transition-duration: legacy-polaris-v8.duration('slower');
  transition-duration: legacy-polaris-v8.duration('slowest');
}

.duration-simple-non-string-arg {
  opacity: 1;
  transition-duration: legacy-polaris-v8.duration();
  transition-duration: legacy-polaris-v8.duration(none);
  transition-duration: legacy-polaris-v8.duration(fast);
  transition-duration: legacy-polaris-v8.duration(base);
  transition-duration: legacy-polaris-v8.duration(slow);
  transition-duration: legacy-polaris-v8.duration(slower);
  transition-duration: legacy-polaris-v8.duration(slowest);
}

.duration-simple-constant {
  opacity: 1;
  transition-duration: 0;
  transition-duration: 0ms;
  transition-duration: 0s;
  transition-duration: 50ms;
  transition-duration: 0.05s;
  transition-duration: 100ms;
  transition-duration: 0.1s;
  transition-duration: 150ms;
  transition-duration: 0.15s;
  transition-duration: 200ms;
  transition-duration: 0.2s;
  transition-duration: 250ms;
  transition-duration: 0.25s;
  transition-duration: 300ms;
  transition-duration: 0.3s;
  transition-duration: 350ms;
  transition-duration: 0.35s;
  transition-duration: 400ms;
  transition-duration: 0.4s;
  transition-duration: 450ms;
  transition-duration: 0.45s;
  transition-duration: 500ms;
  transition-duration: 0.5s;
  transition-duration: 5s;
}

$foo: 'ease';

.edges {
  // sass calculation
  // foobar isn't a valid duration key
  transition-duration: legacy-polaris-v8.duration(foobar);
  // can't process variables
  transition-duration: $foo;
  transition-delay: legacy-polaris-v8.duration('none');
  transition-timing-function: linear;
}
