@import '../../styles/common';

.Pagination {
  button {
    /* stylelint-disable-next-line declaration-no-important -- override border */
    border: none !important;
    /* stylelint-disable-next-line declaration-no-important -- override box-shadow */
    box-shadow: none !important;
    background-color: var(--p-color-bg-fill-tertiary);

    &:hover {
      background-color: var(--p-color-bg-fill-tertiary-hover);
    }

    &:active {
      /* stylelint-disable-next-line declaration-no-important -- override box shadow */
      box-shadow: var(--p-shadow-inset-200) !important;
    }

    &:active,
    &:focus {
      background-color: var(--p-color-bg-fill-tertiary-active);
    }
  }

  &.table {
    /* stylelint-disable-next-line -- custom z index to work with the z-indexes in the IndexTable */
    --pc-pagination-index: 35;
    position: sticky;
    bottom: 0;
    /* stylelint-disable-next-line -- sets the z-index created above */
    z-index: var(--pc-pagination-index);
    border-top: 1px solid var(--p-color-border);

    button {
      --button-min-height: var(--p-height-700);
      background-color: var(--p-color-bg-surface-secondary);
      min-height: var(--button-min-height);
      min-width: var(--button-min-height);
      height: var(--button-min-height);
      width: var(--button-min-height);
      padding: unset;

      /* stylelint-disable -- override pagination buttons in tables  */
      &:hover {
        background-color: var(--p-color-bg-fill-tertiary-hover);

        svg {
          fill: var(--p-color-icon-hover);
        }
      }

      &:active,
      &:focus {
        background-color: var(--p-color-bg-fill-tertiary-active);

        svg {
          fill: var(--p-color-icon-active);
        }
      }

      &:disabled {
        svg {
          fill: var(--p-color-icon-disabled);
        }
      }
      /* stylelint-enable */
    }
  }
}
