.Pagination {
  [data-buttongroup-variant='segmented'] {
    gap: var(--p-space-050);
  }

  button {
    /* stylelint-disable-next-line declaration-no-important -- override border */
    border: none !important;
    /* stylelint-disable-next-line declaration-no-important -- override box-shadow */
    box-shadow: none !important;
    background-color: var(--p-color-bg-fill-tertiary);

    &:hover {
      background-color: var(--p-color-bg-fill-tertiary-hover);
    }

    &:active {
      /* stylelint-disable-next-line polaris/media-queries/polaris/media-query-allowed-list -- target desktop + mouse */
      @media (--p-breakpoints-md-up) and (pointer: fine) {
        /* stylelint-disable-next-line declaration-no-important -- override box shadow */
        box-shadow: var(--p-shadow-inset-200) !important;
      }
    }

    &:active,
    &:focus {
      background-color: var(--p-color-bg-fill-tertiary-active);
    }
  }

  &.table {
    button {
      --button-min-height: var(--p-height-700);
      background-color: var(--p-color-bg-surface-secondary-selected);
      min-height: var(--button-min-height);
      min-width: var(--button-min-height);
      height: var(--button-min-height);
      width: var(--button-min-height);
      display: flex;
      padding: unset;

      /* stylelint-disable -- override pagination buttons in tables  */
      &:hover {
        background-color: var(--p-color-bg-fill-tertiary-hover);

        svg {
          fill: var(--p-color-icon-hover);
        }
      }

      &:active,
      &:focus {
        background-color: var(--p-color-bg-fill-tertiary-active);

        svg {
          fill: var(--p-color-icon-active);
        }
      }

      &:disabled {
        svg {
          fill: var(--p-color-icon-disabled);
        }
      }
      /* stylelint-enable */
    }
  }
}
