@import '../../styles/common';

.Pagination {
  button {
    #{$se23} & {
      /* stylelint-disable-next-line declaration-no-important -- se23 */
      border: none !important;
      background-color: var(--p-color-bg-strong);
      /* stylelint-disable-next-line selector-max-combinators -- se23 */
      &:hover {
        background-color: var(--p-color-bg-strong-hover);
      }
      /* stylelint-disable-next-line selector-max-combinators -- se23 */
      &:active,
      &:focus {
        background-color: var(--p-color-bg-strong-active);
      }
    }
  }
}
