@import '../../../../styles/common';

.Header {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding: var(--p-space-4) var(--p-space-5);
  border-bottom: var(--p-border-divider);
}

.titleHidden {
  position: absolute;
  right: var(--p-space-2);
  z-index: 1;

  .Title {
    display: none;
  }
}

.Title {
  @include text-breakword;
  flex: 1;
  margin-top: var(--p-space-1);
}
