@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.TokenList {
  --table-border-color: var(--border-color);
  color: var(--text-strong);
  font-size: var(--font-size-200);

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
  }

  thead {
    th {
      box-shadow: inset 0 -1px 0 var(--table-border-color);
    }
  }

  th {
    padding: 0.75rem 1rem;
    background: var(--surface);
  }

  td {
    padding: 1rem;

    &:not(.renderedInSearchResults) & {
      height: 3.2rem;
    }
  }

  th {
    text-align: left;
    white-space: pre;
    font-size: var(--font-size-400);
  }

  td {
    vertical-align: middle;
    box-shadow: inset 0 -1px 0 var(--table-border-color);
  }

  th,
  td {
    &:nth-child(1) {
      padding: 0.5rem;
      padding-left: 0;
      width: 200px;
      box-sizing: content-box;
    }
  }

  tr {
    position: relative;

    @media (hover: hover) {
      &[data-is-current-result='true'] {
        &,
        &:hover {
          background: var(--search-highlight-color);
          color: var(--text-strong);
        }

        .TokenName {
          color: var(--text-strong);
        }

        @media screen and (max-width: $breakpointDesktop) {
          box-shadow: 0 0 0 2px var(--text);
        }

        td {
          box-shadow: none;
        }

        td:first-child {
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -0.5rem;
            width: 0.5rem;
            background: var(--search-highlight-color);
            border-radius: var(--border-radius-800) 0 0 var(--border-radius-800);

            @media screen and (max-width: $breakpointDesktop) {
              display: none;
            }
          }
        }

        td:last-child {
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: -0.5rem;
            width: 0.5rem;
            background: var(--search-highlight-color);
            border-radius: 0 var(--border-radius-800) var(--border-radius-800) 0;

            @media screen and (max-width: $breakpointDesktop) {
              display: none;
            }
          }
        }
      }
    }
  }

  tr td.Value,
  tr td.FigmaUsage {
    white-space: pre;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 50px;
      background: linear-gradient(to right, transparent, var(--surface));
    }
  }

  @media screen and (max-width: $breakpointDesktop) {
    &,
    tr,
    td,
    th {
      display: block;
      width: auto;
      height: auto;
      box-shadow: none;
      padding: 0;
    }

    th {
      display: none;
    }

    tr {
      display: flex;
      flex-direction: column;
    }

    td {
      margin-bottom: 0.5rem;

      &:nth-child(1) {
        margin-bottom: 1.25rem;
        width: 100%;
        padding: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    tbody {
      display: grid;
      gap: 0.75rem;
      grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));

      tr {
        box-shadow: var(--card-shadow);
        padding: 1.25rem;
        border-radius: var(--border-radius-600);
      }
    }

    .TokenContainer {
      float: none;
    }
  }
}

.TokenContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
  background: var(--decorative-2);
  border-radius: var(--border-radius-400);
  gap: 0.3rem;
  float: left;
  max-width: 100%;
}

.TokenName {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TokenClipboard {
  button {
    position: relative;
    top: 0.15rem;
    background-color: transparent;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.TokenDescription {
  line-height: 1.45;
}

.ClickableItemLink {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -0.5rem;
  right: -0.5rem;
  height: 100%;
  text-indent: -1000px;
  overflow: hidden;
  border-radius: var(--border-radius-500);

  @media screen and (max-width: $breakpointDesktop) {
    left: 0;
    right: 0;
  }
}
