@import '../../styles/common';

.ButtonGroup {
  // stylelint-disable -- ButtonGroup custom properties
  --pc-button-group-item: 10;
  --pc-button-group-focused: 20;
  // stylelint-enable
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: calc(-1 * var(--p-space-200));
  margin-left: calc(-1 * var(--p-space-200));
}

.Item {
  margin-top: var(--p-space-200);
  margin-left: var(--p-space-200);
}

.Item-plain {
  &:not(:first-child) {
    margin-left: var(--p-space-200);
  }

  &:not(:last-child) {
    margin-right: var(--p-space-200);
  }
}

.variantSegmented {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-left: 0;

  .Item {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    line-height: 1;

    &:not(:first-child) {
      margin-left: calc(-0.5 * var(--p-space-025));
    }
  }

  [aria-pressed='true'] {
    // stylelint-disable-next-line  -- bring pressed button to top
    z-index: var(--pc-button-group-item);
  }

  .Item-focused:not(:active) {
    // stylelint-disable-next-line  -- custom property
    z-index: var(--pc-button-group-focused);
  }
}

.fullWidth {
  .Item {
    flex: 1 1 auto;
  }
}

.extraTight {
  margin-top: calc(-1 * var(--p-space-100));
  margin-left: calc(-1 * var(--p-space-100));

  .Item {
    margin-top: var(--p-space-100);
    margin-left: var(--p-space-100);
  }
}

.tight {
  margin-top: calc(-1 * var(--p-space-200));
  margin-left: calc(-1 * var(--p-space-200));

  .Item {
    margin-top: var(--p-space-200);
    margin-left: var(--p-space-200);
  }
}

.loose {
  margin-top: calc(-1 * var(--p-space-500));
  margin-left: calc(-1 * var(--p-space-500));

  .Item {
    margin-top: var(--p-space-500);
    margin-left: var(--p-space-500);
  }
}

.noWrap {
  display: flex;
  flex-wrap: nowrap;
}
