.AddAsFilterAction {
  padding-block: var(--p-space-100);
  background: none;
  border: none;
  color: unset;
  cursor: pointer;
  border-radius: var(--p-border-radius-100);
  transition: color var(--p-motion-duration-150) var(--p-motion-ease-in-out);

  &:hover,
  &:active {
    color: var(--p-color-text);

    svg {
      fill: var(--p-color-icon-secondary-hover);
    }
  }
}
