@import '../../styles/common';

.FullscreenBar {
  position: relative;
  display: flex;
  height: $top-bar-height;
  box-shadow: var(--p-shadow-200);
  background-color: var(--p-color-bg);

  #{$se23} & {
    box-shadow: var(--p-shadow-100);
  }
}

.BackAction {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  padding-left: var(--p-space-300);
  padding-right: var(--p-space-300);
  border-width: 0;
  border-right: var(--p-border-width-025) solid var(--p-color-border-subdued);
  background-color: var(--p-color-bg);
  font-weight: var(--p-font-weight-medium);
  cursor: pointer;

  #{$se23} & {
    padding-left: var(--p-space-400);
    padding-right: var(--p-space-400);
  }
}

.BackAction :first-child {
  padding-right: var(--p-space-050);

  #{$se23} & {
    margin-right: var(--p-space-150);
    padding-right: 0;
  }
}
