@import '../../../../styles/common';
@import '../../variables';

.Search {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  top: top-bar-height();
  left: 0;
  right: 0;

  @include page-content-when-not-fully-condensed {
    position: absolute;
    top: 100%;
    max-width: $search-max-width;
    margin: spacing(extra-tight) spacing(loose) 0;
  }

  @include page-content-when-not-partially-condensed {
    margin: spacing(extra-tight) spacing(extra-loose) 0;
  }
}

.visible {
  visibility: initial;
  pointer-events: all;
}

.Results {
  position: relative;
  z-index: z-index(nav, $fixed-element-stacking-order);
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - #{top-bar-height()});
  margin: 0;

  @include page-content-when-not-fully-condensed {
    max-height: 60vh;
  }
}
