@import '../../../../styles/common';

.startFade {
  opacity: 0;
  will-change: opacity;
  transition: opacity var(--p-motion-duration-300) var(--p-motion-ease-out);
  pointer-events: none;
}

.endFade {
  opacity: 1;
  pointer-events: auto;
}

.startSlideUp {
  transform: translateY(100vh);
  transition: transform var(--p-motion-duration-500) var(--p-motion-ease-in-out);
}

.endSlideUp {
  transform: translateY(0);
}
