@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.QuickStartGuide {
  width: 100%;
}

.QuickStartGuide__Card {
  color: var(--text-strong);
  font-size: var(--font-size-100);
  background: var(--surface-subdued);
  border-radius: var(--border-radius-500);
  width: 100%;
  margin-top: 1.5rem;
  overflow: hidden;
  border: var(--border);
}

.QuickStartGuide__Table {
  width: 100%;

  @media screen and (max-width: $breakpointMobile) {
    display: none;
  }

  tbody tr {
    td,
    th {
      position: relative;
      vertical-align: top;
      width: auto;
      max-width: 8rem;
      padding-bottom: 1rem;
      padding-top: 1rem !important;
      word-wrap: break-word;
      border-bottom: var(--border);

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
        padding-bottom: 1rem;
      }
    }

    th {
      border-right: var(--border);
    }

    &:last-child {
      th,
      td {
        border-bottom: none;
      }
    }
  }
}

.QuickStartGuide__List {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  word-break: break-word;

  @media screen and (max-width: $breakpointMobile) {
    display: flex;
  }

  .QuickStartGuide__List--ItemWrapper {
    width: 100%;
    padding: 0 1rem;

    &:not(:first-child) {
      border-top: var(--border);
    }
  }

  dt {
    font-weight: var(--font-weight-600);
    padding: 1rem 0 0.5rem;
  }

  dd {
    margin-left: 0;
    padding: 0 0 1rem;

    p:last-child {
      margin: 0;
    }
  }
}
