.GlobalSearch {
  position: relative;

  a {
    color: inherit;
  }

  input {
    background: #f8f8f8 url(./SearchMajor.svg) no-repeat 1em center;
    background-size: 16px auto;
    padding: 0.6rem 1rem 0.6rem 2.5rem;
    appearance: none;
    border: none;
    outline: none;
    border-radius: 100px;
    font-size: 0.9rem;
    width: 100%;

    &::placeholder {
      color: #444;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }
}

.Results {
  position: absolute;
  z-index: 2;
  border-radius: 8px;
  width: 100%;
  animation: search-results-enter 0.3s cubic-bezier(0.25, 1, 0.5, 1) both;
  overflow: auto;
  max-height: 70vh;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1),
    0 100px 200px rgba(0, 0, 0, 0.1);
  background: #fff;
  backdrop-filter: blur(10px);

  &:empty {
    display: none;
  }
}

.Result {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);

  &[data-is-active="true"] {
    background: #fafafa;
  }

  &:last-child {
    border-bottom: none;
  }

  a {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 1.25em 1.75em;
  }
}

.Title {
  margin: 0;
  font-weight: 600;
}

.Excerpt {
  margin: 0;
  font-size: 0.8em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 0.75;
}

.Url {
  margin: 4px 0 0;
  font-size: 0.8em;
  color: #2c6ecb;
}

.ComponentPreview {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 200px;
  max-width: 200px;
  height: auto;

  img {
    border-radius: 6px;
    margin: 0;
  }
}

@keyframes search-results-enter {
  from {
    transform: scale(0.99) translateY(4px);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(4px);
    opacity: 1;
  }
}
