@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.GlobalSearch {
  position: relative;
  --focus-outline: 0 0 0 2px #222, 0 0 0 4px #fff;
}

.Header {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: var(--surface);
  z-index: 1;
  border-radius: var(--border-radius-600) var(--border-radius-600) 0 0;
  box-shadow: 0 0.5px var(--border-color);

  h2 {
    font-size: var(--font-size-100);
    font-weight: var(--font-weight-400);
    color: var(--text-subdued);
  }

  p {
    font-size: var(--font-size-100);
    color: var(--text-subdued);
  }
}

.Results {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1180px;
  height: 800px;
  margin: auto;
  z-index: 2;
  border-radius: var(--border-radius-600);
  overflow: hidden;
  animation: search-results-enter 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) both;
  box-shadow: 0 100px 250px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 0 0 3000px rgba(0, 0, 0, 0.25);
  background: var(--surface);
  display: flex;
  flex-direction: column;

  @include dark-mode {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.125),
      0 100px 250px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.1),
      0 0 0 3000px rgba(28, 28, 28, 0.5);
  }

  @media screen and (max-width: $breakpointMobile) {
    right: 0;
    width: calc(100vw - 2.5rem);
  }

  &:before {
    position: fixed;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    bottom: 1px;
    left: 1px;
    height: 100px;
    z-index: 1;
    background: linear-gradient(to top, var(--surface), rgba(250, 250, 250, 0));
    border-radius: 0 0 var(--border-radius-600) var(--border-radius-600);
  }

  &:empty {
    display: none;
  }
}

.ResultsInner {
  overflow: auto;
  overscroll-behavior: contain;
  flex: 1;
  padding-top: 3.25rem;
}

.ResultsGroup {
  position: relative;
  padding: 1.5rem 1.5rem 0 12rem;

  + .ResultsGroup {
    padding-top: 1.5rem;
  }

  &:last-child {
    padding-bottom: 1.5rem;
  }

  .ResultsGroupName {
    position: absolute;
    left: 1.5rem;
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-400);
  }
}

.FoundationsResults {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.FoundationsResult {
  position: relative;

  &.isHighlighted {
    box-shadow: var(--focus-outline);
    border-radius: var(--border-radius-400);
  }

  a {
    display: block;
    color: inherit;
  }

  h4 {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-500);
    color: var(--text-strong);
  }

  p {
    margin-top: 0.1rem;
    font-size: var(--font-size-200);
  }
}

@keyframes search-results-enter {
  from {
    transform: scale(0.98);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
