@import '../../styles/common';

.SkeletonThumbnail {
  display: flex;
  background-color: var(--p-surface-neutral);
  border-radius: var(--p-border-radius-base);

  @media screen and (-ms-high-contrast: active) {
    background-color: grayText;
  }
}

.sizeSmall {
  height: 40px;
  width: 40px;
}

.sizeMedium {
  height: 60px;
  width: 60px;
}

.sizeLarge {
  height: 80px;
  width: 80px;
}
