@import '../../styles/common';

.Connected {
  --pc-item: 10;
  --pc-primary: 20;
  --pc-focused: 30;
  position: relative;
  display: flex;
}

.Item {
  position: relative;
  z-index: var(--pc-item);
  flex: 0 0 auto;

  &:not(:first-child) {
    margin-left: var(--p-space-1);
  }
}

// This is a violation of our component model, but it’s the cleanest
// way to remove the border radii on connected elements.
// TextField.scss has a dependency due to this override.
// stylelint-disable declaration-no-important
.Item-primary {
  z-index: var(--pc-primary);
  flex: 1 1 auto;
}

// stylelint-enable declaration-no-important

.Item-focused {
  z-index: var(--pc-focused);
}
