@import '../../styles/common';
$start-button-size: 60px;

.Thumbnail {
  position: relative;
  // Accommodating 16:9 responsive block for video
  padding-bottom: 9 / 16 * 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  &.WithPlayer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: auto;
  }
}

.PlayButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:focus {
    outline: none;
    @include state(focused);
  }
}

.PlayIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: rem($start-button-size);
  height: rem($start-button-size);
  margin-top: rem(-$start-button-size / 2);
  margin-left: rem(-$start-button-size / 2);
}

.Timestamp {
  position: absolute;
  bottom: 0;
  padding: 0 spacing(extra-tight);
  margin-bottom: spacing(tight);
  margin-left: spacing(tight);
  border-radius: var(--p-border-radius-base, border-radius());
  color: var(--p-text, color('sky', 'lighter'));
  background-color: var(--p-surface, color('ink'));
  opacity: 0.8;
  text-align: center;
}
