@import '../../../../styles/common';
@import '../../variables';

.AppliedFilters {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-top: calc(-1 * resource-list(header-padding-small));
  margin-left: calc(-1 * resource-list(header-padding-small));
  margin-right: calc(-1 * resource-list(header-padding-small));
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  &::after {
    content: '';
    flex: 0 0 resource-list(header-padding-small);
  }

  @include breakpoint-after(resource-list(breakpoint-small)) {
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: calc(-1 * var(--p-space-2));
    margin-top: calc(-1 * var(--p-space-4));

    &::after {
      content: none;
      flex: none;
    }
  }

  @include breakpoint-before(resource-list(breakpoint-small)) {
    // account for scrollbar
    padding-bottom: var(--p-space-2);
  }
}

.AppliedFilter {
  flex: 1 0 auto;
  margin-top: var(--p-space-2);
  margin-left: resource-list(header-padding-small);
  max-width: calc(100% - var(--p-space-2));

  @include breakpoint-after(resource-list(breakpoint-small)) {
    flex: 0 1 auto;
    margin-left: var(--p-space-2);
  }
}
