@import '../../variables';
@import '../../shared';

$three-column-breakpoint: $three-column - 1;

.FilterControl {
  display: flex;

  @include breakpoint-before($three-column-breakpoint) {
    flex-wrap: wrap;
  }
}

.TextField {
  flex: 1 1 auto;
}

.Sorter {
  flex: 0 0 auto;
  margin-left: spacing();

  @include breakpoint-before($three-column-breakpoint) {
    width: 100%;
    margin: resource-list(header-padding-small) 0 0;
  }

  @include breakpoint-before(resource-list(breakpoint-small)) {
    display: none;
  }
}

.AppliedFilters {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-left: -1 * resource-list(header-padding-small);
  margin-right: -1 * resource-list(header-padding-small);
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  &::after {
    content: '';
    flex: 0 0 resource-list(header-padding-small);
  }

  @include breakpoint-after(resource-list(breakpoint-small)) {
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: -1 * spacing(tight);

    &::after {
      content: none;
      flex: none;
    }
  }

  @include breakpoint-before(resource-list(breakpoint-small)) {
    // account for scrollbar
    padding-bottom: spacing(tight);
  }
}

.AppliedFilter {
  flex: 1 0 auto;
  margin-top: spacing(tight);
  margin-left: resource-list(header-padding-small);
  max-width: calc(100% - #{spacing(tight)});

  @include breakpoint-after(resource-list(breakpoint-small)) {
    flex: 0 1 auto;
    margin-left: spacing(tight);
  }
}
