@import '../../../../styles/common';

.Footer {
  display: flex;
  align-self: flex-end;
  align-items: center;
  width: 100%;
  min-height: var(--p-space-16);
  padding: var(--p-space-4);
  border-top: var(--p-border-divider);
}

.FooterContent {
  width: 100%;
}
