.Stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-prop, var(--p-space-0));
}

.Row {
  flex-direction: row;
  flex-wrap: var(--row-wrap-prop, nowrap);
}

.List {
  margin: 0;
}
