.ReadmeContent {
  border-radius: 4px;
  overflow: hidden;

  img {
    border-radius: 2px;
    width: 100%;
    height: auto;
    background: white;
  }

  li {
    list-style-type: disc;
    margin-left: 1.1em;
  }

  h3 {
    margin-top: 2em;
    font-size: 1.25em;
  }

  pre {
    font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
      Menlo, Consolas, monospace;
    font-size: 0.875em;
    padding: 1em;
    background: #111;
    color: white;
    border-radius: 2px;
    overflow: auto;

    p {
      margin: 0;
    }
  }
}

.TopBar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.25em;
  background: black;
  color: white;
}

.Content {
  padding: 0 18em;

  > div > h1 + p {
    font-size: 1.4em;
  }
}
