.Badge {
  // stylelint-disable -- Polaris component custom properties
  --pc-badge-horizontal-padding: var(--p-space-2);
  --pc-badge-vertical-padding: var(--p-space-05);
  // stylelint-enable
  display: inline-flex;
  align-items: center;
  padding: var(--pc-badge-vertical-padding) var(--pc-badge-horizontal-padding);
  background-color: var(--p-surface-neutral);
  border-radius: var(--p-border-radius-5);
  color: var(--p-text);

  @media print {
    border: solid var(--p-border-width-1) var(--p-border);
  }
}

.statusSuccess {
  background-color: var(--p-surface-success);
}

.statusInfo {
  background-color: var(--p-surface-highlight);
}

.statusAttention {
  background-color: var(--p-surface-attention);
}

.statusWarning {
  background-color: var(--p-surface-warning);
}

.statusCritical {
  background-color: var(--p-surface-critical);
}

.statusNew {
  border: none;
}

.withinFilter {
  border-radius: var(--p-border-radius-1);
}

.Icon {
  // This compensates for the typical icon used in badges being inset within
  // its bounding box.
  margin-left: calc(-1 * (var(--p-space-1)));

  + *:not(.Icon) {
    margin-left: var(--p-space-1);
  }
}

.PipContainer {
  display: grid;
  align-items: center;
  margin-left: calc(-1 * var(--p-space-05));
  margin-right: var(--p-space-1);
}
