@import '../../styles/common';

.Card {
  background-color: var(--p-surface);
  box-shadow: var(--p-card-shadow);
  outline: border-width(base) solid transparent;

  + .Card {
    margin-top: spacing();

    @media print {
      margin-top: -1 * spacing(tight);
    }
  }

  @include page-content-when-not-fully-condensed {
    border-radius: var(--p-border-radius-wide);
  }

  @media print {
    box-shadow: none;
  }
}

.subdued {
  background-color: var(--p-surface-subdued);
}

.Section-hideOnPrint,
.hideOnPrint {
  @include hidden-when-printing;
}

.Header {
  padding: spacing() spacing() 0;

  @include page-content-when-not-fully-condensed {
    padding: spacing(loose) spacing(loose) 0;
  }

  @media print {
    @include page-content-when-not-fully-condensed {
      padding: spacing(tight) spacing() spacing(none);
    }
  }
}

.Section {
  padding: spacing();

  @include page-content-when-not-fully-condensed {
    padding: spacing(loose);
  }

  + .Section {
    border-top: border('divider');

    @media print {
      border-top: 0;
    }
  }

  @media print {
    padding-top: spacing(extra-tight);
    padding-bottom: spacing(extra-tight);
  }
}

.Section:first-child {
  border-top-left-radius: var(--p-border-radius-wide);
  border-top-right-radius: var(--p-border-radius-wide);
}

.Section:last-child {
  border-bottom-left-radius: var(--p-border-radius-wide);
  border-bottom-right-radius: var(--p-border-radius-wide);
}

.Section-fullWidth {
  padding: spacing() spacing(none);

  @include page-content-when-not-fully-condensed {
    padding: spacing(loose) spacing(none);
  }
}

.Section-flush {
  padding: spacing(none);

  @include page-content-when-not-fully-condensed {
    padding: spacing(none);
  }
}

.Section-subdued {
  background-color: var(--p-surface-subdued);

  @media (-ms-high-contrast: active) {
    background-color: transparent;
  }

  .Header + & {
    border-top: border('divider');
    margin-top: spacing(loose);
  }
}

.SectionHeader {
  padding-bottom: spacing(tight);

  .Section-fullWidth & {
    padding-left: spacing();
    padding-right: spacing();

    @include page-content-when-not-fully-condensed {
      padding-left: spacing(loose);
      padding-right: spacing(loose);
    }
  }
}

.Subsection {
  + .Subsection {
    margin-top: spacing();
    padding-top: spacing();
    border-top: border('divider');

    @media print {
      border-top: 0;
    }
  }

  @media print {
    padding-top: spacing(extra-tight);
    padding-bottom: spacing(extra-tight);
  }
}

.Footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 spacing() spacing();

  @include page-content-when-not-fully-condensed {
    padding: 0 spacing(loose) spacing(loose);
  }

  &.LeftJustified {
    justify-content: flex-start;
  }

  .Section-subdued + & {
    border-top: border('divider');
    padding: spacing(loose);
  }
}
