/* stylelint-disable */

.border-radius {
  /* Migrate */
  border-radius: var(--p-border-radius-base);
  border-radius: var(--p-border-radius-base);
  border-radius: var(--p-border-radius-large);

  /* Ignore */
  border-radius: calc(border-radius(base) * 2);
  border-radius: calc(border-radius() * rem(1px));

  /* Comment */
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // border-radius: var(--p-border-radius-base) * 2;
  border-radius: border-radius(base) * 2;
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // border-radius: var(--p-border-radius-base) * rem(1px);
  border-radius: border-radius() * rem(1px);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // border-top-right-radius: var(--p-border-radius-base) * rem(4px);
  border-top-right-radius: border-radius() * rem(4px);
}
