@import '../../styles/common';
@import '../ResourceList/variables';

.CheckableButton {
  color: var(--p-color-text);
  font-size: var(--p-font-size-75);
  font-weight: var(--p-font-weight-medium);
  line-height: var(--p-font-line-height-1);
  letter-spacing: initial;
  display: flex;
  align-items: center;
  min-height: 36px;
  min-width: 36px;
  margin: 0;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  text-align: left;
  border-radius: var(--p-border-radius-1);
  width: auto;

  svg {
    fill: var(--p-color-icon-on-color);
  }

  &:hover,
  &:active {
    background: transparent;
  }

  &:focus {
    outline: none;
  }
}

.Checkbox {
  pointer-events: none;
  height: 20px;
  width: 20px;
}

.Label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  // padding to fix the bottom of letters being cutoff by overflow: hidden
  padding: var(--p-space-025) 0;
  margin-left: calc(var(--p-space-5) - var(--p-border-width-2));
}
