@import '../../styles/common';
@import '../ResourceList/variables';
// stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
$button-vertical-padding: calc(
  (36px - var(--p-font-line-height-2) - var(--p-space-05)) / 2
);

.CheckableButton {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-icon-on-interactive));
  font-size: var(--p-font-size-100);
  font-weight: var(--p-font-weight-medium);
  line-height: var(--p-font-line-height-1);
  text-transform: initial;
  letter-spacing: initial;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: flex;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  align-items: center;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  min-height: 36px;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  min-width: 36px;
  margin: 0;
  padding: $button-vertical-padding var(--p-space-4);
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  text-align: left;
  border-radius: var(--p-border-radius-1);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  width: 100%;
  background: var(--p-surface);
  box-shadow: var(--p-shadow-button);
  border: var(--p-border-width-1) solid var(--p-border-neutral-subdued);
  border-top-color: var(--p-border-subdued);
  border-bottom-color: var(--p-border-shadow-subdued);

  [data-buttongroup-segmented='true'] & {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:hover {
    background: var(--p-action-secondary-hovered);
  }

  &:active {
    background: var(--p-action-secondary-pressed);
  }

  &.CheckableButton-measuring {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    font-size: 15px;
    font-weight: var(--p-font-weight-bold);

    // simulates measuring with an additional digit (e.g. 00 instead of 0)
    &::before {
      content: '';
      // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
      display: inline-block;
      // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
      width: 15px;
    }
  }

  @media #{$p-breakpoints-sm-up} {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    flex: 0 1 auto;
  }

  &:focus {
    outline: none;
  }

  &.CheckableButton-plain {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    border-radius: var(--p-border-radius-base);
    box-shadow: none;
    background: transparent;
    border: none;

    &:hover {
      background: transparent;
    }
  }

  &.CheckableButton-selectMode {
    color: var(--p-text-subdued);
    font-weight: var(--p-font-weight-medium);
  }

  &.CheckableButton-selected {
    color: var(--p-text);
  }
}

.Checkbox {
  pointer-events: none;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  height: var(--p-choice-size);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  width: var(--p-choice-size);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  margin-left: calc(-1 * var(--p-space-2) - var(--p-control-border-width));
}

.CheckableButton-selectMode {
  .Checkbox {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    margin-left: calc(
      -1 * var(--p-space-2) - var(--p-control-border-width) - var(--p-border-width-1)
    );
  }
}

.Label {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  // padding to fix the bottom of letters being cutoff by overflow: hidden
  padding: var(--p-space-025) 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  margin-left: calc(var(--p-space-5) - var(--p-control-border-width));
}
