@import '../../styles/common';

.Text {
  color: var(--pc-text-color);
  display: var(--pc-text-display, block);
  font-size: var(--pc-text-font-size, initial);
  font-weight: var(--pc-text-font-weight, initial);
  line-height: var(--pc-text-font-line-height, initial);
  margin: 0;
  text-align: var(--pc-text-alignment, initial);
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.visuallyHidden {
  @include visually-hidden;
}

.heading2xl {
  font-size: var(--p-font-size-300);
  line-height: var(--p-font-line-height-3);

  @media #{$p-breakpoints-md-up} {
    font-size: var(--p-font-size-500);
    line-height: var(--p-font-line-height-5);
  }
}

.heading3xl {
  font-size: var(--p-font-size-400);
  line-height: var(--p-font-line-height-4);

  @media #{$p-breakpoints-md-up} {
    font-size: var(--p-font-size-600);
    line-height: var(--p-font-line-height-6);
  }
}

.heading4xl {
  font-size: var(--p-font-size-600);
  line-height: var(--p-font-line-height-6);

  @media #{$p-breakpoints-md-up} {
    font-size: var(--p-font-size-700);
    line-height: var(--p-font-line-height-7);
  }
}
