@import '../../styles/common';

.Icon {
  display: block;
  height: rem(20px);
  width: rem(20px);
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.hasBackdrop {
  position: relative;
  display: flex;
  align-items: center;
  margin: spacing(extra-tight);

  &::before {
    content: '';
    position: absolute;
    top: -1 * spacing(extra-tight);
    bottom: -1 * spacing(extra-tight);
    left: -1 * spacing(extra-tight);
    right: -1 * spacing(extra-tight);
    border-radius: 50%;
  }
}

.isColored {
  color: var(--p-surface, color('white'));
}

.colorWhite {
  color: transparent;
  @include recolor-icon(var(--p-icon-subdued));
}

.colorBlack {
  @include recolor-icon(var(--p-icon));
}

.colorSkyLighter {
  @include recolor-icon(var(--p-icon-subdued));
}

.colorSkyLight {
  @include recolor-icon(var(--p-icon-subdued));
}

.colorSky {
  @include recolor-icon(var(--p-icon-subdued));
}

.colorSkyDark {
  @include recolor-icon(var(--p-icon-subdued));
}

.colorInkLightest {
  @include recolor-icon(var(--p-icon));
}

.colorInkLighter {
  @include recolor-icon(var(--p-icon));

  &::before {
    background-color: var(--p-surface);
  }
}

.colorInkLight {
  @include recolor-icon(var(--p-icon));
}

.colorInk {
  @include recolor-icon(var(--p-icon));

  &::before {
    background-color: var(--p-surface);
  }
}

.colorBlueLighter {
  @include recolor-icon(var(--p-icon));
}

.colorBlueLight {
  @include recolor-icon(var(--p-icon));
}

.colorBlue {
  @include recolor-icon(var(--p-icon));
}

.colorBlueDark {
  @include recolor-icon(var(--p-icon));

  &::before {
    background-color: var(--p-surface-highlight);
  }
}

.colorBlueDarker {
  @include recolor-icon(var(--p-icon));
}

.colorIndigoLighter {
  @include recolor-icon(var(--p-action-primary));
}

.colorIndigoLight {
  @include recolor-icon(var(--p-action-primary));
}

.colorIndigo {
  @include recolor-icon(var(--p-action-primary));
}

.colorIndigoDark {
  @include recolor-icon(var(--p-action-primary));
}

.colorIndigoDarker {
  @include recolor-icon(var(--p-action-primary));
}

.colorTealLighter {
  @include recolor-icon(var(--p-icon-highlight));
}

.colorTealLight {
  @include recolor-icon(var(--p-icon-highlight));
}

.colorTeal {
  @include recolor-icon(var(--p-icon-highlight));

  &::before {
    background-color: var(--p-surface-highlight);
  }
}

.colorTealDark {
  @include recolor-icon(var(--p-icon-highlight));

  &::before {
    background-color: var(--p-surface-highlight);
  }
}

.colorTealDarker {
  @include recolor-icon(var(--p-icon-highlight));
}

.colorGreenLighter {
  @include recolor-icon(var(--p-icon-success));
}

.colorGreen {
  @include recolor-icon(var(--p-icon-success));

  &::before {
    background-color: var(--p-surface-success);
  }
}

.colorGreenDark {
  @include recolor-icon(var(--p-icon-success));

  &::before {
    background-color: var(--p-surface-success);
  }
}

.colorYellowLighter {
  @include recolor-icon(var(--p-icon-warning));
}

.colorYellow {
  @include recolor-icon(var(--p-icon-warning));
}

.colorYellowDark {
  @include recolor-icon(var(--p-icon-warning));

  &::before {
    background-color: var(--p-surface-warning);
  }
}

.colorOrange {
  @include recolor-icon(var(--p-icon-warning));
}

.colorOrangeDark {
  @include recolor-icon(var(--p-icon-warning));
}

.colorRedLighter {
  @include recolor-icon(var(--p-icon-critical));
}

.colorRed {
  @include recolor-icon(var(--p-icon-critical));
}

.colorRedDark {
  @include recolor-icon(var(--p-icon-critical));

  &::before {
    background-color: var(--p-surface-critical);
  }
}

.colorPurple {
  @include recolor-icon(var(--p-icon-highlight));
}

// New design language color styles

.colorBase {
  @include recolor-icon(var(--p-icon));
}

.colorSubdued {
  @include recolor-icon(var(--p-icon-subdued));
}

.colorCritical {
  @include recolor-icon(var(--p-icon-critical));
}

.colorWarning {
  @include recolor-icon(var(--p-icon-warning));
}

.colorHighlight {
  @include recolor-icon(var(--p-icon-highlight));
}

.colorSuccess {
  @include recolor-icon(var(--p-icon-success));
}

.colorPrimary {
  @include recolor-icon(var(--p-action-primary));
}

.Svg,
.Img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.Placeholder {
  padding-bottom: 100%;
  background: currentColor;
}
