@import '../../styles/common';
@import './variables';

// Base Navigation styles
$active-indicator-width: rem(3px);
$nav-max-width: rem(360px);

.Navigation {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: mobile-nav-width();
  min-width: layout-width(nav);
  max-width: $nav-max-width;
  height: 100%;
  min-height: 100%;
  background-color: var(--p-background, color('sky', 'light'));
  -webkit-overflow-scrolling: touch;

  @include safe-area-for(padding-bottom, 0, bottom);

  &:focus {
    outline: none;
  }

  @include breakpoint-after(nav-min-window-corrected()) {
    max-width: layout-width(nav);
    border-right: var(--p-override-none, border());
    @include safe-area-for(max-width, layout-width(nav), left);
  }

  &.Navigation-newDesignLanguage {
    border-right: border('divider');
  }
}

.UserMenu {
  flex: 0 0 auto;
}

.ContextControl {
  min-height: top-bar-height();

  @include breakpoint-after(nav-min-window-corrected()) {
    display: none;
  }
}

.PrimaryNavigation {
  display: flex;
  overflow: auto;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;

  @include breakpoint-after(nav-min-window-corrected()) {
    .Navigation-newDesignLanguage & {
      padding-top: rem(12px);
    }
  }
}

.LogoContainer {
  display: none;
  @include breakpoint-before(nav-min-window-corrected()) {
    display: flex;
    flex: 0 0 top-bar-height();
    align-items: center;
    height: top-bar-height();
    padding: 0 spacing(tight) 0 spacing(base);
    @include safe-area-for(flex-basis, top-bar-height(), left);
    @include safe-area-for(padding-left, spacing(), left);
  }
}

.Logo,
.LogoLink {
  display: block;
}

// Item styles
$disabled-fade: 0.6;

.Item {
  @include nav-item-attributes;

  .Navigation-newDesignLanguage & {
    position: relative;
  }
}

.Item-selected {
  font-weight: 600;
  color: var(--p-action-primary, color('indigo', 'dark'));
  background-color: var(--p-background-selected, $item-selected-background);

  .Navigation-newDesignLanguage & {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1 * spacing(tight);
      height: 100%;
      width: $active-indicator-width;
      background-color: var(--p-action-primary);
      border-top-right-radius: var(--p-border-radius-base);
      border-bottom-right-radius: var(--p-border-radius-base);
    }
  }

  @media (-ms-high-contrast: active) {
    outline: 1px solid ms-high-contrast-color('text');
  }

  @include focus-ring;

  &:hover,
  &.keyFocused {
    background-color: var(--p-background-hovered, $item-selected-background);
    color: var(--p-action-primary-hovered, color('indigo', 'dark'));
  }

  .keyFocused {
    @include focus-ring($style: 'focused');
  }

  &:active,
  &:active:hover {
    color: var(--p-action-primary, color('indigo', 'dark'));
    @include no-focus-ring;

    // stylelint-disable-next-line selector-max-specificity
    .Navigation-newDesignLanguage & {
      background-color: var(--p-background-pressed);
    }
  }
}

.Item-disabled {
  color: var(--p-text-disabled, color('ink', 'lightest'));
  pointer-events: none;
  opacity: $disabled-fade;

  .Navigation-newDesignLanguage & {
    // stylelint-disable-next-line selector-max-class, selector-max-combinators
    .Icon {
      // Re-apply another layer of opacity fade,
      // as the new filled icons have a stronger visual presence
      // than the old outlined ones.
      opacity: $disabled-fade;
    }
  }
}

.Badge {
  margin-left: spacing(tight);
  display: inline-flex;
  margin-top: spacing(tight);

  @include breakpoint-after(nav-min-window-corrected()) {
    margin-top: spacing(extra-tight);
  }
}

.Icon {
  @include nav-item-icon-attributes;
}

.ListItem {
  @include nav-listitem-attributes;

  .Navigation-newDesignLanguage & {
    &:not(:first-child) {
      // stylelint-disable-next-line selector-max-class, selector-max-specificity, selector-max-combinators
      .Item {
        border-top: 1px solid var(--p-background);
      }
    }
  }
}

.ListItem-hasAction .Item {
  max-width: calc(
    100% - #{nav(icon-size) + spacing() * 2 + spacing(extra-tight)}
  );
}

.ItemWrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.Text {
  @include nav-item-text-attributes;
}

.SecondaryAction {
  @include recolor-icon(
    var(--p-icon, color('ink', 'lightest')),
    var(--p-override-transparent, color('white'))
  );
  display: flex;
  align-items: center;
  height: nav(mobile-height);
  margin-right: spacing(extra-tight);
  padding: spacing(extra-tight) spacing();
  border-radius: var(--p-border-radius-base, border-radius());

  @include breakpoint-after(nav-min-window-corrected()) {
    height: nav(desktop-height);
  }

  &:hover,
  &:focus,
  &:active {
    @include recolor-icon(
      var(--p-icon-hovered, color('indigo')),
      var(--p-override-transparent, color('white')),
      filter('indigo')
    );
    background: var(
      --p-background-hovered,
      linear-gradient(color(state, hover), color(state, hover))
    );

    .Navigation-newDesignLanguage & {
      @media (-ms-high-contrast: active) {
        @include recolor-icon(
          $fill-color: color('white'),
          $filter-color: filter('white')
        );
      }
    }
  }

  @include focus-ring;

  &:focus {
    @include focus-ring($style: 'focused');
  }

  &:active {
    @include no-focus-ring;

    .Navigation-newDesignLanguage & {
      background: var(--p-background-pressed);
      @include recolor-icon(var(--p-icon-pressed));
    }
  }

  &:focus,
  &:active {
    outline: none;
  }
}

// Secondary styles
$secondary-item-font-size: rem(15px);
.SecondaryNavigation {
  flex-basis: 100%;
  margin-bottom: spacing(tight);
  margin-left: nav(icon-size) + spacing(loose);
  overflow-x: var(--p-override-visible, hidden);

  .Navigation-newDesignLanguage & {
    margin-left: 0;
  }

  @include breakpoint-after(nav-min-window-corrected()) {
    margin-left: nav(icon-size) + spacing();
  }

  .List {
    @include unstyled-list;
  }

  .Item {
    font-size: $secondary-item-font-size;
    font-weight: 400;
    line-height: nav(item-line-height);
    color: var(--p-text-subdued, color('ink', 'light'));
    // stylelint-disable-next-line selector-max-specificity, selector-max-combinators, selector-max-class
    .Navigation-newDesignLanguage & {
      font-weight: 500;
      padding-left: nav(icon-size) + spacing(extra-loose) - spacing(extra-tight);

      @include breakpoint-after(nav-min-window-corrected()) {
        font-size: $item-font-size-small;
      }
      // stylelint-disable-next-line selector-max-specificity, selector-max-combinators, selector-max-class
      &.keyFocused {
        @include focus-ring($style: 'focused');
      }
    }

    &:hover {
      color: var(--p-text-subdued, color('indigo', 'dark'));
    }

    // stylelint-disable-next-line selector-max-class
    &.keyFocused {
      color: var(--p-text, color('indigo', 'dark'));
    }

    // stylelint-disable-next-line selector-max-specificity
    &:active,
    &:active:hover {
      @include no-focus-ring;
    }

    &:active {
      color: var(--p-action-primary, color('indigo', 'dark'));
    }

    @include breakpoint-after(nav-min-window-corrected()) {
      font-size: rem(14px);
      line-height: rem(28px);
    }
  }

  .Text {
    margin-top: nav(mobile-spacing);
    margin-bottom: nav(mobile-spacing);
    line-height: rem(20px);
    @include breakpoint-after(nav-min-window-corrected()) {
      margin-top: spacing(extra-tight);
      margin-bottom: spacing(extra-tight);
    }
    // stylelint-disable-next-line selector-max-class, selector-max-combinators
    .Navigation-newDesignLanguage & {
      margin-top: rem(6px);
      margin-bottom: rem(6px);
    }
  }

  .Item-selected {
    font-weight: 600;
    color: var(--p-action-primary, color('indigo', 'dark'));
    @include focus-ring;

    &:hover {
      color: var(--p-action-primary-hovered, color('indigo', 'dark'));
    }
    // stylelint-disable-next-line selector-max-class
    &.keyFocused {
      color: var(--p-action-primary, color('indigo', 'dark'));
    }
    &:active {
      color: var(--p-action-primary, color('indigo', 'dark'));
      @include no-focus-ring;
    }
  }
  .Item-disabled {
    font-weight: 400;
    color: var(--p-text-disabled, color('ink', 'lightest'));
  }
}

.SecondaryNavigation-noIcon {
  margin-left: spacing();
}

// Section styles
.Section {
  @include unstyled-list;
  flex: 0 0 auto;
  padding: spacing() 0;
  @include safe-area-for(padding-left, 0, left);

  .Navigation-newDesignLanguage & {
    padding-top: 0;
  }

  + .Section {
    padding-top: spacing(extra-tight);
    padding-bottom: spacing();
  }
}

.Section-fill {
  flex: 1 0 auto;
}

.Section-withSeparator {
  border-top: border('divider');
}

.SectionHeading {
  @include text-style-subheading;
  display: flex;
  align-items: center;
  min-height: nav(desktop-nav-height);
  padding-left: spacing();

  .Text {
    font-size: font-size(subheading);
    color: var(--p-text-subdued, color('ink', 'lighter'));

    @include when-typography-not-condensed {
      font-size: font-size(subheading, large-screen);
    }
  }

  .Action {
    @include unstyled-button;
    @include recolor-icon(
      var(--p-icon, color('ink', 'lightest')),
      var(--p-override-transparent, color('white'))
    );
    display: flex;
    align-items: center;
    height: nav(mobile-nav-height);
    margin-right: spacing(extra-tight);
    padding: spacing(extra-tight) spacing();
    border-radius: var(--p-border-radius-base, border-radius());

    @include breakpoint-after(nav-min-window-corrected()) {
      height: nav(desktop-nav-height);
    }

    @include focus-ring;

    &:hover,
    &:focus {
      background: var(
        --p-background-hovered,
        linear-gradient(color(state, hover), color(state, hover))
      );
      @include recolor-icon(
        var(--p-icon-hovered, color('indigo')),
        var(--p-override-transparent, color('white'))
      );

      @media (-ms-high-contrast: active) {
        @include recolor-icon(
          $fill-color: color('white'),
          $filter-color: filter('white')
        );
      }
    }

    &:hover {
      // stylelint-disable-next-line selector-max-combinators, selector-max-class, selector-max-specificity
      .Navigation-newDesignLanguage & {
        @include recolor-icon($filter-color: filter('action'));
      }
    }

    &:focus {
      @include focus-ring($style: 'focused');
    }

    // stylelint-disable-next-line selector-max-specificity
    &:focus:hover {
      @include recolor-icon(
        var(--p-icon-hovered, color('indigo')),
        var(--p-override-transparent, color('white'))
      );
    }

    // stylelint-disable-next-line selector-max-specificity
    &:active,
    &:active:hover {
      @include recolor-icon(
        var(--p-icon-pressed, color('indigo')),
        var(--p-override-transparent, color('white'))
      );
      background: var(
        --p-background-pressed,
        linear-gradient(color(state, hover), color(state, hover))
      );
      @include no-focus-ring;
    }

    &:focus,
    &:active {
      outline: none;
    }
  }
}

.RollupToggle {
  @include text-emphasis-normal;
  @include text-emphasis-subdued;

  &:hover {
    @include recolor-icon(
      var(--p-action-primary, color('indigo')),
      null,
      filter('indigo')
    );
    color: var(--p-action-primary, color('indigo'));

    .Navigation-newDesignLanguage & {
      @include recolor-icon($filter-color: filter('action'));
    }
  }

  &:focus {
    outline: none;
    @include focus-ring($style: 'focused');
  }
}

.List {
  @include unstyled-list;
}

.Indicator {
  position: relative;
  display: inline-block;
  height: rem(10px);
  width: rem(10px);
}
