.TypeContainer {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.TypeContainer p {
  margin: 0;
}

.TypeContainer *:not(:last-child) {
  margin: 0;
  margin-bottom: 0.4em;
}
