@import '../../../../styles/common';

.Loading {
  overflow: hidden;
  height: 3px;
  background-color: var(--p-color-bg);
  opacity: 1;
}

.Level {
  width: 100%;
  height: 100%;
  transform-origin: 0;
  background-color: var(--p-color-icon-success);
  transition: transform var(--p-motion-duration-500) linear;

  @media screen and (-ms-high-contrast: active) {
    background-color: highlight;
  }
}
