@import '../../styles/common';

.InlineError {
  display: flex;
  color: var(--p-color-text-critical);
  fill: var(--p-color-icon-critical);
}

.Icon {
  fill: var(--p-color-icon-critical);
  margin-left: calc(-1 * var(--p-space-05));
  margin-right: var(--p-space-2);

  svg {
    padding: var(--p-space-05);
    margin-left: var(--p-space-05);
    margin-right: var(--p-space-05);
  }
}
