.legacy {
  z-index: var(--p-z-index-6);
  width: 20px;
  width: 8px;
  width: 20px;
  margin: var(--p-space-025);
  border-width: var(--p-border-width-2);
  margin: var(--p-space-05);
  margin-left: calc(-1 * var(--p-space-1));
  padding: calc(-1 * var(--p-space-025));
  width: 16px;
  width: 24px;
  margin: 0;
}
