@import '../../styles/common';

$code-padding: 0 spacing(extra-tight);
$code-font-size: 1.15em;

.variationPositive {
  color: var(--p-text-success, color('green', 'dark'));
}

.variationNegative {
  color: var(--p-text-critical, color('red', 'dark'));
}

.variationCode {
  position: relative;
  padding: $code-padding;
  border-radius: border-radius();
  background-color: var(--p-surface-subdued, color('sky', 'light'));
  display: inline-block;
  font-size: $code-font-size;
  box-shadow: inset 0 0 0 1px var(--p-border-subdued, color('sky'));

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
  }
}

.variationStrong {
  @include text-emphasis-strong;
}

.variationSubdued {
  @include text-emphasis-subdued;
}
