@import '../../styles/common';

$indicator-size: 12px;
$indicator-position: -3px;

.MessageIndicatorWrapper {
  position: relative;
}

.MessageIndicator {
  position: absolute;
  z-index: 1;
  top: $indicator-position;
  right: $indicator-position;
  width: $indicator-size;
  height: $indicator-size;
  border-radius: 100%;
  background-color: var(--p-icon-highlight);
  border: solid 2px var(--p-background);
}
