@import '../../styles/common';

$indicator-size: rem(12px);
$indicator-position: rem(-3px);

.MessageIndicatorWrapper {
  position: relative;
}

.MessageIndicator {
  position: absolute;
  z-index: 1;
  top: $indicator-position;
  right: $indicator-position;
  width: $indicator-size;
  height: $indicator-size;
  border-radius: 100%;
  background-color: var(--p-icon-highlight, color('teal'));
  border: solid rem(2px) var(--p-background, var(--top-bar-background));
}
