@import '../../../../styles/common';

.CloseButton {
  @include unstyled-button;
  @include focus-ring;
  margin-left: spacing(loose);
  margin-right: -1 * spacing(tight);
  padding: spacing(tight);
  border-radius: border-radius(large);

  &:focus,
  &:active {
    background: var(--p-override-transparent, plain-button-background());
  }

  &:hover {
    @include recolor-icon(var(--p-icon-hovered, color('ink', 'lighter')));
  }

  &:focus:not(:active) {
    @include focus-ring($style: 'focused');
  }
}

.withoutTitle {
  position: absolute;
  right: spacing(tight);
  z-index: 1;
}
