@import '../../../../styles/common';

.CloseButton {
  @include unstyled-button;
  margin-left: rem($spacing-loose);
  margin-right: -1 * rem($spacing-tight);
  padding: rem($spacing-tight);

  &:focus,
  &:active {
    border-radius: border-radius(large);
    background: plain-button-background();
  }
}

.withoutTitle {
  position: absolute;
  right: rem($spacing-tight);
}
