.Filters {
  position: relative;
  margin-bottom: 1rem;

  .TextField {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  a {
    margin: 0 3px 3px 0;
  }
}

.ComponentsNav {
  padding: 2.5rem 3rem;

  h1 {
    margin-top: 0;
  }

  ul {
    flex: 1;
    display: grid;
    margin: 0 -1rem;
    grid-template-columns: repeat(6, 1fr);

    @media screen and (max-width: 2400px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (max-width: 1800px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  li {
    display: flex;

    a {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-radius: var(--border-radius-700);
      gap: 1rem;
      color: inherit;
      transition: background-color 0.05s linear;

      &:hover {
        background: #f6f6f6;
      }
    }

    p {
      margin-top: 0.75rem;
      font-size: var(--font-size-300);
      display: flex;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .Preview {
    border-radius: var(--border-radius-500);
    transition: all 0.25s ease;
    overflow: hidden;
  }
}
