@import '../../styles/common';

.Tiles {
  --pc-tiles-xs: 6;
  --pc-tiles-sm: var(--pc-tiles-xs);
  --pc-tiles-md: var(--pc-tiles-sm);
  --pc-tiles-lg: var(--pc-tiles-md);
  --pc-tiles-xl: var(--pc-tiles-lg);
  --pc-tiles-spacing-xs: var(--p-space-4);
  --pc-tiles-spacing-sm: var(--pc-tiles-spacing-xs);
  --pc-tiles-spacing-md: var(--pc-tiles-spacing-sm);
  --pc-tiles-spacing-lg: var(--pc-tiles-spacing-md);
  --pc-tiles-spacing-xl: var(--pc-tiles-spacing-lg);
  display: grid;
  gap: var(--pc-tiles-spacing-xs);
  grid-template-columns: var(--pc-tiles-xs);

  @media #{$p-breakpoints-sm-up} {
    gap: var(--pc-tiles-spacing-sm);
    grid-template-columns: var(--pc-tiles-sm);
  }

  @media #{$p-breakpoints-md-up} {
    gap: var(--pc-tiles-spacing-md);
    grid-template-columns: var(--pc-tiles-md);
  }

  @media #{$p-breakpoints-lg-up} {
    gap: var(--pc-tiles-spacing-lg);
    grid-template-columns: var(--pc-tiles-lg);
  }

  @media #{$p-breakpoints-xl-up} {
    gap: var(--pc-tiles-spacing-xl);
    grid-template-columns: var(--pc-tiles-xl);
  }
}
