/// Sets the focus ring for an interactive element
/// @param {Bool} $wide - Whether the border radius on the focus ring is wide.
///

@mixin focus-ring($wide: false) {
  position: relative;

  &::after {
    content: var(--p-focus-ring-content, none);
    position: absolute;
    top: rem(-3px);
    right: rem(-3px);
    bottom: rem(-3px);
    left: rem(-3px);
    display: block;
    border: rem(2px) solid var(--p-interactive-focus);
    @if $wide {
      border-radius: calc(var(--p-border-radius-wide) + 3px);
    } @else {
      border-radius: calc(var(--p-border-radius-base) + 3px);
    }
  }
}
