@mixin unstyled-input {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  appearance: none;

  &:focus {
    outline: 0;
  }

  &::-moz-focus-outer {
    border: 0;
  }
}

@mixin range-track-selectors {
  &::-ms-track {
    @content;
  }

  &::-moz-range-track {
    @content;
  }

  &::-webkit-slider-runnable-track {
    @content;
  }
}

@mixin range-thumb-selectors {
  &::-ms-thumb {
    @content;
  }

  &::-moz-range-thumb {
    @content;
  }

  &::-webkit-slider-thumb {
    @content;
  }
}
