.TOC {
  font-size: var(--font-size-300);

  > ul > li:not(:first-child) {
    padding-top: 0.25rem;
  }

  a {
    color: inherit;
    display: block;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      height: 1rem;
      width: 3px;
      background: var(--text);
      border-radius: 0 2px 2px 0;
      opacity: 0;
    }

    &:hover {
      color: var(--text-strong);

      &::before {
        opacity: 0.2;
      }
    }

    &[data-is-current='true'] {
      color: var(--text-strong);
      font-weight: var(--font-weight-500);

      &::before {
        opacity: 1;
      }
    }
  }

  &.isNested {
    ul ul {
      padding-top: 0.25rem;
      font-size: var(--font-size-100);

      a {
        padding: 0.1rem 0 0.1rem 0.66rem;
      }
    }
  }
}
