@import '../../../../styles/common';

.Content {
  display: flex;
  flex: 1;

  @include text-breakword;
}

.Media {
  @include recolor-icon(var(--p-icon), var(--p-icon-on-interactive));
  padding: 0 spacing(tight);
}

.singleSelectionMedia {
  padding: 0 spacing(tight) 0 0;
}

.disabledMedia {
  @include recolor-icon(var(--p-icon-disabled), var(--p-text-on-interactive));
}
