@import '../../styles/common';

.Collapsible {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  overflow: hidden;
  will-change: height;
  transition-property: height;
  transition-duration: duration(fast);
  transition-timing-function: easing(out);
}

.open {
  height: auto;
  overflow: visible;
}

// Stop children from being focused when aria-hidden
// .Collapsible[aria-hidden='true'] {
//   display: none;
// }

.expandOnPrint {
  @include when-printing {
    // stylelint-disable-next-line declaration-no-important
    height: auto !important;
    overflow: visible;
  }
}
