@import '../../styles/common';

.Collapsible {
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition-property: max-height;
  transition-duration: duration(fast);
  transition-timing-function: easing(out);
}

// Stop children from being focused when fully closed
.isFullyClosed {
  display: none;
}

.expandOnPrint {
  @include when-printing {
    // stylelint-disable-next-line declaration-no-important
    max-height: none !important;
    overflow: visible;
    display: block;
  }
}
