/* Allow the page to shrink to wrap the content */
.Container :global(body, html) {
  min-height: auto;
  height: auto;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 32px;
}

.Example {
  width: 100%;
}
