@import '../../../../styles/common';

$breakpoint: 640px;
$Backdrop-opacity: 0.88;

.Toast {
  @include text-style-display-small;
  display: inline-flex;
  max-width: 500px;
  padding: var(--p-space-2) var(--p-space-4);
  border-radius: var(--p-border-radius-2);
  background: var(--p-surface-dark);
  color: var(--p-text-on-dark);
  margin-bottom: var(--p-space-5);

  @include breakpoint-after($breakpoint) {
    padding: var(--p-space-4);
  }

  @media (forced-colors: active) {
    border: var(--p-border-width-2) solid transparent;
  }
}

.Action {
  margin-left: var(--p-space-8);
  margin-right: var(--p-space-4);
}

.error {
  background: var(--p-action-critical);
  color: var(--p-text-on-critical);

  .CloseButton {
    fill: var(--p-icon-on-critical);
  }
}

.CloseButton {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: calc(-1 * var(--p-space-4));
  padding: 0 var(--p-space-4);
  border: none;
  appearance: none;
  background: transparent;
  color: currentColor;
  @include recolor-icon(currentColor);
  cursor: pointer;

  @include breakpoint-after($breakpoint) {
    align-self: flex-start;
    margin: calc(-1 * var(--p-space-2)) calc(-1 * var(--p-space-4))
      calc(-1 * var(--p-space-2)) 0;
    padding: var(--p-space-3) var(--p-space-4) var(--p-space-2);
  }

  &:focus {
    outline: none;
  }
}
