@import '../../../../styles/common';

$Backdrop-opacity: 0.88;

.Toast {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: inline-flex;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  max-width: 500px;
  padding: var(--p-space-2) var(--p-space-4);
  border-radius: var(--p-border-radius-2);
  background: var(--p-surface-dark);
  color: var(--p-text-on-dark);
  margin-bottom: var(--p-space-5);

  @media #{$p-breakpoints-md-up} {
    padding: var(--p-space-4);
  }

  @media (forced-colors: active) {
    border: var(--p-border-width-2) solid transparent;
  }
}

.Action {
  margin-left: var(--p-space-8);
  margin-right: var(--p-space-4);
}

.error {
  background: var(--p-action-critical);
  color: var(--p-text-on-critical);

  .CloseButton {
    fill: var(--p-icon-on-critical);
  }
}

.CloseButton {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: flex;
  align-self: center;
  flex-direction: column;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  justify-content: flex-start;
  margin-right: calc(-1 * var(--p-space-4));
  padding: 0 var(--p-space-4);
  border: none;
  appearance: none;
  background: transparent;
  color: currentColor;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(currentColor);
  cursor: pointer;

  @media #{$p-breakpoints-md-up} {
    align-self: flex-start;
    margin: calc(-1 * var(--p-space-2)) calc(-1 * var(--p-space-4))
      calc(-1 * var(--p-space-2)) 0;
    padding: var(--p-space-2) var(--p-space-4) 0;
  }

  &:focus {
    outline: none;
  }
}
