@use 'global-styles/legacy-polaris-v8';

.font-line-height {
  line-height: legacy-polaris-v8.line-height(caption);
  line-height: legacy-polaris-v8.line-height(caption, base);
  line-height: legacy-polaris-v8.line-height(caption, large-screen);
  line-height: legacy-polaris-v8.line-height(display-x-large, base);
  // Comment
  line-height: legacy-polaris-v8.line-height($invalid);
  line-height: legacy-polaris-v8.line-height(caption, $invalid);
  line-height: legacy-polaris-v8.line-height();
}
