.border {
  border-radius: var(--p-border-radius-1);
  border-radius: var(--p-border-radius-05);
  border-radius: var(--p-border-radius-2);
  border-radius: 7px;
  border-radius: var(--p-border-radius-2);
  border-radius: var(--p-border-radius-full);
}
