$color-purple-text: brightness(0) saturate(100%) invert(29%) sepia(3%)
  saturate(2843%) hue-rotate(223deg) brightness(92%) contrast(86%);
$color-purple-darker: brightness(0) saturate(100%) invert(8%) sepia(38%)
  saturate(6605%) hue-rotate(265deg) brightness(99%) contrast(124%);
$color-purple-dark: brightness(0) saturate(100%) invert(12%) sepia(46%)
  saturate(4964%) hue-rotate(258deg) brightness(101%) contrast(93%);
$color-purple: brightness(0) saturate(100%) invert(49%) sepia(77%)
  saturate(1864%) hue-rotate(229deg) brightness(91%) contrast(91%);
$color-purple-light: brightness(0) saturate(100%) invert(82%) sepia(13%)
  saturate(1535%) hue-rotate(203deg) brightness(103%) contrast(104%);
$color-purple-lighter: brightness(0) saturate(100%) invert(84%) sepia(15%)
  saturate(135%) hue-rotate(219deg) brightness(110%) contrast(98%);
$color-indigo-text: brightness(0) saturate(100%) invert(24%) sepia(11%)
  saturate(1035%) hue-rotate(195deg) brightness(97%) contrast(94%);
$color-indigo-darker: brightness(0) saturate(100%) invert(5%) sepia(81%)
  saturate(5060%) hue-rotate(229deg) brightness(72%) contrast(111%);
$color-indigo-dark: brightness(0) saturate(100%) invert(17%) sepia(28%)
  saturate(4409%) hue-rotate(218deg) brightness(87%) contrast(98%);
$color-indigo: brightness(0) saturate(100%) invert(45%) sepia(17%)
  saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
$color-indigo-light: brightness(0) saturate(100%) invert(82%) sepia(37%)
  saturate(4261%) hue-rotate(194deg) brightness(111%) contrast(92%);
$color-indigo-lighter: brightness(0) saturate(100%) invert(100%) sepia(25%)
  saturate(1090%) hue-rotate(179deg) brightness(100%) contrast(96%);
$color-blue-text: brightness(0) saturate(100%) invert(27%) sepia(13%)
  saturate(709%) hue-rotate(158deg) brightness(96%) contrast(89%);
$color-blue-darker: brightness(0) saturate(100%) invert(5%) sepia(33%)
  saturate(5606%) hue-rotate(195deg) brightness(97%) contrast(102%);
$color-blue-dark: brightness(0) saturate(100%) invert(22%) sepia(70%)
  saturate(1308%) hue-rotate(182deg) brightness(94%) contrast(101%);
$color-blue: brightness(0) saturate(100%) invert(19%) sepia(98%) saturate(2885%)
  hue-rotate(190deg) brightness(99%) contrast(101%);
$color-blue-light: brightness(0) saturate(100%) invert(80%) sepia(7%)
  saturate(1832%) hue-rotate(178deg) brightness(108%) contrast(96%);
$color-blue-lighter: brightness(0) saturate(100%) invert(100%) sepia(94%)
  saturate(686%) hue-rotate(175deg) brightness(103%) contrast(96%);
$color-teal-text: brightness(0) saturate(100%) invert(31%) sepia(11%)
  saturate(665%) hue-rotate(128deg) brightness(94%) contrast(93%);
$color-teal-darker: brightness(0) saturate(100%) invert(15%) sepia(23%)
  saturate(2237%) hue-rotate(141deg) brightness(96%) contrast(104%);
$color-teal-dark: brightness(0) saturate(100%) invert(28%) sepia(83%)
  saturate(3919%) hue-rotate(168deg) brightness(93%) contrast(101%);
$color-teal: brightness(0) saturate(100%) invert(72%) sepia(8%) saturate(2838%)
  hue-rotate(130deg) brightness(92%) contrast(87%);
$color-teal-light: brightness(0) saturate(100%) invert(95%) sepia(12%)
  saturate(683%) hue-rotate(122deg) brightness(97%) contrast(91%);
$color-teal-lighter: brightness(0) saturate(100%) invert(87%) sepia(5%)
  saturate(1124%) hue-rotate(173deg) brightness(114%) contrast(92%);
$color-green-text: brightness(0) saturate(100%) invert(30%) sepia(8%)
  saturate(1010%) hue-rotate(63deg) brightness(91%) contrast(91%);
$color-green-darker: brightness(0) saturate(100%) invert(15%) sepia(32%)
  saturate(727%) hue-rotate(118deg) brightness(93%) contrast(91%);
$color-green-dark: brightness(0) saturate(100%) invert(18%) sepia(75%)
  saturate(6649%) hue-rotate(155deg) brightness(97%) contrast(87%);
$color-green: brightness(0) saturate(100%) invert(56%) sepia(10%)
  saturate(2637%) hue-rotate(64deg) brightness(106%) contrast(91%);
$color-green-light: brightness(0) saturate(100%) invert(93%) sepia(15%)
  saturate(599%) hue-rotate(52deg) brightness(93%) contrast(93%);
$color-green-lighter: brightness(0) saturate(100%) invert(92%) sepia(51%)
  saturate(187%) hue-rotate(46deg) brightness(108%) contrast(89%);
$color-yellow-text: brightness(0) saturate(100%) invert(28%) sepia(42%)
  saturate(413%) hue-rotate(11deg) brightness(97%) contrast(91%);
$color-yellow-darker: brightness(0) saturate(100%) invert(19%) sepia(75%)
  saturate(981%) hue-rotate(17deg) brightness(103%) contrast(103%);
$color-yellow-dark: brightness(0) saturate(100%) invert(37%) sepia(51%)
  saturate(709%) hue-rotate(0deg) brightness(93%) contrast(89%);
$color-yellow: brightness(0) saturate(100%) invert(65%) sepia(91%)
  saturate(530%) hue-rotate(5deg) brightness(100%) contrast(100%);
$color-yellow-light: brightness(0) saturate(100%) invert(77%) sepia(72%)
  saturate(246%) hue-rotate(355deg) brightness(103%) contrast(107%);
$color-yellow-lighter: brightness(0) saturate(100%) invert(88%) sepia(27%)
  saturate(234%) hue-rotate(357deg) brightness(103%) contrast(98%);
$color-orange-text: brightness(0) saturate(100%) invert(23%) sepia(18%)
  saturate(1092%) hue-rotate(348deg) brightness(99%) contrast(84%);
$color-orange-darker: brightness(0) saturate(100%) invert(9%) sepia(83%)
  saturate(1926%) hue-rotate(356deg) brightness(98%) contrast(99%);
$color-orange-dark: brightness(0) saturate(100%) invert(29%) sepia(94%)
  saturate(1431%) hue-rotate(5deg) brightness(96%) contrast(82%);
$color-orange: brightness(0) saturate(100%) invert(54%) sepia(86%)
  saturate(416%) hue-rotate(340deg) brightness(105%) contrast(91%);
$color-orange-light: brightness(0) saturate(100%) invert(77%) sepia(39%)
  saturate(483%) hue-rotate(335deg) brightness(101%) contrast(103%);
$color-orange-lighter: brightness(0) saturate(100%) invert(93%) sepia(11%)
  saturate(918%) hue-rotate(312deg) brightness(107%) contrast(98%);
$color-red-text: brightness(0) saturate(100%) invert(22%) sepia(9%)
  saturate(2068%) hue-rotate(325deg) brightness(92%) contrast(83%);
$color-red-darker: brightness(0) saturate(100%) invert(12%) sepia(100%)
  saturate(5699%) hue-rotate(353deg) brightness(75%) contrast(101%);
$color-red-dark: brightness(0) saturate(100%) invert(12%) sepia(100%)
  saturate(5699%) hue-rotate(353deg) brightness(75%) contrast(101%);
$color-red: brightness(0) saturate(100%) invert(28%) sepia(67%) saturate(3622%)
  hue-rotate(353deg) brightness(89%) contrast(95%);
$color-red-light: brightness(0) saturate(100%) invert(80%) sepia(9%)
  saturate(2561%) hue-rotate(313deg) brightness(101%) contrast(99%);
$color-red-lighter: brightness(0) saturate(100%) invert(89%) sepia(21%)
  saturate(137%) hue-rotate(324deg) brightness(102%) contrast(97%);
$color-ink: brightness(0) saturate(100%) invert(10%) sepia(10%) saturate(2259%)
  hue-rotate(171deg) brightness(99%) contrast(84%);
$color-ink-light: brightness(0) saturate(100%) invert(32%) sepia(9%)
  saturate(1069%) hue-rotate(173deg) brightness(83%) contrast(84%);
$color-ink-lighter: brightness(0) saturate(100%) invert(45%) sepia(8%)
  saturate(825%) hue-rotate(166deg) brightness(95%) contrast(90%);
$color-ink-lightest: brightness(0) saturate(100%) invert(68%) sepia(18%)
  saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
$color-sky-dark: brightness(0) saturate(100%) invert(86%) sepia(4%)
  saturate(502%) hue-rotate(167deg) brightness(96%) contrast(91%);
$color-sky: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(336%)
  hue-rotate(175deg) brightness(97%) contrast(87%);
$color-sky-light: brightness(0) saturate(100%) invert(99%) sepia(12%)
  saturate(467%) hue-rotate(174deg) brightness(99%) contrast(96%);
$color-sky-lighter: brightness(0) saturate(100%) invert(99%) sepia(1%)
  saturate(159%) hue-rotate(170deg) brightness(99%) contrast(99%);
$color-black: brightness(0) saturate(100%);
$color-white: brightness(0) saturate(100%) invert(100%);
