@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.WhatsNewListing {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  @media screen and (max-width: $breakpointTablet) {
    grid-template-columns: 1fr;
  }

  .Post {
    gap: 2rem;
    align-items: center;
  }

  img {
    display: block;
    border-radius: var(--border-radius-600);
  }

  a {
    display: block;
  }

  h2 {
    @include heading-2;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-500);
    color: var(--text);
  }
}
