@import '../../../../styles/common';

.CloseButton {
  @include unstyled-button;
  @include focus-ring;
  margin-left: spacing(loose);
  margin-right: -1 * spacing(tight);
  padding: spacing(tight);
  border-radius: border-radius(large);

  &:hover {
    background: var(--p-surface-hovered);
    @include recolor-icon(var(--p-icon-hovered));
  }

  &:active {
    background: var(--p-surface-pressed);
  }

  &:focus:not(:active) {
    @include focus-ring($style: 'focused');
  }
}
