@use '../../styles/mixins' as *;

.Trigger {
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border-radius: 8px;
  margin-bottom: 3.5rem;
  background-size: auto 18px;
  border: 1px solid var(--color-border);
  color: var(--color-text-strong);
  transition: all 0.05s ease;

  &:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: scale(0.99);
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0.75rem;
    width: 18px;
    height: 18px;
    background: url(./SearchMajor.svg) no-repeat center center;
    background-size: contain;

    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }
  }
}

.Dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--color-surface);
  backdrop-filter: blur(5px) saturate(200%);
  max-width: 800px;
  max-height: 80vh;
  border-radius: calc(var(--unit-radius) * 8);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.075),
    0 50px 100px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  z-index: 2;
  overflow: hidden;
}

.Input {
  padding: 1.5rem;
  font-size: 2rem;
  line-height: 1;
  border-bottom: 1px solid var(--color-border);

  &:not(focus-visible) {
    outline: none;
  }
}

.Results {
  flex: 1;
  overflow: auto;
  scroll-behavior: smooth;
  @include custom-scrollbars;
}

.Result {
  display: flex;
  padding: 1.5rem;
  cursor: pointer;
  gap: 2rem;

  .Preview {
    min-width: 150px;
    max-width: 150px;
    height: 100px;
    background: var(--color-surface-subdued);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    @include heading-4;
    margin-bottom: 0.1rem;
  }

  .Url {
    margin-top: 0.1rem;
    font-size: var(--font-size-small);
    color: var(--color-link);
  }

  svg {
    fill: var(--color-text-strong);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  &[data-headlessui-state='active'] {
    background: var(--color-surface-subdued);
  }
}
