/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.Box {
  background-color: var(--pc-box-background);
  box-shadow: var(--pc-box-shadow);
  border-bottom-left-radius: var(--pc-box-border-radius-bottom-left);
  border-bottom-right-radius: var(--pc-box-border-radius-bottom-right);
  border-top-left-radius: var(--pc-box-border-radius-top-left);
  border-top-right-radius: var(--pc-box-border-radius-top-right);
  border-bottom: var(--pc-box-border-bottom);
  border-left: var(--pc-box-border-left);
  border-right: var(--pc-box-border-right);
  border-top: var(--pc-box-border-top);
  margin-bottom: var(--pc-box-margin-bottom);
  margin-left: var(--pc-box-margin-left);
  margin-right: var(--pc-box-margin-right);
  margin-top: var(--pc-box-margin-top);
  padding-bottom: var(--pc-box-padding-bottom);
  padding-left: var(--pc-box-padding-left);
  padding-right: var(--pc-box-padding-right);
  padding-top: var(--pc-box-padding-top);
  /* stylelint-enable declaration-block-no-redundant-longhand-properties */
}
