@use '../../styles/mixins.scss' as *;

.PropsTableContent {
  background: var(--color-surface);
  z-index: 1;
  border-radius: 8px;
  font-size: 0.9rem;
  margin-bottom: 3rem;

  &.isPopover {
    transform: translateY(2px);
    position: absolute;
    min-width: 30rem;
    max-width: 50rem;
    margin-bottom: 0;
    box-shadow: 0 -1px rgba(255, 255, 255, 0.175),
      0 50px 200px rgba(0, 0, 0, 0.5), 0 5px 20px rgba(0, 0, 0, 0.25);

    .Prop {
      padding: 0.66rem 0.75rem;

      &:last-child {
        border-bottom: none;
      }
    }

    .PropsTableHeader {
      background: var(--color-border);
      padding: 0.4rem 0.75rem 0.5rem;
      font-weight: var(--font-weight-heavy);
      border-radius: 8px 8px 0 0;
    }
  }

  &:not(.isPopover) {
    > .PropsTableHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;

      span {
        @include heading-4;
      }

      a {
        color: var(--color-link);
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
}

.DisclosureWrapper {
  position: relative;
  max-height: 170px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;

    background: linear-gradient(
      180deg,
      rgba(247, 248, 250, 0) 0%,
      rgba(247, 248, 250, 1) 100%
    );

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(
        180deg,
        rgba(22, 23, 24, 0) 0%,
        rgba(22, 23, 24, 1) 100%
      );
    }
  }

  &.isExpanded {
    max-height: unset;
    overflow: visible;

    &::after {
      display: none;
    }
  }
}

.DisclosureToggle {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--color-text-strong);
  margin-bottom: -1.5rem;
  padding-left: 1rem;

  button {
    padding: 0.25rem 0.75rem;
    transform: translateY(-50%);
    border-radius: 100px;
    background: var(--color-text-strong);
    color: var(--color-surface);
  }
}

.Prop {
  border-bottom: 1px solid var(--color-border);
  padding: 0.66rem 0;
}

.PropName {
  display: inline;
  font-weight: var(--font-weight-heavy);
  margin-right: 0.5rem;
}

.PropComment {
  opacity: 0.6;
}

.GithubSourceLink {
  color: var(--color-link);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.PopoverContainer {
  display: inline-block;
}

.PopoverButton {
  background: var(--color-border);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 0 0.33rem;
  color: var(--color-code-function);
}

.Primitive {
  &[data-type='string'] {
    color: var(--color-code-string);
  }

  &[data-type='number'] {
    color: var(--color-code-number);
  }

  &[data-type='boolean'] {
    color: var(--color-code-boolean);
  }

  &[data-type='function'] {
    color: var(--color-code-function);
  }
}
