.Subheading {
  font-size: 0.8125rem;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  margin: 0;

  @supports (font-feature-settings: 'smcp') and (not (-webkit-font-feature-settings: 'smcp')) {
    font-size: 0.9375rem;
    text-transform: lowercase;
    letter-spacing: initial;
    font-feature-settings: 'smcp';
  }
}
