.Backdrop {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  position: fixed;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  z-index: var(--p-z-10);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  top: 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  right: 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  bottom: 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  left: 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: block;
  background-color: var(--p-backdrop);
  animation: var(--p-keyframes-fade-in) var(--p-duration-200) 1 forwards;
  opacity: 0;
  will-change: opacity;
}

.transparent {
  background-color: transparent;
}

.belowNavigation {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  z-index: var(--p-z-7);
}
