.List {
  padding-left: var(--p-space-500);
  margin-top: 0;
  margin-bottom: 0;
  list-style: disc outside none;

  + .List {
    margin-top: var(--p-space-400);
  }
}

.typeNumber {
  padding-left: var(--p-space-800);
  list-style: decimal outside none;
}

.Item {
  .List:first-child {
    margin-top: var(--p-space-200);
  }
}

.spacingLoose {
  .Item {
    margin-bottom: var(--p-space-100);
  }
}
