.PositionedOverlay {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  position: absolute;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  z-index: var(--p-z-2);
}

.fixed {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  position: fixed;
}

.calculating {
  visibility: hidden;
}

.preventInteraction {
  pointer-events: none;
}
