.Label {
  display: block;
  font-size: 0.9375rem;
  line-height: 1.33;
}

.error {
  color: #ff5d5d;
}

.LabelWrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 0.9375rem;
  line-height: 1.33;
}
