.z-index {
  z-index: var(--p-z-index-1);
  z-index: var(--p-z-index-2);
  z-index: var(--p-z-index-3);
  z-index: var(--p-z-index-4);
  z-index: var(--p-z-index-5);
  z-index: var(--p-z-index-6);
  z-index: var(--p-z-index-7);
  z-index: var(--p-z-index-8);
  z-index: var(--p-z-index-9);
  z-index: var(--p-z-index-10);
  z-index: var(--p-z-index-11);
  z-index: var(--p-z-index-12);
}
