.my-class {
  // color
  color: color('blue');
  color: color('blue', 'dark');
  color: color('green');
  color: color('green', 'dark');
  color: color('yellow');
  color: color('yellow', 'dark');
  color: color('red');
  color: color('red', 'dark');
  color: color('ink');
  color: color('ink', 'light');
  color: color('ink', 'lighter');
  color: color('ink', 'lightest');
  color: color('sky');
  color: color('sky', 'dark');
  color: color('sky', 'light');
  color: color('sky', 'lighter');
  color: color('black');
  color: color('white');

  // background
  background-color: color('green', 'light');
  background-color: color('green', 'lighter');
  background-color: color('yellow', 'light');
  background-color: color('yellow', 'lighter');
  background-color: color('red', 'light');
  background-color: color('red', 'lighter');
  background-color: color('ink');
  background-color: color('ink', 'dark');
  background-color: color('sky');
  background-color: color('sky', 'light');
  background-color: color('sky', 'lighter');
  background-color: color('black');
  background-color: color('white');

  // border
  border-color: color('green', 'dark');
  border-color: color('green');
  border-color: color('green', 'light');
  border-color: color('green', 'lighter');
  border-color: color('yellow', 'dark');
  border-color: color('yellow');
  border-color: color('yellow', 'light');
  border-color: color('yellow', 'lighter');
  border-color: color('red', 'dark');
  border-color: color('red');
  border-color: color('red', 'light');
  border-color: color('red', 'lighter');
  border-color: color('ink', 'lightest');
  border-color: color('sky', 'light');

  // fill
  fill: color('green', 'dark');
  fill: color('green');
  fill: color('yellow', 'dark');
  fill: color('yellow');
  fill: color('red', 'dark');
  fill: color('red');
  fill: color('ink');
  fill: color('ink', 'light');
  fill: color('ink', 'lighter');
  fill: color('ink', 'lightest');
  fill: color('black');
  fill: color('white');

  // Remove color() fallbacks
  color: var(--p-text, color('white'));

  // Handle declarations with multiple values
  border: var(--p-border-width-1) solid color('ink', 'lightest');
  background: border-box color('sky', 'light');

  // Skip color() with a for-background argument
  color: color('ink', 'lighter', #f2ece4);

  // Skip replacing color() within a function
  background: rgba(color('black'), 0.5);
}
