@mixin light-mode-colors {
  --color-surface-rgb: 247, 248, 250;
  --color-surface: rgb(var(--color-surface-rgb));
  --color-surface-subdued: #eff0f3;
  --color-surface-code: var(--color-surface-subdued);
  --color-text: #4d4f54;
  --color-text-strong: #121a2a;
  --color-text-subdued: #767676;
  --color-link: #4924c5;
  --color-border: #dbdce1;
  --color-code-keyword: #017b33;
  --color-code-function: var(--color-code-keyword);
  --color-code-string: #6a00df;
  --color-code-boolean: #d6004b;
  --color-code-number: #c55100;
  --color-code-operator: var(--color-code-text);
  --color-code-punctuation: var(--color-text-subdued);
  --color-code-property: var(--color-code-keyword);
  --color-code-selector: var(--color-code-keyword);
  --color-code-comment: #3d2fe8;
  --color-code-inserted: var(--color-code-keyword);
  --color-code-deleted: var(--color-code-boolean);
  --color-code-inserted-highlight: #e5ffef;
  --color-code-deleted-highlight: #fff3f8;
  --color-entity-patterns: #76dfc4;
  --color-entity-components: #9fc6ff;
  --color-entity-tokens: #cfb8ff;
  --color-entity-icons: #f7cc74;
  --color-status-success: #76dfc4;
  --color-status-information: #9fc6ff;
  --color-status-warning: #f8d4b7;
  --color-status-critical: #f8d3cc;
  --color-surface-status-success: #00241a;
  --color-surface-status-information: #001c44;
  --color-surface-status-warning: #381800;
  --color-surface-status-critical: #380800;
}

@mixin dark-mode-colors {
  --color-surface-rgb: 22, 23, 24;
  --color-surface: rgb(var(--color-surface-rgb));
  --color-surface-subdued: #1d1e1f;
  --color-surface-code: #202122;
  --color-text: #b6b6bf;
  --color-text-strong: #fff;
  --color-text-subdued: #909097;
  --color-link: #ad8bf1;
  --color-border: #252529;
  --color-code-keyword: #6dffaa;
  --color-code-function: var(--color-code-keyword);
  --color-code-string: #c087ff;
  --color-code-boolean: #ff6ea1;
  --color-code-number: #ff9e5b;
  --color-code-operator: var(--color-code-text);
  --color-code-punctuation: var(--color-text-subdued);
  --color-code-property: var(--color-code-keyword);
  --color-code-selector: var(--color-code-keyword);
  --color-code-comment: #897fff;
  --color-code-inserted: var(--color-code-keyword);
  --color-code-deleted: #ffb7d1;
  --color-code-inserted-highlight: var(--surface-information);
  --color-code-deleted-highlight: var(--surface-warning);
  --color-entity-patterns: #007a59;
  --color-entity-components: #144995;
  --color-entity-tokens: #5a24cd;
  --color-entity-icons: #b77e0b;
  --color-status-success: #007a59;
  --color-status-information: #144995;
  --color-status-warning: #a44c0a;
  --color-status-critical: #9f200a;
  --color-surface-status-success: #00241a;
  --color-surface-status-information: #001c44;
  --color-surface-status-warning: #381800;
  --color-surface-status-critical: #380800;
}
