* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  text-align: inherit;
  line-height: inherit;
  list-style-type: none;
  color: inherit;
  border: none;
  background: transparent;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-text-strong);
  }
}

:root {
  --unit-space: 1rem;
  --unit-radius: 2px;

  --font-size-small: 0.9rem;

  --font-weight-normal: 400;
  --font-weight-heavy: 475;
  --font-weight-bold: 600;

  --font-family-mono: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace;

  --color-surface-rgb: 247, 248, 250;
  --color-surface: rgb(var(--color-surface-rgb));
  --color-surface-subdued: #eff0f3;
  --color-surface-code: var(--color-surface-subdued);
  --color-text: #4d4f54;
  --color-text-strong: #121a2a;
  --color-text-subdued: #767676;
  --color-link: #4924c5;
  --color-border: #dbdce1;
  --color-code-keyword: #017b33;
  --color-code-function: var(--color-code-keyword);
  --color-code-string: #6a00df;
  --color-code-boolean: #d6004b;
  --color-code-number: #c55100;
  --color-code-operator: var(--color-code-text);
  --color-code-punctuation: var(--color-text-subdued);
  --color-code-property: var(--color-code-keyword);
  --color-code-selector: var(--color-code-keyword);
  --color-code-comment: #3d2fe8;
  --color-code-inserted: var(--color-code-keyword);
  --color-code-deleted: var(--color-code-boolean);
  --color-code-inserted-highlight: #e5ffef;
  --color-code-deleted-highlight: #fff3f8;
  --color-entity-patterns: #76dfc4;
  --color-entity-components: #9fc6ff;
  --color-entity-tokens: #cfb8ff;
  --color-entity-icons: #f7cc74;
  --color-status-success: #76dfc4;
  --color-status-information: #9fc6ff;
  --color-status-warning: #f8d4b7;
  --color-status-critical: #f8d3cc;
  --color-surface-status-success: #00241a;
  --color-surface-status-information: #001c44;
  --color-surface-status-warning: #381800;
  --color-surface-status-critical: #380800;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --color-surface-rgb: 22, 23, 24;
    --color-surface: rgb(var(--color-surface-rgb));
    --color-surface-subdued: #1d1e1f;
    --color-surface-code: #202122;
    --color-text: #b6b6bf;
    --color-text-strong: #fff;
    --color-text-subdued: #909097;
    --color-link: #ad8bf1;
    --color-border: #252529;
    --color-code-keyword: #6dffaa;
    --color-code-function: var(--color-code-keyword);
    --color-code-string: #c087ff;
    --color-code-boolean: #ff6ea1;
    --color-code-number: #ff9e5b;
    --color-code-operator: var(--color-code-text);
    --color-code-punctuation: var(--color-text-subdued);
    --color-code-property: var(--color-code-keyword);
    --color-code-selector: var(--color-code-keyword);
    --color-code-comment: #897fff;
    --color-code-inserted: var(--color-code-keyword);
    --color-code-deleted: #ffb7d1;
    --color-code-inserted-highlight: var(--surface-information);
    --color-code-deleted-highlight: var(--surface-warning);
    --color-entity-patterns: #007a59;
    --color-entity-components: #144995;
    --color-entity-tokens: #5a24cd;
    --color-entity-icons: #b77e0b;
    --color-status-success: #007a59;
    --color-status-information: #144995;
    --color-status-warning: #a44c0a;
    --color-status-critical: #9f200a;

    --color-surface-status-success: #00241a;
    --color-surface-status-information: #001c44;
    --color-surface-status-warning: #381800;
    --color-surface-status-critical: #380800;
  }
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: var(--color-surface);
  color: var(--color-text);
  scroll-margin-top: 5rem;
  scroll-behavior: smooth;
}

img,
iframe,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.dodont {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1.5rem;

  [data-type='do'],
  [data-type='dont'] {
    padding: 1.25rem 1.5rem;
    border-radius: calc(var(--unit-radius) * 4);
  }

  [data-type='do'] {
    background: #123028;
    border-top: 1px solid #1b4238;
  }

  [data-type='dont'] {
    background: #391c29;
    border-top: 1px solid #4b2537;
  }
}

code,
pre {
  .keyword {
    color: var(--color-code-keyword);
  }
  .function {
    color: var(--color-code-function);
  }
  .string {
    color: var(--color-code-string);
  }
  .boolean {
    color: var(--color-code-boolean);
  }
  .number {
    color: var(--color-code-number);
  }
  .operator {
    color: var(--color-code-operator);
  }
  .punctuation {
    color: var(--color-code-punctuation);
  }
  .property {
    color: var(--color-code-property);
  }
  .selector {
    color: var(--color-code-selector);
  }
  .comment {
    color: var(--color-code-comment);
  }
  .inserted {
    background: var(--color-code-inserted-highlight);
    color: var(--color-code-inserted);
  }
  .deleted {
    background: var(--color-code-deleted-highlight);
    color: var(--color-code-deleted);
  }
}

.table-wrapper {
  overflow-x: auto;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}
