@import './colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  text-align: inherit;
  line-height: inherit;
  list-style-type: none;
  color: inherit;
  border: none;
  background: transparent;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-text-strong);
  }
}

:root {
  --unit-space: 1rem;
  --unit-radius: 2px;

  --font-size-small: 0.9rem;

  --font-weight-normal: 400;
  --font-weight-heavy: 475;
  --font-weight-bold: 600;

  --font-family-mono: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace;

  @include light-mode-colors();

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    @include dark-mode-colors();
  }
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: var(--color-surface);
  color: var(--color-text);
  scroll-margin-top: 5rem;
  scroll-behavior: smooth;
}

img,
iframe,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.dodont {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1.5rem;

  [data-type='do'],
  [data-type='dont'] {
    padding: 1.25rem 1.5rem;
    border-radius: calc(var(--unit-radius) * 4);
  }

  [data-type='do'] {
    background: #123028;
    border-top: 1px solid #1b4238;
  }

  [data-type='dont'] {
    background: #391c29;
    border-top: 1px solid #4b2537;
  }
}

code,
pre {
  .keyword {
    color: var(--color-code-keyword);
  }
  .function {
    color: var(--color-code-function);
  }
  .string {
    color: var(--color-code-string);
  }
  .boolean {
    color: var(--color-code-boolean);
  }
  .number {
    color: var(--color-code-number);
  }
  .operator {
    color: var(--color-code-operator);
  }
  .punctuation {
    color: var(--color-code-punctuation);
  }
  .property {
    color: var(--color-code-property);
  }
  .selector {
    color: var(--color-code-selector);
  }
  .comment {
    color: var(--color-code-comment);
  }
  .inserted {
    background: var(--color-code-inserted-highlight);
    color: var(--color-code-inserted);
  }
  .deleted {
    background: var(--color-code-deleted-highlight);
    color: var(--color-code-deleted);
  }
}

.table-wrapper {
  overflow-x: auto;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}
