@mixin heading-1 {
  font-size: 4rem;
  color: var(--color-text-strong);
}

@mixin heading-2 {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.0125rem;
  line-height: 1.25;
  color: var(--color-text-strong);
}

@mixin heading-3 {
  font-size: 1.35rem;
  line-height: 1.25;
  color: var(--color-text-strong);
}

@mixin heading-4 {
  font-weight: 600;
  font-size: 1.05rem;
  color: var(--color-text-strong);
}

@mixin lede {
  font-size: 1.15rem;
  margin-bottom: 1.75rem;
  font-weight: var(--font-weight-heavy);
  // TODO: This feels bad
  max-width: 46rem;
}

@mixin custom-scrollbars {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 999px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-border);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-text);
    }
  }
}
