.Search {
  padding: rem(12px) spacing();
  text-align: center;
}

.NoResults {
  padding: spacing();
  padding-top: 0;
  text-align: center;
}

.ShopsList {
  margin-top: -#{spacing(tight)};
}

.ShopName {
  // stylelint-disable-next-line value-no-vendor-prefix
  display: -webkit-box;
  -webkit-line-clamp: 2;
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-box-orient: vertical;
  overflow: hidden;

  @supports not (-webkit-line-clamp: 2) {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
}
