.GuidelinesPage {
  display: flex;
  --toc-max-width: 15rem;
}

.Nav {
  min-width: 17rem;
  max-width: 17rem;
  border-right: var(--border);
  padding-top: 3rem;
}

.Post {
  padding-top: 3rem;
  padding-left: 3rem;
  max-width: 44rem;
  position: relative;
}

.TOC {
  position: absolute;
  height: 100%;
  font-size: var(--font-size-100);
  width: var(--toc-max-width);
  right: calc((var(--toc-max-width) + 3rem) * -1);

  > ul {
    position: sticky;
    top: 2rem;
    border-left: var(--border);
    padding-left: 1.5rem;
  }

  a {
    color: inherit;
    display: inline-block;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    &:hover {
      color: var(--text-strong);
    }
  }

  ul ul {
    font-size: 14px;
  }

  > ul > li {
    margin-bottom: 0.75rem;
    &:last-child {
      margin-bottom: none;
    }
  }

  &.isNested {
    > ul > li > a {
      font-weight: 435;
    }
  }
}
