.IconGrid {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.Icon {
  transition: all 0.2s ease;

  button {
    appearance: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    cursor: pointer;
    background: var(--surface);
    padding-top: 5px;
    aspect-ratio: 5 / 4;
    border-radius: var(--border-radius-400);
    transition: background-color 0.05s linear;
    box-shadow: var(--card-shadow);

    &:hover {
      background: #ededed;
    }
  }

  &.isHighlighted button {
    box-shadow: var(--focus-outline);
  }
}

.Preview {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  animation: icon-in 0.25s 0.05s ease both;
}

.IconMeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;

  p {
    max-width: 60%;
    text-align: center;
  }
}
