@import "../../styles/mixins.scss";

.IconGrid {
  display: grid;
  gap: 8px;
  // https://evanminto.com/blog/intrinsically-responsive-css-grid-minmax-min/
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
}

.Icon {
  button {
    appearance: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    cursor: pointer;
    background: var(--surface-subdued);
    padding-top: 5px;
    aspect-ratio: 5 / 4;
    border-radius: var(--border-radius-800);
  }

  &.isHighlighted button,
  button:focus {
    box-shadow: var(--focus-outline);
  }
}

.SVGWrapper {
  filter: brightness(0);

  @include dark-mode {
    filter: brightness(0) contrast(1) invert(1);
  }
}

.IconMeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;

  p {
    max-width: 60%;
    text-align: center;
  }
}
