html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ebeef0;
}

* {
  box-sizing: inherit;
}
