@import 'foundation/borders';
@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/typography';
@import 'foundation/border-radius';

$font-size: rem(12px);

.DatePicker {
  position: relative;
}

.MonthContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1 * spacing();
  margin-left: -1 * spacing();
}

.Month {
  flex: 1 1 auto;
  margin-top: spacing();
  margin-left: spacing();
  max-width: calc(100% - #{spacing()});
  min-width: 0;

  @supports (min-width: fit-content) {
    flex: 1 0 0%;
    min-width: fit-content;
  }
}

.Week,
.WeekHeadings {
  display: flex;

  + .Week {
    margin-top: -1px;
  }
}

.Day {
  display: block;
  flex: 1 0 0%;
  width: 100% / 7;
  margin: 0;
  padding: spacing(tight);
  background: transparent;
  border: border();
  font-size: $font-size;
  text-align: center;

  + .Day,
  + .EmptyDay {
    margin-left: -1px;
  }

  &:focus {
    // Change when design ready
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.EmptyDay {
  display: block;
  flex: 1 0 0%;
  width: calc(100% / 7);
  margin: 0;
  padding: spacing(tight);
  border: border();

  + .EmptyDay,
  + .Day {
    margin-left: -1px;
  }
}

.inRange {
  background: color(indigo, light);
}

.selected {
  background: color(indigo);
  color: color(white);
}

.disabled {
  background-color: color(sky, lighter);
  color: color(sky, dark);
  cursor: default;
}

.Weekday {
  display: block;
  flex: 1 0 0%;
  padding: spacing(tight);
  background: transparent;
  font-size: $font-size;
  color: color(ink, lighter);
  text-align: center;

  + .Weekday {
    margin-left: -1px;
  }
}

.Header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: spacing();
  font-size: $font-size;
}

.Icon {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: 600;
  line-height: 1;
  fill: color(ink, lighter);

  &:focus,
  &:hover {
    fill: color(ink, light);
  }
}

.Title {
  flex: 1 1 auto;
  margin-top: rem(2px);
  padding-bottom: spacing(extra-tight);
  text-align: center;
}
