@import '../../styles/common';

.Banner {
  background-color: var(--p-color-bg);
  position: relative;
  display: flex;

  &:focus {
    outline: none;
  }

  &.keyFocused {
    outline: var(--p-border-width-2) solid
      var(--p-color-border-interactive-focus);
  }
}

.withinContentContainer {
  border-radius: var(--p-border-radius-2);

  + .Banner {
    margin-top: var(--p-space-2);
  }
}

.withinPage {
  @include shadow-bevel(
    $boxShadow: var(--p-shadow-sm),
    $borderRadius: var(--p-border-radius-0-experimental),
    // The following arguments explicitly ignore the shadow-bevel opt out
    $border: none,
    $content: ''
  );

  @media #{$p-breakpoints-sm-up} {
    @include shadow-bevel(
      $boxShadow: var(--p-shadow-sm),
      $borderRadius: var(--p-border-radius-3),
      // The following arguments explicitly ignore the shadow-bevel opt out
      $border: none,
      $content: ''
    );
  }

  + .Banner {
    margin-top: var(--p-space-4);
  }
}

// stylelint-disable -- Duplicate selectors to bump specificity for button svg color override
// https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity#increasing_specificity_by_duplicating_selector

@mixin recolor-icon($fill-color: null) {
  svg,
  path {
    fill: $fill-color;
  }
}

.icon-on-color.icon-on-color.icon-on-color {
  @include recolor-icon(var(--p-color-icon-on-color));
}

.icon-success-strong-experimental.icon-success-strong-experimental.icon-success-strong-experimental {
  @include recolor-icon(var(--p-color-icon-success-strong-experimental));
}

.text-warning-strong.text-warning-strong.text-warning-strong {
  @include recolor-icon(var(--p-color-text-warning-strong));
}

.icon-warning-strong-experimental.icon-warning-strong-experimental.icon-warning-strong-experimental {
  @include recolor-icon(var(--p-color-icon-warning-strong-experimental));
}

.icon-critical-strong-experimental.icon-critical-strong-experimental.icon-critical-strong-experimental {
  @include recolor-icon(var(--p-color-icon-critical-strong-experimental));
}

.text-info-strong.text-info-strong.text-info-strong {
  @include recolor-icon(var(--p-color-text-info-strong));
}

.icon-info-strong-experimental.icon-info-strong-experimental.icon-info-strong-experimental {
  @include recolor-icon(var(--p-color-icon-info-strong-experimental));
}

.icon-subdued.icon-subdued.icon-subdued {
  @include recolor-icon(var(--p-color-icon-subdued));
}
// stylelint-enable
