@import '../../styles/common';

.Banner {
  background-color: var(--p-color-bg);
  position: relative;
  display: flex;

  &:focus {
    outline: none;
  }

  &.keyFocused {
    outline: var(--p-border-width-2) solid
      var(--p-color-border-interactive-focus);
  }
}

.withinContentContainer {
  border-radius: var(--p-border-radius-2);

  + .Banner {
    margin-top: var(--p-space-2);
  }
}

.withinPage {
  @include shadow-bevel(
    $boxShadow: var(--p-shadow-sm),
    $borderRadius: var(--p-border-radius-0-experimental),
    // The following arguments explicitly ignore the shadow-bevel opt out
    $border: none,
    $content: ''
  );

  @media #{$p-breakpoints-sm-up} {
    @include shadow-bevel(
      $boxShadow: var(--p-shadow-sm),
      $borderRadius: var(--p-border-radius-3),
      // The following arguments explicitly ignore the shadow-bevel opt out
      $border: none,
      $content: ''
    );
  }

  + .Banner {
    margin-top: var(--p-space-4);
  }
}
