@use 'global-styles/legacy-polaris-v8';

.font-size {
  font-size: 0.8125rem;
  font-size: 0.8125rem;
  font-size: var(--p-font-size-75);
  // Comment
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // font-size: legacy-polaris-v8.font-size($invalid);
  font-size: legacy-polaris-v8.font-size($invalid);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // font-size: legacy-polaris-v8.font-size(caption, $invalid);
  font-size: legacy-polaris-v8.font-size(caption, $invalid);
  // polaris-migrator: Unable to migrate the following expression. Please upgrade manually.
  // font-size: legacy-polaris-v8.font-size();
  font-size: legacy-polaris-v8.font-size();
}
