@import '../../styles/common';

.ExceptionList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Item {
  position: relative;
  padding-left: rem(24px);
  color: var(--p-text-subdued);

  + .Item {
    margin-top: spacing(extra-tight);
  }
}

.Icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: rem(20px);
  height: rem(20px);
  margin-right: spacing(extra-tight);

  @include recolor-icon(var(--p-icon-subdued));

  .statusWarning & {
    @include recolor-icon(var(--p-icon-warning));
  }

  .statusCritical & {
    @include recolor-icon(var(--p-icon-critical));
  }
}

.Bullet {
  width: rem(6px);
  height: rem(6px);
  border-radius: 100%;
  background-color: var(--p-icon-subdued);

  .statusWarning & {
    background-color: var(--p-icon-warning);
  }

  .statusCritical & {
    background-color: var(--p-icon-critical);
  }
}

.Title {
  + .Description::before {
    content: '–';
    margin: 0 spacing(extra-tight);
  }

  .statusWarning &,
  .statusCritical & {
    font-weight: 500;
  }

  .statusWarning & {
    color: var(--p-text-warning);
  }

  .statusCritical & {
    color: var(--p-text-critical);
  }
}
