@use 'global-styles/legacy-polaris-v8';

.Card {
  z-index: legacy-polaris-v8.z-index(content) + 1;
  padding: var(--p-space-5) var(--p-space-8);
  border-radius: var(--p-border-radius-2, legacy-polaris-v8.border-radius());
  box-shadow: var(--p-shadow-card, legacy-polaris-v8.shadow());
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* margin: var(--p-space-2) 0 0
    (-1 * var(--p-space-4)); */
  margin: legacy-polaris-v8.spacing(tight) 0 0
    (-1 * legacy-polaris-v8.spacing());
}
