@import "../../styles/variables.scss";

.ResourcesPage {
  margin-top: var(--header-margin);

  h1 + p {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    font-size: var(--font-size-600);
    letter-spacing: var(--letter-spacing-200);
  }
}

.MainPackages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem 0;
  gap: 4rem 3rem;

  > div {
    img {
      display: none !important;
      filter: saturate(0) contrast(100) brightness(0%);
    }
  }

  h2 {
    margin-top: 1rem;
  }
}

.Description {
  margin: 0.75rem 1rem 1rem 0;
}

.Version {
  margin: 0.33rem 0 0;
  font-size: var(--font-size-100);
}

.Links {
  display: flex;
  gap: 0.25rem;

  a {
    display: flex;
    align-items: center;
    gap: 0.33rem;
    background: var(--p-surface-subdued);
    padding: 0.33rem 0.66rem;
    border-radius: var(--border-radius-400);
    font-weight: 400;
    font-size: var(--font-size-200);
    box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.025),
      inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    color: var(--text-strong);

    .Icon {
      display: flex;
      align-items: center;
      min-width: 0.95em;
      width: 0.95em;
      svg {
        color: var(--text-strong);
      }
    }
  }

  a[data-icon="github"],
  a[data-icon="install"] {
    gap: 0.4rem;
  }
}

.PolarisForVSCode {
  display: flex;
  gap: 2rem;
  background: #1e1d1e;
  color: #aaa;
  border-radius: var(--border-radius-400);
  overflow: hidden;

  .Text {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Video {
    min-width: 66%;
    max-width: 66%;

    video {
      width: 100%;
      height: auto;
    }
  }

  h2 {
    color: white;
  }

  a {
    color: white;
  }

  .VSCodeIcon {
    height: 70px;
    margin-bottom: 1rem;
    svg {
      transform: scale(2);
      transform-origin: 0 0;
    }
  }
}
