@import '../../../../styles/common';

$min-height: control-height();
$control-size: rem(16px);
$control-vertical-adjustment: rem(2px);

.Option {
  @include unstyled-button;
  @include unstyled-link;
  width: 100%;
  min-height: $min-height;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(
      rgba(223, 227, 232, 0.3),
      rgba(223, 227, 232, 0.3)
    );
  }
}

.SingleSelectOption {
  @include unstyled-button;
  text-align: left;

  &:not(.disabled) {
    color: inherit;
  }

  .Media {
    padding: 0 spacing(tight) 0 0;
  }
}

.Label,
.SingleSelectOption {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: spacing(tight) spacing();
}

.Checkbox {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  width: $control-size;
  height: $control-size;
  margin-top: $control-vertical-adjustment;
  margin-right: spacing(tight);
}

.focused {
  box-shadow: inset 0.2rem 0 0 color('indigo');
  background-image: linear-gradient(
    rgba(223, 227, 232, 0.3),
    rgba(223, 227, 232, 0.3)
  );

  &:hover {
    box-shadow: inset 0.2rem 0 0 color('indigo');
    background-image: linear-gradient(
        rgba(223, 227, 232, 0.3),
        rgba(223, 227, 232, 0.3)
      ),
      linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));
  }
}

.disabled {
  background-image: linear-gradient(
    rgba(249, 250, 251, 1),
    rgba(249, 250, 251, 1)
  );

  .Media {
    @include recolor-icon(color('ink', 'lightest'), color('white'));
  }
}

.select {
  background-image: linear-gradient(
    rgba(179, 188, 245, 0.15),
    rgba(179, 188, 245, 0.15)
  );

  &.focused {
    box-shadow: inset 0.2rem 0 0 color('indigo');
    background-image: linear-gradient(
        rgba(179, 188, 245, 0.15),
        rgba(179, 188, 245, 0.15)
      ),
      linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));

    &:hover {
      box-shadow: inset 0.2rem 0 0 color('indigo');
      background-image: linear-gradient(
          rgba(179, 188, 245, 0.15),
          rgba(179, 188, 245, 0.15)
        ),
        linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3)),
        linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));
    }
  }
}

.active {
  background-image: linear-gradient(
    rgba(179, 188, 245, 0.1),
    rgba(179, 188, 245, 0.1)
  );
}

.Media {
  @include recolor-icon(color('ink', 'light'), color('white'));
  padding: 0 spacing(tight);
}
