.depth {
  box-shadow: var(--p-shadow-transparent);
  box-shadow: var(--p-shadow-faint);
  box-shadow: var(--p-shadow-base);
  box-shadow: var(--p-shadow-deep);
  box-shadow: var(--p-shadow-button);
  box-shadow: var(--p-shadow-top-bar);
  box-shadow: var(--p-shadow-card);
  box-shadow: var(--p-shadow-popover);
  box-shadow: var(--p-shadow-layer);
  box-shadow: var(--p-shadow-modal);
  box-shadow: var(--p-shadows-inset-button);
  box-shadow: var(--p-shadows-inset-button-pressed);
  box-shadow: var(--p-shadow-color-picker);
  box-shadow: var(--p-shadow-color-picker-dragger);
  box-shadow: 1px 1px var(--p-hint-from-direct-light);
}
