.border {
  border-radius: var(--p-border-radius-0);
  border-radius: var(--p-border-radius-050);
  border-radius: var(--p-border-radius-100);
  border-radius: var(--p-border-radius-150);
  border-radius: var(--p-border-radius-200);
  border-radius: var(--p-border-radius-300);
  border-radius: var(--p-border-radius-400);
  border-radius: var(--p-border-radius-500);
  border-radius: var(--p-border-radius-750);
  border-width: var(--p-border-width-025);
  border-width: var(--p-border-width-0165);
  border-width: var(--p-border-width-050);
  border-width: var(--p-border-width-025);
  border-width: var(--p-border-width-050);
  border-width: var(--p-border-width-100);
  border-width: var(--p-border-width-100);
}
