.font-family {
  font-family: sans-serif;
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-mono);
}

.font-size {
  /* LENGTHS */
  font-size: var(--p-font-size-75);
  font-size: var(--p-font-size-200);
  /* Ignore */
  font-size: 1em;
  font-size: #{1px};
  /* Comment */
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: 10px; */
  font-size: 10px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: var(--p-font-size-75) + 1px; */
  font-size: 12px + 1px;

  /* FONT-SIZE FUNCTION */
  font-size: 0.8125rem;
  font-size: 0.8125rem;
  font-size: var(--p-font-size-75);
  /* Comment */
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: font-size($invalid); */
  font-size: font-size($invalid);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: font-size(caption, $invalid); */
  font-size: font-size(caption, $invalid);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: font-size(); */
  font-size: font-size();
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: font-size(caption, large-screen, $too-many-args); */
  font-size: font-size(caption, large-screen, $too-many-args);

  /* REM FUNCTION */
  font-size: var(--p-font-size-75);
  font-size: var(--p-font-size-200);
  /* Comment */
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: rem(1em); */
  font-size: rem(1em);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: rem(10px); */
  font-size: rem(10px);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: rem($invalid); */
  font-size: rem($invalid);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: rem(); */
  font-size: rem();
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: rem(var(--p-font-size-75), $too-many-args); */
  font-size: rem(12px, $too-many-args);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: var(--p-font-size-75) 1px; */
  font-size: rem(12px) 1px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: rem(1px) var(--p-font-size-75); */
  font-size: rem(1px) 12px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: rem(#{10px + 2px}) var(--p-font-size-75); */
  font-size: rem(#{10px + 2px}) 12px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-size: var(--p-font-size-75) + #{10px + 2px}; */
  font-size: rem(12px) + #{10px + 2px};
}

.font-weight {
  /* LENGTHS */
  font-weight: var(--p-font-weight-regular);
  font-weight: var(--p-font-weight-bold);
  /* Comment */
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-weight: 300; */
  font-weight: 300;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-weight: var(--p-font-weight-regular) + 300; */
  font-weight: 400 + 300;

  /* ALIAS */
  font-weight: var(--p-font-weight-regular);
  font-weight: var(--p-font-weight-bold);
  /* Comment */
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* font-weight: bolder; */
  font-weight: bolder;
}

.font-line-height {
  /* LENGTHS */
  line-height: var(--p-font-line-height-1);
  line-height: var(--p-font-line-height-1);
  /* Comment */
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* line-height: 10px; */
  line-height: 10px;
}
