@use 'global-styles/legacy-polaris-v8';

.font-family {
  font-family: sans-serif;
  font-family: legacy-polaris-v8.font-family();
  font-family: legacy-polaris-v8.font-family(base);
  font-family: legacy-polaris-v8.font-family(monospace);
}

.font-size {
  // LENGTHS
  font-size: 12px;
  font-size: 1rem;
  // Ignore
  font-size: 1em;
  font-size: #{1px};
  // Comment
  font-size: 10px;
  font-size: 12px + 1px;

  // FONT-SIZE FUNCTION
  font-size: legacy-polaris-v8.font-size(caption);
  font-size: legacy-polaris-v8.font-size(caption, base);
  font-size: legacy-polaris-v8.font-size(caption, large-screen);
  // Comment
  font-size: legacy-polaris-v8.font-size($invalid);
  font-size: legacy-polaris-v8.font-size(caption, $invalid);
  font-size: legacy-polaris-v8.font-size();
  font-size: legacy-polaris-v8.font-size(caption, base, $too-many-args);

  // REM FUNCTION
  font-size: legacy-polaris-v8.rem(12px);
  font-size: legacy-polaris-v8.rem(1rem);
  // Comment
  font-size: legacy-polaris-v8.rem(1em);
  font-size: legacy-polaris-v8.rem(10px);
  font-size: legacy-polaris-v8.rem($invalid);
  font-size: legacy-polaris-v8.rem();
  font-size: legacy-polaris-v8.rem(12px, $too-many-args);
  font-size: legacy-polaris-v8.rem(12px) 1px;
  font-size: legacy-polaris-v8.rem(1px) 12px;
  font-size: legacy-polaris-v8.rem(#{10px + 2px}) 12px;
  font-size: legacy-polaris-v8.rem(12px) + #{10px + 2px};
}

.font-weight {
  // LENGTHS
  font-weight: 400;
  font-weight: 700;
  // Comment
  font-weight: 300;
  font-weight: 400 + 300;

  // ALIAS
  font-weight: normal;
  font-weight: bold;
  // Comment
  font-weight: bolder;
}

.font-line-height {
  // LENGTHS
  line-height: 16px;
  line-height: 1rem;
  // Comment
  line-height: 10px;

  // LINE-HEIGHT FUNCTION
  line-height: legacy-polaris-v8.line-height(caption);
  line-height: legacy-polaris-v8.line-height(caption, base);
  line-height: legacy-polaris-v8.line-height(caption, large-screen);
  line-height: legacy-polaris-v8.line-height(display-x-large, base);
  // Comment
  line-height: legacy-polaris-v8.line-height($invalid);
  line-height: legacy-polaris-v8.line-height(caption, $invalid);
  line-height: legacy-polaris-v8.line-height();
  line-height: legacy-polaris-v8.line-height(caption, base, $too-many-args);
}
