$header-min-height: 56px;
$header-vertical-padding: var(--p-space-200);
$header-content-min-height: $control-height;
$list-stacking-order: 1;
$content-wrapper-stacking-order: 1;
$bulk-actions-wrapper-stacking-order: 31;
$header-outer-wrapper-stacking-order: 31;
$overlay-stacking-order: 3;
$header-overlay-stacking-order: 4;
$spinner-stacking-order: 4;

@mixin item-separator {
  border-top: var(--p-border-width-025) solid var(--p-color-border);
}
