$resource-list-variables: (
  breakpoint-small: 458px,
  header-min-height: 56px,
  header-vertical-padding: var(--p-space-2),
  header-content-min-height: control-height(),
  list-stacking-order: 1,
  content-wrapper-stacking-order: 1,
  bulk-actions-wrapper-stacking-order: 2,
  header-outer-wrapper-stacking-order: 2,
  overlay-stacking-order: 3,
  header-overlay-stacking-order: 4,
  spinner-stacking-order: 4,
);

@function resource-list($variable) {
  @return map-get($resource-list-variables, $variable);
}

$breakpoints-page-before-resource-list-small-up: breakpoints-up(
  resource-list(breakpoint-small)
);

$breakpoints-page-before-resource-list-small-down: breakpoints-down(
  resource-list(breakpoint-small),
  $inclusive: true
);

@mixin page-after-resource-list-small() {
  @media #{$breakpoints-page-before-resource-list-small-down} {
    @content;
  }
}
