@import '../../styles/common';

.PageActions {
  margin: 0 auto;
  padding: var(--p-space-5);
  border-top: var(--p-border-divider);

  @include page-content-when-not-fully-condensed {
    padding: var(--p-space-5) 0;
  }
}
