@import '../../../../../../styles/common';

$item-vertical-padding: calc((var(--p-space-3)) / 2);

.MenuItem {
  // stylelint-disable-next-line -- unset default button styles
  @include unstyled-button;
  // stylelint-disable-next-line -- set focus styles
  @include focus-ring;

  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: var(--p-space-1) $item-vertical-padding var(--p-space-1)
    var(--p-space-1);
  border-radius: var(--p-border-radius-2);
  margin-left: var(--p-space-2);
  width: 100%;

  &:visited {
    color: inherit;
  }

  &:focus-visible {
    // stylelint-disable-next-line -- set focus styles
    @include no-focus-ring;

    outline: var(--p-border-width-2) solid
      var(--p-color-border-interactive-focus);
    background-color: var(--p-color-bg);
  }
  &:hover {
    text-decoration: none;
    outline: var(--p-border-width-3) solid transparent;
    background-color: var(--p-color-bg-subdued-hover);
  }

  .Prefix {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  .ContentWrapper {
    width: 100%;
    display: flex;
  }

  .Content {
    flex: 2 1 auto;
  }
}
