.space {
  padding: var(--p-space-05);
  padding: var(--p-space-1);
  padding: var(--p-space-1_5-experimental);
  padding: var(--p-space-2);
  padding: var(--p-space-3);
  padding: var(--p-space-4);
  padding: var(--p-space-5);
  padding: var(--p-space-6);
  padding: var(--p-space-8);
  padding: var(--p-space-10);
  padding: var(--p-space-12);
  padding: var(--p-space-16);
  padding: var(--p-space-20);
  padding: var(--p-space-24);
  padding: var(--p-space-28);
  padding: var(--p-space-32);
}
