@import '../../styles/common';

$stacking-order: (
  item: 10,
  focused: 20,
);

.ButtonGroup {
  --p-plain-horizontal-spacing: var(--p-space-2);
  --p-item-spacing: var(--p-space-2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: calc(-1 * var(--p-item-spacing));
  margin-left: calc(-1 * var(--p-item-spacing));
}

.Item {
  margin-top: var(--p-item-spacing);
  margin-left: var(--p-item-spacing);
}

.Item-plain {
  &:not(:first-child) {
    margin-left: var(--p-item-spacing) + var(--p-plain-horizontal-spacing);
  }

  &:not(:last-child) {
    margin-right: var(--p-plain-horizontal-spacing);
  }
}

.segmented {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-left: 0;

  .Item {
    position: relative;
    z-index: z-index(item, $stacking-order);
    margin-top: 0;
    margin-left: 0;

    &:not(:first-child) {
      margin-left: -1 * border-width();
    }
  }

  .Item-focused {
    z-index: z-index(focused, $stacking-order);
  }
}

.fullWidth {
  .Item {
    flex: 1 1 auto;
  }
}

.extraTight {
  margin-top: calc(-1 * (var(--p-space-1)));
  margin-left: calc(-1 * (var(--p-space-1)));

  .Item {
    margin-top: var(--p-space-1);
    margin-left: var(--p-space-1);
  }
}

.tight {
  margin-top: calc(-1 * var(--p-space-2));
  margin-left: calc(-1 * var(--p-space-2));

  .Item {
    margin-top: var(--p-space-2);
    margin-left: var(--p-space-2);
  }
}

.loose {
  margin-top: calc(-1 * var(--p-space-5));
  margin-left: calc(-1 * var(--p-space-5));

  .Item {
    margin-top: var(--p-space-5);
    margin-left: var(--p-space-5);
  }
}
