@import '../../../../../../styles/common';

$section-max-width: 325px;

.Section {
  max-width: $section-max-width;
  margin-top: var(--p-space-200);
  padding-top: var(--p-space-200);
  border-top: var(--p-border-width-025) solid var(--p-color-border-secondary);
}
