@import '../../../../styles/common';

$breakpoint: em(640px);
$Backdrop-opacity: 0.88;

.Toast {
  @include text-style-display-small;
  display: inline-flex;
  max-width: rem(500px);
  padding: spacing(tight) spacing();
  border-radius: var(--p-border-radius-wide);
  background: var(--p-surface);
  color: var(--p-text);
  margin-bottom: spacing(loose);

  @include breakpoint-after($breakpoint) {
    padding: spacing();
  }

  @media (forced-colors: active) {
    @include high-contrast-border(border-width(thick));
  }
}

.Action {
  margin-left: spacing(extra-loose);
  margin-right: spacing();
}

.error {
  $error-color: var(--p-text-on-critical);
  background: var(--p-action-critical);
  color: $error-color;

  .CloseButton {
    fill: var(--p-icon-on-critical);
  }
}

.CloseButton {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: (-1 * spacing());
  padding: 0 spacing();
  border: none;
  appearance: none;
  background: transparent;
  color: currentColor;
  @include recolor-icon(currentColor);
  cursor: pointer;

  @include breakpoint-after($breakpoint) {
    align-self: flex-start;
    margin: (-1 * spacing(tight)) (-1 * spacing()) (-1 * spacing(tight)) 0;
    padding: (1.5 * spacing(tight)) spacing() spacing(tight);
  }

  &:focus {
    outline: none;
  }
}
