@import '../../../../styles/common';

$breakpoint: em(640px);
$Backdrop-opacity: 0.88;

.Toast {
  @include text-style-display-small;
  display: inline-flex;
  max-width: rem(500px);
  padding: rem($spacing-tight) rem($spacing-base);
  border-radius: border-radius();
  background: rgba(color('black'), $Backdrop-opacity);
  box-shadow: shadow();
  color: color('white');
  margin-bottom: rem($spacing-loose);

  @include breakpoint-after($breakpoint) {
    padding: rem($spacing-base);
  }

  @media (-ms-high-contrast: active) {
    border: border-width(thick) solid ms-high-contrast-color('text');
  }
}

.Action {
  margin-left: rem($spacing-extra-loose);
  margin-right: rem($spacing-base);
}

.error {
  background: rgba(color('red', 'dark'), $Backdrop-opacity);
}

.CloseButton {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin: (-1 * rem($spacing-tight)) (-1 * rem($spacing-base))
    (-1 * rem($spacing-tight)) 0;
  padding: (1.5 * rem($spacing-tight)) rem($spacing-base) rem($spacing-tight);
  border: none;
  appearance: none;
  background: transparent;
  fill: color('white');
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
