.Header {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding: spacing() spacing(loose);
  border-bottom: border();
}

.Title {
  flex: 1;
  margin-top: spacing(extra-tight);
  word-break: break-word;
}
