.Header {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding: spacing() spacing(loose);
  border-bottom: border();
}

.Title {
  @include text-breakword;
  flex: 1;
  margin-top: spacing(extra-tight);
}
