@import '../../../../styles/common';

.SearchField {
  position: relative;
  height: var(--p-height-700);
  display: flex;
  gap: var(--p-space-200);
  margin-left: var(--p-space-050);
  border-style: solid;
  border-width: var(--p-border-width-025);
  border-radius: var(--p-border-radius-100);
  border-color: var(--p-color-input-border);
  background-color: none;
  transition: outline var(--p-motion-duration-100) var(--p-motion-ease);

  &.borderless {
    border-width: 0;
  }

  &:hover {
    border-color: var(--p-color-input-border-hover);
    background-color: var(--p-color-input-bg-surface-hover);
  }

  &.focusVisible {
    border-color: none;
    outline: var(--p-border-width-050) solid var(--p-color-border-emphasis);
    outline-offset: calc(-1 * var(--p-border-width-025));
    background-color: var(--p-color-input-bg-surface-active);
  }

  &.disabled {
    background-color: var(--p-color-bg-fill-disabled);
  }
}

.Label {
  /* stylelint-disable-next-line polaris/legacy/polaris/at-rule-disallowed-list -- Label needs to be hidden */
  @include visually-hidden;
}

.Input {
  margin-left: var(--p-space-050);

  *:not(button, svg) {
    // stylelint-disable -- TextField needs to be smaller to prevent layout shift between filter modes of IndexFilters
    --pc-text-field-border-radius: var(--p-border-radius-100);
    // --pc-text-field-backdrop-outline-offset: calc(-1 * var(--p-border-width-100));
    --pc-text-field-contents-margin-outer: var(--p-space-150);
    --pc-text-field-min-height: 1.625rem;

    height: var(--p-height-700);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  input {
    flex: 1 0 auto;
    padding: var(--p-space-025) var(--p-space-150);
  }
  // stylelint-enable
}

.Suffix {
  display: flex;
  align-items: center;
  padding-right: var(--p-space-150);
}

.ClearButton {
  opacity: 0;
  pointer-events: none;
  background: none;
  border: none;
  transition: opacity var(--p-motion-duration-150) var(--p-motion-ease-in-out);
  cursor: pointer;
  padding: 0 var(--p-space-150);
  // Nudge the button to center
  // margin-top: var(--p-space-025);
  height: var(--p-height-700);

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.Spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--p-space-500);

  svg {
    width: var(--p-width-400);
    display: block;
    fill: var(--p-color-icon-secondary);
  }
}
