.GridOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  gap: var(--p-space-3);
  grid-template-columns: repeat(4, 1fr);
  padding: 0 var(--p-space-6);
  background-color: var(--p-action-critical);
  opacity: 0.25;
  pointer-events: none;

  @media screen and (min-width: 769px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.Cell {
  height: 100%;
  background-color: var(--p-surface);
}
