.UnparsablePropsWarning {
  p {
    margin-bottom: 1rem;
  }
  pre {
    font-family: var(--font-family-mono);
    white-space: pre-line;
  }
}

.InterfaceList {
  border-radius: var(--border-radius-400);
  border: 1px solid var(--border-color-light);
  font-size: var(--font-size-200);
  display: block;

  .InterfaceList {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    background: var(--surface-subdued);
  }

  .InterfaceListHeader {
    border-bottom: 1px solid var(--border-color-light);
    background: transparent;
    width: 100%;
    text-align: left;
    color: var(--code-keyword);
    font-family: var(--font-family-mono);
    padding: 0.5em 1em;
  }

  .Description {
    display: block;
    font-size: var(--font-size-50);
  }

  .Row {
    display: block;
    padding: 0.666em 1em;
    border-bottom: 1px solid var(--border-color-light);

    &:last-child {
      border-bottom: none;
    }
  }

  .Key {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    font-size: var(--font-size-100);

    button {
      background: transparent;
      border-bottom: 1px dashed var(--border-color);
    }
  }

  .MemberName {
    font-weight: var(--font-weight-500);
    color: var(--text-strong);
  }

  .Value {
    word-break: break-word;
  }

  .ValueText {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-100);
    color: var(--text-strong);
  }
}

.SyntaxString {
  color: var(--code-string);
}

.SyntaxBoolean {
  color: var(--code-boolean);
}

.SyntaxReactNode {
  color: var(--code-keyword);
}

.SyntaxNumber {
  color: var(--code-number);
}

// .SyntaxKeyword {
//   color: var(--code-keyword);
// }
