@function breakpoint($value, $inclusive: true) {
  $value-unit: unit($value);

  @if $value-unit == 'em' {
    @return $value + if($inclusive, 0, -0.003125em); // -0.05px
  } @else if $value-unit == 'px' {
    @return ($value / 16px * 1em) + if($inclusive, 0, -0.003125em); // -0.05px
  } @else {
    @error 'The $value passed into breakpoint() must be a pixel or em value. Got "#{$value}"';
  }
}

$page-max-width: $layout-width-primary-max + $layout-width-secondary-max +
  $layout-width-inner-spacing-base;

$not-condensed-content: breakpoint($layout-width-page-content-not-condensed);

@mixin breakpoint-after($breakpoint, $inclusive: true) {
  @media (min-width: #{breakpoint($breakpoint) + if($inclusive, 0, 0.01em)}) {
    @content;
  }
}

@mixin breakpoint-before($breakpoint, $inclusive: true) {
  @media (max-width: #{breakpoint($breakpoint) + if($inclusive, 0, -0.01em)}) {
    @content;
  }
}

$p-frame-with-nav-when-not-max-width: '(max-width: 77.375em)'; // 1238px
$p-page-when-not-max-width: '(max-width: 62.375em)'; // 998px
$p-page-content-when-layout-stacked: '(max-width: 60em)'; // 1040px
$p-page-content-when-layout-not-stacked: '(min-width: 50em)'; // 800px
$p-page-content-when-partially-condensed: '(max-width: 61.5em)'; // 984px
$p-page-content-when-not-partially-condensed: '(min-width: 46.5em)'; // 744px
$p-page-content-when-fully-condensed: '(max-width: 47.125em)'; // 754px
$p-page-content-when-not-fully-condensed: '(min-width: 30.625em)'; // 490px
$p-frame-when-nav-displayed: '(min-width: 48.0625em)'; // 769px
$p-frame-when-nav-hidden: '(max-width: 48.0525em)'; // 768.84px
