@function control-height() {
  @return 32px;
}

@function control-vertical-padding() {
  @return calc((36px - var(--p-font-line-height-600) - var(--p-space-050)) / 2);
}

@mixin control-backdrop($style: base) {
  @if $style == base {
    position: relative;
    border: var(--p-border-width-050) solid var(--p-color-input-border);
    background-color: var(--p-color-bg-surface);
    border-radius: var(--p-border-radius-100);

    &.hover,
    &:hover {
      cursor: pointer;
      border-color: var(--p-color-border-hover);
    }
  } @else if $style == active {
    border-color: var(--p-color-border-emphasis);

    &::before {
      opacity: 1;
      transform: scale(1);
      @media (-ms-high-contrast: active) {
        border: var(--p-border-width-050) solid windowText;
      }
    }
  } @else if $style == disabled {
    border-color: var(--p-color-border-disabled);

    &::before {
      background-color: var(--p-color-bg-surface-disabled);
    }

    &:hover {
      cursor: default;
    }
  } @else if $style == error {
    border-color: var(--p-color-border-critical);
    background-color: var(--p-color-bg-fill-critical-secondary);

    &.hover,
    &:hover {
      border-color: var(--p-color-border-critical);
    }

    &::before {
      background-color: var(--p-color-border-critical);
    }
  }
}
