@mixin text-style-input {
  font-size: var(--p-font-size-200);
  font-weight: var(--p-font-weight-regular);
  line-height: var(--p-font-line-height-3);
  border: none;
  letter-spacing: initial;

  @media #{$p-breakpoints-md-up} {
    font-size: var(--p-font-size-100);
  }
}

@mixin text-breakword {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
