@import '../../styles/common';

.Icon {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: block;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  height: 20px;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  width: 20px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.applyColor {
  color: var(--p-surface);
}

.hasBackdrop {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  position: relative;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: flex;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  align-items: center;
  margin: var(--p-space-1);

  &::before {
    content: '';
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    position: absolute;
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    top: calc(-1 * var(--p-space-1));
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    bottom: calc(-1 * var(--p-space-1));
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    left: calc(-1 * var(--p-space-1));
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    right: calc(-1 * var(--p-space-1));
    border-radius: var(--p-border-radius-half);
  }
}

.colorBase {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-icon));

  &::before {
    background-color: var(--p-surface-neutral);
  }
}

.colorSubdued {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-icon-subdued));
}

.colorCritical {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-icon-critical));

  &::before {
    background-color: var(--p-surface-critical);
  }
}

.colorInteractive {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-interactive));
}

.colorWarning {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-icon-warning));

  &::before {
    background-color: var(--p-surface-warning);
  }
}

.colorHighlight {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-icon-highlight));

  &::before {
    background-color: var(--p-surface-highlight);
  }
}

.colorSuccess {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-icon-success));

  &::before {
    background-color: var(--p-surface-success);
  }
}

.colorPrimary {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-action-primary));
}

.Svg,
.Img {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  position: relative;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: block;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.Placeholder {
  padding-bottom: 100%;
  background: currentColor;
}
