.Foo {
  @media (min-width: #{legacy-polaris-v8.em(360px)}) {
    display: flex;
  }

  @media (min-width: #{legacy-polaris-v8.em($single-column-breakpoint)}) {
    display: flex;
  }

  @media (min-width: #{legacy-polaris-v8.em($single-column-breakpoint)}) {
    display: flex;
  }

  @media (min-width: #{legacy-polaris-v8.em(variables.$full-content-width)}) {
    display: flex;
  }

  @media (min-width: #{legacy-polaris-v8.em(variables.resource-list(breakpoint-small))}) {
    display: flex;
  }

  @media (min-width: #{legacy-polaris-v8.em(variables.$home-condensed + 1)}) {
    display: flex;
  }
}
