@import '../../styles/common';

.SelectAllActions {
  display: flex;
  gap: var(--p-space-025);
  align-items: center;
  justify-content: flex-start;
  will-change: opacity, display;
}

.SelectAllActions-entering,
.SelectAllActions-exiting {
  opacity: 0;
  display: flex;
}

.SelectAllActions-entered {
  opacity: 1;
  display: flex;
}

.SelectAllActions-exited {
  opacity: 0;
  display: none;
}

.PaginatedSelectAll {
  font-size: var(--p-font-size-75);
  font-weight: var(--p-font-weight-semibold);
}

.AllAction {
  font-size: var(--p-font-size-75);
  font-weight: var(--p-font-weight-semibold);
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  color: var(--p-interactive);
  @include focus-ring;

  &:hover,
  &:focus {
    color: var(--p-interactive-hovered);
  }

  &:active {
    color: var(--p-interactive-pressed);
  }

  &:focus {
    @include no-focus-ring;
  }

  &:focus:not(:active) {
    @include focus-ring($style: 'focused');
  }
}
