// FIXME: This logic needs improvement

// Standard illustration size and buffer zone for details
$illustration-width: 960;
$illustration-left-buffer: 336;

// Allows for focus area on mobile and appropriate sizing on desktop
$illustration-zoom: 195%;

$details-max-width: rem($illustration-left-buffer * 1px);

$illustration-left-offset: ($illustration-left-buffer / $illustration-width) * $illustration-zoom;
$illustration-overflow-width: calc(100% + #{$illustration-left-offset});

.EmptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: spacing(loose);
  padding: spacing(loose) 0;
  border-top: border(); 
}

.imageContained {
  .Image {
    @include page-content-when-not-partially-condensed {
      position: initial;
      width: 100%;
    }
  }
}

.Section {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;

  @include page-content-when-not-partially-condensed {
    left: spacing(extra-loose);
    flex-direction: row;
    align-items: center;
  }
}

.ImageContainer,
.Details {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;

  @include page-content-when-not-partially-condensed {
    flex-basis: 50%;
  }
}

.DetailContent {
  padding: 0 spacing();
  max-width: $details-max-width;

  @include page-content-when-not-partially-condensed {
    padding: 0;
  }
}

.Actions {
  margin-top: spacing();
}

.Image {
  margin-top: spacing(loose) * -1;
  margin-left: $illustration-left-offset * -1;
  width: $illustration-zoom;

  @include page-content-when-not-fully-condensed {
    margin-left: 0;
    width: 100%;
  }

  @include page-content-when-not-partially-condensed {
    margin-top: 0;
    margin-left: $illustration-left-offset * -1;
    width: $illustration-overflow-width;
  }
}
