$image-offset: 40%;
$image-overflow-width: calc(100% + #{$image-offset} * 2);

.EmptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: spacing(loose) auto 0 auto;
  padding: spacing(loose) 0;
  text-align: left;
  border-top: border(); 
}

.imageContained {
  .Image {
    @include page-content-when-not-partially-condensed {
      position: initial;
      width: 100%;
    }
  }
}

.Section {
    position: relative;
    padding: 0 spacing();
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    margin: 0;

    @include page-content-when-not-partially-condensed {
      left: spacing(extra-loose);
      padding: 0;
    }
}

.ImageContainer,
.Details {
  justify-content: flex-start;
  flex: 1 1 auto;
  padding: 0;
  margin: 0;

  @include page-content-when-not-partially-condensed {
    flex: 0 1 50%;
  }
}

.Image {
  margin-left: 0;
  margin-right: 0;
  z-index: -1;
  width: 60vw;
  max-width: 100vw;

  @include page-content-when-not-partially-condensed {
    position: relative;
    margin-top: 0;
    left: $image-offset * -2;
    width: $image-overflow-width;
  }

  @include page-content-when-partially-condensed {
    margin-top: rem(-50px);
    width: 100%;
  }

  @include page-content-when-fully-condensed {
    width: 150%;
    max-width: 150%;
    margin-left: -50%;
  }
}

.DetailContent {
  padding: 0 spacing(loose);

  @include page-content-when-not-fully-condensed {
    padding: 0;
    max-width: rem(400px);
  }
}

.Actions {
  margin-top: spacing();
}
