@import '../../styles/common';
@import '../ResourceList/variables';

$bulk-actions-button-stacking-order: (
  focused: 20,
);

.Group {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include text-style-input;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  width: 100%;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: none;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  align-items: center;
  flex-wrap: wrap;
  opacity: 0;

  &.Group-measuring {
    transition: none;
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    display: flex;
    opacity: 0;
  }
}

.Group-entering,
.Group-exiting {
  opacity: 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: flex;
}

.Group-entered {
  opacity: 1;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: flex;
}

.Group-exited {
  opacity: 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: none;
}

.Group-smallScreen {
  @media #{$p-breakpoints-sm-up} {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    display: none;
  }
}

.Group-largeScreen {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: none;

  @media #{$p-breakpoints-sm-up} {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    display: flex;

    &.Group-exiting {
      transition: none;
    }

    &.Group-exited {
      opacity: 0;
      // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
      display: none;
    }
  }
}

.ButtonGroupWrapper {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  width: 100%;
  max-width: 100%;

  // We need the first item of button group on small screen to fill the space
  @media #{$p-breakpoints-sm-down} {
    // stylelint-disable-next-line, selector-max-combinators, selector-max-type
    > div > div:first-child {
      // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
      flex: 1 1 auto;
    }
  }

  @media #{$p-breakpoints-sm-up} {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    width: auto;
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    justify-content: flex-start;
    margin-right: var(--p-space-2);
  }

  .Group-measuring & {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    position: absolute;
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    width: auto;
  }
}

.BulkActionButton {
  white-space: nowrap;
}

.CheckableContainer {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  flex: 1 1 0;
}

.disabled {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include base-button-disabled;
  cursor: default;
  pointer-events: none;
}

.PaginatedSelectAll {
  padding: var(--p-space-1) var(--p-space-0);
}

.Slide {
  will-change: transform;
  transform: translateY(0);
  transition: transform var(--p-ease) var(--p-duration-200);
}

.Slide-appear,
.Slide-enter,
.Slide-exit {
  transform: translateX(calc(-1 * var(--p-space-10)));
}

.Slide-appearing,
.Slide-entering {
  transform: translateY(0);
}
