.BulkActionsOuterLayout {
  position: relative;
  flex: 1;
  width: 100%;
}

.BulkActionsSelectAllWrapper {
  min-height: 24px;
  display: flex;
  align-items: center;
  gap: var(--p-space-200);
}

.BulkActionsPromotedActionsWrapper {
  flex: 1;
}

.BulkActionsLayout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  gap: var(--p-space-100);

  > * {
    flex: 0 0 auto;
  }
}

.BulkActionsLayout--measuring {
  visibility: hidden;
  height: 0;
}

.BulkActionsMeasurerLayout {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  gap: 0;
  padding: 0;
  visibility: hidden;
  height: 0;
  width: 100%;

  > * {
    flex: 0 0 auto;
  }
}

/* stylelint-disable-next-line polaris/motion/at-rule-disallowed-list -- Required for custom animation */
@keyframes appear {
  from {
    transform: scale(0.85) translateX(0%);
    opacity: 0;
  }

  to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

.BulkActionButton {
  white-space: nowrap;
  animation: appear var(--p-motion-duration-250) 1 var(--p-motion-ease-in-out)
    both;
  /* stylelint-disable-next-line polaris/conventions/polaris/custom-property-allowed-list, polaris/motion/declaration-property-unit-disallowed-list -- Required for custom animation */
  animation-delay: var(--pc-bulk-action-button-animation-delay, 0ms);

  transform-origin: center center;

  button {
    display: flex;
  }
}

.disabled {
  /* stylelint-disable-next-line -- DO NOT COPY polaris-migrator */
  @mixin base-button-disabled;
  cursor: default;
  pointer-events: none;
}

.AllAction {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  color: var(--p-color-text-emphasis);
  outline: none;
  /* stylelint-disable-next-line -- needed for focus ring */
  @mixin focus-ring;

  &:hover,
  &:focus {
    color: var(--p-color-text-emphasis-hover);
  }

  &:active {
    color: var(--p-color-text-emphasis-active);
  }

  &:focus-visible:not(:active) {
    /* stylelint-disable-next-line -- needed for focus ring */
    @mixin focus-ring base, 0, focused;
  }
}
