.Heading {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.InfoLine {
  color: var(--text-subdued);
  .InfoLineLink {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: var(--text-link);
    }
  }
}
