@import "../../styles/variables.scss";

@mixin layout-scrollbars {
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--text-subdued);
    }
  }
}

.Layout {
  --nav-width: 16rem;
  --toc-width: 16rem;
  --content-padding-x: 3.5rem;
  display: flex;

  @media screen and (max-width: $breakpointDesktop) {
    --content-padding-x: 2rem;
  }

  @media screen and (max-width: $breakpointTablet) {
    display: block;
    --content-padding-x: 0;
  }
}

.Nav {
  align-self: flex-start;
  position: sticky;
  top: var(--header-height);
  padding: var(--header-margin) 0;
  height: calc(100vh - var(--header-height));
  min-width: var(--nav-width);
  max-width: var(--nav-width);
  overscroll-behavior: contain;
  overflow: auto;
  box-shadow: inset -1px 0 var(--border-color-light);

  @include layout-scrollbars();

  @media screen and (max-width: $breakpointTablet) {
    display: none;
  }
}

.Post {
  flex: 1;
  width: 100%;
  padding: var(--header-margin) 0 var(--header-margin) var(--content-padding-x);

  .narrow &,
  .showTOC & {
    padding: var(--header-margin) var(--content-padding-x);

    @media screen and (max-width: $breakpointTablet) {
      padding: var(--header-margin) 0 var(--header-margin)
        var(--content-padding-x);
    }
  }
}

.TOCWrapper {
  align-self: flex-start;
  position: sticky;
  top: var(--header-height);
  padding: var(--header-margin) 0 var(--header-margin) 2rem;
  height: calc(100vh - var(--header-height));
  width: var(--toc-width);
  overscroll-behavior: contain;
  overflow: auto;
  border-left: 1px solid var(--border-color-light);
  @include layout-scrollbars();

  @media screen and (max-width: $breakpointDesktop) {
    display: none;
  }
}
