@import "../../styles/variables.scss";

.Layout {
  --gap: 1rem;
  --nav-width: 16rem;
  --toc-width: 10rem;
  --max-content-width: 62rem;
  --toc-gap: 5rem;
  margin-top: var(--header-margin);
  display: flex;
  gap: var(--gap);

  @media screen and (max-width: $breakpointDesktop) {
    --gap: 2rem;
  }

  @media screen and (max-width: $breakpointTablet) {
    display: block;
  }

  @media screen and (max-width: $breakpointMobile) {
    padding: 0;
  }
}

.Nav {
  min-width: var(--nav-width);
  max-width: var(--nav-width);
  align-self: flex-start;

  @media screen and (max-width: $breakpointDesktop) {
    display: none;
  }
}

.Main {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;

  .CenteredMainContent {
    flex: 1;

    .Layout.narrow & {
      max-width: var(--max-content-width);
      padding-right: var(--gap);

      @media screen and (max-width: $breakpointDesktopLarge) {
        padding-right: 0;
      }
    }
  }
}

.Post {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: var(--toc-gap);

  .PostContent {
    flex: 1;
    position: relative;
    min-width: 0;
  }
}

.TOC {
  --toc-sticky-top-margin: 2rem;
  position: sticky;
  top: 2rem;
  margin-top: 0.5rem;
  width: var(--toc-width);
  right: calc((var(--toc-width) + 6rem) * -1);
  height: 100%;
  font-size: var(--font-size-50);

  @media screen and (max-width: $breakpointDesktop) {
    display: none;
  }

  > ul > li:not(:first-child) {
    margin-top: 0.5rem;
  }

  a {
    color: inherit;
    display: block;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: var(--toc-width);

    &:hover {
      color: var(--text-strong);
    }
  }

  &.isNested {
    ul ul {
      position: relative;
      margin-top: 0.25rem;
      font-size: var(--font-size-50);
      padding-left: 0.75rem;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0.4rem;
        bottom: 0.4rem;
        width: 1px;
        left: 0;
        background: var(--border-color);
      }

      a {
        padding: 0.1em 0;
      }
    }
  }
}
