@import '../../styles/common';

.FooterHelp {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: flex;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  justify-content: center;
  margin: var(--p-space-5) 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  width: 100%;

  @media #{$p-breakpoints-sm-up} {
    margin: var(--p-space-5);
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    width: auto;
  }
}

.Text {
  font-size: var(--p-font-size-100);
  font-weight: var(--p-font-weight-regular);
  line-height: var(--p-font-line-height-2);
  border: none;
  text-transform: initial;
  letter-spacing: initial;
}
