.FooterHelp {
  display: flex;
  /* stylelint-disable-next-line -- Necessary for layout components */
  justify-content: var(--pc-footer-help-align);
  margin: var(--p-space-500);
  width: auto;
}

.Text {
  font-size: var(--p-font-size-350);
  font-weight: var(--p-font-weight-regular);
  line-height: var(--p-font-line-height-500);
  border: none;
  letter-spacing: initial;
}
