@import '../../../../styles/common';

.Details {
  max-width: rem(160px);
  margin-left: spacing(tight);

  @include breakpoint-before(layout-width(page-with-nav), false) {
    display: none;
  }
}

.Name {
  @include truncate;
  @include text-style-body;
  font-weight: 500;
  line-height: line-height(subheading);
  color: var(--p-text, var(--top-bar-color));
  text-align: left;
}

.Detail {
  @include text-style-caption;
  @include truncate;
  opacity: 0.7;
  color: var(--p-text, var(--top-bar-color));
  text-align: left;
}

.Name,
.Detail {
  transition: (duration() - 33ms) color easing() 33ms;
}
