@use '../../styles/mixins.scss' as *;

.Code {
  position: relative;
  cursor: text;
}

.HighlightedCode {
  position: relative;
}

.CopyButtonWrapper {
  position: absolute;
  top: 0.33rem;
  right: 0.33rem;
  opacity: 0;
  transition: 0.25s opacity ease;

  .Code:hover & {
    opacity: 1;
  }
}

.ActualCode {
  margin-top: 1rem;
  display: block;
  background: var(--color-surface-code);
  color: var(--color-text);
  border-radius: 8px;
  overflow-x: auto;
  font-family: var(--font-family-mono);
  white-space: pre;
  padding: 1rem;
  font-size: var(--font-size-small);
  overflow: auto;
  max-height: 50rem;
  @include custom-scrollbars;
}

.LineNumber {
  display: none;
  opacity: 0.5;
  margin-right: 0.5rem;
  user-select: none;
}
