.MigrationPathCombobox {
  position: relative;
  margin: 1rem;
  z-index: var(--p-z-index-0);
}

.Popover {
  position: relative;
  z-index: var(--p-z-index-2);
  border-radius: var(--p-border-radius-200);
  border: 1px solid var(--border-color);
  box-shadow: var(--popover-shadow);
  background: var(--surface);
  padding: var(--p-space-400);
  margin-top: var(--p-space-200);
  min-height: 100px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    border-radius: var(--p-border-radius-200);
    pointer-events: none;
    mix-blend-mode: luminosity;
  }
}

.Listbox {
}

.Option {
  background: pink;
  padding: var(--p-space-2) var(--p-space-4);
}
