@import 'foundation/spacing';
@import 'foundation/breakpoints';

.Content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Header {
  flex: 0 0 auto;
}

.Main {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1 1 auto;
  padding: spacing() 0;

  @include main-content-when-not-condensed {
    padding: spacing();
  }
}
