.FilterButton {
  position: relative;

  &.pressed > button {
    /* stylelint-disable polaris/conventions/polaris/custom-property-allowed-list -- Filter section activator pressed state */
    background: none;
    color: var(--pc-button-color_active);
    box-shadow: var(--pc-button-box-shadow_active);
  }
}
