.FilterButton {
  position: relative;

  &.pressed > button {
    /* stylelint-disable polaris/conventions/polaris/custom-property-allowed-list -- Filter section activator pressed state */
    background: none;
    color: var(--pc-button-color_active);
    box-shadow: var(--pc-button-box-shadow_active);
  }
}

.AppliedFilterIndicator {
  position: absolute;
  top: var(--p-space-100);
  right: var(--p-space-100);
  background: var(--p-color-bg-fill-emphasis);
  border-radius: var(--p-border-radius-full);
  border: var(--p-border-width-025) solid var(--p-color-bg-surface);
  width: var(--p-width-200);
  height: var(--p-height-200);
}
