@import '../../../../styles/common';

.FilterButton {
  // stylelint-disable-next-line -- using base button styling
  @include unstyled-button();
  border-radius: 10px;
  // stylelint-disable-next-line -- required to make the 32px height with 20px icon and 1px border
  padding: 3px;
  min-height: 24px;
  min-width: 24px;
  cursor: pointer;
  svg {
    transform: scale(0.85);
  }
}

.FilterButton.Disabled {
  background: var(--p-color-bg-disabled);
  border-color: transparent;
  box-shadow: none;
  cursor: default;

  &:hover,
  &:focus,
  &:active {
    background: var(--p-color-bg-disabled);
  }

  path {
    fill: var(--p-color-icon-subdued);
  }
}
