@import '../../styles/common';

$sheet-desktop-width: rem(380px);
$sheet-medium-desktop-width: rem(700px);
$sheet-large-desktop-width: calc(100vw - #{rem(50px)});
$sheet-large-max-desktop-width: rem(1200px);

.Sheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--p-surface);
  box-shadow: var(--p-modal-shadow);

  @media screen and (-ms-high-contrast: active) {
    border-left: border();
  }

  @include frame-when-nav-displayed {
    right: 0;
    width: $sheet-desktop-width;
  }

  &:focus {
    outline: 0;
  }

  &.sizeMedium {
    @include frame-when-nav-displayed {
      width: $sheet-medium-desktop-width;
    }
  }

  &.sizeLarge {
    @include frame-when-nav-displayed {
      width: $sheet-large-desktop-width;
      max-width: $sheet-large-max-desktop-width;
    }
  }

  &.bottomSheet {
    @include frame-when-nav-displayed {
      top: auto;
      right: 5rem;
      height: 65rem;
      max-height: calc(100vh - 5.6rem - 2rem);
      border-top-left-radius: var(--p-border-radius-wide, border-radius(large));
      border-top-right-radius: var(
        --p-border-radius-wide,
        border-radius(large)
      );
      overflow: hidden;
    }
  }

  &.minimized {
    @include frame-when-nav-displayed {
      height: 5.6rem;
    }
  }
}

.Container {
  position: fixed;
  z-index: z-index('modal', $fixed-element-stacking-order);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include frame-when-nav-displayed {
    left: auto;
    width: $sheet-desktop-width;
  }

  &.sizeMedium {
    @include frame-when-nav-displayed {
      width: $sheet-medium-desktop-width;
    }
  }

  &.sizeLarge {
    @include frame-when-nav-displayed {
      width: $sheet-large-desktop-width;
      max-width: $sheet-large-max-desktop-width;
    }
  }

  &.bottomSheet {
    @include frame-when-nav-displayed {
      top: auto;
      right: 5rem;
      height: 65rem;
      max-height: calc(100vh - 5.6rem - 2rem);
    }
  }

  &.minimized {
    @include frame-when-nav-displayed {
      height: 5.6rem;
    }
  }
}

.Bottom {
  will-change: transform;
  transition: transform duration('slow') easing('base');
  transform-origin: bottom;

  &.bottomSheet {
    @include frame-when-nav-displayed {
      right: 0;
    }
  }
}

.enterBottom {
  transform: translateY(100%);
}

.enterBottomActive {
  transform: translateY(0%);
}

.exitBottom {
  transform: translateY(0%);
}

.exitBottomActive {
  transform: translateY(100%);
}

.Right {
  will-change: transform;
  transition: transform duration('slow') easing('base');
  transform-origin: right;
}

.enterRight {
  transform: translateX(100%);
}

.enterRightActive {
  transform: translateX(0%);
}

.exitRight {
  transform: translateX(0%);
}

.exitRightActive {
  transform: translateX(100%);
}
