@import '../../styles/common';

$sheet-desktop-width: rem(380px);

.Sheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--p-surface, color('white'));
  box-shadow: var(--p-modal-shadow, shadow(layer));

  @media screen and (-ms-high-contrast: active) {
    border-left: border();
  }

  @include frame-when-nav-displayed {
    right: 0;
    width: $sheet-desktop-width;
  }

  &:focus {
    outline: 0;
  }
}

.Container {
  position: fixed;
  z-index: z-index('modal', $fixed-element-stacking-order);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @include frame-when-nav-displayed {
    left: auto;
    width: $sheet-desktop-width;
  }
}

.Bottom {
  will-change: transform;
  transition: transform duration('slow') easing('base');
  transform-origin: bottom;
}
.enterBottom {
  transform: translateY(100%);
}
.enterBottomActive {
  transform: translateY(0%);
}
.exitBottom {
  transform: translateY(0%);
}
.exitBottomActive {
  transform: translateY(100%);
}

.Right {
  will-change: transform;
  transition: transform duration('slow') easing('base');
  transform-origin: right;
}
.enterRight {
  transform: translateX(100%);
}
.enterRightActive {
  transform: translateX(0%);
}
.exitRight {
  transform: translateX(0%);
}
.exitRightActive {
  transform: translateX(100%);
}
