$resource-list-variables: (
  breakpoint-small: 458px,
  header-min-height: rem(56px),
  header-padding-small: rem(12px),
  header-vertical-padding: rem(10px),
  button-min-height: control-height(),
  header-content-min-height: control-height(),
  content-wrapper-stacking-order: 1,
  bulk-actions-wrapper-stacking-order: 2,
  header-outer-wrapper-stacking-order: 2,
  header-overlay-stacking-order: 4,
  spinner-stacking-order: 3,
  overlay-stacking-order: 2,
  list-stacking-order: 1,
  overlay-background: var(--p-overlay, rgba(color('white'), 0.5)),
);

@function resource-list($variable) {
  @return map-get($resource-list-variables, $variable);
}
