@import './Variables';

.FiltersWrapper {
  padding: $header-padding-small $header-padding-small 0;

  @include breakpoint-after($resource-list-small-breakpoint) {
    padding: spacing(base) spacing(base) spacing(tight);
  }

  + .ResourceList {
    border-top: border();
  }
}

.HeaderWrapper {
  display: flex;
  width: 100%;
  min-height: $header-min-height;
  align-items: center;
  justify-content: space-between;

  flex-direction: row-reverse;
  padding: 0 $header-padding-small;

  @include breakpoint-after($resource-list-small-breakpoint) {
    flex-direction: row;
    padding: 0 spacing(base);
  }

  + .ResourceList {
    border-top: border();
  }
}

.ResourceList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ItemWrapper {
  max-width: 100%;
  overflow: hidden;

  + .ItemWrapper {
    border-top: border();
  }
}
