@import './variables';

$sort-wrapper-z-index: 9;
$bulkactions-wrapper-z-index: 10;

.FiltersWrapper {
  padding: $resource-list-header-padding-small $resource-list-header-padding-small 0;

  @include breakpoint-after($resource-list-breakpoint-small) {
    padding: spacing(base) spacing(base) spacing(tight);
  }

  + .ResourceList {
    border-top: border();
  }
}

.HeaderWrapper {
  display: flex;
  width: 100%;
  min-height: $resource-list-header-min-height;
  align-items: center;
  justify-content: space-between;

  flex-direction: row-reverse;
  padding: 0 $resource-list-header-padding-small;

  position: relative;

  @include breakpoint-after($resource-list-breakpoint-small) {
    flex-direction: row;
    padding: 0 spacing(base);
  }

  + .ResourceList {
    border-top: border();
  }
}

.SortWrapper {
  position: absolute;
  left: $resource-list-header-padding-small;
  z-index: $sort-wrapper-z-index;
  @include breakpoint-after($resource-list-breakpoint-small) {
    position: relative;
    left: auto;
    margin-left: spacing();
  }
}

.BulkActionsWrapper {
  position: relative;
  z-index: $bulkactions-wrapper-z-index;
  flex: 1;
  @include breakpoint-after($resource-list-breakpoint-small) {
    flex: 0 1 auto;
  }
}

.ResourceList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ItemWrapper {
  max-width: 100%;
  overflow: hidden;

  + .ItemWrapper {
    border-top: border();
  }
}
