$resource-list-breakpoint-small: 458px;
$resource-list-header-min-height: rem(56px);
$resource-list-header-padding-small: rem(12px);
$resource-list-header-vertical-padding: rem(10px);
$resource-list-min-width: rem(320px);
$resource-list-bulkactions-wrapper-z-index: 1;
$resource-list-button-min-height: control-height();
$resource-list-header-content-min-height: control-height();
