@use 'global-styles/legacy-polaris-v8';

.font-family {
  font-family: sans-serif;
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-sans);
  font-family: var(--p-font-family-mono);
}
