@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Title {
  display: flex;
  align-items: center;
  @include heading-4;
  gap: 0.5rem;
}

h2.Title {
  @include heading-3;
}

.SidebarSection {
  padding: 1.75rem;
  border-bottom: 1px solid var(--border-color-light);

  &:last-child {
    border-bottom: none;
  }
}

.IconInfo {
  p {
    font-size: var(--font-size-200);
  }
}

.Preview {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 1rem 0;
  border-radius: 1rem;
  background: var(--surface-subdued);
}

.PreviewImage {
  transform: translateY(0.25rem);

  @include dark-mode {
    filter: brightness(0) contrast(1) invert(1);
  }
}

.Badge {
  border-radius: var(--border-radius-800);
  padding: 0.1rem 0.4rem;
  background: var(--text-strong);
  font-size: 11px;
  font-weight: var(--font-weight-400);
  color: var(--surface);
}

.ActionButtons {
  margin-top: 1.5rem;
}

.DownloadIconButton {
  align-items: center;
  appearance: none;
  background: var(--primary);
  color: var(--surface);
  padding: 0.75rem 0.66rem;
  border: none;
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-500);
  border-radius: var(--border-radius-400);
  user-select: none;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.075);
  display: block;
  text-align: center;
  cursor: pointer;

  &:focus-visible {
    box-shadow: var(--focus-outline);
  }
}

.ProposeChange {
  display: flex;
  justify-content: center;

  a {
    font-size: var(--font-size-100);
    color: var(--text-subdued);
  }
}

.IconDescription {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.SmallParagraph {
  margin-bottom: 1rem;
  font-size: var(--font-size-200);

  &:last-child {
    margin-bottom: 0;
  }
}

.CodeExampleWrapper {
  margin: 1rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.Keywords {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-50);
  margin-left: -0.33rem;
  line-height: 1;

  a {
    color: var(--text-subdued);
    padding: 0.33rem;
  }
}

.SidebarEmptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 40rem;
  gap: 3rem;
  font-size: var(--font-size-100);
  color: var(--text-subdued);
}

.SidebarCard {
  position: sticky;
  top: 2rem;
  border-radius: 32px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04), 0 0 0 1px rgba(0, 0, 0, 0.06);
  background: var(--surface);

  @include dark-mode {
    box-shadow: var(--card-shadow);
  }

  @media screen and (max-width: $breakpointMobile) {
    border-radius: var(--border-radius-800) var(--border-radius-800) 0 0;
  }
}
