@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.Title {
  @include heading-2;
  display: flex;
  align-items: flex-start;
  font-weight: var(--font-weight-400);
  gap: 0.75rem;
}

.Subtitle {
  @include heading-4;
}

.SidebarSection {
  padding: 1.75rem;
  border-bottom: 1px solid var(--border-color-light);

  &:last-child {
    border-bottom: none;
  }
}

.IconInfo {
  p {
    font-size: var(--font-size-200);
  }
}

.Preview {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 1.5rem 0;
  border-radius: var(--border-radius-500);
  background: var(--surface-subdued);
}

.PreviewImage {
  transform: translateY(0.25rem);

  @include dark-mode {
    filter: brightness(0) contrast(1) invert(1);
  }
}

.IconSet {
  display: inline-block;
  border-radius: var(--border-radius-800);
  padding: 0.25rem 0.4rem;
  background: var(--text-strong);
  font-size: var(--font-size-50);
  font-weight: var(--font-weight-400);
  letter-spacing: 0;
  color: var(--surface);
  transform: translateY(0.33rem);
}

.ActionButtons {
  margin-top: 1.5rem;
}

.DownloadIconButton {
  align-items: center;
  appearance: none;
  background: var(--primary);
  color: var(--surface);
  padding: 0.75rem 0.66rem;
  border: none;
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-500);
  border-radius: var(--border-radius-400);
  user-select: none;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.075);
  display: block;
  text-align: center;
  cursor: pointer;

  &:focus-visible {
    box-shadow: var(--focus-outline);
  }
}

.ProposeChange {
  display: flex;
  justify-content: center;

  a {
    font-size: var(--font-size-100);
    color: var(--text-subdued);
  }
}

.IconDescription {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.SmallParagraph {
  margin-bottom: 1rem;
  font-size: var(--font-size-200);

  &:last-child {
    margin-bottom: 0;
  }
}

.CodeExampleWrapper {
  margin: 1rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.Keywords {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-50);
  line-height: 1;
  margin-left: -0.33rem;

  a {
    color: var(--text-subdued);
    padding: 0.33rem;
    border-radius: var(--border-radius-400);
  }
}
