@import '../../styles/variables.scss';
.ExampleFrame {
  margin-bottom: 1rem;
  background: #fafafa;
  border-radius: var(--border-radius-600);
  overflow: hidden;

  .Buttons {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    color: var(--text-link);

    button,
    a {
      padding: 0.75rem 1rem;
    }
  }
  iframe {
    display: block;
    resize: horizontal;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    min-width: 375px;
    box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.125);

    @media screen and (max-width: $breakpointMobile) {
      min-width: 100%;
    }
  }
}
