@mixin text-style-input {
  font-size: var(--p-font-size-400);
  font-weight: var(--p-font-weight-regular);
  line-height: var(--p-font-line-height-600);
  border: none;
  letter-spacing: initial;

  @media (--p-breakpoints-md-up) {
    font-size: var(--p-font-size-350);
  }
}

@mixin text-breakword {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
