@import '../../../../styles/common';

.InlinePopover {
  border-radius: border-radius();
  background-color: color('white');
  box-shadow: shadow(deep);
}

.InlinePopoverWrapper {
  position: relative;
}

.InlinePopoverOverlay {
  // position: absolute;
  z-index: 1000;
  width: 100%;
  margin-top: spacing(extra-tight);
  transition: opacity duration('slow') easing('base');
  will-change: opacity;
}

.InlinePopoverOverlay-hidden {
  opacity: 0;
}

.InlinePopoverOverlay-visible {
  opacity: 1;
}

.Scrollable {
  max-height: 300px;
}
