.duration-simple-string-arg {
  opacity: 1;
  transition-duration: legacy-polaris-v8.duration('none');
  transition-duration: legacy-polaris-v8.duration('fast');
  transition-duration: legacy-polaris-v8.duration('base');
  transition-duration: legacy-polaris-v8.duration('slow');
  transition-duration: legacy-polaris-v8.duration('slower');
  transition-duration: legacy-polaris-v8.duration('slowest');
}

.duration-simple-non-string-arg {
  opacity: 1;
  transition-duration: legacy-polaris-v8.duration();
  transition-duration: legacy-polaris-v8.duration(none);
  transition-duration: legacy-polaris-v8.duration(fast);
  transition-duration: legacy-polaris-v8.duration(base);
  transition-duration: legacy-polaris-v8.duration(slow);
  transition-duration: legacy-polaris-v8.duration(slower);
  transition-duration: legacy-polaris-v8.duration(slowest);
}

.duration-simple-constant {
  opacity: 1;
  transition-duration: 0;
  transition-duration: 0ms;
  transition-duration: 0s;
  transition-duration: 50ms;
  transition-duration: 0.05s;
  transition-duration: 100ms;
  transition-duration: 0.1s;
  transition-duration: 150ms;
  transition-duration: 0.15s;
  transition-duration: 200ms;
  transition-duration: 0.2s;
  transition-duration: 250ms;
  transition-duration: 0.25s;
  transition-duration: 300ms;
  transition-duration: 0.3s;
  transition-duration: 350ms;
  transition-duration: 0.35s;
  transition-duration: 400ms;
  transition-duration: 0.4s;
  transition-duration: 450ms;
  transition-duration: 0.45s;
  transition-duration: 500ms;
  transition-duration: 0.5s;
  transition-duration: 5s;
}

.duration-compound-string-arg {
  opacity: 1;
  transition: opacity legacy-polaris-v8.duration('none') linear;
  transition: opacity legacy-polaris-v8.duration('fast') linear;
  transition: opacity legacy-polaris-v8.duration('base') linear;
  transition: opacity legacy-polaris-v8.duration('slow') linear;
  transition: opacity legacy-polaris-v8.duration('slower') linear;
  transition: opacity legacy-polaris-v8.duration('slowest') linear;
}

.duration-compound-non-string-arg {
  opacity: 1;
  transition: opacity legacy-polaris-v8.duration() linear;
  transition: opacity legacy-polaris-v8.duration(none) linear;
  transition: opacity legacy-polaris-v8.duration(fast) linear;
  transition: opacity legacy-polaris-v8.duration(base) linear;
  transition: opacity legacy-polaris-v8.duration(slow) linear;
  transition: opacity legacy-polaris-v8.duration(slower) linear;
  transition: opacity legacy-polaris-v8.duration(slowest) linear;
}

.duration-compound-constant {
  opacity: 1;
  transition: opacity 0 linear;
  transition: opacity 0ms linear;
  transition: opacity 0s linear;
  transition: opacity 50ms linear;
  transition: opacity 0.05s linear;
  transition: opacity 100ms linear;
  transition: opacity 0.1s linear;
  transition: opacity 150ms linear;
  transition: opacity 0.15s linear;
  transition: opacity 200ms linear;
  transition: opacity 0.2s linear;
  transition: opacity 250ms linear;
  transition: opacity 0.25s linear;
  transition: opacity 300ms linear;
  transition: opacity 0.3s linear;
  transition: opacity 350ms linear;
  transition: opacity 0.35s linear;
  transition: opacity 400ms linear;
  transition: opacity 0.4s linear;
  transition: opacity 450ms linear;
  transition: opacity 0.45s linear;
  transition: opacity 500ms linear;
  transition: opacity 0.5s linear;
  transition: opacity 5s linear;
}

.duration-multiple-string-arg {
  opacity: 1;
  transition: opacity legacy-polaris-v8.duration('none') linear,
    left legacy-polaris-v8.duration('none') linear;
  transition: opacity legacy-polaris-v8.duration('fast') linear,
    left legacy-polaris-v8.duration('fast') linear;
  transition: opacity legacy-polaris-v8.duration('base') linear,
    left legacy-polaris-v8.duration('base') linear;
  transition: opacity legacy-polaris-v8.duration('slow') linear,
    left legacy-polaris-v8.duration('slow') linear;
  transition: opacity legacy-polaris-v8.duration('slower') linear,
    left legacy-polaris-v8.duration('slower') linear;
  transition: opacity legacy-polaris-v8.duration('slowest') linear,
    left legacy-polaris-v8.duration('slowest') linear;
}

.duration-multiple-non-string-arg {
  opacity: 1;
  transition: opacity legacy-polaris-v8.duration() linear,
    left legacy-polaris-v8.duration() linear;
  transition: opacity legacy-polaris-v8.duration(none) linear,
    left legacy-polaris-v8.duration(none) linear;
  transition: opacity legacy-polaris-v8.duration(fast) linear,
    left legacy-polaris-v8.duration(fast) linear;
  transition: opacity legacy-polaris-v8.duration(base) linear,
    left legacy-polaris-v8.duration(base) linear;
  transition: opacity legacy-polaris-v8.duration(slow) linear,
    left legacy-polaris-v8.duration(slow) linear;
  transition: opacity legacy-polaris-v8.duration(slower) linear,
    left legacy-polaris-v8.duration(slower) linear;
  transition: opacity legacy-polaris-v8.duration(slowest) linear,
    left legacy-polaris-v8.duration(slowest) linear;
}

.duration-multiple-constant {
  opacity: 1;
  transition: opacity 0 linear, left 0 linear;
  transition: opacity 0ms linear, left 0ms linear;
  transition: opacity 0s linear, left 0s linear;
  transition: opacity 50ms linear, left 50ms linear;
  transition: opacity 0.05s linear, left 0.05s linear;
  transition: opacity 100ms linear, left 100ms linear;
  transition: opacity 0.1s linear, left 0.1s linear;
  transition: opacity 150ms linear, left 150ms linear;
  transition: opacity 0.15s linear, left 0.15s linear;
  transition: opacity 200ms linear, left 200ms linear;
  transition: opacity 0.2s linear, left 0.2s linear;
  transition: opacity 250ms linear, left 250ms linear;
  transition: opacity 0.25s linear, left 0.25s linear;
  transition: opacity 300ms linear, left 300ms linear;
  transition: opacity 0.3s linear, left 0.3s linear;
  transition: opacity 350ms linear, left 350ms linear;
  transition: opacity 0.35s linear, left 0.35s linear;
  transition: opacity 400ms linear, left 400ms linear;
  transition: opacity 0.4s linear, left 0.4s linear;
  transition: opacity 450ms linear, left 450ms linear;
  transition: opacity 0.45s linear, left 0.45s linear;
  transition: opacity 500ms linear, left 500ms linear;
  transition: opacity 0.5s linear, left 0.5s linear;
  transition: opacity 5s linear, left 5s linear;
}

.edges {
  /* sass calculation */
  transition: (legacy-polaris-v8.duration() - 33ms) fill linear 33ms;
  /* foobar isn't a valid duration key */
  transition-duration: legacy-polaris-v8.duration(foobar);
}
