.easing-simple-string-arg {
  opacity: 1;
  transition-timing-function: legacy-polaris-v8.easing('anticipate');
  transition-timing-function: legacy-polaris-v8.easing('base');
  transition-timing-function: legacy-polaris-v8.easing('excite');
  transition-timing-function: legacy-polaris-v8.easing('in');
  transition-timing-function: legacy-polaris-v8.easing('out');
  transition-timing-function: legacy-polaris-v8.easing('overshoot');
}

.easing-simple-non-string-arg {
  opacity: 1;
  transition-timing-function: legacy-polaris-v8.easing();
  transition-timing-function: legacy-polaris-v8.easing(anticipate);
  transition-timing-function: legacy-polaris-v8.easing(base);
  transition-timing-function: legacy-polaris-v8.easing(excite);
  transition-timing-function: legacy-polaris-v8.easing(in);
  transition-timing-function: legacy-polaris-v8.easing(out);
  transition-timing-function: legacy-polaris-v8.easing(overshoot);
}

.easing-simple-builtins {
  opacity: 1;
  transition-timing-function: linear;
  /* See: https://w3c.github.io/csswg-drafts/css-easing/#typedef-linear-easing-function */
  transition-timing-function: linear(1);
  transition-timing-function: ease;
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  /* See:https://w3c.github.io/csswg-drafts/css-easing/#typedef-step-easing-function */
  transition-timing-function: step-start;
  transition-timing-function: step-end;
  transition-timing-function: steps(1, jump-end);
}

.easing-shorthand-string-arg {
  opacity: 1;
  transition: opacity 300ms legacy-polaris-v8.easing('anticipate');
  transition: opacity 300ms legacy-polaris-v8.easing('base');
  transition: opacity 300ms legacy-polaris-v8.easing('excite');
  transition: opacity 300ms legacy-polaris-v8.easing('in');
  transition: opacity 300ms legacy-polaris-v8.easing('out');
  transition: opacity 300ms legacy-polaris-v8.easing('overshoot');
}

.easing-shorthand-non-string-arg {
  opacity: 1;
  transition: opacity 300ms legacy-polaris-v8.easing();
  transition: opacity 300ms legacy-polaris-v8.easing(anticipate);
  transition: opacity 300ms legacy-polaris-v8.easing(base);
  transition: opacity 300ms legacy-polaris-v8.easing(excite);
  transition: opacity 300ms legacy-polaris-v8.easing(in);
  transition: opacity 300ms legacy-polaris-v8.easing(out);
  transition: opacity 300ms legacy-polaris-v8.easing(overshoot);
}

.easing-shorthand-builtins {
  opacity: 1;
  transition: opacity 300ms linear;
  /* See: https://w3c.github.io/csswg-drafts/css-easing/#typedef-linear-easing-function */
  transition: opacity 300ms linear(1);
  transition: opacity 300ms ease;
  transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-in-out;
  transition: opacity 300ms cubic-bezier(0, 0, 1, 1);
  /* See:https://w3c.github.io/csswg-drafts/css-easing/#typedef-step-easing-function */
  transition: opacity 300ms step-start;
  transition: opacity 300ms step-end;
  transition: opacity 300ms steps(1, jump-end);
}

.easing-multiple-string-arg {
  opacity: 1;
  transition: opacity 300ms legacy-polaris-v8.easing('anticipate'),
    left 300ms legacy-polaris-v8.easing('anticipate');
  transition: opacity 300ms legacy-polaris-v8.easing('base'),
    left 300ms legacy-polaris-v8.easing('base');
  transition: opacity 300ms legacy-polaris-v8.easing('excite'),
    left 300ms legacy-polaris-v8.easing('excite');
  transition: opacity 300ms legacy-polaris-v8.easing('in'),
    left 300ms legacy-polaris-v8.easing('in');
  transition: opacity 300ms legacy-polaris-v8.easing('out'),
    left 300ms legacy-polaris-v8.easing('out');
  transition: opacity 300ms legacy-polaris-v8.easing('overshoot'),
    left 300ms legacy-polaris-v8.easing('overshoot');
}

.easing-multiple-non-string-arg {
  opacity: 1;
  transition: opacity 300ms legacy-polaris-v8.easing(),
    left 300ms legacy-polaris-v8.easing();
  transition: opacity 300ms legacy-polaris-v8.easing(anticipate),
    left 300ms legacy-polaris-v8.easing(anticipate);
  transition: opacity 300ms legacy-polaris-v8.easing(base),
    left 300ms legacy-polaris-v8.easing(base);
  transition: opacity 300ms legacy-polaris-v8.easing(excite),
    left 300ms legacy-polaris-v8.easing(excite);
  transition: opacity 300ms legacy-polaris-v8.easing(in),
    left 300ms legacy-polaris-v8.easing(in);
  transition: opacity 300ms legacy-polaris-v8.easing(out),
    left 300ms legacy-polaris-v8.easing(out);
  transition: opacity 300ms legacy-polaris-v8.easing(overshoot),
    left 300ms legacy-polaris-v8.easing(overshoot);
}

.easing-multiple-builtins {
  opacity: 1;
  transition: opacity 300ms linear, left 300ms linear;
  /* See: https://w3c.github.io/csswg-drafts/css-easing/#typedef-linear-easing-function */
  transition: opacity 300ms linear(1), left 300ms linear(1);
  transition: opacity 300ms ease, left 300ms ease;
  transition: opacity 300ms ease-in, left 300ms ease-in;
  transition: opacity 300ms ease-out, left 300ms ease-out;
  transition: opacity 300ms ease-in-out, left 300ms ease-in-out;
  transition: opacity 300ms cubic-bezier(0, 0, 1, 1),
    left 300ms cubic-bezier(0, 0, 1, 1);
  /* See:https://w3c.github.io/csswg-drafts/css-easing/#typedef-step-easing-function */
  transition: opacity 300ms step-start, left 300ms step-start;
  transition: opacity 300ms step-end, left 300ms step-start;
  transition: opacity 300ms steps(1, jump-end), left 300ms steps(1, jump-end);
}

$easingFunc: 'ease-in';

.edges {
  /* Without an easing function */
  transition: fill 300ms;
  /* Unknown values are flagged */
  transition-timing-function: legacy-polaris-v8.easing(foobar);
  /* Can only handle hard coded values */
  transition-timing-function: legacy-polaris-v8.easing($easingFunc);
}
