.easing-simple-string-arg {
  opacity: 1;
  /* polaris-migrator: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition-timing-function: legacy-polaris-v8.easing('anticipate');
  transition-timing-function: var(--p-ease);
  /* polaris-migrator: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition-timing-function: legacy-polaris-v8.easing('excite');
  transition-timing-function: var(--p-ease-in);
  transition-timing-function: var(--p-ease-out);
  /* polaris-migrator: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition-timing-function: legacy-polaris-v8.easing('overshoot');
}

.easing-simple-non-string-arg {
  opacity: 1;
  transition-timing-function: var(--p-ease);
  /* polaris-migrator: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition-timing-function: legacy-polaris-v8.easing(anticipate);
  transition-timing-function: var(--p-ease);
  /* polaris-migrator: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition-timing-function: legacy-polaris-v8.easing(excite);
  transition-timing-function: var(--p-ease-in);
  transition-timing-function: var(--p-ease-out);
  /* polaris-migrator: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition-timing-function: legacy-polaris-v8.easing(overshoot);
}

.easing-simple-builtins {
  opacity: 1;
  transition-timing-function: var(--p-linear);
  transition-timing-function: var(--p-ease);
  transition-timing-function: var(--p-ease-in);
  transition-timing-function: var(--p-ease-out);
  transition-timing-function: var(--p-ease-in-out);
}

.easing-shorthand-string-arg {
  opacity: 1;
  /* polaris-migrator: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing('anticipate');
  transition: opacity 300ms var(--p-ease);
  /* polaris-migrator: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing('excite');
  transition: opacity 300ms var(--p-ease-in);
  transition: opacity 300ms var(--p-ease-out);
  /* polaris-migrator: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing('overshoot');
}

.easing-shorthand-non-string-arg {
  opacity: 1;
  transition: opacity 300ms var(--p-ease);
  /* polaris-migrator: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing(anticipate);
  transition: opacity 300ms var(--p-ease);
  /* polaris-migrator: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing(excite);
  transition: opacity 300ms var(--p-ease-in);
  transition: opacity 300ms var(--p-ease-out);
  /* polaris-migrator: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing(overshoot);
}

.easing-shorthand-builtins {
  opacity: 1;
  transition: opacity 300ms var(--p-linear);
  transition: opacity 300ms var(--p-ease);
  transition: opacity 300ms var(--p-ease-in);
  transition: opacity 300ms var(--p-ease-out);
  transition: opacity 300ms var(--p-ease-in-out);
}

.easing-multiple-string-arg {
  opacity: 1;
  /* polaris-migrator: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing('anticipate'),
    left 300ms legacy-polaris-v8.easing('anticipate');
  transition: opacity 300ms var(--p-ease), left 300ms var(--p-ease);
  /* polaris-migrator: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing('excite'),
    left 300ms legacy-polaris-v8.easing('excite');
  transition: opacity 300ms var(--p-ease-in), left 300ms var(--p-ease-in);
  transition: opacity 300ms var(--p-ease-out), left 300ms var(--p-ease-out);
  /* polaris-migrator: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing('overshoot'),
    left 300ms legacy-polaris-v8.easing('overshoot');
}

.easing-multiple-non-string-arg {
  opacity: 1;
  transition: opacity 300ms var(--p-ease), left 300ms var(--p-ease);
  /* polaris-migrator: The anticipate easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing(anticipate),
    left 300ms legacy-polaris-v8.easing(anticipate);
  transition: opacity 300ms var(--p-ease), left 300ms var(--p-ease);
  /* polaris-migrator: The excite easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing(excite),
    left 300ms legacy-polaris-v8.easing(excite);
  transition: opacity 300ms var(--p-ease-in), left 300ms var(--p-ease-in);
  transition: opacity 300ms var(--p-ease-out), left 300ms var(--p-ease-out);
  /* polaris-migrator: The overshoot easing function is no longer available in Polaris. See https://polaris.shopify.com/tokens/motion for possible values. */
  transition: opacity 300ms legacy-polaris-v8.easing(overshoot),
    left 300ms legacy-polaris-v8.easing(overshoot);
}

.easing-multiple-builtins {
  opacity: 1;
  transition: opacity 300ms var(--p-linear), left 300ms var(--p-linear);
  transition: opacity 300ms var(--p-ease), left 300ms var(--p-ease);
  transition: opacity 300ms var(--p-ease-in), left 300ms var(--p-ease-in);
  transition: opacity 300ms var(--p-ease-out), left 300ms var(--p-ease-out);
  transition: opacity 300ms var(--p-ease-in-out),
    left 300ms var(--p-ease-in-out);
}

.edges {
  /* Easing function must be supplied to transition shorthand */
  transition: fill 300ms var(--p-ease);
  /* Custom values should be flagged */
  /* polaris-migrator: Custom easing functions should be replaced with Polaris --p-ease-* tokens */
  transition: transform 150ms cubic-bezier(0, 0, 1, 1);
}
