/* stylelint-disable shorthand-property-no-redundant-values */
@use 'global-styles/legacy-polaris-v8';

.space {
  /*
  *
  * LENGTHS
  *
  */
  /* === Migrate === */
  padding: var(--p-space-4);
  padding: var(--p-space-4);
  padding: var(--p-space-4) var(--p-space-4);
  padding: var(--p-space-4) var(--p-space-4);
  padding: var(--p-space-4) var(--p-space-4);
  padding: 0 var(--p-space-4);
  padding: var(--p-space-4) 0;
  padding: var(--p-space-4) 4in;
  padding: var(--p-space-4) 1em;
  padding: (16px + 16px) var(--p-space-4);

  /* === Ignore === */
  padding: 0;
  padding: 1;
  padding: 2;
  padding: #{16px + 16px};
  padding: layout-width(nav);
  padding: 10em;
  padding: var(--var);
  padding: var(--p-space-4);
  padding: var(--p-space-4, 16px);

  /* === Comment === */
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: 10px; */
  padding: 10px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: 10rem; */
  padding: 10rem;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: 10px 10px; */
  padding: 10px 10px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) 10px; */
  padding: 16px 10px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: 10rem 10rem; */
  padding: 10rem 10rem;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) 10rem; */
  padding: 1rem 10rem;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: 10px 10rem; */
  padding: 10px 10rem;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) 10rem; */
  padding: 16px 10rem;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: 10px var(--p-space-4); */
  padding: 10px 1rem;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) -16px; */
  padding: 16px -16px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) + var(--p-space-4); */
  padding: 16px + 16px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) + var(--p-space-4) var(--p-space-4); */
  padding: 16px + 16px 16px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: $var + var(--p-space-4); */
  padding: $var + 16px;
  padding: calc(16px + 16px);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) + #{16px + 16px}; */
  padding: 16px + #{16px + 16px};
  // Skip negative lengths. Need to discuss replacement strategy e.g.
  // calc(-1 * var(--p-space-*)) vs var(--p-space--*)
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: -16px; */
  padding: -16px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: -10px; */
  padding: -10px;

  /*
  *
  * REM FUNCTION
  *
  */
  /* === Migrate === */
  padding: var(--p-space-4);
  padding: var(--p-space-4) var(--p-space-4);
  padding: var(--p-space-4) var(--p-space-4);
  padding: var(--p-space-4) 4in;
  padding: var(--p-space-4) 1em;

  /* === Ignore === */
  padding: calc(10rem + var(--p-choice-size, #{legacy-polaris-v8.rem(16px)}));
  padding: calc(10rem + var(--p-choice-size, #{legacy-polaris-v8.rem(10px)}));

  /* === Comment === */
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: legacy-polaris-v8.rem(10px); */
  padding: legacy-polaris-v8.rem(10px);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: legacy-polaris-v8.rem(10px) legacy-polaris-v8.rem(10px); */
  padding: legacy-polaris-v8.rem(10px) legacy-polaris-v8.rem(10px);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) legacy-polaris-v8.rem(10px); */
  padding: legacy-polaris-v8.rem(16px) legacy-polaris-v8.rem(10px);
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) -16px; */
  padding: legacy-polaris-v8.rem(16px) -16px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: var(--p-space-4) + var(--p-space-4); */
  padding: legacy-polaris-v8.rem(16px) + 16px;
  /* polaris-migrator: Unable to migrate the following expression. Please upgrade manually. */
  /* padding: legacy-polaris-v8.rem($var * var(--p-space-4)); */
  padding: legacy-polaris-v8.rem($var * 16px);
}
