@import "../../styles/variables.scss";

$navIconSize: 24px;

.SideNav {
  display: flex;
  visibility: hidden;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100vw - 4rem);
  max-width: 22.5rem;
  min-width: 15rem;
  background: var(--surface);
  font-size: var(--font-size-100);
  font-weight: 500;
  z-index: 2;
  transform: translateX(-22.5rem);

  &.show {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration-200) var(--ease-in-out);

    .CloseButton {
      position: absolute;
      display: flex;
      top: calc(var(--header-height) / 2 - $navIconSize / 2);
      right: calc(-1rem - $navIconSize);
      background-color: transparent;
      opacity: 0;
      animation: FadeIn var(--duration-200) forwards;

      svg {
        width: 24px;
        fill: var(--surface);
      }
    }
  }

  li {
    display: flex;
    width: 100%;

    a {
      width: 100%;
      color: inherit;
      padding: 0.85rem 1rem;

      &:focus-within,
      &:hover {
        color: var(--text-strong);
      }

      &[aria-current="page"] {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 0;
      }
    }
  }
}

.Logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.85rem 1rem;
  height: var(--header-height);
  border-bottom: var(--border);
  color: var(--text-inherit);
  gap: 0.7rem;
  font-weight: 500;
  font-size: var(--font-size-100);

  p {
    margin: 0;
  }

  span {
    transform: translate3d(0, -1px, 0);
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
