@import 'foundation/spacing';
@import 'foundation/colors';
@import 'foundation/breakpoints';

.Table {
  th {
    padding: spacing(loose);
    text-align: right;
  }

  td {
    padding: spacing() spacing(loose);
    text-align: right;
  }

  td:first-child,
  th:first-child {
    text-align: left;
  }

  th:first-child {
    display: inline-block;
    min-width: 190px;
  }
}

.fullWidth {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.striped {
  tr:nth-child(even) {
    background-color: color(sky, lighter);
  }
}
