@import '../../styles/common';

$list-filters-header-height: rem(56px);
$list-filters-footer-height: rem(70px);
$seperator-color: var(--p-border-subdued, color('sky'));

.Filters {
  position: relative;
}

.FiltersContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.FiltersContainerHeader {
  top: 0;
  width: 100%;
  padding: spacing(base) spacing(loose);
  border-bottom: rem(1px) solid $seperator-color;
  height: $list-filters-header-height;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.newDesignLanguage {
    height: new-top-bar-height();
    padding: spacing(base) rem(26px);
  }
}

.FiltersDesktopContainerContent {
  width: 100%;
  height: calc(
    100% - #{$list-filters-footer-height} - #{$list-filters-header-height}
  );

  &.newDesignLanguage {
    height: calc(
      100% - #{$list-filters-footer-height} - #{new-top-bar-height()}
    );

    padding: spacing(tight);
  }
}

.FiltersMobileContainerContent {
  width: 100%;
  height: calc(100% - #{$list-filters-header-height});

  &.newDesignLanguage {
    height: calc(100% - #{new-top-bar-height()});
    padding: spacing(tight);
  }
}

.FiltersContainerFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: rem(14px) spacing(base);
  border-top: rem(1px) solid $seperator-color;
  height: $list-filters-footer-height;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.newDesignLanguage {
    padding: rem(14px) spacing(loose);
  }
}

.FiltersMobileContainerFooter {
  width: 100%;
  padding: rem(14px) spacing(base);
  height: $list-filters-footer-height;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EmptyFooterState {
  border-top: border();
  padding-top: rem(14px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.FilterTriggerContainer {
  position: relative;
}

.FilterTrigger {
  width: 100%;
  margin: 0;
  padding: rem(14px) spacing(loose);
  border: none;
  background: none;
  color: var(--p-text, color(ink));
  border-radius: var(--p-border-radius-base, none);

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(
      rgba(223, 227, 232, 0.3),
      rgba(223, 227, 232, 0.3)
    );
    background-color: var(--p-surface-hovered);
  }

  &:focus {
    outline: none;
    box-shadow: inset 0.2rem 0 0 var(--p-override-none, color('indigo'));
    background-image: linear-gradient(
      rgba(223, 227, 232, 0.3),
      rgba(223, 227, 232, 0.3)
    );
  }

  &.newDesignLanguage {
    @include focus-ring;

    &:focus,
    &:hover {
      background-image: none;
    }

    &:active {
      background-color: var(--p-surface-pressed);
    }

    // stylelint-disable-next-line selector-max-specificity
    &:focus:not(:active) {
      @include focus-ring($style: 'focused');
    }

    &:hover {
      @include high-contrast-outline;
    }
  }
}

.FilterTriggerTitle {
  font-size: font-size(body);
  @include text-emphasis-strong;
}

.AppliedFilterBadgeContainer {
  padding-top: spacing(extra-tight);
  display: flex;

  .open & {
    display: none;
  }
}

.FilterTriggerLabelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.open {
  &::before,
  &::after {
    content: '';
    position: relative;
    left: spacing(base);
    width: calc(100% - #{rem(32px)});
    height: rem(1px);
    background-color: $seperator-color;
    display: block;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.open.first {
  &::after {
    content: '';
    bottom: 0;
    position: relative;
    left: spacing(base);
    width: calc(100% - #{rem(32px)});
    height: rem(1px);
    background-color: $seperator-color;
    display: block;
  }

  &::before {
    display: none;
  }
}

.open ~ .open {
  &::before {
    display: none;
  }
}

.open.last {
  &::before {
    content: '';
    top: 0;
    position: relative;
    left: spacing(base);
    width: calc(100% - #{rem(32px)});
    height: rem(1px);
    background-color: $seperator-color;
    display: block;
  }

  &::after {
    display: none;
  }
}

.open + .last {
  &::before {
    display: none;
  }
}

.FilterNodeContainer {
  padding: rem(8px) spacing(loose) spacing(loose) spacing(loose);
}

.SearchIcon {
  fill: currentColor;
}

.Backdrop {
  position: fixed;
  z-index: z-index(backdrop, $fixed-element-stacking-order);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
}

.HelpText {
  margin-top: 10px;
}

.TagsContainer {
  display: flex;
  padding-top: spacing(tight);
  flex-wrap: wrap;

  > * {
    margin-right: spacing(tight);
    margin-bottom: spacing(tight);
  }
}
