.AlphaStack {
  display: flex;
  flex-direction: column;
  align-items: var(--pc-stack-align);
  gap: var(--pc-stack-spacing);

  > * {
    max-width: 100%;
  }
}

.fullWidth {
  > * {
    width: 100%;
  }
}
