@use 'global-styles/legacy-polaris-v8';

.normal {
  color: var(--p-text);
  font-weight: var(--p-font-weight-regular);
}

.strong {
  font-weight: var(--p-font-weight-semibold);
}

.subdued {
  color: var(--p-text-subdued);
}

.subdued-with-args {
  color: var(--p-text-subdued);
}
