@import "../../styles/variables.scss";

.Nav {
  > ul {
    display: flex;
    justify-content: center;
    gap: 7.1em;
  }

  span {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-100);
    color: var(--text-subdued);
  }

  a {
    position: relative;
    display: inline-block;
    padding: 2px 0;
    font-weight: 435;
    color: inherit;

    &:hover {
      color: var(--text-strong);

      &::before {
        background: var(--primary);
      }
    }

    &[aria-current="page"] {
      background: var(--primary);
      border-radius: var(--border-radius-300);
      padding: 2px 7px;
      margin-left: -7px;
      color: white;
    }
  }

  ul {
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
  }

  > ul > li {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
      ul {
        margin-bottom: 0;
      }
    }

    > span {
      @include heading-2;
      margin-bottom: 0.25rem;
      display: inline-block;
      color: var(--text);
    }
  }
}
