@import "../../styles/variables.scss";

.Nav {
  ul {
    margin-bottom: 1rem;
  }

  span {
    display: inline-block;
    font-weight: var(--font-weight-500);
    color: var(--text-strong);
    font-size: var(--font-size-400);
    margin-bottom: 0.25rem;
  }

  a {
    display: inline-block;
    position: relative;
    padding: 0.1rem 0 0.1rem 0.75rem;
    color: inherit;
    font-size: var(--font-size-200);

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 0;
      width: 2px;
      border-radius: var(--border-radius-200);
      animation: nav-item-out 0.25s 1 ease-out both;
      transition: background-color 0.2s linear;
      background: #ededed;
    }

    &:hover {
      color: var(--text-strong);

      &:after {
        animation: nav-item-in 0.25s 1 linear both;
      }
    }

    &[aria-current="page"] {
      color: var(--text-strong);

      &:after {
        background: var(--text-strong);
        transform: translateX(0px);
        animation: nav-item-in 0.25s 1 linear both;
      }
    }
  }
}

@keyframes nav-item-in {
  from {
    opacity: 0;
    transform: translate3d(-2px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes nav-item-out {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
