/* stylelint-disable */

.border-radius {
  /* Migrate */
  border-radius: border-radius();
  border-radius: border-radius(base);
  border-radius: border-radius(large);

  /* Ignore */
  border-radius: calc(border-radius(base) * 2);
  border-radius: calc(border-radius() * rem(1px));

  /* Comment */
  border-radius: border-radius(base) * 2;
  border-radius: border-radius() * rem(1px);
  border-top-right-radius: border-radius() * rem(4px);
}
