@import '../../../../styles/common';

// Message styles
$message-min-height: rem(40px);
$message-vertical-padding: ($message-min-height - line-height(body)) / 2;

.Message {
  padding: $message-vertical-padding spacing();
  color: color('ink', 'light');
}
