@import '../../styles/common';

$offset-from-activator: rem(4px);
$content-max-width: rem(200px);

.Tooltip {
  margin: $offset-from-activator spacing() spacing();
  opacity: 1;
  box-shadow: var(--p-popover-shadow, shadow(deep));
  border-radius: var(--p-border-radius-base, border-radius());
  pointer-events: none;
  will-change: opacity, left, top;
  transition: opacity duration() easing(in) duration(fast);

  @media screen and (-ms-high-contrast: active) {
    border: border-width(thick) solid ms-high-contrast-color('text');
  }
}

.measuring {
  opacity: 0;
}

.positionedAbove {
  margin: spacing() spacing() $offset-from-activator;
}

.light {
  .Wrapper {
    background: var(--p-surface, color('white'));
    color: var(--p-text, color('ink'));
  }
}

.Wrapper {
  position: relative;
  display: flex;
  background-color: var(--p-surface, color('ink'));
  border-radius: var(--p-border-radius-base, border-radius());
  color: var(--p-text, color('white'));
}

.Content {
  position: relative;
  border-radius: border-radius();
  max-width: $content-max-width;
}

.Label {
  padding: spacing(extra-tight) spacing(tight);
  word-break: break-word;
}
