$range-track-height: rem(4px);
$range-thumb-size: var(--p-range-slider-thumb-size-base, rem(24px));

@mixin track-dashed {
  $borderRadius: var(--p-border-radius-base, border-radius());
  $dashedTrackColor: var(--p-border);
  content: '';
  position: absolute;
  height: $range-track-height;
  width: 100%;
  background-image: linear-gradient(
    to right,
    $dashedTrackColor,
    $dashedTrackColor 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: $range-track-height $range-track-height;
  border-radius: $borderRadius;
  border-right: $borderRadius $dashedTrackColor solid;
}
