@use '../../styles/mixins.scss' as *;

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem 1.5rem;
}

.Icon {
  color: var(--color-text-subdued);

  .IconWrapper {
    border-radius: 16px;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-surface-subdued);
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: var(--font-weight-heavy);
    color: var(--color-text-strong);
    @include heading-4;
  }

  p {
    margin-bottom: 0.75rem;
  }

  @media (prefers-color-scheme: dark) {
    svg {
      fill: #fff;
    }
  }
}
