@use '../../styles/mixins.scss' as *;

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem 0;
}

.Icon {
  padding-top: 2rem;
  padding-right: 2rem;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid var(--color-border);

  h2 {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: var(--font-weight-heavy);
  }

  p {
    font-size: var(--font-size-small);
    margin-bottom: 1rem;
  }

  button {
    font-size: 0.8rem;
    margin-right: 0.2rem;
    padding: 0.1rem 0.33rem;
    border-radius: 8px;
    background: var(--color-surface-subdued);
    border: 1px solid var(--color-border);
    font-weight: var(--font-weight-heavy);

    &:hover {
      background: var(--color-border);
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    svg {
      fill: #fff;
    }
  }
}
