$toggle-track-length: rem(46px);
$toggle-track-height: rem(24px);
$toggle-thumb-size: rem(20px);
$disabled-opacity: 0.6;
$toggle-thumb-displacement: rem(2px);

.Toggle {
  display: flex;
  align-items: center;
  border: 1px solid transparent;

  &.disabled {
    opacity: $disabled-opacity;
  }
}

.ToggleTrack {
  width: $toggle-track-length;
  height: $toggle-track-height;
  border-radius: rem(30px);
  box-shadow: 1px 1px 1px color('ink', 'lightest') inset;
  background-color: color('sky');
  transition: background-color duration(slow), border duration(slow),
    box-shadow duration(slow);
  -webkit-tap-highlight-color: transparent;
}

.ToggleThumb {
  position: absolute;
  top: $toggle-thumb-displacement;
  left: $toggle-thumb-displacement;
  width: $toggle-thumb-size;
  height: $toggle-thumb-size;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 1px 1px 1px color('ink', 'lightest');
  transition: left duration(slow) easing();
  background-color: color('white');
}

.ToggleChecked {
  .ToggleTrack {
    background-color: color('indigo');
    box-shadow: 1px 1px 1px color('indigo', 'dark') inset;
  }

  .ToggleThumb {
    left: $toggle-track-height;
    box-shadow: -1px 1px 1px color('indigo', 'dark');
  }
}

.ToggleDisabled {
  cursor: not-allowed;
  opacity: $disabled-opacity;
  transition: opacity duration();

  &:hover {
    box-shadow: none;
  }
}

.Input {
  position: relative;
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: border-radius(extra-large);
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;

  &.ToggleDisabled {
    cursor: not-allowed;
  }
}

.Prefix {
  flex: 0 0 auto;
  margin-right: spacing(tight);
}

.Suffix {
  flex: 0 0 auto;
  margin-left: spacing(tight);
}
