.Breadcrumbs {
  margin-bottom: 2.5rem;
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-500);

  ul {
    display: flex;
  }

  li {
    &:after {
      content: '/';
      margin: 0 0.25rem;
      color: var(--text-subdued);
      opacity: 0.5;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  a {
    color: var(--text-subdued);
  }
}
