:root {
  /* stylelint-disable -- use custom properties to set max width based on props */
  --pc-skeleton-page-max-width: 998px;
  --pc-skeleton-page-max-width-narrow: 662px;
  /* stylelint-enable */
}

.SkeletonTitle {
  @media screen and (-ms-high-contrast: active) {
    background-color: grayText;
  }
}
