@import '../../styles/common';

.Page {
  @include page-layout;
}

.Content {
  @include page-content-layout;
}

.Header {
  @include page-header-layout;
  padding-bottom: var(--p-space-2);
}

.Title {
  font-weight: var(--p-font-weight-semibold);
  font-size: 24px;
  line-height: 28px;

  @media #{$p-breakpoints-md-up} {
    font-size: 20px;
  }
}

.SkeletonTitle {
  display: flex;
  background-color: var(--p-surface-neutral);
  border-radius: var(--p-border-radius-base);
  max-width: $skeleton-display-text-max-width;
  height: 28px;

  @media screen and (-ms-high-contrast: active) {
    background-color: grayText;
  }
}

.Action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: control-slim-height();
  padding-right: var(--p-space-6);
  margin-top: calc(-1 * var(--p-space-1));
  margin-bottom: calc(-1 * var(--p-space-1));
  padding-top: var(--p-space-4);

  &:first-child {
    padding-right: 0;
  }

  @media #{$p-breakpoints-lg-down} {
    &:not(:last-child) {
      display: none;
    }
  }
}
