@import '../../styles/common';

$primary-action-button-height: 2.25rem;
$primary-action-button-width: 6.25rem;

:root {
  // stylelint-disable -- use custom properties to set max width based on props
  --pc-skeleton-page-max-width: 100%;
  --pc-skeleton-page-max-width-narrow: 100%;
  // stylelint-enable
}

.SkeletonPage {
  max-width: 90%;
  margin: 0 auto;
}

.Title {
  font-weight: var(--p-font-weight-semibold);
  font-size: var(--p-font-size-300);
  line-height: var(--p-font-line-height-4);
}

.SkeletonTitle {
  @media screen and (-ms-high-contrast: active) {
    background-color: grayText;
  }
}
