// 22 Errors

.valid {
  text-shadow: var(--p-space-025) var(--junk);
  transition: ease-in-out var(--p-duration-100) opacity;
}

.invalid {
  background: red;
  color: #fff;
  border: solid var(--p-space-025) rgba(255, 255, 255);
  box-shadow: 0 0 3px var(--p-action-primary);
  font-family: var(--p-button-font);
  outline: solid var(--p-space-025) var(--pc-omg);
  font-weight: 400;
  top: 10px;
  display: grid;
  z-index: 500;
  transition: ease 100ms opacity;
  opacity: 0.9;
  justify-content: space-around;
}

p {
  z-index: calc(var(--p-z-1) + 10);
  display: flex;
  opacity: 90%;
}

@media only screen and (max-width: 600px) {
  div {
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@media only screen and (min-width: 50rem) {
  div {
    animation-duration: 3s;
  }
}
