// 5 Errors

.valid {
  // Known `--p-` property value
  --test: var(--p-text);
}

.invalid {
  // No `--p-` property overrides
  --p-text: override;

  // No unknown `--p-` properties
  --p-unknown-name: override;

  // No unknown `--p-` properties
  --test: var(--p-unknown-value);

  // No `--pc-` for property name
  --pc-disallowed-name: override;

  // No `--pc-` for property value
  --test: var(--pc-disallowed-value);
}
