// 4 Errors

.valid {
  // Known exception
  --polaris-version-number: 1;

  // Known `--pc-` property name
  --pc-component-var: var(--p-text);

  // Known `--pc-` property value
  font-size: var(--pc-component-var);
}

.invalid {
  // No `--p-` property overrides
  --p-text: override;

  // No custom vars without `--pc-` prefix
  --missing-prefix: var(--p-text);

  // No unknown `--p-` property values
  font-size: var(--p-unknown-value);

  // No values without `--p-` or `--pc-` prefix
  font-weight: var(--missing-prefix);
}
