.font-line-height {
  line-height: line-height(caption);
  line-height: line-height(caption, base);
  line-height: line-height(caption, large-screen);
  line-height: line-height(display-x-large, base);
  // Comment
  line-height: line-height($invalid);
  line-height: line-height(caption, $invalid);
  line-height: line-height();
}
