@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.Longform {
  img {
    border-radius: var(--border-radius-200);
    width: 100%;
    height: auto;
  }

  ul li {
    list-style-type: disc;
  }

  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  .usage-list {
    margin: 1rem 0;
  }

  h1 {
    @include heading-1;
    margin-bottom: 2rem;

    @media screen and (max-width: $breakpointMobile) {
      margin-bottom: 1.5rem;
    }
  }

  h2 {
    @include heading-2;
    margin-top: 3.25rem;
  }

  h3 {
    @include heading-3;
    margin-top: 1.5rem;
  }

  h4 {
    @include heading-4;
  }

  h3,
  h4 {
    + p,
    + ul,
    + ol {
      margin-top: -0.5rem;
    }
  }

  ul {
    li {
      margin-left: 0.95em;
    }
  }

  ol {
    li {
      padding-left: 1.35em;
    }
  }

  ul,
  ol {
    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  ul li {
    position: relative;
    &::marker {
      color: #999;

      @include dark-mode {
        color: #555;
      }
    }
  }

  ol {
    counter-reset: list;
    li {
      position: relative;
      counter-increment: list;
      &::before {
        content: counter(list) ".";
        display: block;
        position: absolute;
        left: 0;
        border-radius: var(--border-radius-round);
        opacity: 0.75;
      }
    }
  }

  li {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin-top: 0.5rem;
    }
  }

  strong {
    font-weight: var(--font-weight-500);
    color: var(--text-strong);
  }

  hr {
    height: 1px;
    box-shadow: 0 0.5px var(--border-color);
    margin: 1rem 0;
    background: var(--surface);
    border-radius: var(--border-radius-200);
    opacity: 0;
    display: none;
  }

  p code {
    font-family: var(--font-family-mono);
    font-size: 0.9em;
    font-weight: var(--font-weight-500);
    background: var(--surface-code-inline);
    border-radius: var(--border-radius-300);
    padding: 0.15rem 0.25rem;
  }

  .usage-list {
    + h3 {
      margin-top: 2.5rem !important;
    }
  }

  table {
    font-size: var(--font-size-200);
    border-collapse: separate;
    border-spacing: 0;
    border: var(--border);
    border-radius: 0.5rem;
    width: 100%;

    th {
      font-weight: var(--font-weight-600);
      text-align: left;
      background-color: var(--surface-subdued);

      &:first-child {
        border-top-left-radius: 0.5rem;
      }

      &:last-child {
        border-top-right-radius: 0.5rem;
      }
    }

    th,
    td {
      padding: 0.6rem 1rem;
      border-bottom: var(--border);
    }

    tbody {
      tr:last-child td {
        border-bottom: none;
      }

      tr:last-child td:first-child {
        border-bottom-left-radius: 0.5rem;
      }

      tr:last-child td:last-child {
        border-bottom-right-radius: 0.5rem;
      }
    }
  }

  :global {
    .table-wrapper {
      overflow: auto;
      max-width: calc(100vw - 1.25rem);
      width: 100%;
    }
  }
}

.Content {
  > p:first-of-type {
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--text-strong);
    font-size: var(--font-size-700);
    font-weight: var(--font-weight-500);
    letter-spacing: var(--letter-spacing-300);
  }
}
