@import "../../styles/fonts.scss";

.Longform {
  img {
    border-radius: var(--border-radius-200);
    width: 100%;
    height: auto;
    background: white;
  }

  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  .usage-list {
    margin: 1rem 0;
  }

  h1 {
    @include heading-1;
    margin-bottom: 3rem;
  }

  h2 {
    @include heading-2;
    margin-top: 2rem;
  }

  h3 {
    @include heading-3;
    margin-top: 1.5rem;
  }

  h4 {
    @include heading-4;
  }

  h3,
  h4 {
    + p,
    + ul,
    + ol {
      margin-top: -0.5rem;
    }
  }

  h1,
  h2,
  h3,
  h4 {
    &:target {
      background: #d5ffe1;
    }
  }

  ul {
    margin-left: 0.95em;
  }

  ol {
    margin-left: 1.15em;
  }

  ul,
  ol {
    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin-top: 0.5rem;
    }
  }

  strong {
    font-weight: var(--font-weight-600);
  }

  hr {
    height: 1px;
    box-shadow: 0 0.5px var(--border-color);
    margin: 1rem 0;
    background: var(--surface);
    border-radius: var(--border-radius-200);
    opacity: 0;
    display: none;
  }

  pre {
    font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
      Menlo, Consolas, monospace;
    font-size: var(--font-size-100);
    padding: 1rem;
    background: var(--text-strong);
    color: var(--surface);
    border-radius: var(--border-radius-200);
    overflow: auto;

    p {
      margin: 0;
    }
  }

  .usage-list {
    + h3 {
      margin-top: 2.5rem !important;
    }
  }
}

.Content {
  > p:first-of-type {
    margin-bottom: 2rem;
    font-size: var(--font-size-700);
    color: var(--text-strong);
    letter-spacing: var(--letter-spacing-300);
  }
}
