@import 'foundation/colors';
@import 'foundation/utilities';

$Shadow-color: rgba(color(black), 0.1);
$Shadow-size: rem(20px);
$Shadow-bottom: inset 0 (-1 * $Shadow-size) $Shadow-size (-1 * $Shadow-size) $Shadow-color;
$Shadow-top: inset 0 $Shadow-size $Shadow-size (-1 * $Shadow-size) $Shadow-color;

.Scrollable {
  -webkit-overflow-scrolling: touch;
}

.horizontal {
  overflow-x: auto;
}

.vertical {
  overflow-y: auto;
}

.hasTopShadow {
  box-shadow: $Shadow-top;
}

.hasBottomShadow {
  box-shadow: $Shadow-bottom;
}

.hasTopShadow.hasBottomShadow {
  box-shadow: $Shadow-top, $Shadow-bottom;
}
