.TextField {
  font-size: 0.9rem;
  padding: 0.6rem 0.6rem 0.6rem 2.75rem;
  width: 100%;
  border-radius: 4px;
  background: #fff url(./FilterMajor.svg) no-repeat 1em center;
  background-size: 16px auto;
  border: 1px solid #ddd;
  border-top: 1px solid #aaa;
}
