.TextField {
  font-size: var(--font-size-300);
  padding: 0.66rem 0.6rem 0.66rem 2.25rem;
  width: 100%;
  border-radius: var(--border-radius-400);
  background: url(./FilterMajor.svg) no-repeat 14px center;
  background-size: 16px auto;
  border: 1px solid var(--border-color);
  border-top-color: var(--border-inset-color);

  &:focus-within {
    border-color: transparent;
  }
}
