/* stylelint-disable */
@use 'global-styles/legacy-polaris-v8';

.border {
  /* --- LENGTHS --- */

  /* Migrate */
  border: 1px solid var(--p-border-subdued);
  border: 1px solid transparent;
  border: 1px solid currentColor;
  border: 1px solid color('sky');
  border: 0.0625rem solid var(--p-border-subdued);
  border: solid 1px var(--p-border-subdued);
  border: 1px solid rgba(141, 145, 150, 0.5);
  border: 1px solid $var;
  border-width: 1px;
  border-width: 0.0625rem;

  /* Ignore */
  border: 0.0625em solid var(--p-border-subdued);
  border: 0 solid var(--p-border-subdued);
  border: (16px + 16px) solid var(--p-border-subdued);
  border: var(--var);
  border: calc(1px / var(--item-scale, 1)) solid var(--p-border-subdued);
  border-width: 0.0625em;
  border-width: 0;

  /* Comment */
  border: 10px solid var(--p-border-subdued);
  border: 10rem solid transparent;
  border-width: 10px;
  border-width: 10rem;

  /* --- REM FUNCTION --- */

  /* Migrate */
  border: legacy-polaris-v8.rem(1px) solid var(--p-border-subdued);
  border: solid legacy-polaris-v8.rem(1px) var(--p-border-subdued);
  border-width: legacy-polaris-v8.rem(1px);
  border-width: legacy-polaris-v8.rem(1px) legacy-polaris-v8.rem(1px);
  border-width: legacy-polaris-v8.rem(1px) 1px;
  border-width: legacy-polaris-v8.rem(1px) 4in;
  border-width: legacy-polaris-v8.rem(1px) 1em;
  border-width: legacy-polaris-v8.rem(1px) 0 0 0;

  /* Ignore */
  border: calc(1rem + var(--var, #{legacy-polaris-v8.rem(1px)})) solid
    var(--p-border-subdued);
  border: calc(1rem + var(--var, #{legacy-polaris-v8.rem(10px)})) solid
    var(--p-border-subdued);
  border-width: calc(-1 * legacy-polaris-v8.rem(1px));

  /* Comment */
  border: legacy-polaris-v8.rem(10px) solid var(--p-border-subdued);
  border-width: legacy-polaris-v8.rem(10px);
  border-width: legacy-polaris-v8.rem(10px) legacy-polaris-v8.rem(10px);
  border-width: legacy-polaris-v8.rem(1px) legacy-polaris-v8.rem(10px);
  border-width: legacy-polaris-v8.rem(10px) -1px;
  border-width: legacy-polaris-v8.rem(10px) + 1px;
  border-width: legacy-polaris-v8.rem($var * 1px);

  /* --- BORDER FUNCTION --- */

  /* Migrate */
  border: legacy-polaris-v8.border();
  border: legacy-polaris-v8.border(base);
  border: legacy-polaris-v8.border(dark);
  border: legacy-polaris-v8.border(transparent);
  border: legacy-polaris-v8.border(divider);
  border: legacy-polaris-v8.border('divider');

  /* --- BORDER WIDTH FUNCTION --- */

  /* Migrate */
  border: legacy-polaris-v8.border-width() solid var(--p-border-subdued);
  border: legacy-polaris-v8.border-width(base) solid var(--p-border-subdued);
  border: legacy-polaris-v8.border-width(thick) solid var(--p-border-subdued);
  border: legacy-polaris-v8.border-width(thicker) solid var(--p-border-subdued);
  border-width: legacy-polaris-v8.border-width('thicker');

  /* Ignore */
  border-width: calc(-1 * legacy-polaris-v8.border-width());
  border-width: calc($var * legacy-polaris-v8.border-width());

  /* Comment */
  border-width: legacy-polaris-v8.rem(1px)
    legacy-polaris-v8.rem(10px - legacy-polaris-v8.border-width());
}

.border-radius {
  /* --- LENGTHS --- */

  /* Migrate */
  border-radius: 2px;
  border-radius: 1rem;

  /* Ignore */
  border-radius: 0;
  border-radius: 2em;
  border-radius: calc(var(--p-space-2) * 3);
  border-radius: 50%;

  /* Comment */
  border-radius: 1px;

  /* --- REM FUNCTION --- */

  /* Migrate */
  border-radius: legacy-polaris-v8.rem(8px);

  /* Ignore */
  border-radius: calc(var(--p-border-radius-base) * 2px);

  /* Comment */
  border-radius: legacy-polaris-v8.rem(10px) legacy-polaris-v8.rem(4px);
  border-radius: legacy-polaris-v8.rem(1px) * 5;

  /* --- BORDER-RADIUS FUNCTION --- */

  /* Migrate */
  border-radius: legacy-polaris-v8.border-radius();
  border-radius: legacy-polaris-v8.border-radius(base);
  border-radius: legacy-polaris-v8.border-radius(large);

  /* Ignore */
  border-radius: calc(legacy-polaris-v8.border-radius(base) * 2);
  border-radius: calc(
    legacy-polaris-v8.border-radius() * legacy-polaris-v8.rem(1px)
  );

  /* Comment */
  border-radius: legacy-polaris-v8.border-radius(base) * 2;
  border-radius: legacy-polaris-v8.border-radius() * legacy-polaris-v8.rem(1px);
  border-radius: 10px;
  border-top-right-radius: legacy-polaris-v8.border-radius() *
    legacy-polaris-v8.rem(4px);
}
