@import '../../styles/common';

@function progress-bar-height($height: base) {
  $base: 16px;
  $data: (
    small: rem($base / 2),
    base: rem($base),
    large: rem($base * 2),
  );

  @return map-get($data, $height);
}

@keyframes fillup {
  0% {
    width: 0;
  }
}

.ProgressBar {
  overflow: hidden;
  width: 100%;
  background-color: var(--p-surface-neutral);
  border-radius: var(--p-border-radius-base);

  @include high-contrast-border;
}

.sizeSmall {
  height: progress-bar-height(small);
}

.sizeMedium {
  height: progress-bar-height();
}

.sizeLarge {
  height: progress-bar-height(large);
}

.Indicator {
  height: inherit;
  width: 0;
  will-change: width;
  background-color: var(--p-border-highlight);
  animation: fillup duration(slowest) easing();
  transition: width duration(slowest) easing();

  @media screen and (-ms-high-contrast: active) {
    border: progress-bar-height() solid
      ms-high-contrast-color('selected-text-background');
  }
}

.Progress,
.Label {
  @include visually-hidden;
}
