@import 'foundation/spacing';
@import 'foundation/colors';

$higher-stack-color: color(slate, lighter);

.Breadcrumbs {
  display: flex;
  align-items: baseline;
}

.Breadcrumb {
  font-weight: normal;

  + .Breadcrumb {
    margin-left: spacing(loose);
    position: relative;

    &::before {
      content: '';
      display: block;
      border-left: 2px solid $higher-stack-color;
      height: 1em;
      line-height: 1;
      position: absolute;
      left: -0.5 * spacing(loose);
      top: 50%;
      transform: rotate(10deg) translateY(-50%);
      transform-origin: 50% 0;
    }
  }
}

.link {
  text-decoration: none;
  color: $higher-stack-color;

  &:hover {
    text-decoration: underline;
  }
}
