.Editor {
  display: flex;
  height: 100vh;

  input[type='file'] {
    position: fixed;
    left: 200px;
    top: 200px;
    right: 200px;
    bottom: 200px;
    background: white;
    box-shadow: 0 100px 200px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  textarea {
    min-height: 10rem;
  }

  .Pages {
    min-width: 20rem;
    max-width: 20rem;
    padding: 1rem;
    border-right: 1px solid #ddd;
    overflow: auto;

    button {
      width: 100%;
      text-align: left;
      background: transparent;
      padding: 0.5rem 1rem;
      border-radius: 8px;

      &:hover {
        background: #fafafa;
      }

      &[aria-current='true'] {
        background: black;
        color: white;
      }
    }

    .ChildPages {
      margin-left: 1rem;
    }
  }

  .SitePreview {
    height: 100vh;
    width: clamp(300px, 30vw, 1200px);
    background: black;
  }

  .PageEditor {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: auto;
    padding: 4rem;
    background: #fafafa;
  }

  .PageEditorInner {
    max-width: 60rem;
    flex: 1;
  }

  .BlockEditor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .Block {
    position: relative;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.025);

    input[type='text'],
    textarea {
      padding: 0.5rem;
      width: 100%;
    }

    &:hover {
      .BlockActions {
        opacity: 1;
      }
    }
  }

  .BlockActions {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -0.5rem;
    right: -3rem;
    padding-left: 2rem;
    opacity: 0;

    button {
      padding: 0.5rem;
      border-radius: 100px;
      height: 2rem;
      width: 2rem;
    }
  }
}

.CustomRouteBanner {
  padding: 150px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  border: 2px dashed #ddd;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
    max-width: 30rem;

    span {
      background: rgba(0, 0, 0, 0.1);
      padding: 0.25rem 0.4rem;
      border-radius: 4px;
    }
  }
}

.Tabs {
  display: flex;
  gap: 4px;

  button {
    background: black;
    &[aria-current='true'] {
      color: rgb(45, 255, 122);
    }
    border-radius: 4px;
    padding: 4px 8px;
  }
}

.BlockWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  border: 1px solid;
  padding: 2rem;
  border-radius: 12px;

  img {
    max-width: 300px;
  }
}

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.ImagePicker {
  position: fixed;
  top: 100px;
  right: 100px;
  bottom: 100px;
  left: 100px;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(20px);
  z-index: 10;
  border-radius: 16px;
  display: flex;
  color: #999;
  overflow: hidden;
  max-width: 1540px;
  max-height: 900px;
  margin: auto;
  box-shadow: 0 100px 100px rgba(0, 0, 0, 0.33);

  .Inspector {
    min-width: 30rem;
    max-width: 30rem;
    background: black;
    padding: 4rem;

    .ColorSchemeIndicator {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      border-radius: 100px;
      padding: 0.25rem 0.5rem;
      font-size: 11px;
      top: 10px;
      left: 10px;
      color: white;
    }

    .ImagePreview {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
    }

    .DropZone {
      position: relative;
      aspect-ratio: 16 / 9;
      border: 1px dashed white;
      border-radius: 8px;

      p {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #888;
        font-size: 2rem;
      }

      input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }

  .Images {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem;
    overflow: auto;
    align-items: flex-start;

    .AddImageButton {
      width: 200px;
      height: 200px;
      background: rgba(255, 255, 255, 1);
      border-radius: 100px;
    }

    .Image {
      position: relative;
      width: 200px;
      height: 200px;
      transition: all 0.1s ease;
      &:hover {
        transform: scale(1.05);
      }

      img,
      .ImagePlaceholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: #333;

        &:nth-child(1) {
          z-index: 1;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        }

        &:nth-child(2) {
          transform: scale(0.9) translateY(20px);
        }
      }
    }
  }
}
