.my-class {
  // color
  color: var(--p-interactive);
  color: var(--p-interactive-hovered);
  color: var(--p-text-success);
  color: var(--p-text-success);
  color: var(--p-text-warning);
  color: var(--p-text-warning);
  color: var(--p-text-critical);
  color: var(--p-text-critical);
  color: var(--p-text);
  color: var(--p-text-subdued);
  color: var(--p-text-subdued);
  color: var(--p-text-subdued);
  color: var(--p-text-on-dark);
  color: var(--p-text-subdued-on-dark);
  color: var(--p-text-on-dark);
  color: var(--p-text-on-dark);
  color: var(--p-text);
  color: var(--p-text-on-dark);

  // background
  background-color: var(--p-surface-success);
  background-color: var(--p-surface-success-subdued);
  background-color: var(--p-surface-warning);
  background-color: var(--p-surface-warning-subdued);
  background-color: var(--p-surface-critical);
  background-color: var(--p-surface-critical-subdued);
  background-color: var(--p-surface-neutral-subdued-dark);
  background-color: var(--p-surface-dark);
  background-color: var(--p-surface-neutral);
  background-color: var(--p-surface-neutral-subdued);
  background-color: var(--p-surface-subdued);
  background-color: var(--p-surface-dark);
  background-color: var(--p-surface);

  // border
  border-color: var(--p-border-success);
  border-color: var(--p-border-success);
  border-color: var(--p-border-success-subdued);
  border-color: var(--p-border-success-subdued);
  border-color: var(--p-border-warning);
  border-color: var(--p-border-warning);
  border-color: var(--p-border-warning-disabled);
  border-color: var(--p-border-warning-subdued);
  border-color: var(--p-border-critical);
  border-color: var(--p-border-critical);
  border-color: var(--p-border-critical-subdued);
  border-color: var(--p-border-critical-subdued);
  border-color: var(--p-border);
  border-color: var(--p-border-subdued);

  // fill
  fill: var(--p-icon-success);
  fill: var(--p-icon-success);
  fill: var(--p-icon-warning);
  fill: var(--p-icon-warning);
  fill: var(--p-icon-critical);
  fill: var(--p-icon-critical);
  fill: var(--p-icon);
  fill: var(--p-icon);
  fill: var(--p-icon-subdued);
  fill: var(--p-icon-disabled);
  fill: var(--p-icon);
  fill: var(--p-icon-on-dark);

  // Remove color() fallbacks
  color: var(--p-text);

  // Handle declarations with multiple values
  border: var(--p-border-width-1) solid var(--p-border);
  background: border-box var(--p-surface-neutral-subdued);

  // Skip color() with a for-background argument
  color: color('ink', 'lighter', #f2ece4);

  // Skip replacing color() within a function
  background: rgba(color('black'), 0.5);
}
