.root {
  @include page-content-when-partially-condensed {
    padding-bottom: spacing(loose);

    &.Active {
      border-bottom: rem(3px) solid color('ink');
    }

    @include page-content-when-not-partially-condensed {
      padding: 0 spacing(extra-loose);
    }
  }

  @include page-content-when-fully-condensed {
    margin: 0 spacing(loose) spacing(tight);
  }

  @include page-content-when-not-fully-condensed {
    border-radius: spacing(tight);
  }

  @include page-when-not-max-width {
    border-radius: spacing(tight);
  }

  @include page-content-when-layout-stacked {
    @include stacked-elements;
  }

  @include page-content-when-layout-not-stacked {
    border-radius: spacing(tight);
  }

  @include page-after-resource-list-small {
    border-radius: spacing(tight);
  }

  @include page-before-resource-list-small {
    border-radius: spacing(tight);
  }

  @include after-topbar-sheet {
    max-width: $content-max-width + (2 * spacing(extra-loose));

    > li {
      margin-right: spacing();
    }

    &.TwoColumn > li {
      flex: 0 calc(50% - #{spacing(extra-loose)});
    }
  }

  @include frame-with-nav-when-not-max-width {
    padding: spacing(tight) 0;
  }

  @mixin global-nav-offset {
    @include frame-when-nav-displayed {
      left: $global-nav-width;
      width: calc(100% - #{$global-nav-width});
    }
  }

  .Large {
    @include frame-when-nav-displayed {
      width: $sheet-desktop-width-large;
    }
  }

  @include frame-when-nav-displayed {
    @include breakpoint-after(
      layout-width(page-content, not-condensed) + layout-width(nav)
    ) {
      @content;
    }
  }

  @include frame-when-nav-hidden {
    @include stick-to-bottom-container;
  }

  .MinimizableVideoToolbar {
    &.Inline {
      @include frame-when-nav-hidden {
        display: none;
      }
    }
  }

  @include frame-when-nav-hidden {
    @include page-content-when-not-partially-condensed {
      width: rem(200px);
    }
  }

  @mixin breakpoint-tablet-not-condensed {
    @include frame-when-nav-hidden {
      @include page-content-when-not-partially-condensed {
        @content;
      }
    }

    @include frame-when-nav-displayed {
      @include breakpoint-after(
        layout-width(page-content, not-condensed) + layout-width(nav)
      ) {
        @content;
      }
    }
  }

  > *:not(:last-child) {
    @include when-typography-condensed {
      margin-bottom: var(--p-space-4);
    }
  }
}
