@import 'foundation/colors';
@import 'foundation/spacing';
@import 'foundation/border-radius';

.Tag {
  display: inline-flex;
  background-color: color(blue, lighter);
  padding: (spacing(tight) / 2) spacing(tight);
  border-radius: border-radius();
  align-items: center;
}

.Close {
  margin-left: spacing(tight) / 2;
  margin-right: spacing(tight) / -2;
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
}
