@import '../../../../styles/common';

$activator-variables: (
  min-width: rem(36px),
  border-left: 1px solid rgba(color('black'), 0.42),
  transition: background-color 0.1s,
  focus-background-color: rgba(color('white'), 0.16),
  hover-background-color: rgba(color('white'), 0.08),
  active-background-color: rgba(color('black'), 0.28),
  focus-opacity: 0.85,
);

@function menu($variable) {
  @return map-get($activator-variables, $variable);
}

.ActivatorWrapper {
  height: top-bar-height();
  display: flex;
  align-items: center;
}

.Activator {
  @include unstyled-button;
  @include focus-ring;
  color: var(--p-text, var(--top-bar-color));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: menu(min-width);
  padding: rem(6px) spacing(tight);
  border: 0;
  cursor: pointer;
  transition: menu(transition);
  margin-right: spacing(tight);
  border-radius: border-radius();

  &:focus {
    @include focus-ring($style: 'focused');
    background-color: var(
      --p-override-transparent,
      menu(focus-background-color)
    );
    outline: none;
  }

  &:hover {
    background-color: var(--p-surface-hovered, menu(hover-background-color));
  }

  &:active,
  &[aria-expanded='true'] {
    background-color: var(--p-surface-pressed, menu(active-background-color));
    outline: none;
    transition: none;

    &::after {
      border: none;
    }
  }

  @include breakpoint-before(layout-width(page-with-nav), false) {
    margin: 0 spacing(extra-tight);

    &:focus,
    &:hover,
    &:active,
    &[aria-expanded='true'] {
      background-color: transparent;
      opacity: menu(focus-opacity);
    }
  }
}

.Section {
  margin-top: spacing(tight);
  padding-top: spacing(tight);
  border-top: border();
}
