@import '../../styles/common';

.Header {
  margin-bottom: spacing(loose);
}

.Footer {
  margin-top: spacing(loose);
}

.CalloutCard {
  position: relative;
  display: flex;
  align-items: center;
}

.Image {
  display: none;
  flex: 0 0 auto;

  @include page-content-when-not-fully-condensed {
    display: block;
    margin-left: spacing(loose);
  }
}

.DismissImage {
  margin-right: spacing(loose);
}

.DefaultImage {
  width: rem(100px);
}

.Content {
  flex: 1 1 auto;
}

.Title {
  margin-bottom: spacing(loose);
}

.Buttons {
  margin-top: spacing(loose);
}

.Dismiss {
  right: rem(-4px);
  top: 0;
  position: absolute;
}
