@import 'foundation/spacing';
@import 'foundation/breakpoints';
@import 'foundation/utilities';

.CalloutCard {
  display: flex;
  align-items: center;
}

.Image {
  display: none;
  flex: 0 0 auto;
  width: rem(100px);

  @include page-content-when-not-fully-condensed {
    display: block;
    margin-left: spacing(loose);
  }
}

.Content {
  @include vertical-rhythm;
  flex: 1 1 auto;
}
