@import '../../styles/variables.scss';

.Header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.Preview {
  aspect-ratio: 16/9;
  border-radius: var(--border-radius-600);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  background: var(--p-color-bg-subdued);
  padding: 0 9%;
  display: flex;
  align-items: flex-end;
}

.PreviewInner {
  flex-grow: 1;
  aspect-ratio: inherit;
  border: 1.4px var(--p-color-border-subdued);
  border-radius: var(--border-radius-600);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  background: var(--p-color-bg-subdued);
  box-shadow: 0px 0px 3px 0px rgba(31, 33, 36, 0.24);
}
