@import '../../../../styles/common';
@import '../../variables';
// stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
$icon-size: 20px;
// stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
$input-height: 34px;
// stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
$new-input-height: 36px;
$search-icon-width: calc(#{$icon-size} + var(--p-space-4));

.SearchField {
  --pc-search-field-backdrop: 1;
  --pc-search-field-input: 2;
  --pc-search-field-icon: 3;
  --pc-search-field-action: 3;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  z-index: var(--p-z-11);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  position: relative;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: flex;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  flex: 1 1 auto;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  align-items: center;
  border: var(--p-border-transparent);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  width: 100%;
  max-width: $search-max-width;
}
// We have both a focused class and a focus pseudo selector here
// because we allow "faked" focus for when the search is still
// active, but is not actually the focused element in the DOM
// (for example, while selecting a value from a filter in the
// search this input controls)
.focused .Input,
.Input:focus {
  border: none;
  color: var(--p-text);

  &::placeholder {
    color: var(--p-text-subdued);
  }
}

.Input:focus {
  ~ .Backdrop {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    @include focus-ring($style: 'focused');
  }

  ~ .BackdropShowFocusBorder {
    border: var(--p-border-width-1) solid var(--pc-top-bar-border);
  }

  ~ .Icon {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    @include recolor-icon(var(--p-icon));
  }
}

.focused {
  .BackdropShowFocusBorder {
    border: var(--p-border-width-1) solid var(--pc-top-bar-border);
  }

  .Icon {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    @include recolor-icon(var(--p-icon));
  }
}

.Input {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include text-style-input;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  z-index: var(--pc-search-field-input);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  height: $new-input-height;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  width: 100%;
  padding: 0 0 0 $search-icon-width;
  border: none;
  background-color: transparent;
  outline: none;
  color: var(--p-text);
  will-change: fill, color;
  transition: fill var(--p-duration-200) var(--p-ease),
    color var(--p-duration-200) var(--p-ease);
  appearance: textfield;

  &::placeholder {
    color: var(--p-text);
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.Icon {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-icon));
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  position: absolute;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  z-index: var(--pc-search-field-icon);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  top: 50%;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  left: var(--p-space-2);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  display: flex;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  height: $icon-size;
  pointer-events: none;
  transform: translateY(-50%);
}

.Clear {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include recolor-icon(var(--p-icon));
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include focus-ring($size: 'wide');
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  position: relative;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  z-index: var(--pc-search-field-action);
  border: none;
  appearance: none;
  background: transparent;
  padding: var(--p-space-2);

  &:focus,
  &:hover {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    @include recolor-icon(var(--p-icon-hovered));
    outline: none;
  }

  &:focus {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    @include focus-ring($size: 'wide', $style: 'focused');
  }

  &:active {
    // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
    @include recolor-icon(var(--p-icon-pressed));

    &::after {
      border: none;
    }
  }
}

.Backdrop {
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  @include focus-ring;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  position: absolute;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  z-index: var(--pc-search-field-backdrop);
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  top: 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  right: 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  bottom: 0;
  // stylelint-disable-next-line -- polaris: generated comment during stylelint-polaris init
  left: 0;
  background-color: var(--p-surface-search-field);
  border-radius: var(--p-border-radius-1);
}
