@import '../../styles/common';
@import './variables';

.ActionMenu {
  &:not(.rollup) {
    margin-left: var(--p-override-zero, -$menu-action-padding-x);
  }
}

.ActionsLayout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  > * {
    flex: 0 0 auto;
  }
}
