@import '../../styles/common';
@import './variables';

.ActionMenu {
  @include print-hidden;
  // Needed for JS calculations
  width: 100%;
  min-width: 0;
  max-width: 100%;

  &:not(.rollup) {
    margin-left: var(--p-override-zero, -$menu-action-padding-x);
  }
}
