@import '../../styles/common';

.Thumbnail {
  position: relative;
  display: block;
  overflow: hidden;
  background: var(--p-surface);
  min-width: thumbnail-size(small);
  max-width: 100%;
  border-radius: var(--p-border-radius-base);
  border: border('divider');

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.sizeSmall {
  width: thumbnail-size(small);
}

.sizeMedium {
  width: thumbnail-size(medium);
}

.sizeLarge {
  width: thumbnail-size(large);
}

.Thumbnail > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  @include recolor-icon(currentColor);
  color: var(--p-icon-subdued);
}
