@import '../../styles/common';

/// Adjusts the spacing for the stack and contained items.
/// @param {String} $spacing - The spacing variant to use.

.Stack {
  margin-top: -1 * rem($spacing-base);
  margin-left: -1 * rem($spacing-base);

  > .Item {
    margin-top: rem($spacing-base);
    margin-left: rem($spacing-base);
    max-width: 100%;
  }
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.noWrap {
  flex-wrap: nowrap;
}

.spacingNone {
  margin-top: -1 * rem($spacing-none);
  margin-left: -1 * rem($spacing-none);

  > .Item {
    margin-top: rem($spacing-none);
    margin-left: rem($spacing-none);
    max-width: 100%;
  }
}

.spacingExtraTight {
  margin-top: -1 * rem($spacing-extra-tight);
  margin-left: -1 * rem($spacing-extra-tight);

  > .Item {
    margin-top: rem($spacing-extra-tight);
    margin-left: rem($spacing-extra-tight);
    max-width: 100%;
  }
}

.spacingTight {
  margin-top: -1 * rem($spacing-tight);
  margin-left: -1 * rem($spacing-tight);

  > .Item {
    margin-top: rem($spacing-tight);
    margin-left: rem($spacing-tight);
    max-width: 100%;
  }
}

.spacingLoose {
  margin-top: -1 * rem($spacing-loose);
  margin-left: -1 * rem($spacing-loose);

  > .Item {
    margin-top: rem($spacing-loose);
    margin-left: rem($spacing-loose);
    max-width: 100%;
  }
}

.spacingExtraLoose {
  margin-top: -1 * rem($spacing-extra-loose);
  margin-left: -1 * rem($spacing-extra-loose);

  > .Item {
    margin-top: rem($spacing-extra-loose);
    margin-left: rem($spacing-extra-loose);
    max-width: 100%;
  }
}

.distributionLeading {
  justify-content: flex-start;
}

.distributionTrailing {
  justify-content: flex-end;
}

.distributionCenter {
  justify-content: center;
}

.distributionEqualSpacing {
  justify-content: space-between;
}

.distributionFill > .Item {
  flex: 1 1 auto;
}

.distributionFillEvenly > .Item {
  flex: 1 1 auto;

  @supports (min-width: fit-content) {
    flex: 1 0 0%;
    min-width: fit-content;
  }
}

.alignmentLeading {
  align-items: flex-start;
}

.alignmentTrailing {
  align-items: flex-end;
}

.alignmentCenter {
  align-items: center;
}

.alignmentFill {
  align-items: stretch;
}

.alignmentBaseline {
  align-items: baseline;
}

.vertical {
  flex-direction: column;
  margin-left: rem($spacing-none);

  > .Item {
    margin-left: rem($spacing-none);
  }
}

.Item {
  flex: 0 1 auto;
}

.Item-fill {
  flex: 1 1 auto;
}
