$fixed-column-width: rem(145px);
$breakpoint: 768px;

.DataTable {
  position: relative;
  max-width: 100vw;
}

.collapsed {
  .Table {
    &::after {
      display: block;
    }
  }

  .Navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: spacing() spacing(tight);

    @include breakpoint-after($breakpoint, inclusive) {
      justify-content: flex-end;
    }
  }
}

.hasFooter {
  .ScrollContainer {
    margin-bottom: rem(52px);
  }
}

.Navigation {
  display: none;
}

.Pip {
  height: rem(6px);
  width: rem(6px);
  background: color('ink', 'lightest');
  border-radius: border-radius();

  &:not(:last-of-type) {
    margin-right: spacing(extra-tight);
  }
}

.Pip-visible {
  background: color('ink');
}

.Table {
  margin-left: $fixed-column-width * -1;
  width: calc(100% + #{$fixed-column-width});
  border-spacing: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: $fixed-column-width;
    display: none;
    width: 0.6rem;
    background: linear-gradient(
      to right,
      rgba(color('black'), 0.12),
      rgba(color('black'), 0)
    );
  }
}

.ScrollContainer {
  overflow-x: auto;
  margin-left: $fixed-column-width;
}

.TableRow {
  &:hover .Cell {
    @include breakpoint-after($breakpoint) {
      background: color('sky', 'lighter');
    }
  }
}

.TableFoot {
  border-bottom: 0;
}

.Cell {
  padding: spacing();
  background: color('white');
  border-bottom: 1px solid color('sky', 'light');
  white-space: nowrap;
  text-align: left;
  transition: background-color 0.2s ease-in-out;
}

.Cell-numeric {
  text-align: right;
}

.Cell-fixed {
  @include text-emphasis-normal;
  position: absolute;
  top: auto;
  left: 0;
  width: $fixed-column-width;
  white-space: unset;
  word-wrap: break-word;
  text-align: left;
  // stops painting on scroll (due to positioning)
  backface-visibility: hidden;
}

.Cell-truncated {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.Cell-presentational {
  min-width: $fixed-column-width;
  width: $fixed-column-width;
}

.Cell-header {
  @include text-emphasis-normal;
  border-bottom: border(dark);
  border-top: border();

  &.Cell-sortable {
    .Heading {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transition: fill duration() easing(), color duration() easing();
    }

    .Heading-left {
      justify-content: flex-start;
    }

    .Heading-sortable {
      @include recolor-icon(color('indigo'));
      opacity: 0;
      transition: opacity duration() easing();
    }

    &:hover,
    &:focus {
      @include recolor-icon(color('indigo'));
      color: color('indigo');
      outline: none;
      cursor: pointer;

      .Heading-sortable {
        opacity: 1;
      }
    }
  }
}

.Cell-total {
  @include text-emphasis-strong;
  background: color('sky', 'lighter');
  border-bottom: border();
}

.Cell-footer {
  @include text-emphasis-normal;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 0;
  background: color('sky', 'light');
  color: color('ink', 'lighter');
  white-space: unset;
  text-align: center;
  // stops painting on scroll (due to positioning)
  backface-visibility: hidden;
}
