@import 'foundation/colors';
@import 'foundation/borders';
@import 'foundation/typography';

.Link {
  appearance: none;
  display: inline;
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  color: color(action);
  text-decoration: none;
  cursor: pointer;
}

.subdued {
  color: color(ink, lighter);
  text-decoration: underline;
}
