.Link {
  appearance: none;
  display: inline;
  text-align: inherit;
  padding: 0;
  background: none;
  border: none;
  font-size: inherit;
  color: color('blue');
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: color('blue', 'dark');
  }
}

.monochrome {
  color: inherit;
  @include underlined-link;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}
