.Inspector {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  input {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.05);
    outline: none;
    padding: 2px 4px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.2);
    }
  }

  select {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.05);
    outline: none;
    padding: 2px 4px;
  }

  input,
  select {
    width: 100%;
    max-width: 50%;
  }

  button:not(.Toggle) {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.05);
    padding: 2px 4px;
  }
}

.Toggle {
  --height: 14px;
  --width: 30px;
  display: flex;
  min-width: var(--width);
  max-width: var(--width);
  height: var(--height);
  background: #444;
  border-radius: 100px;

  &.checked {
    background: #777;
  }

  .Handle {
    border-radius: 100px;
    min-width: var(--height);
    max-width: var(--height);
    height: 100%;
    background: #aaa;
  }

  &.checked .Handle {
    background: #5bfa5b;
    transform: translateX(calc(var(--width) - var(--height)));
  }
}

.InspectorRow {
  display: flex;
  flex-direction: column;

  label {
    max-width: 50%;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
  }
}

.LabelAndField {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.Children {
  margin-top: 4px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.ActionList {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 4px;

  li {
    background: rgba(75, 0, 81, 0.5);
    padding: 4px 8px;
    border-radius: 4px;

    &.setState {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
