@import 'foundation/spacing';
@import 'foundation/breakpoints';
@import 'foundation/easing';
@import 'foundation/duration';

.Slider {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.SlideContainer {
  position: relative;
}

.Slide {
  transform: translateX(0);
  height: 100%;
  width: 100%;
  will-change: transform;
  padding: spacing();
  transition: transform duration() easing();

  &.enteringStart {
    &.slidingBackwards {
      transform: translateX(-100%);
    }

    &.slidingForwards {
      transform: translateX(100%);
    }
  }

  &.entering {
    transform: translateX(0);
  }

  &.shown {
    transform: translateX(0);
  }

  &.leavingStart {
    position: absolute;
    top: 0;
    transform: translateX(100%);
  }

  &.leaving {
    position: absolute;
    top: 0;

    &.slidingBackwards {
      transform: translateX(100%);
    }

    &.slidingForwards {
      transform: translateX(-100%);
    }
  }
}
