@use '../../styles//mixins.scss' as *;

.TOC {
  font-size: 0.825rem;
  font-weight: var(--font-weight-heavy);
  line-height: 1.75;

  li {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 2px; // Don't clip focus outline
  }

  a {
    &[data-is-current='true'],
    &:hover {
      color: var(--color-text-strong);
    }
    &:focus {
      border-radius: 2px;
    }
  }

  ul ul {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }
}
