@import '../../../../styles/common';

.Header {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding: spacing() spacing(loose);
  border-bottom: border('divider');
}

.titleHidden {
  position: absolute;
  right: spacing(tight);
  z-index: 1;

  .Title {
    display: none;
  }
}

.Title {
  @include text-breakword;
  flex: 1;
  margin-top: spacing(extra-tight);
}
