.Select {
  padding: var(--p-space-200);
  border-radius: var(--p-border-radius-200);
  background-color: var(--p-color-bg-surface-secondary);
}

.Tag {
  background-color: var(--p-color-bg-surface-secondary);
  border-top: var(--p-border-width-050) solid var(--p-color-border);
  padding: var(--p-space-050) 0;
}
