$breakpoint: em(640px);
$Backdrop-opacity: 0.88;

.Flash {
  position: fixed;
  z-index: z-index(flash, $fixed-element-stacking-order);
  right: 0;
  bottom: spacing(loose);
  left: 0;
  text-align: center;
}

.error .Content {
  background: rgba(color('red', 'dark'), $Backdrop-opacity);
}

.Content {
  @include text-style-display-small;
  display: inline-flex;
  max-width: rem(400px);
  padding: spacing(tight) spacing();
  border-radius: border-radius();
  background: rgba(color('black'), $Backdrop-opacity);
  box-shadow: shadow();
  color: color('white');

  @include breakpoint-after($breakpoint) {
    padding: spacing();
  }
}

.CloseButton {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin: (-1 * spacing(tight)) (-1 * spacing()) (-1 * spacing(tight)) 0;
  padding: (1.5 * spacing(tight)) spacing() spacing(tight);
  border: none;
  appearance: none;
  background: transparent;
  fill: color('white');
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
