.TipBanner {
  padding: var(--p-space-4) var(--p-space-6);
  background: var(--p-surface-highlight-subdued);
  border-radius: var(--p-border-radius-2);
  color: #00565e;
  margin: var(--p-space-6) 0;
  margin-bottom: var(--p-space-16);
}
